/*! LoconomicsAppProto 2014-11-28
   Author: Loconomics Inc. */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\index.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\border.styl */

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\clearfix.styl */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\color-image.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\flex.styl */

/* line 91 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\gradients.styl */

/* line 91 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\config.styl */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\iconic.styl */

/* line 8 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\image.styl */

/* line 26 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\reset.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\index.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\aliases.styl */

/* line 13 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 10 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line undefined : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\vendor.styl */

/* line 578 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\size.styl */

/* line 29 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\utils\mediaQueries.styl */

/* line 32 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\utils\styleguideVars.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
/** Vars */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
/** We use ever all the available screen **/

/* line 18 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
html.app,
html.app > body {
  height: 100%;
}

/* line 21 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
html.app > body > .container,
html.app > body > .container-fluid {
  min-height: 100%;
  height: 100%;
}

/* line 10 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
/* More app specific styles */

/* line 26 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */

/* line 28 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app body {
  padding-top: 51px;
}

/* line 33 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .container {
/* Overwriting default Bootstrap margins */
  padding-left: 5px;
  padding-right: 5px;
/* Space for nav at bottom */
}

/* line 37 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .container .row {
  margin-left: -5px;
  margin-right: -5px;
}

/* line 42 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .container .has-bottom-navbar {
  padding-bottom: 50px;
}

/* line 47 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .app-nav {
  position: relative;
}

/* line 50 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .app-nav .navbar-brand {
  float: none;
  display: inline-block;
  text-indent: -99999px;
  background: url("../../../assets/images/logo-loconomics-header-mini.png") no-repeat center;
  min-width: 100px;
  min-height: 39px;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min--moz-device-pixel-ratio: 1.2), (min-resolution: 120dpi) {

/* line 55 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\utils\styleguideVars.styl */
  .app .app-nav .navbar-brand {
    background-image: url("../../../assets/images/logo-loconomics-header-mini@2x.png");
    -webkit-background-size: 100px 39px;
    -moz-background-size: 100px 39px;
    background-size: 100px 39px;
  }
}

/* line 59 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .app-nav .navbar-toggle {
  float: none;
  margin-right: 0;
}

/* line 63 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .app-nav .navbar-action {
  margin: 8px 0;
}

/* line 67 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .activity,
.app [data-activity] {
/* settings specially important for the use of navbar
           but applied to all for consistent results
           with/without navbar
        */
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
/* other styles */
/* ...*/
/* activity-navbar (new class for .navbar components)
           Its a navbar specific of an activity, placed on
           bottom
        */
/*VAR from a Bootstrap value:*/
/* activity must be notified of the navbar to fix
           available space
        */
/* Hidden until active */
  display: none;
/*transition: 2000ms all;
        opacity: 0;
        z-index: 1;*/
}

/* line 84 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .activity .activity-navbar,
.app [data-activity] .activity-navbar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background: none;
  border-color: transparent;
}

/* line 102 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .activity.has-navbar,
.app [data-activity].has-navbar {
  padding-bottom: 50px;
}

/* line 111 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .activity.is-active,
.app [data-activity].is-active {
  display: block;
/* opacity: 1;
            z-index: 2;*/
}

/* line 121 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .btn-google {
  background-color: #c00;
  color: #fff;
}

/* line 125 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .btn-facebook {
  background-color: #085394;
  color: #fff;
}

/* line 136 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .isolated {
  margin: 14px 0;
  clear: both;
  display: block;
}

/* line 142 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .iconized-title {
  display: table;
}

/* line 145 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .iconized-title .glyphicon {
  vertical-align: middle;
  display: table-cell;
  padding-left: 0.5em;
}

/* line 151 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .iconized-title p {
  padding-left: 0.7em;
  vertical-align: middle;
  display: table-cell;
}

/* line 160 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */

/* line 161 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .modal.centered.in {
  display: table !important;
  width: 100%;
  height: 100%;
}

/* line 167 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .modal.centered .modal-dialog {
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
}

/* line 175 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .modal {
  background: rgba(0,0,0,0.4);
}

/* line 180 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */

/* line 181 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .app-complete .success-icon {
  font-size: 4em;
  text-align: center;
  display: block;
}

/* line 187 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .app-complete .lead {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 194 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
/** Components styles **/

/* line 55 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 23 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView {
/** Base styles and elements */
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item {
  position: relative;
  max-width: 100%;
/* Any row in the listview is expected to be a button/link, so color is reset */
}

/* line 32 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-marker,
.ListView .ListView-item .ListView-item-content,
.ListView .ListView-item .ListView-item-action {
  white-space: normal;
  word-wrap: break-word;
  display: inline-block;
  vertical-align: middle;
  max-height: 33px;
  overflow: hidden;
}

/* line 41 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-marker {
  width: 28px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  padding: 6px 0;
/* If a Bootstrap glypicon is used, adjust to the best size */
/* For one-line content with ellipsis, use a 'div' */
/* Multiline content support -effective with modifiers like twolines- */
}

/* line 51 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-marker .glyphicon {
  font-size: 24px;
  line-height: 33px;
}

/* line 57 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-marker div {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 63 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-marker p {
/* Since a table-cell doesn't fill completely the width -needs a table parent for that, but
                   its problematic- we set the width explicitely (100% does not work) */
  width: 28px;
}

/* line 70 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-content {
  text-align: left;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
/* For one-line content with ellipsis, use a 'div' */
}

/* line 79 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-content * {
  overflow: hidden;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  max-height: 33px;
}

/* line 88 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-content div {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 93 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-content .ListView-item-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
}

/* line 100 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-action {
  width: 40px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 6px 12px;
}

/* line 111 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .btn,
.ListView .ListView-item .btn-link {
  color: #333;
}

/* line 116 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-divider {
  text-align: center;
  padding: 0.3em 1em;
  border: 1px solid #000;
  border-right-width: 0;
  border-left-width: 0;
/* more styles later for parent: .container */
}

/* line 129 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.container .ListView .ListView-divider {
  margin: 0 -5px 0 -5px;
}

/* line 135 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 140 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 142 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--twolines .ListView-item .ListView-item-marker,
.ListView--twolines .ListView-item .ListView-item-content,
.ListView--twolines .ListView-item .ListView-item-action {
  max-height: 52px;
  height: 52px;
}

/* line 147 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 149 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--twolines .ListView-item .ListView-item-marker .glyphicon {
  font-size: 24px;
  line-height: 40px;
}

/* line 157 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 158 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--twolines .ListView-item .ListView-item-marker p,
.ListView--twolines .ListView-item .ListView-item-content p {
  vertical-align: middle;
  display: table-cell;
  height: 40px;
}

/* line 165 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--twolines .ListView-item .ListView-item-action {
/* from Bootstrap btn-link styles 2x6padding */
  line-height: 40px;
}

/* line 175 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 177 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 178 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--largemarker .ListView-item .ListView-item-marker {
  width: 56px;
}

/* line 181 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--largemarker .ListView-item .ListView-item-marker p {
/* Since a table-cell doesn't fill completely the width -needs a table parent for that, but
                   its problematic- we set the width explicitely (100% does not work) */
  width: 56px;
}

/* line 188 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--largemarker .ListView-item .ListView-item-content {
  padding-left: 68px;
}

/* line 197 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 198 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 199 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--textualmarker .ListView-item .ListView-item-marker {
  text-align: right;
}

/* line 207 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 208 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 209 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags .ListView-item:before,
.ListView--colortags .ListView-item .ListView-item-tagged:before {
  content: '';
  display: block;
  border-right: 2px solid #777;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

/* line 220 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags .ListView-item:before {
  left: 34px;
}

/* line 227 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 228 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags .ListView-item.ListView-item--tag-primary:before,
.ListView--colortags .ListView-item.ListView-item--tag-primary .ListView-item-tagged:before {
  border-right-color: #00989a;
}

/* line 233 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags .ListView-item.ListView-item--tag-primary .ListView-item-action {
  color: #00989a;
}

/* line 227 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 228 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags .ListView-item.ListView-item--tag-success:before,
.ListView--colortags .ListView-item.ListView-item--tag-success .ListView-item-tagged:before {
  border-right-color: #99c027;
}

/* line 233 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags .ListView-item.ListView-item--tag-success .ListView-item-action {
  color: #99c027;
}

/* line 227 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 228 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags .ListView-item.ListView-item--tag-info:before,
.ListView--colortags .ListView-item.ListView-item--tag-info .ListView-item-tagged:before {
  border-right-color: #b5e1e2;
}

/* line 233 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags .ListView-item.ListView-item--tag-info .ListView-item-action {
  color: #b5e1e2;
}

/* line 227 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 228 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags .ListView-item.ListView-item--tag-warning:before,
.ListView--colortags .ListView-item.ListView-item--tag-warning .ListView-item-tagged:before {
  border-right-color: #e95d0f;
}

/* line 233 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags .ListView-item.ListView-item--tag-warning .ListView-item-action {
  color: #e95d0f;
}

/* line 227 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 228 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags .ListView-item.ListView-item--tag-danger:before,
.ListView--colortags .ListView-item.ListView-item--tag-danger .ListView-item-tagged:before {
  border-right-color: #fc0404;
}

/* line 233 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags .ListView-item.ListView-item--tag-danger .ListView-item-action {
  color: #fc0404;
}

/* line 241 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 242 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--colortags.ListView--largemarker .ListView-item:before {
  left: 62px;
}

/* line 251 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 252 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 253 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--largemarker .ListView-item .ListView-item-action {
  width: 60px;
}

/* line 257 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--largemarker .ListView-item .ListView-item-content {
  padding-right: 60px;
}

/* line 262 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\SectionTitle.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\SectionTitle.styl */
.SectionTitle {
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0;
  text-align: center;
  font-weight: bold;
  background: #eee;
  border: 1px solid #555;
  border-right-width: 0;
  border-left-width: 0;
}

/* line 23 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\SectionTitle.styl */
.SectionTitle .HelpPoint {
  right: 7px;
}

/* line 28 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\SectionTitle.styl */
.container .SectionTitle {
  margin: 0 -5px 0 -5px;
}

/* line 31 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\SectionTitle.styl */
.container .SectionTitle .HelpPoint {
  right: 12px;
}

/* line 35 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\LeadContent.styl */

/* line 4 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\LeadContent.styl */
.LeadContent {
  padding: 15px;
}

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\LeadContent.styl */
.LeadContent h1,
.LeadContent h2,
.LeadContent h3,
.LeadContent .lead {
  text-align: center;
}

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
/*
 * DatePicker JS Component, with several
 * modes and optional inline-permanent visualization.
 *
 * Copyright 2014 Loconomics Coop.
 *
 * Based on:
 * Datepicker for Bootstrap
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\index.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\border.styl */

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\clearfix.styl */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\color-image.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\flex.styl */

/* line 91 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\gradients.styl */

/* line 91 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\config.styl */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\iconic.styl */

/* line 8 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\image.styl */

/* line 26 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\reset.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\index.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\aliases.styl */

/* line 13 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 10 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line undefined : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\vendor.styl */

/* line 578 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\size.styl */

/* line 24 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
/* Percentual sizing to being responsive rather than the 
    original fixed size
  */
/* Carets to visually notify 'clickable headers' */
}

/* line 31 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0,0,0,0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}

/* line 42 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 7px;
}

/* line 52 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker > div {
  display: none;
}

/* line 55 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker table {
  width: 100%;
  margin: 0;
}

/* line 59 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker td,
.DatePicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 65 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */

/* line 66 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker td.day:hover {
  background: #eee;
  cursor: pointer;
}

/* line 69 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker td.day.disabled {
  color: #eee;
}

/* line 71 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker td.old,
.DatePicker td.new {
  color: #777;
}

/* line 73 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker td.active,
.DatePicker td.active:hover {
  background-color: #006dcc;
  background-image: -webkit-linear-gradient(top, #08c, #04c);
  background-image: -moz-linear-gradient(top, #08c, #04c);
  background-image: -o-linear-gradient(top, #08c, #04c);
  background-image: -ms-linear-gradient(top, #08c, #04c);
  background-image: linear-gradient(to bottom, #08c, #04c);
  background-repeat: repeat-x;
  border-color: #04c #04c #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

/* line 77 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker td span {
  display: block;
  float: left;
  cursor: pointer;
  -webkit-border-radius: 4px;
  border-radius: 4px;
/* Percentual sizing to being responsive rather than the 
        original fixed size
      */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  height: 70px;
  line-height: 70px;
  margin: 0;
}

/* line 92 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker td span:hover {
  background: #eee;
}

/* line 94 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker td span.active {
  background-color: #006dcc;
  background-image: -webkit-linear-gradient(top, #08c, #04c);
  background-image: -moz-linear-gradient(top, #08c, #04c);
  background-image: -o-linear-gradient(top, #08c, #04c);
  background-image: -ms-linear-gradient(top, #08c, #04c);
  background-image: linear-gradient(to bottom, #08c, #04c);
  background-repeat: repeat-x;
  border-color: #04c #04c #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

/* line 98 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker td span.old {
  color: #777;
}

/* line 101 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */

/* line 102 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker th.switch {
  width: 145px;
}

/* line 104 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker th.next,
.DatePicker th.prev {
  font-size: 21px;
}

/* line 107 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker thead tr:first-child th {
  cursor: pointer;
}

/* line 109 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker thead tr:first-child th:hover {
  background: #eee;
}

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker .DatePicker-years tr > td,
.DatePicker .DatePicker-months tr > td {
  padding: 0 !important;
}

/* line 118 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker .DatePicker-months .switch,
.DatePicker .DatePicker-years .switch {
  width: 72.4% !important;
}

/* line 121 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker .DatePicker-months .prev,
.DatePicker .DatePicker-months .next,
.DatePicker .DatePicker-years .prev,
.DatePicker .DatePicker-years .next {
  width: 14% !important;
}

/* line 125 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */

/* line 128 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.DatePicker .DatePicker-days th.switch:after,
.DatePicker .DatePicker-months th.switch:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* line 132 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */

/* line 133 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */

/* line 134 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\DatePicker.styl */
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/* line 29 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CardsDeck.styl */

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CardsDeck.styl */
.CardsDeck {
  background-color: #eee;
}

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CardsDeck.styl */
.CardsDeck .Card {
  margin: 14px 0;
}

/* line 15 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CardsDeck.styl */
.CardsDeck.CardsDeck--slider {
  padding: 4px 40px;
}

/* line 21 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CardsDeck.styl */
.CardsDeck.CardsDeck--slider .CardsDeck-switch {
  max-width: 40px;
  position: fixed;
  top: 0;
  bottom: 0;
  display: table;
  height: 100%;
}

/* line 30 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CardsDeck.styl */
.CardsDeck.CardsDeck--slider .CardsDeck-switch > * {
  display: table-cell;
  vertical-align: middle;
}

/* line 35 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CardsDeck.styl */
.CardsDeck.CardsDeck--slider .CardsDeck-switch.CardsDeck-switch--previous {
  left: 0;
}

/* line 38 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CardsDeck.styl */
.CardsDeck.CardsDeck--slider .CardsDeck-switch.CardsDeck-switch--next {
  right: 0;
}

/* line 46 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\Card.styl */

/* line 4 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\Card.styl */
.Card {
  -webkit-box-shadow: 0 0 4px 0 #777;
  box-shadow: 0 0 4px 0 #777;
  margin: 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: White;
  padding: 12px 10px;
}

/* line 202 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
/** Activities styles **/

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\activities\calendar.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\activities\calendar.styl */

/* line 4 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\activities\calendar.styl */
[data-activity=calendar] #monthlyCalendar {
/* positioning */
  position: absolute;
  left: 10px;
  right: 10px;
  z-index: 100;
/* pop-up decoration */
  background: #fff;
  -webkit-box-shadow: 0 0 6px 1px #000;
  box-shadow: 0 0 6px 1px #000;
  -webkit-border-radius: 4px;
  border-radius: 4px;
/* repositioning the pop-arrow */
/** smooth transition and visible state **/
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
  -webkit-transition: 500ms all;
  -moz-transition: 500ms all;
  -o-transition: 500ms all;
  -ms-transition: 500ms all;
  transition: 500ms all;
  pointer-events: none;
}

/* line 17 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\activities\calendar.styl */
[data-activity=calendar] #monthlyCalendar .DatePicker:after {
  left: 50%;
}

/* line 20 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\activities\calendar.styl */
[data-activity=calendar] #monthlyCalendar .DatePicker:before {
  left: 50%;
  margin-left: -1px;
}

/* line 31 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\activities\calendar.styl */
[data-activity=calendar] #monthlyCalendar.is-visible {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  pointer-events: all;
}

/* line 40 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CalendarDateHeader.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CalendarDateHeader.styl */

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CalendarDateHeader.styl */
.CalendarDateHeader > .btn {
  font-size: 1.4em;
  color: #222;
}

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CalendarDateHeader.styl */

/* line 13 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CalendarDateHeader.styl */
.CalendarDateHeader .CalendarDateHeader:active,
.CalendarDateHeader .CalendarDateHeader:focus {
  outline: none;
}

/* line 18 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\activities\calendar-appointment.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\activities\calendar-appointment.styl */

/* line 4 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\activities\calendar-appointment.styl */
[data-activity=calendar-appointment] .btn-link {
  color: #222;
}

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CalendarDateHeader.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CalendarDateHeader.styl */

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CalendarDateHeader.styl */
.CalendarDateHeader > .btn {
  font-size: 1.4em;
  color: #222;
}

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CalendarDateHeader.styl */

/* line 13 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\CalendarDateHeader.styl */
.CalendarDateHeader .CalendarDateHeader:active,
.CalendarDateHeader .CalendarDateHeader:focus {
  outline: none;
}

/* line 18 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\AppointmentCard.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\AppointmentCard.styl */

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\AppointmentCard.styl */
.AppointmentCard li {
  margin-bottom: 0.9em;
}

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\AppointmentCard.styl */
.AppointmentCard .AppointmentCard-icon {
  font-size: 1.8em;
  margin-right: 0.6em;
  vertical-align: middle;
  float: left;
}

/* line 18 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\AppointmentCard.styl */
.AppointmentCard .AppointmentCard-data {
  vertical-align: middle;
}
