@import '../../../../css/components/ListingCard.styl'
@import '../../../../css/utils/styleguidevars.styl'

.BadgeViewer {
    display: inline-block;
    position: relative;

    .BadgeViewer-card {
        ListingCard();
        .Card-description {
            p {
                margin: 0.5em;
            }
        }
    }
    .BadgeViewer-viewDetails {

    }
}
