@import '../../../../css/components/ListingCard.styl'

.BadgeViewer {
    .BadgeViewer-card {
        ListingCard();
        .Card-title {
            img {
                background-color: $gray-background;
                padding: 0em;  
                height: 2.5em;
                display: inline;
            } 
            h5 {
                display: inline;
            } 
        }
    }
    .BadgeViewer-viewDetails {
        
    }
}