@import '../../../../css/components/ListingCard.styl'
@import '../../../../css/utils/styleguideVars.styl'

.BadgeViewer {
    display: block;
    position: relative;

    .BadgeViewer-card {
        ListingCard();
        .Card-description {
            p {
                margin: 0.5em;
            }
        }
        margin-right: 0;
    }
    .BadgeViewer-details {
        .SectionHeading {
            > img {
                padding: 0 20% 12px;
                width: 100%;
            }

            > h2 {
                display: table-row !important;
            }

            @media screen and (min-width: 420px) {
                > img {
                    display: table-cell;
                    margin: 0 15px 0 0;
                    padding: 0;
                    max-width: 100px;
                    width: auto;
                }
                > h2 {
                    width: 80%;
                    display: table-cell !important;
                }
            }
        }

    }
}
