@{
    var sqlGetUsers = @"
        SELECT userID FROM users
        WHERE onboardingStep like 'paymentAccount'
    ";
    var sqlRemoveStep = @"
        UPDATE users SET onboardingStep = null
        WHERE onboardingStep like 'paymentAccount'
    ";
    var sqlUpgradeTestAlertPayment = @"
-- =============================================
-- Author:		Iago Lorenzo Salgueiro
-- Create date: 2012-06-01
-- Description:	Test if the conditions for the
-- alert type 'payment' are satisfied, 
-- updating user points and enabling or 
-- disabling it profile.
-- =============================================
ALTER PROCEDURE [dbo].[TestAlertPayment]
	@UserID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @AlertID int
	SET @AlertID = 5

	DECLARE @hasInstantBooking bit
	IF (SELECT sum(Cast(InstantBooking as int)) FROM userprofilepositions WHERE userID = @UserID) > 0
	BEGIN
		SET @hasInstantBooking = 1
	END
	
    -- First ever check if this type of alert affects this type of user
    IF dbo.fxCheckAlertAffectsUser(@UserID, @AlertID) = 0 OR
		@hasInstantBooking = Cast(0 as bit) OR
		/* Marketplace Way */
		dbo.isMarketplacePaymentAccountActive(@UserID) = Cast(1 as bit)
	BEGIN
		-- PASSED: disable alert
		EXEC dbo.SetUserAlert @UserID, 0, @AlertID, 0
	END ELSE BEGIN
		-- NOT PASSED: active alert
		EXEC dbo.SetUserAlert @UserID, 0, @AlertID, 1
	END
	
	-- Test if user profile must be actived or not
	EXEC dbo.TestProfileActivation @UserID
END
    ";
    var users = new List<int>();
    using (var db = new LcDatabase())
    {
        foreach (var user in db.Query(sqlGetUsers))
        {
            users.Add((int)(user.userID));
        }
        db.Execute(sqlRemoveStep);
        db.Execute(sqlUpgradeTestAlertPayment);
    }
}
All users with an onboardingStep of 'paymentAccount' that now are done with onboarding
and needs to be notified. Total of @users.Count :

<ul>
    @foreach(var user in users)
    {
        <li>@user</li>
    }
</ul>
