/**
 *  Services overview activity styles.
 */
[data-activity=services-overview] {
    // Make the container a positioning context so suggestions are placed correctly
    // at every size
    form.container-fluid {
        position: relative;
    }
}
