@*
    Controller to route through a booking request view and
    actions like cancellation and confirmation.
*@
@{
    var pars = (IList<string>)PageData["UrlData"] ?? UrlData;
    var brID = pars[0];
    string action = pars[1];
    string actionMod = pars[2];
    
    var msg = "";
}
@switch (action) {
    default:
        @RenderPage(LcUrl.RenderLangPath + "Booking/$BookingDetailsWidget.cshtml", new { 
            BookingRequestID = brID,
            ExtraTitleClass = "DashboardSection-page-header", 
            UseLinkActions = true,
            RedirectOnConfirmedRequest = LcUrl.LangPath + "dashboard/messages/booking/{0}/"
        })
        break;
    
    case "cancel":

        LcHelpers.RenderPageReturns = null;
        @RenderPage(LcUrl.RenderLangPath + "Booking/$CancelBookingRequest.cshtml", new
        {
            BookingRequestID = brID.AsInt(),
            RedirectUrl = LcUrl.LangPath + "dashboard/Messages/BookingRequest/{0}/",
            UseRenderReturns = true
        })
        msg = LcHelpers.RenderPageReturns;

        break;
        
    case "decline":

        LcHelpers.RenderPageReturns = null;
        @RenderPage(LcUrl.RenderLangPath + "Booking/$DeclineBookingRequest.cshtml", new
        {
            BookingRequestID = brID.AsInt(),
            RedirectUrl = LcUrl.LangPath + "dashboard/Messages/BookingRequest/{0}/",
            UseRenderReturns = true
        })
        msg = LcHelpers.RenderPageReturns;

        break;

    case "confirm":

        LcHelpers.RenderPageReturns = null;
        @RenderPage(LcUrl.RenderLangPath + "Booking/$ConfirmBookingRequest.cshtml", new { 
            BookingRequestID = brID.AsInt(),
            RedirectUrl = LcUrl.LangPath + "dashboard/Messages/Booking/{1}/",
            ConfirmedDateType = actionMod,
            UseRenderReturns = true
        })
        msg = LcHelpers.RenderPageReturns;

        break;
}
@if (!String.IsNullOrEmpty(msg))
{
    <h1 class="DashboardSection-page-header">Booking Request</h1>
    <p>
        @msg
    </p>
}