/* Isolated element mixim.
    A block with a medium margin to separate itself
    from other elements on separated rows
*/
isolated() {
    margin-top: 14px;
    margin-bottom: 14px;
    clear: both;
    display: block;
    
    &.inset {
        margin-left: 14px;
        margin-right: 14px;
    }
    
    &.top-only {
        margin-bottom: 0;
    }
    
    &.bottom-only {
        margin-top: 0;
    }
}
