/**
    Variables from the styleguide, in Stylus format.

    TODO: imcomplete manual list, most of them must be automatic from Bootstrap,
    some elements are manual (collection of colors, new 'secondary' semantic, ...).
**/
/* Grayscale colors */
$gray-darker = #222;
$gray-dark = #333;
$gray = #555;
$gray-light = #777;
$gray-lighter = #ccc;
$gray-background = #EEE;
$gray-colors = {
    darker: $gray-darker,
    dark: $gray-dark,
    gray: $gray,
    light: $gray-light,
    lighter: $gray-lighter,
    background: $gray-background
};

// Semantic alias for muted/disabled text
$text-muted = $gray-light;

/* Semantic colors */
$brand-primary = #00989A;
$brand-secondary = #e0004f;
$brand-success = #47b347;
$brand-info = #5bc0de;
$brand-warning = #f0ad4e;
$brand-danger = #d9534f;
$brand-colors = {
    primary: $brand-primary,
    secondary: $brand-secondary,
    success: $brand-success,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger
};

/* Semantic colors used as background (lighter than the base) */
$brand-primary-background = #e5f4f5;
$brand-secondary-background = #fce5ed;
$brand-success-background = #ecf7ec;
$brand-info-background = #eef9fc;
$brand-warning-background = #fdf7ed;
$brand-danger-background = #fbeded;
$brand-colors-background = {
    primary: $brand-primary-background,
    secondary: $brand-secondary-background,
    success: $brand-success-background,
    info: $brand-success-background,
    warning: $brand-success-background,
    danger: $brand-success-background
};

/* Semantic dark colors (darker than base) */
$brand-primary-dark = #006c6c;
$brand-secondary-dark = #9e0038;
$brand-success-dark = #47b347;
$brand-info-dark = #5bc0de;
$brand-warning-dark = #c09853;
$brand-danger-dark = #b94a48;
$brand-colors-dark = {
    primary: $brand-primary-dark,
    secondary: $brand-secondary-dark,
    success: $brand-success-dark,
    info: $brand-success-dark,
    warning: $brand-success-dark,
    danger: $brand-success-dark
};
    
$body-copy-color = $gray-dark;
    
/** state color aliases **/
$state-primary-text = $brand-primary;
$state-secondary-text = $brand-secondary;
$state-success-text = $brand-success;
$state-info-text = $brand-info;
$state-warning-text = $brand-warning;
$state-danger-text = $brand-danger;

/** Typo **/
$font-size-base = 14px;

/** Utilities **/
$caret-width-base = 4px;

/* Caret mixim
    TODO: move to a better place
*/
$caret($margin-left = 2px) {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: $margin-left;
  vertical-align: middle;
  border-top:   $caret-width-base solid;
  border-right: $caret-width-base solid transparent;
  border-left:  $caret-width-base solid transparent;
}

/** Grids **/
$grid-gutter-width = 20px;

// Basics of a navbar
$navbar-height = 50px;
