/**
    Variables from the styleguide, in Stylus format.

    IMPORTANT: Bootstrap variables converted from Less are imported,
    and following are a set of incomplete manual list used previously as copied manual values
    now getting value from the Bootstrap original variable, better names and additions here.
    
    DESCRIPTION: Here a set of Styleguide specific variables are defined, with some values
    coming from Bootstrap variables and new ones.
    There are variables that are just aliases of Bootstrap and extra added variables
    required to implement the Styleguide design additionally to the Bootstrap base.
**/

@import '../../../vendor/bootstrap/styl/variables.styl'

/* Grayscale colors */
$gray-darker = gray-darker;
$gray-dark = gray-dark;
$gray = gray;
$gray-light = gray-light;
$gray-lighter = gray-lighter;
// Special custom new color:
$gray-background = #EEE;
// Object of colors (to automate functions)
$gray-colors = {
    darker: $gray-darker,
    dark: $gray-dark,
    gray: $gray,
    light: $gray-light,
    lighter: $gray-lighter,
    background: $gray-background
};

/* Semantic colors */
$brand-primary = brand-primary;
// Additional color requested by Josh at design (double check after latest design if still in use)
$brand-secondary = #e0004f;
$brand-success = brand-success;
$brand-info = brand-info;
$brand-warning = brand-warning;
$brand-danger = brand-danger;
// Object of colors (to automate functions)
$brand-colors = {
    primary: $brand-primary,
    secondary: $brand-secondary,
    success: $brand-success,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger
};

/* Semantic colors used as background (lighter than the base) */
// Bootstrap uses the brand colors as background sometimes, and on other
// cases a modified version with the brand as base (through functions like 'lighter').
// But this set of colours is from Josh design, specific pallette.
$brand-primary-background = #e5f4f5;
$brand-secondary-background = #fce5ed;
$brand-success-background = #ecf7ec;
$brand-info-background = #eef9fc;
$brand-warning-background = #fdf7ed;
$brand-danger-background = #fbeded;
// Object of colors (to automate functions)
$brand-colors-background = {
    primary: $brand-primary-background,
    secondary: $brand-secondary-background,
    success: $brand-success-background,
    info: $brand-success-background,
    warning: $brand-success-background,
    danger: $brand-success-background
};

/* Semantic dark colors (darker than base) */
// Bootstrap uses some colors using brand as base and functions like 'darker' for some uses.
// But this set of colours is from Josh design, specific pallette.
$brand-primary-dark = #006c6c;
$brand-secondary-dark = #9e0038;
$brand-success-dark = #47b347;
$brand-info-dark = #5bc0de;
$brand-warning-dark = #c09853;
$brand-danger-dark = #b94a48;
// Object of colors (to automate functions)
$brand-colors-dark = {
    primary: $brand-primary-dark,
    secondary: $brand-secondary-dark,
    success: $brand-success-dark,
    info: $brand-success-dark,
    warning: $brand-success-dark,
    danger: $brand-success-dark
};


/* Color aliases for specific and semantic uses */
// Semantic alias for muted/disabled text
$text-muted = $gray-light;
// General text color
$body-copy-color = $gray-dark;

/** state color aliases **/
$state-primary-text = $brand-primary;
$state-secondary-text = $brand-secondary;
$state-success-text = $brand-success;
$state-info-text = $brand-info;
$state-warning-text = $brand-warning;
$state-danger-text = $brand-danger;

/** Typo **/
$font-size-base = font-size-base;

/** Utilities **/
$caret-width-base = caret-width-base;

/** Grids **/
$grid-gutter-width = grid-gutter-width;

// Bootstrap navbar
// TODO: review if still used (maybe on non mobile sizes?)
$navbar-height = navbar-height;

/**
    App variables
**/
$container-padding-left = round($grid-gutter-width / 2);
$container-padding-right = round($grid-gutter-width / 2);
// App/Mobile navbar (SmartNavBar)
// 51px for Bootstrap default, 44px following iOS navbar size
$app-navbar-height = 44px;

// Cubic easing:
$cubic-easing = cubic-bezier(0.65,0.05,0.36,1);

$AppNav-backColor = #53474b;
$AppNav-iconColor = #3d3232;
$AppNav-transitionDuration = 300ms;
