/**
    Styles for lead-generation components
**/

.LeadGeneration {
    padding: 1.25em;
    .input-group {
        margin: 0;
    }
    fieldset:focus {
        outline: none;
    }
    input {
        border: 0.0625rem solid $gray-light;
    }
    .form-group {
        margin-bottom: .5em;    
    }
    .col-xs-3,
    .col-xs-9,
    .col-xs-12,
    .col-xs-1,
    .col-md-2 {
        padding-left: 0;
        padding-right: 0;
    }
    p {
        padding: 0;
        margin: 0;
    }
    .btn-secondary {
        margin-left: 1em;
        border: 0.0625rem solid $brand-secondary;
    }
    .col-xs-3 {
        .btn-secondary {
            width: 60%;
        }
    }
}