/**
    Styles for lead-generation components
**/

.LeadGeneration {
    padding: 1.25em;
    .input-group {
        margin: 0;
    }
    input {
        border: 0.0625rem solid $gray-light;
    }
    .col-xs-3,
    .col-xs-9,
    .col-xs-12 {
        padding-left: 0;
    }
    p {
        padding: 0;
        margin: 0;
    }
}