@{  
    LcHelpers.SecurePage();
    
    Layout = "../_SiteLayout.cshtml";
    Page.Title = "Let's get this booked";
    
    PageData["customerrow"] = LcData.UserInfo.GetUserRow();

    int providerid = Request["ProviderID"].AsInt();
    int positionid = Request["PositionID"].AsInt();
    
    if (providerid == 0 || positionid == 0) {
        Response.Redirect(LcUrl.LangPath);
    }
        
    PageData["providerrow"] = LcData.UserInfo.GetUserRow(providerid);
    PageData["positionrow"] = LcData.UserInfo.GetUserPos(providerid, positionid);
    
    if (PageData["providerrow"] == null || PageData["positionrow"] == null) {
        Response.Redirect(LcUrl.LangPath);
    }

    Scripts.Add(LcUrl.AppPath + "Scripts/Booking.js");
    Styles.Add(LcUrl.AppPath + "Styles/Booking.css");
    Styles.Add(LcUrl.AppPath + "Styles/Search.css");
}

  <div id="container" class="clearfix booking editable changes-notification-enabled">
    <div id="main" class="tabbed wizard fancy">
		<h1 class="withsub">@Page.Title</h1>
        <p class="subh1">We'll make it easy for you and @PageData["providerrow"].FirstName</p>

        @RenderPage(LcUrl.RenderLangPath + "Profile/$UserInfoWidget.cshtml", new Dictionary<string, object>{ 
            {"Data", PageData["providerrow"]},
            {"DataPrefix", ""},
            {"Size", "search"},
            {"UserType", "provider"},
            {"WithContactData", false},
            {"WithLinkInName", true},
            {"PositionData", PageData["positionrow"]}
        })
        
		<ul class="tabs">
			<li class="current"><a href="#services"><span class="point">1</span><span class="label">Select Services</span></a></li>
			<li class="disabled"><a href="#schedule"><span class="point">2</span><span class="label">Schedule</span></a></li>
            <li class="disabled"><a href="#payment"><span class="point">3</span><span class="label">Payment</span></a></li>
        </ul>
        
		<div id="services" class="tab-body fancy current">
        @{
            @RenderPage("$Pricing.cshtml")
        }
		</div><!-- #services -->

		<div id="schedule" class="tab-body fancy">
            @*@RenderPage("$Schedule.cshtml")*@
		</div><!-- #schedule -->

		<div id="payment" class="tab-body fancy">
            @*RenderPage("$Payment.cshtml")*@
		</div><!-- #payment -->
        
    </div><!-- #main -->
    
  </div><!-- #container -->