@{
    LcHelpers.SecurePage();
    
    var user = LcData.UserInfo.GetUserRow();
}
		<ul class="tabs autofill-submenu-items">
			<li class="current"><a class="current" href="#bookings">Bookings</a></li>
        </ul>

		<div id="bookings" class="tab-body fancy tabbed buttons current clearfix bookings-tab">
            <ul class="tabs">
                <li class="current"><a class="button profile fanciful" href="#bookings-all">All</a></li>
                <li><a class="button profile fanciful" href="#bookings-failed-requests">Expired Requests</a></li>
            </ul>
            
            <div id="bookings-all" class="tab-body current" data-source-url="@(UrlUtil.LangPath + "Booking/$BookingsList/")">
                @RenderPage(UrlUtil.LangPath + "Booking/$BookingsList.cshtml")
            </div><!-- #bookings-all -->
            <div id="bookings-failed-requests" class="tab-body" data-source-url="@(UrlUtil.LangPath + "Booking/$BookingsList/?view=failed-requests")">
                @*RenderPage(UrlUtil.LangPath + "Booking/$BookingsList.cshtml", new { view = "failed-requests" })*@
            </div><!-- #bookings-all -->
		</div><!-- #bookings -->
