@using WebMatrix.Data;
@using WebMatrix.WebData;
@{
    LcHelpers.SecurePage();

    int points = 0;
    using (var db = Database.Open("sqlloco")) {
        points = (int)db.QueryValue(@"
            SELECT  coalesce(sum(ProviderProfileCompletePoints), 0)
            FROM    Alert As A
                     LEFT JOIN
                    UserAlert As UA
                      ON A.AlertID = UA.AlertID
                        AND UA.UserID = @0
            WHERE
                (UA.Active is null OR UA.Active = 0)
        ", WebSecurity.CurrentUserId);
    }
}
<div class="profile-progress progress-bar">
    <span>Your profile is</span>
    <span class="text"><span class="percent-done">@(points)%</span> complete</span>
    <span class="total"><span class="percent-done"></span></span>
</div>