/**
    welcomeHealingArtsProfessionals
**/
[data-activity=healingArtsProfessionals] {

    [role=main] {
        .coop-search {
            background-image:
              linear-gradient(
                rgba(0, 152, 154, 0.1),
                rgba(0, 152, 154, 0.1)
              ),
              url('../images/Stocksy_txp67b81859qys000_Small_32232.jpg');
        }
    }
}
