/**
    welcomeMassageTherapists
**/
[data-activity=massageTherapists] {

    [role=main] {
        .landingpage-background {
            padding-top: $LargeNavBar-height + 32px;
            background: no-repeat center / cover;
            background-image:
              linear-gradient(
                rgba(0, 255, 255, 0.5),
                rgba(0, 255, 255, 0.5)
              ),
              url('../images/Stocksy_txp67b81859qys000_Small_546856.jpg');
        }
    }
}

            