/**
    Clients activity styles
**/
@import '../../../css/utils/styleguideVars.styl';
@import '../../../css/components/SectionTitle.styl';
@import '../../../css/components/SimpleList.styl';

[data-activity=clients] {
    // Highlight items containing clients names, versus the divider letters
    .SimpleList-item {
        background-color: white;

        a {
            &:hover,
            &:focus {
                color: $brand-secondary;
            }
        }
    }
    // Divider letters ever in uppercase
    .SimpleList-divider {
        text-transform: uppercase;
    }
}
