/* core */
@import "nib"
@import 'utils/mediaQueries.styl'
@import 'utils/styleguideVars.styl'
@import 'utils/bs-extensions.styl'
@import 'utils/select-btn.styl'

/* app */
@import 'components/App.styl'

/** Utilities styles **/
@import 'utils/isolated.styl'
.isolated {
    isolated();
}
@import 'utils/backdrop.styl'
body {
    backdrop();
}
@import 'utils/loadingSpinner.styl'
@import 'utils/switchLine.styl'

/** Components styles **/
@import 'components/SplashScreen.styl'
@import 'components/ListView.styl'
@import 'components/SectionTitle.styl'
@import 'components/SmartNavBar.styl'
@import 'components/Activity.styl'
@import 'components/LeadContent.styl'
@import 'components/DatePicker.styl'
@import 'components/CardsDeck.styl'
@import 'components/Card.styl'
@import 'components/GroupedTimeSlots.styl'
@import 'components/SimpleList.styl'
@import 'components/LeadTile.styl'
@import 'components/MessageTile.styl'
@import 'components/InfoTile.styl'
@import 'components/CompactLinkTile.styl'
@import 'components/LinkTile.styl'
@import 'components/TilesList.styl'
@import 'components/LineTile.styl'
@import 'components/ItemTile.styl'
@import 'components/ItemAddonTile.styl'
@import 'components/LightForm.styl'

/** Activities styles **/
@import 'activities/calendar.styl'
@import 'activities/appointment.styl'
@import 'activities/clients.styl'
@import 'activities/weeklySchedule.styl'
@import 'activities/home.styl'
@import 'activities/profilePictureBio.styl'
