/* core */
@import "nib"
@import 'utils/mediaQueries.styl'
@import 'utils/styleguideVars.styl'
@import 'utils/bs-extensions.styl'

/* app */
@import 'utils/appVars.styl'
@import 'components/App.styl'

/** Utilities styles **/
@import 'utils/isolated.styl'
@import 'utils/backdrop.styl'
body {
    backdrop();
}

/** Components styles **/
@import 'components/SplashScreen.styl'
@import 'components/ListView.styl'
@import 'components/SectionTitle.styl'
@import 'components/Activity.styl'
@import 'components/LeadContent.styl'
@import 'components/DatePicker.styl'
@import 'components/CardsDeck.styl'
@import 'components/Card.styl'
@import 'components/GroupedTimeSlots.styl'
@import 'components/SimpleList.styl'
@import 'components/SmartNavBar.styl'

/** Activities styles **/
@import 'activities/calendar.styl'
@import 'activities/appointment.styl'
@import 'activities/clients.styl'
