/** About-you
**/
@import "../utils/BasicForm"
@import "../utils/Crudl--basicStyle"
@import "../utils/ItemBox"
@import "../utils/ActionBox"

.DashboardAboutYou {
    .DashboardPublicBio {
        
        $photoWidth = 144px; /* 112px in public */
        $photoHeight = 150px; /* 118px in public */
    
        .DashboardPublicBio-photo {
            float: left;
            /* position context */
            position: relative;
        
            img {
                border: 1px solid #CCC9C9;
                border-radius: 4px 4px 4px 4px;
                width: $photoWidth;
                height: $photoHeight;
                display: block;
            }
            
            .DashboardPublicBio-photo-changeAction {
                background-color: rgba(255, 255, 255, 0.65);
                border-radius: 25px 25px 25px 25px;
                color: black;
                display: block;
                font-size: 0.8em;
                left: 12px;
                right: 12px;
                bottom: 12px;
                padding: 0 15px;
                position: absolute;
                text-decoration: none;
                text-align: center;
                text-transform: lowercase;
                
                &:hover {
                    background-color: White;
                }
            }
        }
        
        .DashboardPublicBio-bio {
            /* We put the bio block on the right of the photo, that is floated, 
                then we add a left margin of the photo size plus a margin.
                photo width + border + margin
            */
            margin-left: $photoWidth + 2px + 8px;
            /* Same height than image to be aligned */
            height: $photoHeight + 2px;
        }
        
        .DashboardPublicBio-gender {
            margin: 1em 0;
            
            .DashboardPublicBio-gender-label {
                min-width: $photoWidth;
                display: inline-block;
                box-sizing: border-box;
            }
        }
    }
    
    .DashboardPersonalWebsite {
        fieldset {
            padding: 0 10px;
            
            input {
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
    
    .DashboardEducation {
        .DashboardEducation-editor {
            input {
                width: 300px;
            }
            
            select {
                width: 60px;
            }
            
            label {
                width: 150px;
                display: inline-block;
            }
        }
        
        DashboardEducation-list {
            DashboardEducation-list-item {           
                p {
                    margin: 0;    
                }

                .years-attended {
                    color: #828282;
                }
            }
        }
    }
    
    .DashboardVerifications {      
        .DashboardVerifications-list {
            .DashboardVerifications-list-item {
                .DashboardVerifications-list-item-status {
                    color: Red;
                }
                
                .DashboardVerifications-list-item-status--confirmed{
                    color: Green;
                }
            }

            .DashboardVerifications-list-icons {
                li{
                    background: no-repeat center left;
                    padding: 0 0 0 30px;
                    margin: 6px 0;

                    &.license{
                        background-image: url('../img/theme/icon-licenses.png');
                    }
                
                    &.verification{
                        background-image: url('../img/theme/icon-verifications.png');
                    }
                
                    &.share{
                        background-image: url('../img/theme/icon-share-medium.png');
                    }
                }
            }
        }
    }
    
    .DashboardContactInfo {
        li {
            input,
            select {
                width: 70% !important;
                box-sizing: border-box;
            }
        }
    }
    
    .DashboardBackgroundCheck {
        .DashboardBackgroundCheck-item {
            position: relative;

            h5 {
                font-size: 1em;
                margin-bottom: .5em;
            }
        
            .actions {
                float: right;
                margin-top: 1.5em;
                
                .buy-action {
                    font-size: 1em;
                }
            }
        }
        
        .popup.buy-step-2 ol {
            margin: 0 0 0 35px;
        }
        
        .popup.buy-step-2 ol li {
            list-style: decimal outside;
            color: #B5E1E2;
            font-size: 1.6em;
            margin: 10px 0 0;
        }
        
        .popup.buy-step-2 ol li .step-details {
            font-size: .6em;
            color: #666666;
        }
    }
}
