/** Promote
**/
@import "../utils/BasicForm"

.DashboardAboutYou {
    .DashboardPublicBio {
        .DashboardPublicBio-photo {
            
        }
        
        .DashboardPublicBio-bio {
        }
    }
    
    .DashboardPersonalWebsite {
        fieldset {
            padding: 0 10px;
            
            input {
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
}
