/** Your work
**/
@import "../utils/BasicForm"
@import "../utils/Crudl--basicStyle"
@import "../utils/ItemBox"
@import "../utils/ActionBox"
@import "../utils/ColorsPalette"

.DashboardAvailability {
    
    .DashboardWeeklySchedule {
    
        .DashboardWeeklySchedule-require {
            li {
                margin-bottom: 1em;
            }
        }

    }
}
