/** Promote
**/
@import "../utils/BasicForm"

.DashboardPayments {
    .DashboardPaymentAccount {
        fieldset {
            input,
            select {
                width: 70% !important;
                box-sizing: border-box;
            }
        }
        /* TOS: terms-of-service */
        .DashboardPaymentAccount-tos {
            label input {
                width: auto !important;
                vertical-align: middle;
            }
        }
    }
}
