/** Your work / locations
**/
@import "../utils/Crudl--basicStyle"
@import "../utils/ItemBox"
@import "../utils/ActionBox"
@import "../utils/ColorsPalette"
@import "../utils/Location"

/* TODO: Refactoring NOT complete, needs apply new naming convention, use dashboard variables,
    and reuse styles like BasicForm
*/

.DashboardYourWork .DashboardPhotos {
    fieldset{
        display: inline-block;
        vertical-align: top;
    }
    .no-photos,
    .no-primary-photo {
        display: none;
    }
    fieldset li{
        margin: 6px 0;
        padding: 0;
    }
    .positionphotos-edit {
        width: 390px;
    }
    .positionphotos-gallery {
        width: 23%;
    }
    .positionphotos-tools{
        width: 14%;
    }
    .positionphotos-gallery,
    .positionphotos-edit{
        border-right: 4px solid #DADADA;
        margin-right: 8px !important;
        padding-right: 4px !important;
    }
    .positionphotos-edit,
    .positionphotos-gallery,
    .positionsphotos.tools{
        height: 370px;
        overflow: hidden;
    }
    .positionphotos-edit-photo {
        width: 380px;
        height: 240px;
        overflow: hidden;
        text-align: center;
    }
    .positionphotos-edit-photo img{
        max-height: 240px;
        max-width: 380px;
    }
    .positionphotos-gallery ol{
        list-style: none;
        padding: 0;
        margin: 0;
        /* height: 100% works fine in Firefox, but not in Chrome (webkit) and IE, setting to static 349px */
        height: 349px;
        overflow: auto;
    }
    .positionphotos-gallery li {
        width: 134px;
        overflow: hidden;
    }
    .positionphotos-gallery li a{
        display: block;
        width: 128px;
        height: 80px;
        margin: 3px auto;
        overflow: hidden;
        text-align: center;
    }
    .positionphotos-gallery li a img{
        max-width: 128px;
        min-height: 80px;
    }
    .positionphotos-gallery li.selected a{
        outline: 3px solid #00989a;
    }
    .positionphotos-gallery li.selected a.edit{
        outline: none;
    }
    .positionphotos-gallery li a.edit{
        display: block;
        text-align: right;
        text-transform: lowercase;
        width: auto;
        height: auto;
    }
    .positionphotos-edit-caption label,
    .positionphotos-edit-primary label{
        padding: 5px 0;
        width: auto !important;
        margin-right: 15px;
    }
    .positionphotos-edit-caption input{
        width: 270px !important;
    }
    .positionphotos-edit-primary h6{
        font-size: 1em;
        color: #666666;
        margin: 0 15px 0 0;
        font-weight: normal;
        display: inline-block;
    }
    .positionphotos-edit-primary input {
        margin: 0 3px;
    }
    .positionphotos-edit-primary label{
        padding: 0;
    }
}
