/** Your work
**/
@import "../utils/BasicForm"
@import "../utils/Crudl--basicStyle"
@import "../utils/ItemBox"
@import "../utils/ActionBox"
@import "../utils/ColorsPalette"

.DashboardYourWork {
    .DashboardServices {
        .DashboardServices-attributes {
            ul {
                display: block;

                li {
                    overflow: hidden;
                    margin: 0 0 2px;
                    padding: 0;
                    width: 33%;
                    float: left;
                }
            }
            
            fieldset {
                &.is-required.is-error legend {
                    box-shadow: 0 0 5px 1px $colorRed;
                    padding: 0 10px;
                }
            }
            
            .DashboardServices-sidebar {
                fieldset {
                    overflow: hidden;
                    width: 33%;
                    float: left;
                    
                    li {
                        float: none !important;
                        width: auto !important;
                    }
                }
            }
            
            .DashboardServices-attributes-languages {
                clear: both;

                ul {
                    li {
                        width: 48%;
                        white-space: nowrap;
                        clear: none;
                        
                        label, select {
                            display: inline-block;
                            width: 46%;
                        }
                        
                        label {
                            margin-right: 1%;
                            overflow: hidden;
                            line-height: normal;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}
