@{  
    Layout = "~/en_US/_SiteLayout.cshtml";
    Page.Title = "Make your life better.";

    PageData["BodyClass"] = "home";
}

  <div id="container" class="home clearfix"> 
    <div id="main" class="">
		<h1>@Page.Title</h1>
		<form id="homeSearch" action="@Href("~/en_US/Search/")" method="get">
			<fieldset>
				<!-- <label for="serviceType">Enter Service </label> -->
            <input class="fanciful" type="text" name="serviceType" id="serviceType" value="e.g. Cleaner, Tutor..." /> in 
            <input class="fanciful" type="text" name="serviceLocation" id="serviceLocation" value="San Francisco, CA" />
            <!-- <input class="go" type="submit" value="Find Services"/> -->
				<!-- <select id="serviceLocation" name="serviceLocation">
					<option value="" selected>Select a location</option>
					<option value="madrid">Madrid</option>
					<option value="minneapolis">Minneapolis</option>
					<option value="new-york">NYC</option>
				</select> -->
			</fieldset>
			<fieldset>
				<label class="serviceDate" for="serviceDate">Preferred date:</label> <input class="fanciful date-pick" type="text" id="serviceDate" name="serviceDate" value="today" /> <button class="fancy" type="submit">Find Services</button>
			</fieldset>
		</form>
    </div><!-- #main -->

	 <div id="secondary">
        @{/*RenderPage("_FeaturedProvider.cshtml")*/}
		<!--<div class="video">
			<h3>How it works</h3>
			<img src="../img/home-video-placeholder.jpg" alt="" />
		</div> .video -->
	 </div><!-- #secondary -->

    <div class="categories search-categories">
            @RenderPage("Search/_CategoriesList.cshtml", true)
	</div>
   </div><!-- #container -->
