@{  
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    Page.Title = "Make your life better.";

    PageData["BodyClass"] = "home";
    PageData["IsHomePage"] = true;
    // We will return an array for the search-location autocomplete script
    string locationsCSV = "'San Francisco, CA', 'Other locations coming soon'";
    if (LcData.GetCurrentCountryID() == 2){
        locationsCSV = "'Barcelona', 'Other locations coming soon'";
    }
    PageData["InlineScript"] = @"
        window['LC'] = window['LC'] || {};
        LC.searchLocations = [ " + locationsCSV + @" ];
    ";
}
  <div id="container" class="home clearfix"> 
    <div id="main" class="">
		<h1>@Page.Title</h1>
        <p>book safely and easily local, indepedent service providers</p>
		<form id="homeSearch" action="@Href(UrlUtil.LangPath + "Search/")" method="get">
			<fieldset class="search-options">
                <ul>
                    <li class="search-service">
                        <label for="search-service">Search for a (e.g. Gardener, Tutor...)</label>
                        <input id="search-service" type="text" name="serviceType" placeholder="Dog Walker" />
                    </li>
                    <li class="search-location">
                        <label for="search-location">Where</label>
                        <input id="search-location" type="text" name="serviceLocation" placeholder="San Francisco, CA" />
                    </li>
                    <li class="search-date">
                        <label for="search-date">When:</label>
                        <input id="search-date" class="date-pick" type="text" name="serviceDate" value="@(DateTime.Today.ToShortDateString())" />
                    </li>
                    <li class="actions">
                        <label>&nbsp;</label>
                        <button class="main-action" type="submit">GO!</button>
                    </li>
                </ul>
            </fieldset>
		</form>
        @RenderPage("Search/_CategoriesList.cshtml", new { CategoriesTitle = "Or browse by category" })
    </div><!-- #main -->
   </div><!-- #container -->
