@{  
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    Page.Title = "Make your life better.";

    PageData["BodyClass"] = "home";
    PageData["IsHomePage"] = true;
    PageData["InlineScript"] = @"
        $.datepicker.setDefaults($.datepicker.regional[$('html').attr('lang')]);
        $('.date-pick', document)
            //.val(new Date().asString($.datepicker._defaults.dateFormat))
            .datepicker({
                showOn: 'button',
                buttonImage: '',
                buttonImageOnly: true,
                showAnim: 'blind'
            });
    ";
}

  <div id="container" class="home clearfix"> 
    <div id="main" class="">
		<h1>@Page.Title</h1>
		<form id="homeSearch" action="@Href(UrlUtil.LangPath + "Search/")" method="get">
			<fieldset>
				<!-- <label for="serviceType">Enter Service </label> -->
            <input class="fanciful" type="text" name="serviceType" id="serviceType" placeholder="e.g. Cleaner, Tutor..." /> in 
            <input class="fanciful" type="text" name="serviceLocation" id="serviceLocation" placeholder="San Francisco, CA" />
            @*<!-- <input class="go" type="submit" value="Find Services"/> -->
				<!-- <select id="serviceLocation" name="serviceLocation">
					<option value="" selected>Select a location</option>
					<option value="madrid">Madrid</option>
					<option value="minneapolis">Minneapolis</option>
					<option value="new-york">NYC</option>
				</select> -->*@
			</fieldset>
			<fieldset>
				<label class="serviceDate" for="serviceDate">Preferred date:</label> <input class="fanciful date-pick" type="text" id="serviceDate" name="serviceDate" value="@(DateTime.Today.ToShortDateString())" /> <button class="fancy" type="submit">Find Services</button>
			</fieldset>
		</form>
    </div><!-- #main -->

	 <div id="secondary">
        @{/*RenderPage("_FeaturedProvider.cshtml")*/}
		<!--<div class="video">
			<h3>How it works</h3>
			<img src="../img/home-video-placeholder.jpg" alt="" />
		</div> .video -->
	 </div><!-- #secondary -->

    <div class="categories search-categories">
            @RenderPage("Search/_CategoriesList.cshtml", true)
	</div>
   </div><!-- #container -->
