@*
    This page process email request, sending and email with the provided body to the destination address.
    The message is also stored in the DDBB for further operations.

    INPUT:
        position singular:
        position ID:
        provider ID:
        customer name:
        customer request:
    
    TODO: add a template to the email with the Loconomics layout and logo...
*@
@{
    var UserID = 0;
    if (WebSecurity.IsAuthenticated)
    {
        Layout = "~/en_US/_SiteLayout.cshtml";
        UserID = WebSecurity.CurrentUserId;
    }
    else
    {
        Response.Redirect("~/en_US/Account/Login");
    }

    //ERROR MESSAGES
    var confirmationMessage = "(Testing Message)The email was not sent. The code in the ProcessRequest page must provide an SMTP server name, a user name, a password, and a from address.";
    
    var customerName = Request["customerName"];
    var customerRequest = Request["customerRequest"];

    var PositionSingular = Request["PositionSingular"];
    var ProviderID = Request["ProviderID"];
    var PositionID = Request["PositionID"];
    
    //create a thread for the conversation.
    //1- Create a Messaging Thread or select the existing one
    int threadID = 0;//The id of the conversation between user and provider
    int messageID = 0;
    int tmid = 0;//Thread Message ID, id passed to the custumer via email, used to look for conversation info by the server.
    
    //add template and response link to message body
    var responseLink = "http://localhost:1575/LoconomicsJB/en_US/EmailResponse?tmid=";
    
    var db = Database.Open("sqlloco");
    var providersql = "select Email from userprofile up where up.userid = @0";
    var sqluser = "exec GetUserDetails @0";
    var provider = db.QuerySingle(providersql, ProviderID);
    var userrow = db.QuerySingle(sqluser, UserID);
    var message = "has been succesfully sent.";
    var sysdate = DateTime.Now;
    
    var SQLINSERTTHREAD=@"INSERT INTO dbo.MessagingThreads
                        (CreatedDate,UpdatedDate,ModifiedBy,providerID,userID)
                        VALUES(@0,@1,@2,@3,@4)";
    var SQLINSERTMESSAGE=@"INSERT INTO dbo.Messages
                        (body,CreatedDate,UpdatedDate,ModifiedBy)
                        VALUES(@0,@1,@2,@3)";
    var SQLINSERTTHREADMESSAGE=@"INSERT INTO dbo.ThreadMessage
                        (messageID,threadID,fromID,toID,CreatedDate,UpdatedDate,ModifiedBy)
                        VALUES(@0,@1,@2,@3,@4,@5,@6)";
    
    try {
        //store the thread in the DDBB(dbo.MessagingThreads)
        db.Execute(SQLINSERTTHREAD, sysdate, sysdate, UserID, ProviderID, UserID);
        threadID = Convert.ToInt32(db.GetLastInsertId());
        //store the message in the DDBB(dbo.Messages)
        db.Execute(SQLINSERTMESSAGE, customerRequest, sysdate, sysdate, UserID);
        messageID = Convert.ToInt32(db.GetLastInsertId());
        //store the message-thread relation in the DDBB(dbo.ThreadMessage)
        db.Execute(SQLINSERTTHREADMESSAGE, messageID, threadID, UserID, ProviderID, sysdate, sysdate, UserID);
        tmid = Convert.ToInt32(db.GetLastInsertId()); 
        //add the thread id to the url querystring
        responseLink += Server.UrlEncode(tmid+"");

        // Send email
        WebMail.Send(provider.Email,
            subject: "Help request from - " + customerName,
            body: customerRequest + " " +responseLink
        );
    }
    catch (Exception ex ) {
        //TODO: if try block fails revert the transaction
        message=confirmationMessage;
    }
}
<div id="container">
    <form method="post" action="ProviderProfile.cshtml?ProviderID=@ProviderID&PositionId=@PositionID&Position=@PositionSingular">
        <p>Dear, <b>@userrow.FirstName</b>. your message:</p>

        <p><b>@customerRequest</b></p>

       <p>@message</p>
      
        <div>
            <input type="submit" value="Finish" />
        </div>
    </form>
</div>  