@{
    var user = PageData["User"] ?? Request["user"] ?? Request["userid"];
    var editable = (bool)PageData["Editable"];
}
@functions {
    /// <summary>
    /// Return all days in a week, in the culture sort
    /// TODO: Must check culture and returns the appropiate order, right
    /// now is hard-coded for US.
    /// </summary>
    /// <returns></returns>
    IEnumerable<DayOfWeek> getWeekDays(){
        yield return DayOfWeek.Sunday;
        yield return DayOfWeek.Monday;
        yield return DayOfWeek.Tuesday;
        yield return DayOfWeek.Wednesday;
        yield return DayOfWeek.Thursday;
        yield return DayOfWeek.Friday;
        yield return DayOfWeek.Saturday;
    }
}
<div class="AvailabilityCalendar AvailabilityCalendar--monthly" data-calendar-user="@(user)" data-source-url="@(LcUrl.LangPath)calendar/get-availability/" @(editable ? "data-editable=true" : "")>

    <div class="AvailabilityCalendar-actions">
        <button type="button" class="Actions-move Actions-prev">Previous month</button>
        <button type="button" class="Actions-move Actions-next">Next month</button>
        <button type="button" class="Actions-today">Today</button>
        <div class="AvailabilityCalendar-status"></div>
        <div class="AvailabilityCalendar-monthLabel"></div>
    </div>

    <table>
        <thead class="AvailabilityCalendar-days">
            <tr>
                <th></th>
                @foreach (var wk in getWeekDays())
                {
                    <th>@(wk.ToString().Substring(0, 3))</th>
                }
            </tr>
        </thead>
        <tbody class="AvailabilityCalendar-slots">
            @* Print 6 week rows, the maximum that a month can have *@
            @for (var w = 0; w < 6; w++)
            {
                <tr>
                    <th></th>
                    @foreach (var wk in getWeekDays()) {
                        <td><span class="AvailabilityCalendar-slotDateLabel"></span></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="AvailabilityCalendar-legend">
        <ul>
            <li class="AvailabilityCalendar-legend-available"><div class="AvailabilityCalendar-legend-example"></div>Available</li>
            <li class="AvailabilityCalendar-legend-unavailable"><div class="AvailabilityCalendar-legend-example"></div>Unavailable</li>
        </ul>
    </div>
</div>