@{/* Example c# function of result html code to be produced in javascript */}
@helper printServiceAttributeCategoryExample(int id){
            <fieldset class="service-attribute-category" id="service-attribute-category-@id">
                <legend>Service Attribute Category @id:</legend>
                @for(int i=0; i < 16; i++){
                <label><input name="positionservices-category[1]-attribute[@i]" type="checkbox"/><span>Attribute</span></label>
                }
            </fieldset>
}
<p class="info">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpatid adipiscing placerat, convallis sit orci. Donec quis enim nunc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volut
</p>
<form action="#" method="post" id="provider-sign-up-your-work" class="your-work">
    <fieldset class="select-position">
        <legend>Select position:</legend>
        <select name="select-position">
            <option value="">__Select a Position__</option>
        </select>
    </fieldset>
    <fieldset class="select-attributes">
        
        <div class="service-attribute-categories">
            
        </div>

        <div class="your-work-sidebar">
            <fieldset class="experience-level-dropdown">
                <legend>Experience Level</legend>
                <select name="experience-level">
                    <option value="1">I'm new to this!</option>
                    <option value="2">Beginner</option>
                    <option value="3">Intermediate</option>
                    <option value="4">Professional</option>
                    <option value="5">Expert</option>
                </select>
            </fieldset>
            <fieldset class="year-experience">
                <legend>Years Experience</legend>
                <select name="year-sexperience">
                    <option value="0">&lt;0.5 years</option>
                    <option value="0.5">0.5 years</option>
                    <option value="1">1 year</option>
                    <option value="1.5">1.5 years</option>
                    @for(int y = 2; y < 41; y++){
                    <option value="@y">@y years</option>
                    }
                </select>
            </fieldset>
            <fieldset class="languages-spoken" id="service-attribute-category-5">
                <legend>Languages Spoken</legend>
                <ul>
                    <li><label><input name="language-spoken-english" type="checkbox"/>English</label>
                        <select name="languages-spoken-englishlevel">
                            <option>Fluent</option>
                            <option>Begginer</option>
                            <option>N/A</option>
                        </select>
                    </li>
                    <li><label><input name="language-spoken-spanish" type="checkbox"/>Spanish</label>
                        <select name="languages-spoken-spanishlevel">
                            <option>Fluent</option>
                            <option>Begginer</option>
                            <option>N/A</option>
                        </select>
                    </li>
                    <li><label><input name="languages-spoken-catalan" type="checkbox"/>Catalan</label>
                        <select name="languages-spoken-catalanlevel">
                            <option>Fluent</option>
                            <option>Begginer</option>
                            <option>N/A</option>
                        </select>
                    </li>
                    <li><label><input name="languagespoken-galician" type="checkbox"/>Galician</label>
                        <select name="languagesspoken-galicianlevel">
                            <option>Fluent</option>
                            <option>Begginer</option>
                            <option>N/A</option>
                        </select>
                    </li>
                </ul>
            </fieldset>
            <fieldset class="clients-types" id="service-attribute-category-7">
                <legend>Clients Types</legend>
                <label><input type="checkbox" name="clients-types-residential"/>Residential</label>
                <label><input type="checkbox" name="clients-types-business"/>Business</label>
            </fieldset>
        </div>
    </fieldset>
    <fieldset class="actions">
        <button data-next-step="#next-steps" class="next">Continue</button>
    </fieldset>
</form>
