/**
    Calendar activity styles
**/
// @require 'ActivityTitle.styl';

[data-activity=calendar] {

    $titleInnerHeight = 50px;
    $titleGap = 10px;
    $titleHeight = $titleInnerHeight + $titleGap;
    
    #calendarDailyView {
        padding-top: $titleHeight;
    }

    #calendarDateHeader {    
        $lineHeight = 1.3em;
        $padTop = 14px;
        $padBottom = 8px;
        
        // absolute vs fixed because the iOS problem with scrolling
        position: absolute;
        z-index: 100;
        background: White;

        font-size: 20px;    
        margin: 0 0 $titleGap;
        text-align: left;
        font-weight: bold;
        
        /* Like a row, it use full width
            but we enforce the internal gap
        */
        margin-left: 0 - $container-padding-left;
        margin-right: 0 - $container-padding-right;
        padding: 0 ($container-padding-right) 0 ($container-padding-left);

        /* table layout for better management of the 
            elements */
        display: table;
        width: 100%;
        height: $titleInnerHeight;
        box-sizing: content-box;

        /* Decoration */
        // NOTE: Respecting the $titleGap
        box-shadow: 0 0 6px -1px black;

        /* Only allowed 'span' elements as childs or link buttons */
        > span {
            padding: $padTop 0 $padBottom 0;
            line-height: $lineHeight;
            display: table-cell;
            vertical-align: middle;
        }

        /* Button link */
        > a.btn {
            padding: $padTop 0 $padBottom 0;
            margin: 0;
            font-size: 20px;
            color: $gray-dark;
            border: none;
            line-height: $lineHeight;

            &:active,
            &:focus,
            &:hover {
                outline: none;
                text-decoration: none;
            }
        }
    }

    #calendarDatePicker {
        /* positioning */
        // absolute vs fixed because the iOS problem with scrolling
        position: absolute;
        left: 10px;
        right: 10px;
        z-index: 100;
        top: $titleInnerHeight;
        // Set limits to avoid innusable full-width sizes:
        min-width: 250px;
        max-width: 500px;
        // And keep centered with when greater to max width
        margin: 0 auto;

        /* pop-up decoration */
        background: white;
        box-shadow: 0 0 6px -1px #000;
        border-radius: 4px;

        /* repositioning the pop-arrow */
        .DatePicker:after {
            left: 50%;
        }
        .DatePicker:before {
            left: 50%;
            margin-left: -1px;
        }

        /** smooth transition and visible state **/
        opacity: 0;
        transform: translateY(-15px);
        transition: 500ms all;
        pointer-events: none;

        &.is-visible {
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
        }
    }
}
