/**
    Home page styles (aka Search page)
**/

@import '../utils/input-group-addon-inset.styl';
@import '../utils/arrows.styl';
@import '../components/WebsiteFooter.styl';

[data-activity=home] {
    $homeHeaderHeight = 56px;
    
    // NOTE: all activities are absolute positioned
    
    header {
        height: $homeHeaderHeight;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        
        .home-brand {
            position: absolute;
            top: 13px;
            left: 28px;
            
            display: block;
            text-indent: -99999px;
            background: url("../images/logo-loconomics-white-mini.png") no-repeat center;
            hr-image("../images/logo-loconomics-white-mini@2x.png", 100px, 38px);
            width: 100px;
            height: 38px;
        }
        
        .home-nav {
            position: absolute;
            top: 13px;
            right: 40px;
            
            background: White;
            
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 0;
                
                li {
                    display: inline-block;
                    font-size: $font-size-base;
                    
                    &:before {
                        border-left: 1px solid $brand-primary;
                        content: '';
                        line-height: 1em;
                    }
                    
                    &:first-child:before {
                        display: none;
                    }
                    
                    a {
                        color: $brand-primary;
                        // With links using btn btn-link, just adjust line to get the 44px full home-nav
                        line-height: 30px;
                    }
                }
            }
        }
    }
    
    [role=main] {
        $arrowSize = 30px;
        
        padding-top: $homeHeaderHeight + 40px;
        background: rgb(79, 184, 185);
        
        .home-title {
            color: White;
            font-size: 44px;
            font-weight: bold;
            margin: 0.4em auto;
            text-align: center
        }

        .home-tagline {
            color: White;
            font-size: 24px;
            margin: 0.5em auto;
            text-align: center;
        }
        
        // Edge limit for phone
        .home-title,
        .home-tagline {
            padding: 0 $container-padding-right 0 $container-padding-left;
        }
        
        form {
            margin: 40px auto;
            max-width: 700px;
            
            // Flatty, square
            .form-control,
            .input-group-addon,
            .btn {
                border-radius: 0;
                border-width: 0 0 1px 0;
            }
            
            // Reduce column gaps by a 20px in total
            // for sizes bigger than XS (so keep standar in phone where
            // forms goes vertical)
            @media $mediaMinSm {
                > * {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        
        .home-section-title {
            color: White;
            font-size: 32px;
            font-weight: bold;
            margin: 0 auto;
            padding: 0.4em 0;
            text-align: center
        }
        
        // How It Works section
        .home-hiw {
            text-align: center;
            color: $gray;
            background: White;
            down-arrow($arrowSize, 0, none, White, center);
            
            $iconsSize = 90px;
            
            ul {
                margin-top: ($iconsSize / 2) + 20px;
                margin-bottom: 0;
                padding-bottom: ($iconsSize / 2);
                
                > li {
                    margin-top: (0 - $iconsSize / 2);
                }
            }
            
            h3 {
                font-weight: bold;
                font-size: 22px;
            }
            
            // icons
            i {
                background: $brand-secondary-background;
                font-size: floor($iconsSize / 1.60);
                border-radius: 100%;
                width: $iconsSize;
                line-height: $iconsSize;
                color: White;
            }
            
            /// Move everything up to show title and half icons out of the
            /// box and out of the background, while keeping separation with previous section;
            // Manually calculated:
            $offset = 126px;
            position: relative;
            top: $offset;
            .home-section-title,
            .home-section-listing {
                position: relative;
                top: (0 - $offset);
            }
            &:after,
            &:before {
                bottom: ($offset - $arrowSize);
            }
            
            // Just rows in extra-small size (html is set to use 3 Bootstrap columns from col-sm and up)
            @media $mediaMaxXs {
                ul {
                    // Just this to keep the effect of first icon half in/out the background
                    margin-top: 0;
                    // And add margin to separate each item, now in vertical
                    > li {
                        margin-top: 20px;
                    }
                }
            }
        }
        
        // Why book on Loconomics section
        .home-booking {
            $boxSize = 340px;
            $boxMargin = 1.5%;

            background: $brand-secondary-background;
            text-align: center;
            padding-top: 40px;

            down-arrow($arrowSize, 0, none, $brand-secondary, center);

            ul {
                color: $gray;
                text-align: center;
                margin: 0 auto;
                padding-bottom: 10px;
                // 3 boxes limit: UPDATE on each size or margin change
                max-width: 1200px;

                li {
                    background: White;
                    //float: left;
                    display: inline-block;
                    width: $boxSize;
                    margin: $boxMargin;
                    padding: 16px;
                    vertical-align: middle;
                    
                    a {
                        color: $brand-secondary;
                        font-weight: bold;
                    }
                    
                    h3 {
                        font-size: 15px;
                        font-weight: bold;
                    }
                }
                
                // icons
                i {
                    color: $brand-secondary;
                    font-size: 3em;
                    display: block;
                }
            }
            
            .home-booking-more {
                width: $boxSize;
                margin: auto;
                padding-bottom: 2em;

                .btn {
                    border-color: White;
                    border-radius: 2px;
                }
            }
        }
        
        .home-categories {
            $boxSize = 240px;
            $boxMargin = 1.5%;
            
            background: $gray-background;
            text-align: center;
            padding-top: 40px;
            
            h2 {
                color: $gray;
            }
            
            ul {
                color: $gray;
                text-align: center;
                margin: 0 auto;
                padding-bottom: 10px;
                // 4 boxes limit: UPDATE on each size or margin change
                max-width: 1200px;

                li {
                    // TODO Add background photo per category
                    background: White no-repeat top center;
                    background-size: contain;
                    display: inline-block;
                    width: $boxSize;
                    margin: $boxMargin;
                    padding: 12px;
                    vertical-align: middle;

                    h3 {
                        font-size: 20px;
                        font-weight: bold;
                    }
                    
                    .StarsRating {
                        color: $brand-secondary;
                        display: block;
                    }
                    
                    p {
                        margin: 0px 0px 30px;
                    }
                    
                    .btn {
                        font-weight: bold;
                        border-radius: 1px;
                        
                        em {
                            font-weight: normal;
                            font-style: normal;
                        }
                    }
                    
                    // icons
                    > i {
                        color: White;
                        font-size: 4em;
                        display: inline-block;
                        border-radius: 12px;
                        background: $brand-primary;
                        text-align: center;
                        padding: 14px 20px;
                        margin: 30px auto 8px;
                    }
                }
            }
        }
    }
}
