/**
    Onboarding Complete activity styles
**/
[data-activity=onboardingComplete] {
    .success-icon {
        font-size: 4em;
        text-align: center;
        display: block;
    }

    .lead {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
