/** profilePictureBio activity styles **/
[data-activity=profilePictureBio] {
    .profilePicture {
        display: block;
        margin: auto;
        text-align: center;
        background: none;

        img {
            width: 120px;
            height: 120px;
            display: inline-block;
            border: 3px solid $brand-primary;
            border-radius: 100%;
            background: $brand-primary;
            overflow: hidden;
        }
    }
    
    #profilePictureBio-publicBio {
        resize: vertical;
    }
}
