@{
    /* Receive a custom URL from URL-Routing (for RazorWebPages)
     * Routing setup at _AppStart, parameter given "customurl"
     */
}

<div>Request: @Request.Url.OriginalString</div>
<div>CustomURL: @Context.GetRouteValue("customurl")</div>