<?xml version="1.0"?>

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <rewrite>
      <rules>
        <clear />

        <!-- Maintenance mode -->
        <rule name="maintenance-mode" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?beta\.loconomics\.com$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
        
        <!-- Production site -->
        <rule name="production-default-site" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.loconomics\.com" />
          </conditions>
          <action type="Redirect" url="https://loconomics.com/{R:1}"
            redirectType="Permanent" />
        </rule>
        <rule name="production-rewrite" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?loconomics\.com$" />
            <add input="{PATH_INFO}" pattern="^/production/($|/)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/production/{R:0}" />
        </rule>
        
        <!-- beta -->
        <rule name="Beta-subdomain" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^www\.beta\.loconomics\.com$" />
          </conditions>
          <action type="Redirect" url="https://beta.loconomics.com/{R:0}" />
        </rule>
        <rule name="Beta-subdomain-rewrite" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?beta\.loconomics\.com$" />
            <add input="{PATH_INFO}" pattern="^/beta/($|/)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/beta/{R:0}" />
        </rule>

      </rules>
    </rewrite>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

  </system.webServer>

</configuration>
