<?xml version="1.0"?>

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <rewrite>
      <rules>
        <clear />

        <!-- Maintenance mode -->
        <rule name="maintenance-mode" enabled="false" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?beta\.loconomics\.com$" negate="true" />
            <add input="{HTTP_HOST}" pattern="^(www\.)?production\.loconomics\.com$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>

        <!-- General HTTP to HTTPS redirect only for production site -->
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^(www\.)?loconomics\.com$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>

        <!-- Production site -->
        <rule name="production-default-site" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^www\.loconomics\.com$" />
          </conditions>
          <action type="Redirect" url="https://loconomics.com/{R:0}"
            redirectType="Permanent" />
        </rule>
        <rule name="production-rewrite" enabled="true" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?loconomics\.com$" ignoreCase="true" />
            <add input="{PATH_INFO}" pattern="^/production/($|/)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/production/{R:0}" />
        </rule>
        <!-- Custom URL, for production only -->
        <rule name="production-custom-url" enabled="false" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)?loconomics\.com$" ignoreCase="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/production/CustomURL/{R:1}" />
        </rule>


        <!-- Accessing production version through subdomain for under maintenance testing -->
        <!--<rule name="production-subdomain" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^www\.production\.loconomics\.com$" />
          </conditions>
          <action type="Redirect" url="https://production.loconomics.com/{R:0}"
            redirectType="Permanent" />
        </rule>
        <rule name="production-subdomain-rewrite" enabled="true" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?production\.loconomics\.com$" ignoreCase="true" />
            <add input="{PATH_INFO}" pattern="^/production/($|/)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/production/{R:0}" />
        </rule>
        <rule name="production-subdomain-custom-url" enabled="true" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)?production\.loconomics\.com$" ignoreCase="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="production/CustomURL/{R:1}" />
        </rule>-->


        <!-- beta -->
        <rule name="Beta-subdomain" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^www\.beta\.loconomics\.com$" />
          </conditions>
          <action type="Redirect" url="https://beta.loconomics.com/{R:0}" />
        </rule>
        <rule name="Beta-subdomain-rewrite" enabled="true" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?beta\.loconomics\.com$" ignoreCase="true" />
            <add input="{PATH_INFO}" pattern="^/beta/($|/)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/beta/{R:0}" />
        </rule>
        <!-- Beta rediret from HTTP to HTTPS: beta has a few exceptions as Email templates 
        (they are called internally on webserver, not a security problem, and fails because certificate not for 'beta.') -->
        <rule name="Beta redirect from HTTP to HTTPS" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^(www\.)?beta\.loconomics\.com$" ignoreCase="true" />
            <!-- Not on email templates -->
            <add input="{PATH_INFO}" pattern="/email" ignoreCase="true" negate="True" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <!-- Custom URL, for beta only -->
        <rule name="beta-custom-url" enabled="false" stopProcessing="true">
          <match url="^/?([^\./])/?$" /> <!-- ^(.*)$ -->
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)?beta\.loconomics\.com$" ignoreCase="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/beta/CustomURL/{R:1}" />
        </rule>

      </rules>
    </rewrite>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

  </system.webServer>

</configuration>
