<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- To distinguish between: dev (master), beta, production -->
    <add key="Channel" value="dev"/>
    <add key="enableSimpleMembership" value="true"/>
    <add key="BTMerchantID" value="k74g8bpwwfmmfrcr"/>
    <add key="BTPrivateKey" value="vks5753b2pfr8mnz"/>
    <add key="BTPublicKey" value="bdzrhws4qnq4bdcy"/>
    <!-- Braintree configurations -->
    <add key="Braintree.InSandbox" value="true"/>
    <add key="Braintree.Sandbox.MerchantId" value="fn9phnknypvkgcfx"/>
    <add key="Braintree.Sandbox.PublicKey" value="yhqvg4cz74jwxtw5"/>
    <add key="Braintree.Sandbox.PrivateKey" value="q7vdftc9npxgkxpy"/>
    <add key="Braintree.Production.MerchantId" value="k74g8bpwwfmmfrcr"/>
    <add key="Braintree.Production.PublicKey" value="bdzrhws4qnq4bdcy"/>
    <add key="Braintree.Production.PrivateKey" value="vks5753b2pfr8mnz"/>
    <add key="Provider_Email_Header_line1" value="Congratulations! "/>
    <add key="Provider_Email_Header_line2" value="A customer has selected you as a service provider they would like to work with. Please select one of the links below to indicate your preference: "/>
    <add key="Provider_Email_Footer_Line1" value="Thank you for being a part of the Loconomics community"/>
    <add key="Provider_Email_Footer_Line2" value="And good luck!"/>
    <add key="Loconomics_Trademark" value="@tm Loconomics.com 2012 all rights reserved."/>
    <add key="Provider_Email_Subject" value="New Job Posting From Loconomics.com"/>
    <add key="Provider_Email_From" value="jobrequest@Loconomics.com"/>
    <add key="Provider_Email_From_Discription" value="Loconomics Job Request"/>
    <add key="Provider_Email_Organizer" value="Loconomics.com"/>
    <add key="Cancel_Link_Text" value="Decline: I am unable to perform this task at any of the above Date/Times specified"/>
    <add key="Primary_Link_Text" value="Customer preferred: {0}"/>
    <add key="Alternate1_Link_Text" value="Second choice: {0}"/>
    <add key="Alternate2_Link_Text" value="Third choice: {0}"/>
    <add key="Provider_Email_Greeting" value="{0}"/>
    <add key="Ack_Invite_Detail_Line1" value="Customer Name: {0}"/>
    <add key="Ack_Invite_Detail_Line2" value="Customer Email: {0}"/>
    <add key="Ack_Invite_Detail_Line3" value="Service Scheduled Date/Time: {0}"/>
    <add key="Ack_Invite_Detail_Line4" value="Service Duration Estimation (minutes): {0}"/>
    <add key="Ack_Invite_Detail_Line5" value="Service Details Follow:"/>
    <add key="schedulemanager_acceptLink" value="http://loconomics.com/schedulemanager.cshtml?pt={0}&amp;wkid={1}&amp;sr={2}"/>
    <add key="schedulemanager_cancelLink" value="http://loconomics.com/schedulemanager.cshtml?pt={0}&amp;wkid={1}"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=localhost\SQLEXPRESS;Database=loconomics;Integrated Security=SSPI" name="sqlloco" providerName="System.Data.SqlClient"/>
    <!--<add connectionString="Uid=DB_31755_loconomics_user;Server=s09.winhost.com;Database=DB_31755_loconomics;Pwd=Loconomic$2011" name="sqlloco" providerName="System.Data.SqlClient"/>-->
    
    <!-- for CalendarDll -->
    <add name="loconomicsEntities" connectionString="metadata=res://*/Data.loconomics.csdl|res://*/Data.loconomics.ssdl|res://*/Data.loconomics.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=localhost\SQLEXPRESS;Database=loconomics;Integrated Security=SSPI;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Errors/Error.cshtml" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Errors/Error404.cshtml"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="EntityFramework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="QuickStartRoleManagerSqlProvider" cookieName=".ASPXROLES" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="QuickStartRoleManagerSqlProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="sqlloco" applicationName="SecurityQuickStart"/>
      </providers>
    </roleManager>
    <!-- We use this timeout (60 minutes) as the non-persistent session timeout (its not standard) -->
    <sessionState mode="InProc" timeout="60" cookieName="lcSessionID" cookieless="UseCookies"/>
    <authentication mode="Forms">
      <!-- We use this timeout for persistent user sessions ('remember me' checkbox).
        Is the minimum inactivity time needed to force user to login again, with persistent option.
        1 month = 43200 minutes.
        Asp.net share this for non-persistent sessions ('remember me' not checked), but we have a 
        code on global.asax/session_start to force non-persistent cookies die and force user to login again.
        This last means, sessionState/timeout is the non-persistent session timeout! (its not standard) -->
      <forms name="lcAuth" timeout="43200"/>
    </authentication>
    <trace enabled="true"/>
  </system.web>
  <system.webServer>
    <!-- RULES for the app as in web.root.config (not subdomain rules) for development, in hosting this rules must go on root, not beta or production configs -->
    <rewrite>
      <rules>
        <rule name="Filename-based cache busting">
          <match url="^(.+)\.\d+(\.(js|css|png|jpg|gif)$)"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="{R:1}{R:2}"/>
        </rule>
      </rules>
    </rewrite>
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true"/>
    <staticContent>
      <remove fileExtension=".css"/>
      <mimeMap fileExtension=".css" mimeType="text/css"/>
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="application/javascript"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".rss"/>
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8"/>
      <remove fileExtension=".html"/>
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8"/>
      <remove fileExtension=".xml"/>
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".m4v" mimeType="video/m4v"/>
      <mimeMap fileExtension=".ogg" mimeType="video/ogg"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="images/svg+xml"/>
      <remove fileExtension=".svgz"/>
      <mimeMap fileExtension=".svgz" mimeType="images/svg+xml"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
      <mimeMap fileExtension=".woff" mimeType="font/x-woff"/>
    </staticContent>
  </system.webServer>
  <system.net>
    <mailSettings>
      <!--<smtp from="automated@loconomics.com">
        <network host="mail.loconomics.com" port="25" userName="automated@loconomics.com" password="Loconomic$2011" defaultCredentials="false"/>
      </smtp>-->
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>