<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="enableSimpleMembership" value="true"/>
  </appSettings>
  
  <connectionStrings>
    <add connectionString="Uid=DB_26150_loconomics_user;Server=s01.winhost.com;Database=DB_26150_loconomics;Pwd=Loconomic$2011" name="sqlloco" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
	
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="QuickStartRoleManagerSqlProvider" cookieName=".ASPXROLES" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="QuickStartRoleManagerSqlProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="sqlloco" applicationName="SecurityQuickStart"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>