@{/**
  * Set of common, general helpers
  * used around all the site
  */
}
@helper CountryOptions(){
    <option value="ca">California</option>
}
@functions{
    /*========= JSON =============*/
    
    public static void ReturnJson(object jsondata){
        Response.ContentType = "application/json";
        Json.Write(jsondata, Response.Output);
        Response.End();
    }
    public static void ReturnJsonError(int code, string errorMessage)
    {
        if (code >= 0)
            ReturnJsonResult(code, errorMessage);
        else
            ReturnJsonResult(code, new Dictionary<string, string>(){ { "ErrorMessage", errorMessage } });
    }
    public static void ReturnJsonResult(int code, object result)
    {
        ReturnJson(new Dictionary<string, object>(){
            { "Code", code }, { "Result", result } 
        });
    }
    
    /*========= SECURITY ==========*/
    /* Ensure that only register users enter here, redirecting to login page when appropiated.
    */
    public static void SecurePage() {
        if (!WebSecurity.IsAuthenticated)
            Response.Redirect(UrlUtil.LangPath + "Account/Login/?Redirect=" + System.Web.HttpContext.Current.Request.Url.PathAndQuery);
    }
}