@{/**
  * Set of common, general helpers
  * used around all the site
  */
}
@helper CountryOptions(){
    <option value="ca">California</option>
}
@functions{
    public static void ReturnJsonError(int code, string errorMessage)
    {
        if (code >= 0)
            ReturnJsonResult(code, errorMessage);
        else
            ReturnJsonResult(code, new Dictionary<string, string>(){ { "ErrorMessage", errorMessage } });
    }
    public static void ReturnJsonResult(int code, object result)
    {
        Response.ContentType = "application/json";
        Json.Write(new Dictionary<string, object>(){
            { "Code", code }, { "Result", result } 
        }, Response.Output);
        Response.End();
    }
}