@{
    // Provider
    var p = LcData.UserInfo.GetRequestedUserRow();
    // Current position data record:
    var pos = PageData["position"];
}
<p class="map-description">
    Available times for a provider are highlighted in green below.  A provider will confirm your appointment time within 18 hours after you've completed your booking.
</p>

@RenderPage("$AvailabilityCalendarWidget.cshtml", new Dictionary<string, object>{ { "AvailabilityCalendar.UserID", p.UserID } } )