@{
    // Provider
    //var p = LcData.UserInfo.GetRequestedUserRow();
    // Current position data record:
    var pos = PageData["position"];

    // TODO: Get Customer Type Id   
    var clienttypeid = PageData["ClientTypeID"] = 1;

    var pricingTypes = LcData.GetPositionPricingTypes(pos.PositionID, clienttypeid);
}
<p></p>
<div class="view-panel">
    @foreach(var pricingType in pricingTypes) {
        @RenderPage(LcUrl.RenderLangPath + "PricingWizard/$PricingTypePackagesList.cshtml", new { Editable = false, PricingTypeID = pricingType.PricingTypeID, ProviderUserID = pos.UserID, PositionID = pos.PositionID })
    }
</div>
