
			<div class="communication">
				
				<!--<h3>Communication Preferences</h3>-->
				
				<table class="form">
					<tr>
						<td><label for="langPref">Preferred Language</label></td>
						<td>
							<select id="langPref" name="langPref" title="Preferred Language">
								<option value="eng-us">English (US)</option>
								<option value="spanish" selected="selected">Español</option>
							</select>
						</td>
						<td class="status"></td>
					</tr>
				</table>
				<fieldset>
					<p>How would you like us to primarily contact your about a booking?</p>
					<fieldset class="radiolist">
						<fieldset><input type="radio" name="contactMethod1" value="sms" id="hk1" /> <label for="hk1">SMS to my mobile</label></fieldset>
						<fieldset><input type="radio" name="contactMethod1" value="mobile" id="hk2" checked="checked" /> <label for="hk2">Phone call message to my mobile</label></fieldset>
						<fieldset><input type="radio" name="contactMethod1" value="home" id="hk3" /> <label for="hk3">Phone call message to my home</label></fieldset>
						<fieldset><input type="radio" name="contactMethod1" value="email" id="hk4" /> <label for="hk4">Email only</label></fieldset>
					</fieldset>
				</fieldset>
				<fieldset>
					<p>And if we can't reach you there, what would your second preference be?</p>
					<fieldset class="radiolist">
						<fieldset><input type="radio" name="contactMethod2" value="sms" id="gk1" checked="checked" /> <label for="gk1">SMS to my mobile</label></fieldset>
						<fieldset><input type="radio" name="contactMethod2" value="mobile" id="gk2" /> <label for="gk2">Phone call message to my mobile</label></fieldset>
						<fieldset><input type="radio" name="contactMethod2" value="home" id="gk3" /> <label for="gk3">Phone call message to my home</label></fieldset>
						<fieldset><input type="radio" name="contactMethod2" value="email" id="gk4" /> <label for="gk4">Email only</label></fieldset>
					</fieldset>
				</fieldset>
				<fieldset>
					<p>From time to time, we'll be offering promotions and communications to our service providers.  Please let us know if you're okay with that, and how you'd like to receive them.</p>
					<fieldset class="radiolist">
						<fieldset><input type="radio" name="promo" value="yes" id="promo1" checked="checked" /> <label for="promo1">Sign me up, I'm excited to hear about them!</label></fieldset>
						<fieldset><input type="radio" name="promo" value="no" id="promo2" /> <label for="promo2">No thanks, but I'm still excited.</label></fieldset>
					</fieldset>
				</fieldset>
				<fieldset>
					<p>Preferred method of contact for promotions:</p>
					<fieldset class="radiolist">
						<fieldset><input type="radio" name="promoMethod" value="sms" id="pm1" /> <label for="pm1">SMS to my mobile</label></fieldset>
						<fieldset><input type="radio" name="promoMethod" value="mobile" id="pm2" /> <label for="pm2">Phone call message to my mobile</label></fieldset>
						<fieldset><input type="radio" name="promoMethod" value="home" id="pm3" /> <label for="pm3">Phone call message to my home</label></fieldset>
						<fieldset><input type="radio" name="promoMethod" value="email" id="pm4" checked="checked" /> <label for="pm4">Email only</label></fieldset>
					</fieldset>
				</fieldset>
				
				<button type="submit">Save</button>
				
			</div><!-- .communication -->
