@{
    //TODO: GET PROVIDER DATA 
    //      VALIDATE PROVIDER DATA
    //      STORE DATA INTO THE PRICING PROFILE
 }
<!--Pricing Wizar HTML template-->
<!--TODO:create a script to show/hide the corresponding pricing type depending on the customer selection-->
<div id="pricing_type">
    <select id="pricing_type_list">
        <option value="custom(pricing_type_value)">custom(pricing_type_description)</option>
        <option value="package(pricing_type_value)">package(pricing_type_description)</option>
    </select>
</div>
<div id="custom(pricing_type_value)">
    <fieldset id="bathrooms(var_id)" name="bathrooms(var_name)" class="time(var_class)">
        <legend>bathrooms(var_description)</legend>
        <input id="bathrooms_number(value_id)" name="bathrooms_number(value_name)" type="text"/>
    </fieldset>
    <fieldset id="area(var_id)" name="area(var_name)" class="time(var_class)">
        <legend>area(var_description)</legend>
        <input id="<100(value_id)" name="<100(value_name)" type="text"/>
        <label for="<100(value_id)"><100(value_description)</label>
        <input id=">100(value_id)" name=">100(value_name)" type="text"/>
        <label for=">100(value_id)">>100(value_description)</label>
    </fieldset>
    <fieldset id="property_type(var_id)" name="property_type(var_name)" class="hourly_wage(var_class)">
        <legend>porperty type(var_description)</legend>
        <input id="house" name="house(value_name)" type="text"/>
        <label for="house">house</label>
        <input id="office" name="office(value_name)" type="text"/>
        <label for="office">office</label>
    </fieldset>
     <fieldset id="supplies(var_id)" name="supplies(var_name)" class="addon(var_class)">
        <legend>supplies(var_description)</legend>
        <input id="supplies(value_id)" name="supplies(value_name)" type="text"/>
    </fieldset>
    <fieldset id="tax_name(var_id)" name="tax_name(var_name)" class="%factor(var_class)">
        <legend>tax_name(var_description)</legend>
       <input id="tax(value_id)" name="tax(value_name)" type="text"/>
    </fieldset>
</div>
<div id="package(pricing_type_value)">
    <fieldset id="package_name(var_id)" name="package_name(var_name)">
        <legend>package name(var_description)</legend>
        <input id="option1(value_id)" name="option1(value_name)" type="text"/>
        <label for="option1(value_id)">option1</label>
        <input id="option2(value_id)" name="option2(value_name)" type="text"/>
        <label for="option2(value_id)">option2</label>
    </fieldset>
</div>