            <form>
                <ul>
                    <li>
                        <label>Name <input type="text" name="name" placeholder="Your name"/></label>
                    </li>
                    <li>
                        <label for="sel">Options</label>
                        <select name="sel" id="sel">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </li>
                    <li>
                        <label for="multi">Multi options</label>
                        <select id="multi" name="multi" multiple="multiple">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </li>
                    <li>
                        <label>Description <textarea name="description"></textarea></label>
                    </li>
                    <li>
                        <input type="radio" name="choice" id="radio1"/><label for="radio1">Radio 1</label>
                    </li>
                    <li>
                        <input type="radio" name="choice" id="radio2"/><label for="radio2">Radio 2</label>
                    </li>
                    <li>
                        <input type="radio" name="choice" id="radio3"/><label for="radio3">Radio 3</label>
                    </li>
                    <li>
                        <input type="checkbox" name="agree" id="agree"/><label for="agree">I agree</label>
                    </li>
                    <li>
                        <input class="button" type="submit" value="Save"/>
                        <input class="button" type="reset" value="Reset"/>
                    </li>
                </ul>
            </form>