@{
    CommonHelpers.SecurePage();
    
    Layout = "_Layout.cshtml";
    Page.Title = "Make your life better!";
    
    PageData["userow"] = DashboardFunctions.GetUserRow();
    PageData["menu-item"] = "preferences";
}

		<ul class="tabs autofill-submenu-items">
			<li class="current"><a class="current" href="#preferences-communication">Communication</a></li>
			<li><a href="#preferences-privacy">Privacy</a></li>
        </ul>

		<div id="preferences-communication" class="tab-body fancy tabbed buttons current">
            <ul class="tabs">
                <li><a class="button profile fanciful current" href="#preferences-communication-mobile">Mobile</a></li>
                <li><a class="button profile fanciful" href="#preferences-communication-email">Email</a></li>
            </ul>
            
            <div id="preferences-communication-mobile" class="tab-body current">
                Mobile <!-- TODO here must be the back-end content -->
                @RenderPage("_PreferencesCommunication.cshtml")
            </div><!-- #preferences-communication-mobile -->
            <div id="preferences-communication-email" class="tab-body">
                Email <!-- TODO here must be the back-end content -->
            </div><!-- #preferences-communication-email -->
		</div><!-- #preferences-communication -->
        
		<div id="preferences-privacy" class="tab-body fancy tabbed buttons">
            <ul class="tabs">
                <li><a class="button profile fanciful current" href="#preferences-privacy-socialfeatures">Social Features</a></li>
                <li><a class="button profile fanciful" href="#preferences-privacy-personaldata">Personal Data</a></li>
                <li><a class="button profile fanciful" href="#preferences-privacy-searchengines">Search Engines</a></li>
                <li><a class="button profile fanciful" href="#preferences-privacy-policy">Policy</a></li>
            </ul>
            
            <div id="preferences-privacy-socialfeatures" class="tab-body current">
                Social Features <!-- TODO here must be the back-end content -->
            </div><!-- #preferences-privacy-socialfeatures -->
            <div id="preferences-privacy-personaldata" class="tab-body">
                Personal Data <!-- TODO here must be the back-end content -->
            </div><!-- #preferences-privacy-personaldata -->
            <div id="preferences-privacy-searchengines" class="tab-body">
                Search Engines <!-- TODO here must be the back-end content -->
            </div><!-- #preferences-privacy-searchengines -->
            <div id="preferences-privacy-policy" class="tab-body">
                Policy <!-- TODO here must be the back-end content -->
            </div><!-- #preferences-privacy-policy -->
		</div><!-- #preferences-privacy -->