@{
    // Tools/Calendar
    LcHelpers.ProviderPage();
}
<h1 class="DashboardSection-page-header">Your availability</h1>
<p class="DashboardSection-page-introduction">
    What hours do you keep? We'd like to know when we can generally expect to schedule
    your appointments. You can add client bookings and other appointments that you have
    outside of Loconomics by clicking the Appointments tab.
    Watch <a href="https://loconomics.zendesk.com/entries/24007951-Adding-Updating-your-general-availability">this short video</a> if you need help.
</p>