@{
    // Tools/Promote
}
<h1 class="DashboardSection-page-header">Promote your services</h1>
<div class="DashboardSection-page-section">
    <h2 class="DashboardSection-page-section-header">Add booking functionality to your website</h2>
    @RenderPage("Promote/_$BookNowButton.cshtml", new { IncludeForm = false })

</div>