/**
 * Styles for ComponentExample
 * REMOVEME: Remember to follow the SUIT naming convention as commented in
 * our [Contributor Guidelines](https://github.com/loconomics/loconomics/blob/master/docs/Contributor%20Guidelines.md),
 * and the file starts with a class name that matches the component as simple
 * selector that wraps all other selectors needed. If at the index.js you
 * set this name in the static 'className', it will be set automatically to
 * every instance of the component so you do NOT need to add a wrapper element
 * with this class in the template.
 * FIXME: If there is some special detail or general guideline about the styles,
 * add it to this initial comment.
 */
// REMOVEME: Reference any used shared style, mixims or variables as following:
@import '../../../../css/utils/styleguideVars.styl';

.ComponentExample {
    .ComponentExample-name {
        font-weight: bold;
    }
}
