@import "nib"
@import "styl/mediaQueries"

$container-padding-left = 5px;
$container-padding-right = 5px;

.app {   
    body {
      padding-top: 51px;
      padding-bottom: 10px;
    }

    /*
        Standard components customized for app
    */
    /* Container */
    .container {
        padding-left: $container-padding-left;
        padding-right: $container-padding-right;
    }
    /* app-nav (new class under .navbar) */
    .app-nav {
      position: relative;
    }
    .app-nav .navbar-brand {
      float: none;
      display: inline-block;
      
      text-indent: -99999px;
      background: url("../../assets/images/logo-loconomics-header-mini.png") no-repeat center;
      hr-image("../../assets/images/logo-loconomics-header-mini@2x.png", 100px, 39px);
      min-width: 100px;
      min-height: 39px;
    }
    .app-nav .navbar-toggle {
      float: none;
      margin-right: 0;
    }
    .app-nav .navbar-action {
      margin: 8px 0;
    }
}

/* Calendar app page */
.app-calendar {
    .appointments {
        margin-top: 1em;
    }
    .appointments .btn-link {
        text-align: left;
    }
}

/* listview component */
.listview {
    $heightLimit = 33px;
    $markerWidth = 28px;
    $actionWidth = 40px;
    $iconSize = 14px;
    /* same gap as buttons, equals
        to the implicit gap in $actionWidth */
    $contentGap = 12px;

    width: 100%;
    box-sizing: border-box;
    
    .listview-item {
        position: relative;
        max-width: 100%;
        
        .listview-item-marker,
        .listview-item-content,
        .listview-item-action {
            white-space: normal;
            word-wrap: break-word;
            display: inline-block;
            vertical-align: middle;
            max-height: $heightLimit;
            overflow: hidden;
        }
        
        .listview-item-marker {
            width: $markerWidth;
            line-height: $heightLimit;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            text-align: center;
        }
        
        .listview-item-content {
            text-align: left;
            max-width: 100%;
            box-sizing: border-box;
            padding-left: $markerWidth + $contentGap;
            padding-right: $actionWidth;
            
            * {
                overflow: hidden;
                text-align: left;
                white-space: normal;
                word-wrap: break-word;
                max-height: $heightLimit;
            }
            
            .listview-item-icon {
                display: inline-block;
                width: $iconSize;
                height: $iconSize;
            }
        }
        
        .listview-item-action {
            width: $actionWidth;
            overflow: hidden;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
        }
    } 

}

.listview--twolines {
    $heightLimit = 52px;
    
    .listview-item {

        .listview-item-marker,
        .listview-item-content,
        .listview-item-action {
            max-height: $heightLimit;
        }
    
        .listview-item-marker {
            line-height: $heightLimit;
        }
        
        .listview-item-content {
            * {
                max-height: $heightLimit;
            }
        }
        
        .listview-item-action {
            $action-button-padding = 12px; /* from Bootstrap btn-link styles 2x6padding */
            line-height: ($heightLimit - $action-button-padding);
        }
    }
}

.listview--largemarker {
    $markerWidthLarge = 56px;
    $contentGap = 12px;

    .listview-item {
        .listview-item-marker {
            width: $markerWidthLarge;
        }

        .listview-item-content {
            padding-left: $markerWidthLarge + $contentGap;
        }
    }
}

/** section-title text class **/
/*BSVAR*/
$gray-lighter = lighten(#000, 93.5%);
$gray = lighten(#000, 33.5%);

.SectionTitle {
    font-size: 1em;
    padding: .5em 1em;
    margin: 0;
    text-align: center;
    font-weight: bold;
    background: $gray-lighter;
    border: 1px solid $gray;
    border-right-width: 0;
    border-left-width: 0;
    
    .HelpPoint {
        right: 1em;
    }
}
/* Inside a container, remove the margin gap */
.container .SectionTitle {
    margin: 0 (0 - $container-padding-right) 0 (0 - $container-padding-right);
}
