body {
  min-height: 2000px;
  padding-top: 70px;
}

.app-nav {
  position: relative;
}
.app-nav .navbar-brand {
  float: none;
  display: inline-block;
  
  text-indent: -99999px;
  background: url('../../assets/images/logo-loconomics-header-mini.png') no-repeat center;
  min-width: 100px;
  min-height: 39px;
}
.app-nav .navbar-toggle {
  float: none;
}
.app-nav .navbar-action {
  margin: 8px 0;
}