/*! LoconomicsAppProto 2014-11-19
   Author: Loconomics Inc. */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\index.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\border.styl */

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\clearfix.styl */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\color-image.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\flex.styl */

/* line 91 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\gradients.styl */

/* line 91 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\config.styl */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\iconic.styl */

/* line 8 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\image.styl */

/* line 26 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\reset.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\index.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\aliases.styl */

/* line 13 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 10 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line undefined : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\vendor.styl */

/* line 578 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\size.styl */

/* line 29 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\utils\mediaQueries.styl */

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
/* We use ever all the available screen */

/* line 40 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
html.app,
html.app > body {
  height: 100%;
}

/* line 43 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
html.app > body > .container,
html.app > body > .container-fluid,
html.app > body > .activity {
  min-height: 100%;
}

/* line 8 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
/* More app specific styles */

/* line 47 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */

/* line 48 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app body {
  padding-top: 51px;
  padding-bottom: 10px;
}

/* line 54 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .container {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 57 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .container .has-bottom-navbar {
  padding-bottom: 60px;
}

/* line 62 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .app-nav {
  position: relative;
}

/* line 65 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .app-nav .navbar-brand {
  float: none;
  display: inline-block;
  text-indent: -99999px;
  background: url("../../assets/images/logo-loconomics-header-mini.png") no-repeat center;
  min-width: 100px;
  min-height: 39px;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min--moz-device-pixel-ratio: 1.2), (min-resolution: 120dpi) {

/* line 32 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\utils\mediaQueries.styl */
  .app .app-nav .navbar-brand {
    background-image: url("../../assets/images/logo-loconomics-header-mini@2x.png");
    -webkit-background-size: 100px 39px;
    -moz-background-size: 100px 39px;
    background-size: 100px 39px;
  }
}

/* line 74 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .app-nav .navbar-toggle {
  float: none;
  margin-right: 0;
}

/* line 78 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .app-nav .navbar-action {
  margin: 8px 0;
}

/* line 82 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .activity {
/* settings specially important for the use of navbar
           but applied to all for consistent results
           with/without navbar
        */
  min-height: 100%;
  position: relative;
  overflow: auto;
/* other styles */
/* ...*/
/* activity-navbar (new class for .navbar components)
           Its a navbar specific of an activity, placed on
           bottom
        */
/*VAR from a Bootstrap value:*/
/* activity must be notified of the navbar to fix
           available space
        */
}

/* line 90 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .activity .activity-navbar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background: none;
  border-color: transparent;
}

/* line 103 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .activity.has-navbar {
  padding-bottom: 50px;
}

/* line 108 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .btn-google {
  background-color: #c00;
  color: #fff;
}

/* line 112 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .btn-facebook {
  background-color: #085394;
  color: #fff;
}

/* line 118 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .isolated {
  margin: 14px 0;
  clear: both;
  display: block;
}

/* line 123 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .iconized-title {
  display: table;
}

/* line 125 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .iconized-title .glyphicon {
  vertical-align: middle;
  display: table-cell;
  padding-left: 0.5em;
}

/* line 130 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\proto.styl */
.app .iconized-title p {
  padding-left: 0.7em;
  vertical-align: middle;
  display: table-cell;
}

/* line 32 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 10 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView {
/* same gap as buttons, equals
        to the implicit gap in $actionWidth */
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item {
  position: relative;
  max-width: 100%;
}

/* line 27 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-marker,
.ListView .ListView-item .ListView-item-content,
.ListView .ListView-item .ListView-item-action {
  white-space: normal;
  word-wrap: break-word;
  display: inline-block;
  vertical-align: middle;
  max-height: 33px;
  overflow: hidden;
}

/* line 36 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-marker {
  width: 28px;
  line-height: 33px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
/* If a Bootstrap glypicon is used, adjust to the best size */
}

/* line 46 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-marker .glyphicon {
  font-size: 24px;
  line-height: 33px;
}

/* line 52 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-content {
  text-align: left;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 59 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-content * {
  overflow: hidden;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  max-height: 33px;
}

/* line 67 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-content .ListView-item-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
}

/* line 74 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-item .ListView-item-action {
  width: 40px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

/* line 84 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView .ListView-divider {
  text-align: center;
  padding: 0.3em 1em;
  border: 1px solid #000;
  border-right-width: 0;
  border-left-width: 0;
/* more styles later for parent: .container */
}

/* line 97 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.container .ListView .ListView-divider {
  margin: 0 -5px 0 -5px;
}

/* line 103 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 107 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 109 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--twolines .ListView-item .ListView-item-marker,
.ListView--twolines .ListView-item .ListView-item-content,
.ListView--twolines .ListView-item .ListView-item-action {
  max-height: 52px;
}

/* line 113 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--twolines .ListView-item .ListView-item-marker {
  line-height: 52px;
/* If a Bootstrap glypicon is used, adjust to the best size */
}

/* line 117 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--twolines .ListView-item .ListView-item-marker .glyphicon {
  font-size: 24px;
  line-height: 52px;
}

/* line 123 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 124 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--twolines .ListView-item .ListView-item-content * {
  max-height: 52px;
}

/* line 129 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--twolines .ListView-item .ListView-item-action {
/* from Bootstrap btn-link styles 2x6padding */
  line-height: 40px;
}

/* line 138 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 142 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */

/* line 143 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--largemarker .ListView-item .ListView-item-marker {
  width: 56px;
}

/* line 147 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\ListView.styl */
.ListView--largemarker .ListView-item .ListView-item-content {
  padding-left: 68px;
}

/* line 151 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\SectionTitle.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\SectionTitle.styl */
.SectionTitle {
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0;
  text-align: center;
  font-weight: bold;
  background: #eee;
  border: 1px solid #555;
  border-right-width: 0;
  border-left-width: 0;
}

/* line 23 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\SectionTitle.styl */
.SectionTitle .HelpPoint {
  right: 7px;
}

/* line 28 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\SectionTitle.styl */
.container .SectionTitle {
  margin: 0 -5px 0 -5px;
}

/* line 31 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\SectionTitle.styl */
.container .SectionTitle .HelpPoint {
  right: 12px;
}

/* line 35 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\LeadContent.styl */

/* line 4 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\LeadContent.styl */
.LeadContent {
  padding: 15px;
}

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\components\LeadContent.styl */
.LeadContent h1,
.LeadContent h2,
.LeadContent h3,
.LeadContent .lead {
  text-align: center;
}
