/*! LoconomicsAppProto 2014-11-04
   Author: Loconomics Inc. */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\index.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\border.styl */

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\clearfix.styl */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\color-image.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\flex.styl */

/* line 91 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\gradients.styl */

/* line 91 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\config.styl */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\iconic.styl */

/* line 8 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\image.styl */

/* line 26 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\reset.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\index.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\aliases.styl */

/* line 13 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 10 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line undefined : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\vendor.styl */

/* line 578 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\node_modules\nib\lib\nib\size.styl */

/* line 29 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\mediaQueries.styl */

/* line 4 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
body {
  padding-top: 70px;
  padding-bottom: 10px;
}

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
.app-nav {
  position: relative;
}

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
.app-nav .navbar-brand {
  float: none;
  display: inline-block;
  text-indent: -99999px;
  background: url("../../assets/images/logo-loconomics-header-mini.png") no-repeat center;
  min-width: 100px;
  min-height: 39px;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min--moz-device-pixel-ratio: 1.2), (min-resolution: 120dpi) {

/* line 32 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\styl\mediaQueries.styl */
  .app-nav .navbar-brand {
    background-image: url("../../assets/images/logo-loconomics-header-mini@2x.png");
    -webkit-background-size: 100px 39px;
    -moz-background-size: 100px 39px;
    background-size: 100px 39px;
  }
}

/* line 22 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
.app-nav .navbar-toggle {
  float: none;
}

/* line 25 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
.app-nav .navbar-action {
  margin: 8px 0;
}

/* line 29 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
/* calendar */

/* line 30 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
.appointments {
  margin-top: 1em;
}

/* line 33 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
.appointments .btn-link {
  text-align: left;
}

/* line 37 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
/* listview */

/* line 38 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
.listview {
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 43 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
.listview-item {
  display: table-row;
}

/* line 46 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
.listview-item-content {
  display: table-cell;
  vertical-align: middle;
}

/* line 50 : C:\Users\Iago\Proxectos\Loconomics.com\styleguide\prototypes\app\proto.styl */
.listview-item-icon {
  display: inline-block;
  width: 14px;
  heigh: 14px;
}
