/* ============== Booking pages ==================
   ====== IagoSRL for Loconomics S.L. ============
 */
 @import url('Pricing.css');
 
.booking form {
    margin: 20px 0 0;
    font-size: .9em;
}
.booking fieldset legend{
    font-weight: bold;
    font-size: 1.1em;
}
.booking fieldset {
    display: inline-block;
    vertical-align: top;
}
.booking ul,
.booking ol{
    padding: 0;
    margin: 0;
}
.booking li{
    padding: 0;
    margin: 0;
}
.select-schedule li {
    margin: 5px 0;
}
.booking label input{
    margin: 0 5px;
}
.booking .button{
    font-size: 1em;
}
.booking .button.next{
    background: #99C027;
    color: White;
    font-size: 1.2em;
    line-height: 150%;
}
.booking .button.next:hover{
    box-shadow: 0 0 5px 2px #99C027;
    -moz-box-shadow: 0 0 5px 2px #99C027;
    -o-box-shadow: 0 0 5px 2px #99C027;
    -webkit-box-shadow: 0 0 5px 2px #99C027;
}

/** Form: Shared **/
#booking-services {
    margin: 0;
    position: relative;
}
#booking-services .step-blocks {
    display: block;
}
#booking-services .step-blocks fieldset,
.step-block {
    display: block;
    background-color: #fdfbfb;
    position: relative;
    margin-top: 60px;
    border: 1px solid #adadad;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 30px 22px;
}
#booking-services .step-blocks fieldset legend,
.step-block legend {
    position: absolute;
    top: -30px;
    left: 0;
    font-size: 1.2em;
}
#booking-services .special-instructions {
    padding: 0 !important;
}
#booking-services .special-instructions textarea {
    height: 8em;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/** Form: Services **/
#booking-services .pricing-wizard li{
    margin: 2px 0;
    position: relative;
}

#booking-services div.calculate-price-button{
    margin: 7px 0;
}

/** Form: Services package pricing **/

#booking-services.package-pricing table {
    width: 100%;
}
#booking-services.package-pricing th.number {
    white-space: nowrap;
    width: 7em;
}
#booking-services.package-pricing input.package-quantity {
    width: 2em;
}
#booking-services.package-pricing .package-price {
    text-align: right;
}
#booking-services.package-pricing .package-extra-data {
    display: none;
    margin-left: 12px;
}
#booking-services.package-pricing .package-extra-data .customer-slider {
    margin-bottom: 1.5em;
    width: 450px;
    min-width: 350px;
    max-width: 535px;
}
#booking-services.package-pricing .package-extra-data .customer-list {
    margin-bottom: 0.5em;
}
#booking-services.package-pricing .package-extra-data .customer-list select {
    margin-left: .5em;
}
#booking-services.package-pricing .package-extra-data .customer-list .list-footnote {
    line-height: normal;
    display: inline-block;
    margin-left: 1em;
}

/** Form: Schedule **/
#booking-schedule{
    position: relative;
}
#booking-schedule .select-week {
    display: block;
}
#weekDaySelector .day-selection-action {
    background-color: #b2e0e1;
}
#weekDaySelector .day-selection-action:hover,
#weekDaySelector .day-selection-action.current {
    background-color: #00989A;
}
.select-week #serviceDuration {
    display: inline-block;
    margin-left: 12px;
}
#serviceDuration strong {
    color: #e95d0f;
}

#booking-schedule .time-selection-note {
    margin-top: 20px;
}
#booking-schedule .time-selection-note p {
    font-weight: normal !important;
    margin-bottom: 0;
}

#weekDaySelector {
    position: relative;
    margin: 12px 0;
}
#weekDaySelector .week-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    text-decoration: none;
    background: url('../img/theme/slider-arrows.png') left center no-repeat;
    min-height: 12px;
    width: 12px;
    text-indent: -9999px;
}
#previousWeek {
    left: -16px;
}
#nextWeek {
    right: -16px;
    background-position: right center !important;
}
#weekDaySelector ul {
    letter-spacing: 9px;
    line-height: 100%;
    white-space: nowrap;
}
#weekDaySelector ul li {
    display: inline-block;
    letter-spacing: normal;
    text-align: justify;
    width: 13%;
}
#weekDaySelector ul li .day-selection-action {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: normal;
    padding: 0.4em 1em;
    text-align: center;
}

#booking-schedule .select-day-hours,
#booking-schedule .selected-schedule {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#booking-schedule .select-day-hours {
    width: 400px;
    margin-top: 35px;
}
#booking-schedule .select-day-hours h2 {
    margin: 20px;
    position: absolute;
    top: -50px;
}
#booking-schedule .select-day-hours .step-block {
    margin-top: 20px;
}
#booking-schedule .select-day-hours table {
    width: 100%;
}
#booking-schedule .select-day-hours table td {
    width: 33%;
}
#booking-schedule .selected-schedule {
    line-height: normal;
    text-align: justify;
    width: 350px;
    float: right;
}
#booking-schedule .selected-schedule h2 {
    font-size: 2em;
    font-weight: normal;
    margin: 55px 0 25px;
}
#booking-schedule .selected-schedule h3 {
    color: #5a5b5b;
    font-size: 1.2em;
    font-weight: normal;
}
#booking-schedule .selected-schedule p {
    min-height: 20px;
    font-weight: bold;
}
#booking-schedule .selected-schedule .date-showed {
    min-width: 160px;
    display: inline-block;
}
#booking-schedule .selected-schedule .has-values .end-time:before {
    content: ' - ';
    position: relative;
}
#booking-schedule .unselect-action {
    display: none;
}
#booking-schedule .has-values .unselect-action {
    display: inline-block;
    color: #E95D0F;
    border: 1px solid #E95D0F;
    border-radius: 100px;
    float: right;
    text-decoration: none;
    width: 16px;
    line-height: 16px;
    text-align: center;
}

/* instant booking */
#booking-schedule .instant-selector {
    font-size: 1em;
}
#booking-schedule .instant-selector.is-btn-unpressed {
    /* orange */
    background-color: #E95D0F;
}
#booking-schedule .instant-selector.is-btn-pressed {
    /* green */
    background-color: #99C027;
}

/* Schedule.location */
#booking-schedule .validation-summary-errors {
    margin-bottom: 20px;
}
#booking-schedule .available-locations {
    display: inline-block;
    margin: 0 20px;
    width: 380px;
}
#booking-schedule .select-location {
    width: 95%;
}
#booking-schedule .enter-new-location {
    margin-top: 10px;
}
#booking-schedule .location{
    margin-bottom: 20px;
    margin-top: 40px;
    width: auto;
    display: block;
    clear: both;
}
#booking-schedule .location label {
    padding: 0;
    margin: 0;
}
#booking-schedule .location input {
    margin: 0 0 0 5px;
}
#booking-schedule .location li {
    margin: 8px 0;
    position: relative;
}
#booking-schedule .location .street-address-line-1 input,
#booking-schedule .location .street-address-line-2 input,
#booking-schedule .location .city input,
#booking-schedule .location .save-to-my-locations .location-name input {
    width: 210px;
    position: absolute;
    right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#booking-schedule .location .state,
#booking-schedule .location .zip {
    display: inline-block;
}
#booking-schedule .location .state select {
    width: 170px;
    margin-left: .5em;
}
#booking-schedule .location .zip {
    float: right;
    clear: right;
}
#booking-schedule .location .zip input {
    width: 5em;
}
#booking-schedule .location .special-instructions textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
#booking-schedule .location .save-to-my-locations{
    margin-top: 6px;
}
#booking-schedule .location .save-to-my-locations label{
    padding: 0;
    margin: 0;
}
#booking-schedule .location .save-to-my-locations label.save input {
    margin-right: 5px;
}
#booking-schedule .service-radius {
    width: 370px;
    float: right;
}
#booking-schedule .service-radius strong {
    text-align: center;
    display: block;
}
#booking-schedule .location h3 {
    margin: 1em 0;
    color: #97BF2E;
}
#booking-schedule .location h3:first-letter {
    text-transform: uppercase;
}
#booking-schedule .location .subtitle {
    margin: -1em 0 1em;
}

#booking-schedule .available-provider-locations ul {
    letter-spacing: 68px;
}
#booking-schedule .available-provider-locations li {
    display: inline-block;
    margin: 0 0 1em 0;
    text-align: center;
    letter-spacing: normal;
}
#booking-schedule .available-provider-locations .serviceRadiusMap {
    margin-bottom: .5em;
}
#booking-schedule .serviceRadiusMap {
    border: 1px solid black;
}
#booking-schedule .available-provider-locations label {
    padding: 0;
    margin: auto;
}

#booking-schedule #showDate {
    background: url('../img/theme/icon-calendar.png') 202px center no-repeat;
    width: 233px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/** Form: Payment **/
#payment .info {
    margin: 30px 0 5px;
    font-size: 1.1em;
}
#booking-payment {
    margin-top: 0;
}
#booking-payment .box{
    font-size: .9em;
}
#booking-payment fieldset.actions{
    margin-bottom: 0;
}
#booking-payment h6 {
    color: #747474;
    font-size: 1em;
    margin: 5px 0;
    font-weight: normal;
}
#booking-payment .billing-info {
    float: left;
    margin-top: 0;
}
#booking-payment .order-summary{
    float: right;
    margin-left: 5px;
    width: 330px;
    padding: 20px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#booking-payment .agreement {
    clear: both;
    float: right;
    margin: 1em;
}
#booking-payment .order-summary h4 {
    font-size: 1.2em;
    color: #747474;
    font-weight: normal;
    margin-bottom: 0;
}
#booking-payment .order-summary h3 {
    color: #747474;
    margin: .5em 0;
    font-weight: normal;
}
#booking-payment .order-summary .provider {
    margin: 1em 0;
}
#booking-payment .order-summary .provider strong {
    display: block;
}
#booking-payment .order-summary .schedule {
    margin: 1em 0;
}
#booking-payment .order-summary .schedule .hours {
    float: right;
}
#booking-payment .order-summary .schedule ol{
    font-weight: bold;
}
#booking-payment .order-summary .schedule ol li {
    list-style-position: inside;
    list-style-type: decimal;
}
#booking-payment .user-rating-summary-widget > ul > li{
    line-height: normal;
}
#booking-payment .user-rating-summary-widget.static .rate{
    margin-right: 4px;
}
#booking-payment .user-rating-summary-widget .note{
    font-size: 1em;
}
#booking-payment .provider-features-lists{
    padding: 0 5px;
}
#booking-payment .provider-features-lists div{
    display: inline-block;
    width: 130px;
    vertical-align: top;
}
#booking-payment .provider-features-lists div.licenses{
    float: right;
}
#booking-payment .provider-features-lists h5{
    margin: 0;
}
#booking-payment .services-summary ul li{
    margin: 10px 0;
}
#booking-payment .billing-info {
    width: 394px;
}
#booking-payment .billing-info li{
    margin: 0;
    padding: 6px 0;
}
#booking-payment .billing-info .name-on-card input,
#booking-payment .billing-info .street-address-line-1 input,
#booking-payment .billing-info .street-address-line-2 input {
    width: 220px;
    float: right;
}
#booking-payment .billing-info .city input{
    float: right;
    width: 310px;
}
.ie #booking-payment .billing-info .city input{
    width: 288px;
}
#booking-payment .billing-info .state select{
    width: 188px;
    margin-left: 8px;
}
.ie #booking-payment .billing-info .state select{
    width: 147px;
}
#booking-payment .billing-info .state,
#booking-payment .billing-info .zip {
    display: inline-block;
}
#booking-payment .billing-info .zip {
    float: right;
}
#booking-payment .billing-info .zip label {
    padding-right: 0;
}
#booking-payment .billing-info .zip input{
    width: 44px;
}
#booking-payment .billing-info .save-to-my-payments label{
    display: inline-block;
    padding: 0;
}
#booking-payment .billing-info .card-number input{
    float: right;
    width: 250px;
}
#booking-payment .billing-info .card-cvv,
#booking-payment .billing-info .card-exp{
    display: inline-block;
}
#booking-payment .billing-info .card-exp select {
    margin-left: 8px;
}
#booking-payment .billing-info .card-cvv {
    float: right;
}
#booking-payment .billing-info .card-cvv label {
    padding-right: 0;
}
#booking-payment .billing-info .card-cvv input{
    width: 35px;
}

#booking 
#booking-payment .agreement {
    width: 330px;
    float: right;
    clear: both;
    padding: 20px;
}
#booking-payment .agreement label {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    width: 300px;
}
#booking-payment .agreement input {
    margin: 0 12px 0 0;
    vertical-align: middle;
}
#booking-payment .agreement a {
    color: #eb6e42;
}

#booking-payment .saved-cards table {
    width: 100%;
}
#booking-payment .saved-cards table td,
#booking-payment .saved-cards table th {
    text-align: left;
}
#booking-payment .saved-cards table label {
    padding: 0;
}

#booking-payment .saved-cards .update-credit-card {
}
#booking-payment .saved-cards .update-credit-card .cancel-label {
    display: none;
}
#booking-payment .saved-cards .update-credit-card.cancel-update .cancel-label {
    display: inline;
}
#booking-payment .saved-cards .update-credit-card.cancel-update .update-label {
    display: none
}


/* redesign */
/* page */
.booking #main {
    border: 2px solid #00989A;
    background-color: White;
    width: auto;
    float: none;
    padding: 50px;
}
.booking h2 {
    color: #5a5b5b;
    margin-bottom: 0;
}
.booking h3,
.booking h4,
.booking h5 {
    font-size: 1.3em;
    color: #5a5b5b;
}
.booking .tabbed.wizard .tabs {
    width: 500px;
    margin-bottom: 50px;
}

/* tables */
.booking table th,
.booking table td {
    text-align: center;
    padding: 5px 8px;
    text-align: center;
    white-space: nowrap;
}
.booking table.calculation-summary th,
.booking table.calculation-summary td {
    white-space: normal;
}
.booking table .name {
    text-align: left;
    width: 100%;
}
.booking table td.name label {
    padding: 0;
}
.booking table .package-duration,
.booking table .package-total-price,
.booking table .number {
    text-align: right;
}
.booking table .package-duration {
    min-width: 120px;
}
.booking table .package-total-price {
    min-width: 55px;
}

/* title */
.booking #main h1 {
    font-size: 3.4em;
    margin-top: 0;
}
.booking #main .subh1 {
    font-size: 1.8em;
    margin-top: 10px;
}
.booking #main h1, 
.booking #main .subh1 {
    width: 500px;
    text-align: justify;
}

/* provider info */
.booking .provider.w-UserInfo {
    position: absolute;
    top: 50px;
    right: 50px;
}

/* confirmation */
.booking-confirmation {
    margin-top: 50px;
}
.booking-confirmation em {
    font-style: normal;
    color: #e95d0f;
}
.booking-confirmation h2 {
    margin: 0 0 20px;
}
.booking-confirmation .help {
    border-top: 1px solid #dcdcdc;
    margin-top: 20px;
}
.booking-confirmation .step-block,
.booking-confirmation .step-block > h5:first-child {
    margin-top: 0;
}
.booking-confirmation h3 {
    margin-bottom: 0;
}
.booking-confirmation h3 + p {
    margin-top: 0;
}
.booking-confirmation h5 {
    margin: 10px 0 0;
}
.booking-confirmation table.calculation-summary {
    float: none !important;
}
.booking-confirmation table.calculation td,
.booking-confirmation table.calculation th {
    padding-top: 0 !important;
    padding-bottom: 0;
}
.booking-confirmation table.calculation tr.separator > td.separator {
    padding: 1px 8px !important;
}

.booking-confirmation .pricing,
.booking-confirmation .scheduling {
    display: inline-block;
    vertical-align: top;
}
.booking-confirmation .pricing {
    width: 55%;
    margin-right: 3%;
}
.booking-confirmation .scheduling {
    width: 40%;
}

.booking-warning {
    color: Black;
    background: #fcfcca;
    padding: 15px;
    font-size: .9em;
    margin-top: 20px;
    font-weight: bold;
}
