/**********************
 ** Help Center styles
 */
/*= .introduction-header */
.introduction-header h1 {
    font-size: 2em;
    text-transform: lowercase;
    margin: 0;
}
.introduction-header h1 > em {
    font-style: normal;
    color: #00989b;
}
.introduction-header .subh1 {
    font-size: 1em;
    line-height: normal;
    color: #747474;
    font-weight: normal;
    text-align: justify;
}
/* how it works page */
.howitworks #main {
    float: none;
    width: auto;
    position: relative;
}
.howitworks .introduction-header {
    left: 320px;
    position: absolute;
    right: 0;
    top: 1em;
    z-index: 10;
}
/*= Special tabbbed interface 
 * created for howitworks: .slider-tabs
 */
/* tab header */
.tabbed.slider-tabs > .tabs-header {
    margin: 5px 0 0;
    font-size: .9em;
}
/* tab index */
.tabbed.slider-tabs > .tabs {
    overflow: visible;
    margin: 0 0 24px 0;
    border: 1px solid #747474;
    border-radius: 4px;
    height: 85px;
    padding: 4px 0;
    display: inline-block;
    background-color: white;
}
.tabbed.slider-tabs > .tabs > li {
    float: left;
    position: relative;
    width: 100px;
    height: 105px;
}
.tabbed.slider-tabs > .tabs > li > a {
    color: #747474;
    display: block;
    font-size: 0.8em;
    padding-top: 64px;
    text-align: center;
    text-decoration: none;
}
.tabbed.slider-tabs > .tabs > li.current {
    color: #00989a;
    background: url("../img/theme/howitworks/slider-tabs-selector.png") no-repeat scroll center bottom transparent;
}
.tabbed.slider-tabs > .tabs > li:before {
    border-right: 1px solid #E0E0E0;
    content: "";
    height: 50%;
    position: absolute;
    top: 10px;
}
.tabbed.slider-tabs > .tabs > li:first-child:before {
    border: none !important;
}

/* tabs */
.tabbed.slider-tabs > .tab-body {
    display: none;
}
.tabbed.slider-tabs > .tab-body,
.tabbed.slider-tabs > .tab-body-list > .tab-body {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 2px solid #c9c9c9;
}
.tabbed.slider-tabs > .tab-body.current {
    display: block;
}
.tabbed.slider-tabs > .tab-body-list {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.tabbed.slider-tabs > .tab-body-list > .tab-body {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    background-color: White;
}

/** Specific howitworks tab-content styles **/
.howitworks .tabs {
    box-shadow: 0 7px 6px -1px #BBBBBB;
    -moz-box-shadow: 0 7px 6px -1px #BBBBBB;
    -o-box-shadow: 0 7px 6px -1px #BBBBBB;
    -webkit-box-shadow: 0 7px 6px -1px #BBBBBB;
}
.howitworks .tabs li a:before {
    background: url('../img/theme/howitworks/howitworks-tabs.png') no-repeat;
    width: 64px;
    height: 64px;
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
}
.howitworks .tabs li:hover a {
    color: #e95d0f;
}
.howitworks .tabs li.current a {
    color: #00989a;
}
.howitworks .tabs li.customers a:before{
    background-position: 0 0;
}
.howitworks .tabs li.providers a:before{
    background-position: -67px 0;
}
.howitworks .tabs li.faqs a:before{
    background-position: -134px 0;
}
.howitworks .tabs li.customers:hover a:before{
    background-position: 0 -67px;
}
.howitworks .tabs li.providers:hover a:before{
    background-position: -67px -67px;
}
.howitworks .tabs li.faqs:hover a:before{
    background-position: -134px -67px;
}
.howitworks .tabs li.customers.current a:before{
    background-position: 0 -134px;
}
.howitworks .tabs li.providers.current a:before{
    background-position: -67px -134px;
}
.howitworks .tabs li.faqs.current a:before{
    background-position: -134px -134px;
}

.howitworks .tab-body > h2 {
    display: none;
}
.howitworks .tab-body p {
    text-align: justify;
}
.howitworks .tab-body > ol > li {
    border-top: 1px solid #c9c9c9;
    padding: 20px 25px;
    background: 605px center no-repeat;
    padding-right: 375px;
    position: relative;
}
.howitworks .tab-body > ol > li:first-child {
    border-top: none;
}
.howitworks .tab-body > ol > li:nth-child(even) {
    background: 25px center no-repeat;
    padding-left: 320px;
    padding-right: 25px;
}
.howitworks .tab-body > ol > li > h3 {
    margin: 0 0 15px;
}
/* Specific content images */
#howitworks-customers li.find-provider {
    background-image: url('../img/theme/howitworks/howitworks-customer-find-provider.png');
}
#howitworks-customers li.book-provider {
    background-image: url('../img/theme/howitworks/howitworks-customer-book-provider.png');
}
#howitworks-customers li.review-provider {
    background-image: url('../img/theme/howitworks/howitworks-customer-review-provider.png');
}
#howitworks-providers li.create-profile {
    background-image: url('../img/theme/howitworks/howitworks-provider-create-profile.png');
}
#howitworks-providers li.perform-services {
    background-image: url('../img/theme/howitworks/howitworks-provider-perform-services.png');
}
#howitworks-providers li.get-paid {
    background-image: url('../img/theme/howitworks/howitworks-provider-get-paid.png');
}
@media screen and (-webkit-min-device-pixel-ratio: 1.2),  /* Webkit-based browsers */
    screen and (min--moz-device-pixel-ratio: 1.2),    /* Older Firefox browsers (prior to Firefox 16) */
    screen and (min-resolution: 1.2dppx)  /* The standard way */
{
    #howitworks-customers li,
    #howitworks-providers li {
        background-size: 285px 100px;
    }
    #howitworks-customers li.find-provider {
        background-image: url('../img/theme/howitworks/howitworks-customer-find-provider@2x.png');
    }
    #howitworks-customers li.book-provider {
        background-image: url('../img/theme/howitworks/howitworks-customer-book-provider@2x.png');
    }
    #howitworks-customers li.review-provider {
        background-image: url('../img/theme/howitworks/howitworks-customer-review-provider@2x.png');
    }
    #howitworks-providers li.create-profile {
        background-image: url('../img/theme/howitworks/howitworks-provider-create-profile@2x.png');
    }
    #howitworks-providers li.perform-services {
        background-image: url('../img/theme/howitworks/howitworks-provider-perform-services@2x.png');
    }
    #howitworks-providers li.get-paid {
        background-image: url('../img/theme/howitworks/howitworks-provider-get-paid@2x.png');
    }
    .howitworks .tabs li a:before {
        background-image: url('../img/theme/howitworks/howitworks-tabs@2x.png');
        background-size: 201px 201px;
    }
    .tabbed.slider-tabs > .tabs > li.current {
        background-image: url("../img/theme/howitworks/slider-tabs-selector@2x.png");
        background-size: 20px 16px;
    }
}

#howitworks-faqs {
    padding: 20px 25px;
}

/* Button */
.howitworks .actions {
    text-align: center !important;
    padding: 10px 0 25px;
}

/** provider-welcome-page
 **/
.provider-welcome-page > #main {
    border-radius: 4px 4px 4px 4px;
    border: 2px solid rgb(201, 201, 201);
    background: white;
    padding: 20px;
    
    float: none;
    width: auto;
    position: relative;
}
.provider-welcome-page .introduction-header {
    background: url('../img/theme/providerwelcome/triple-bottom-line.png') no-repeat left center;
    padding-left: 120px;
}
.provider-welcome-page .actions {
    float: right !important;
    text-align: center !important;
    margin-top: 1.6em;
    /* width as the list padding-right to hold the image */
    width: 348px;
}
.provider-welcome-page .foot-action {
    text-align: center;
    margin: 2em 0;
}
.provider-welcome-page .foot-action a,
.provider-welcome-page .foot-action a:link,
.provider-welcome-page .foot-action a:visited {
    color: #00989A;
    font-size: 1.2em;
    font-weight: bold;
}
/*=.features-list */
.provider-welcome-page .features-list {
    background: url('../img/theme/providerwelcome/profile-elizabeth.png') no-repeat right center;
    padding-right: 348px;
    min-height: 375px;
}
.provider-welcome-page .features-list li {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 14px;
    padding-left: 38px;
    background: no-repeat left center;
}
.provider-welcome-page .features-list h3 {
    font-size: 1.1em;
    margin: 0;
}
.provider-welcome-page .features-list p {
    text-align: justify;
    margin: 0;
    line-height: normal;
    font-size: .9em;
}
.provider-welcome-page .features-list li.booking {
    background-image: url('../img/theme/providerwelcome/booking.png');
}
.provider-welcome-page .features-list li.calendar {
    background-image: url('../img/theme/providerwelcome/calendar.png');
}
.provider-welcome-page .features-list li.reviews {
    background-image: url('../img/theme/providerwelcome/reviews.png');
}
.provider-welcome-page .features-list li.community {
    background-image: url('../img/theme/providerwelcome/community.png');
}
.provider-welcome-page .features-list li.payments {
    background-image: url('../img/theme/providerwelcome/payments.png');
}
.provider-welcome-page .features-list li.url {
    background-image: url('../img/theme/providerwelcome/url.png');
}
.provider-welcome-page .features-list li.website {
    background-image: url('../img/theme/providerwelcome/website.png');
}
.provider-welcome-page .features-list li.marketing {
    background-image: url('../img/theme/providerwelcome/marketing.png');
}
.provider-welcome-page .features-list li.cancellations {
    background-image: url('../img/theme/providerwelcome/cancellations.png');
}
.provider-welcome-page .features-list li.tools {
    background-image: url('../img/theme/providerwelcome/tools.png');
}
.provider-welcome-page .features-list li.trust {
    background-image: url('../img/theme/providerwelcome/trust.png');
}
.provider-welcome-page .features-list li.reminders {
    background-image: url('../img/theme/providerwelcome/reminders.png');
}

/* Media query only for hi-resolution, 2dppx, 2dpi (as apple retina), displays:
    We start counting from 1.2 to give hi-res to all devices with higher from
    default and for browsers that emulate resolution on zooming (as Firefox) */
@media screen and (-webkit-min-device-pixel-ratio: 1.2),  /* Webkit-based browsers */
    screen and (min--moz-device-pixel-ratio: 1.2),    /* Older Firefox browsers (prior to Firefox 16) */
    screen and (min-resolution: 1.2dppx)  /* The standard way */
{
    .provider-welcome-page .introduction-header {
        background-image: url('../img/theme/providerwelcome/triple-bottom-line@2x.png');
        background-size: 100px 100px;
    }
    .provider-welcome-page .features-list {
        background-image: url('../img/theme/providerwelcome/profile-elizabeth@2x.png');
        background-size: 348px 375px;
    }
    .provider-welcome-page .features-list li {
        background-size: 32px 32px;
    }
    .provider-welcome-page .features-list li.booking {
        background-image: url('../img/theme/providerwelcome/booking@2x.png');
    }
    .provider-welcome-page .features-list li.calendar {
        background-image: url('../img/theme/providerwelcome/calendar@2x.png');
    }
    .provider-welcome-page .features-list li.reviews {
        background-image: url('../img/theme/providerwelcome/reviews@2x.png');
    }
    .provider-welcome-page .features-list li.community {
        background-image: url('../img/theme/providerwelcome/community@2x.png');
    }
    .provider-welcome-page .features-list li.payments {
        background-image: url('../img/theme/providerwelcome/payments@2x.png');
    }
    .provider-welcome-page .features-list li.url {
        background-image: url('../img/theme/providerwelcome/url@2x.png');
    }
    .provider-welcome-page .features-list li.website {
        background-image: url('../img/theme/providerwelcome/website@2x.png');
    }
    .provider-welcome-page .features-list li.marketing {
        background-image: url('../img/theme/providerwelcome/marketing@2x.png');
    }
    .provider-welcome-page .features-list li.cancellations {
        background-image: url('../img/theme/providerwelcome/cancellations@2x.png');
    }
    .provider-welcome-page .features-list li.tools {
        background-image: url('../img/theme/providerwelcome/tools@2x.png');
    }
    .provider-welcome-page .features-list li.trust {
        background-image: url('../img/theme/providerwelcome/trust@2x.png');
    }
    .provider-welcome-page .features-list li.reminders {
        background-image: url('../img/theme/providerwelcome/reminders@2x.png');
    }
}