/*! Loconomics.com 2014-01-13
   Author: Loconomics Inc. */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\border.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\flex.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\gradients.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\image.styl */

/* line 27 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\reset.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\replace-text.styl */

/* line undefined : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\vendor.styl */

/* line 574 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\size.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\new-dashboard.styl */
/* Color Vars: is not the best naming use color names but for now is the
    quick way
*/

/* line 17 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\new-dashboard.styl */
.DashboardSection {
  color: #333;
  margin-top: 26px;
}

/* line 21 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\new-dashboard.styl */
.DashboardSection .go-publicProfile {
  display: block;
  padding: 0.6em;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
}

/* line 29 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\new-dashboard.styl */
.DashboardSection #main.DashboardSection-page {
  padding: 20px;
/* fullsize - h-padding - border */
  width: 691px;
  float: left;
  margin-left: 25px;
  border: 2px solid #00989a;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: White;
/* Its a position context */
  position: relative;
/* A page can contain the reusable component InlineNotification,
            that we specifically place on top-right
        */
}

/* line 41 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\new-dashboard.styl */
.DashboardSection #main.DashboardSection-page .DashboardSection-page-header {
  margin: 1em 0 0;
  padding: 0 0 4px;
  line-height: 1em;
  color: #00989a;
  font-size: 2em;
  border-bottom: 4px solid #00989a;
  display: block;
}

/* line 51 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\new-dashboard.styl */
.DashboardSection #main.DashboardSection-page .DashboardSection-page-section {
  color: #747474;
}

/* line 54 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\new-dashboard.styl */
.DashboardSection #main.DashboardSection-page .DashboardSection-page-section .DashboardSection-page-section-header {
  color: #00989a;
  margin: 0.5em 0 14px;
  padding: 0 0 4px;
  line-height: 1em;
  font-size: 1.6em;
  font-weight: normal;
  border-bottom: 3px solid #00989a;
/* Most times, next 'reset' attributes are not need -default H* elements- but
                    on cases like fieldset legends or element presets it put everything in place
                */
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 70 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\new-dashboard.styl */
.DashboardSection #main.DashboardSection-page .DashboardSection-page-section .DashboardSection-page-section-introduction {
  margin-top: 0;
}

/* line 74 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\new-dashboard.styl */

/* line 75 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\new-dashboard.styl */
.DashboardSection #main.DashboardSection-page .DashboardSection-page-section.is-required .DashboardSection-page-section-header {
  color: #e95d0f;
  border-bottom-color: #e95d0f;
}

/* line 85 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\new-dashboard.styl */
.DashboardSection #main.DashboardSection-page > .InlineNotification {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.92em;
  text-transform: lowercase;
}

/* line 93 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\new-dashboard.styl */
.DashboardSection #main.DashboardSection-page > .InlineNotification--hasRequiredSections {
  color: #e95d0f;
  font-style: italic;
}

/* line 273 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */

/* line 273 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\arrows.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar {
  padding: 0;
  float: left;
  width: 200px;
  position: relative;
/* Colors and images for the four differents states of the sidebar:
        - under .is-enabled:
            - inactive: the default one, already set in the previous rules
            - hover: on :hover
            - active: on .is-current
        - under .is-disabled:
            - onboarding: all access is disabled
        */
}

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-onboardingMessage {
  background: #ccc;
  color: White;
  font-size: 0.7em;
  line-height: normal;
  padding: 12px;
  position: relative;
}

/* line 51 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\arrows.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-onboardingMessage:after {
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  border-top-color: #ccc;
  bottom: -10px;
  left: 18px;
  right: auto;
}

/* line 72 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\arrows.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-onboardingMessage:before {
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  border-top-color: transparent;
  left: 18px;
  right: auto;
  bottom: -10px;
}

/* line 18 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */

/* line 20 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > h1,
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu a,
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu a:link,
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu a:visited {
  text-transform: lowercase;
  color: #747474;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

/* line 28 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > h1 {
  text-indent: 1em;
  border-bottom: 1px solid #747474;
  padding: 1em 0 0.3em;
  margin: 0;
}

/* line 35 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > ul {
  padding: 0px 6px;
}

/* line 38 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > ul > li {
  text-align: right;
  padding: 0;
  margin: 7px 0 0;
  position: relative;
/* The toggle link must fit in the icon reserved space */
}

/* line 44 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > ul > li a {
  display: block;
/* Height as icons */
  line-height: 24px;
/* For icons of size 24x24px, plus separation */
  padding-right: 34px;
}

/* line 53 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > ul > li .js-togglePositionState {
  width: 24px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 0;
  text-align: center;
}

/* line 64 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > ul > li.u-withIcon:before {
/* 
                        Icons applied on a li:before pseudo-element with limited size and icon as background.
                    */
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
/* Below the link, but still visible */
  z-index: -1;
  width: 24px;
  height: 24px;
/*
                        Sprite of 24x24px images with 1px gap between each except the images limits.
                        Differente icons on rows and differents states on columns.
                        The first sprite column is for 'inactive' images, the default ones.
                        Second for actives
                        Third for hover
                        Four for disabled/onboarding
                    */
  background: url("../img/theme/dashboard-icons.png") transparent no-repeat right center;
}

/* line 88 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */

/* line 89 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboard:before {
  background-position: 0 0;
}

/* line 93 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboardCalendar:before {
  background-position: 0 -25px;
}

/* line 97 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboardPromote:before {
  background-position: 0 -50px;
}

/* line 101 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboardAboutYou:before {
  background-position: 0 -75px;
}

/* line 105 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboardPayments:before {
  background-position: 0 -100px;
}

/* line 109 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboardPrivacy:before {
  background-position: 0 -125px;
}

/* line 113 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboardYourWork:before {
  background: none;
  content: '+';
  text-align: center;
  font-size: 20px;
}

/* line 133 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */

/* line 135 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu:hover > h1 {
  color: #e95d0f;
  border-bottom-color: #e95d0f;
}

/* line 140 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */

/* line 141 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li:hover a:hover {
  color: #e95d0f;
}

/* line 145 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */

/* line 146 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li:hover.u-withIcon.go-dashboard:before {
  background-position: -50px 0;
}

/* line 150 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li:hover.u-withIcon.go-dashboardCalendar:before {
  background-position: -50px -25px;
}

/* line 154 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li:hover.u-withIcon.go-dashboardPromote:before {
  background-position: -50px -50px;
}

/* line 158 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li:hover.u-withIcon.go-dashboardAboutYou:before {
  background-position: -50px -75px;
}

/* line 162 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li:hover.u-withIcon.go-dashboardPayments:before {
  background-position: -50px -100px;
}

/* line 166 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li:hover.u-withIcon.go-dashboardPrivacy:before {
  background-position: -50px -125px;
}

/* line 170 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li:hover.u-withIcon.go-dashboardYourWork:before {
  color: #e95d0f;
}

/* line 176 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu.is-current > h1 {
  color: #00989a;
  border-bottom-color: #00989a;
}

/* line 181 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */

/* line 182 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li.is-current a,
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li.is-current a:link,
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li.is-current a:visited {
  color: #00989a;
}

/* line 186 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */

/* line 187 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li.is-current.u-withIcon.go-dashboard:before {
  background-position: -25px 0;
}

/* line 191 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li.is-current.u-withIcon.go-dashboardCalendar:before {
  background-position: -25px -25px;
}

/* line 195 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li.is-current.u-withIcon.go-dashboardPromote:before {
  background-position: -25px -50px;
}

/* line 199 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li.is-current.u-withIcon.go-dashboardAboutYou:before {
  background-position: -25px -75px;
}

/* line 203 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li.is-current.u-withIcon.go-dashboardPayments:before {
  background-position: -25px -100px;
}

/* line 207 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li.is-current.u-withIcon.go-dashboardPrivacy:before {
  background-position: -25px -125px;
}

/* line 211 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-enabled .DashboardSection-sidebar-menu > ul > li.is-current.u-withIcon.go-dashboardYourWork:before {
  color: #00989a;
}

/* line 218 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */

/* line 222 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-disabled:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  z-index: 1000;
}

/* line 232 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */

/* line 234 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-disabled .DashboardSection-sidebar-menu > h1,
.DashboardSection .DashboardSection-sidebar.is-disabled .DashboardSection-sidebar-menu a,
.DashboardSection .DashboardSection-sidebar.is-disabled .DashboardSection-sidebar-menu a:link,
.DashboardSection .DashboardSection-sidebar.is-disabled .DashboardSection-sidebar-menu a:visited {
  color: #ccc;
}

/* line 238 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-disabled .DashboardSection-sidebar-menu > h1 {
  border-bottom-color: #ccc;
}

/* line 242 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */

/* line 243 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-disabled .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboard:before {
  background-position: -75px 0;
}

/* line 247 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-disabled .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboardCalendar:before {
  background-position: -75px -25px;
}

/* line 251 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-disabled .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboardPromote:before {
  background-position: -75px -50px;
}

/* line 255 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-disabled .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboardAboutYou:before {
  background-position: -75px -75px;
}

/* line 259 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-disabled .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboardPayments:before {
  background-position: -75px -100px;
}

/* line 263 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-disabled .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboardPrivacy:before {
  background-position: -75px -125px;
}

/* line 267 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\sidebar.styl */
.DashboardSection .DashboardSection-sidebar.is-disabled .DashboardSection-sidebar-menu > ul > li.u-withIcon.go-dashboardYourWork:before {
  color: #ccc;
}

/* line 84 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\promote.styl */

/* line 35 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\border.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\flex.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\gradients.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\image.styl */

/* line 27 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\reset.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\replace-text.styl */

/* line undefined : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\vendor.styl */

/* line 574 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\size.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm legend {
  font-weight: bold;
}

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li,
.BasicForm fieldset > ul > li {
  padding: 0px 10px;
  margin: 6px 0px;
}

/* line 15 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li input[type="radio"],
.BasicForm fieldset > ul > li input[type="radio"],
.BasicForm > ul > li input[type="checkbox"],
.BasicForm fieldset > ul > li input[type="checkbox"] {
  margin: 0 6px;
}

/* line 19 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li > input[type="radio"]:first-child,
.BasicForm fieldset > ul > li > input[type="radio"]:first-child,
.BasicForm > ul > li > input[type="checkbox"]:first-child,
.BasicForm fieldset > ul > li > input[type="checkbox"]:first-child {
  margin: 0 6px 0 0;
}

/* line 23 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li label,
.BasicForm fieldset > ul > li label {
  padding: 0;
}

/* line 28 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm fieldset {
  margin: 0px 0px 10px;
  padding: 0px;
}

/* line 33 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm label {
  padding: 0 10px;
}

/* line 37 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm textarea {
  width: 100%;
}

/* line 41 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm textarea,
.BasicForm input[type=text],
.BasicForm select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\promote.styl */

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\promote.styl */

/* line 8 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\promote.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\promote.styl */
.DashboardPromote .DashboardBookNowButton .DashboardBookNowButton-buttonSizes .DashboardBookNowButton-buttonSizes-selection {
  margin: 6px 0;
}

/* line 13 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\promote.styl */
.DashboardPromote .DashboardBookNowButton .DashboardBookNowButton-buttonSizes > p,
.DashboardPromote .DashboardBookNowButton .DashboardBookNowButton-buttonSizes .DashboardBookNowButton-buttonSizes-preview {
  margin: 6px;
}

/* line 17 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\promote.styl */
.DashboardPromote .DashboardBookNowButton .DashboardBookNowButton-buttonSizes .DashboardBookNowButton-buttonSizes-preview {
  min-height: 60px;
}

/* line 22 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\promote.styl */

/* line 25 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\promote.styl */
.DashboardPromote .DashboardBookNowButton .DashboardBookNowButton-buttonCode textarea {
  height: 10em;
}

/* line 30 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\promote.styl */

/* line 31 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\promote.styl */
.DashboardPromote .DashboardCustomUrl input {
  width: 140px !important;
}

/* line 29 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\privacy.styl */

/* line 37 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\border.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\flex.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\gradients.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\image.styl */

/* line 27 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\reset.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\replace-text.styl */

/* line undefined : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\vendor.styl */

/* line 574 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\size.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm legend {
  font-weight: bold;
}

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li,
.BasicForm fieldset > ul > li {
  padding: 0px 10px;
  margin: 6px 0px;
}

/* line 15 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li input[type="radio"],
.BasicForm fieldset > ul > li input[type="radio"],
.BasicForm > ul > li input[type="checkbox"],
.BasicForm fieldset > ul > li input[type="checkbox"] {
  margin: 0 6px;
}

/* line 19 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li > input[type="radio"]:first-child,
.BasicForm fieldset > ul > li > input[type="radio"]:first-child,
.BasicForm > ul > li > input[type="checkbox"]:first-child,
.BasicForm fieldset > ul > li > input[type="checkbox"]:first-child {
  margin: 0 6px 0 0;
}

/* line 23 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li label,
.BasicForm fieldset > ul > li label {
  padding: 0;
}

/* line 28 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm fieldset {
  margin: 0px 0px 10px;
  padding: 0px;
}

/* line 33 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm label {
  padding: 0 10px;
}

/* line 37 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm textarea {
  width: 100%;
}

/* line 41 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm textarea,
.BasicForm input[type=text],
.BasicForm select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\privacy.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\privacy.styl */

/* line 8 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\privacy.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\privacy.styl */
.DashboardPrivacy .DashboardPrivacySettings .DashboardPrivacySettings-personalData ul > li {
  list-style: disc inside none;
}

/* line 13 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\privacy.styl */
.DashboardPrivacy .DashboardPrivacySettings .DashboardPrivacySettings-personalData .note {
  color: #e44600;
  margin-left: 10px;
}

/* line 17 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\privacy.styl */
.DashboardPrivacy .DashboardPrivacySettings .DashboardPrivacySettings-personalData .note a,
.DashboardPrivacy .DashboardPrivacySettings .DashboardPrivacySettings-personalData .note a:link,
.DashboardPrivacy .DashboardPrivacySettings .DashboardPrivacySettings-personalData .note a:visited {
  color: #e44600;
}

/* line 23 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\privacy.styl */

/* line 24 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\privacy.styl */
.DashboardPrivacy .DashboardPrivacySettings .DashboardPrivacySettings-myAccount a,
.DashboardPrivacy .DashboardPrivacySettings .DashboardPrivacySettings-myAccount a:link,
.DashboardPrivacy .DashboardPrivacySettings .DashboardPrivacySettings-myAccount a:visited {
  color: #e44600;
  margin-left: 10px;
}

/* line 30 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\privacy.styl */
.DashboardPrivacy .DashboardPrivacySettings #preferences-privacy-policy h1,
.DashboardPrivacy .DashboardPrivacySettings #account-terms h1 {
  margin: 0;
  font-size: 1.5em;
}

/* line 29 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\payments.styl */

/* line 22 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\border.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\flex.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\gradients.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\image.styl */

/* line 27 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\reset.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\replace-text.styl */

/* line undefined : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\vendor.styl */

/* line 574 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\size.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm legend {
  font-weight: bold;
}

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li,
.BasicForm fieldset > ul > li {
  padding: 0px 10px;
  margin: 6px 0px;
}

/* line 15 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li input[type="radio"],
.BasicForm fieldset > ul > li input[type="radio"],
.BasicForm > ul > li input[type="checkbox"],
.BasicForm fieldset > ul > li input[type="checkbox"] {
  margin: 0 6px;
}

/* line 19 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li > input[type="radio"]:first-child,
.BasicForm fieldset > ul > li > input[type="radio"]:first-child,
.BasicForm > ul > li > input[type="checkbox"]:first-child,
.BasicForm fieldset > ul > li > input[type="checkbox"]:first-child {
  margin: 0 6px 0 0;
}

/* line 23 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li label,
.BasicForm fieldset > ul > li label {
  padding: 0;
}

/* line 28 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm fieldset {
  margin: 0px 0px 10px;
  padding: 0px;
}

/* line 33 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm label {
  padding: 0 10px;
}

/* line 37 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm textarea {
  width: 100%;
}

/* line 41 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm textarea,
.BasicForm input[type=text],
.BasicForm select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\payments.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\payments.styl */

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\payments.styl */

/* line 8 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\payments.styl */
.DashboardPayments .DashboardPaymentAccount fieldset input,
.DashboardPayments .DashboardPaymentAccount fieldset select {
  width: 70% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\payments.styl */

/* line 15 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\payments.styl */
.DashboardPayments .DashboardPaymentAccount .DashboardPaymentAccount-tos label input {
  width: auto !important;
  vertical-align: middle;
}

/* line 29 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\about-you.styl */

/* line 26 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\border.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\flex.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\gradients.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\image.styl */

/* line 27 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\reset.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\replace-text.styl */

/* line undefined : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\vendor.styl */

/* line 574 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\size.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm legend {
  font-weight: bold;
}

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li,
.BasicForm fieldset > ul > li {
  padding: 0px 10px;
  margin: 6px 0px;
}

/* line 15 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li input[type="radio"],
.BasicForm fieldset > ul > li input[type="radio"],
.BasicForm > ul > li input[type="checkbox"],
.BasicForm fieldset > ul > li input[type="checkbox"] {
  margin: 0 6px;
}

/* line 19 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li > input[type="radio"]:first-child,
.BasicForm fieldset > ul > li > input[type="radio"]:first-child,
.BasicForm > ul > li > input[type="checkbox"]:first-child,
.BasicForm fieldset > ul > li > input[type="checkbox"]:first-child {
  margin: 0 6px 0 0;
}

/* line 23 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm > ul > li label,
.BasicForm fieldset > ul > li label {
  padding: 0;
}

/* line 28 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm fieldset {
  margin: 0px 0px 10px;
  padding: 0px;
}

/* line 33 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm label {
  padding: 0 10px;
}

/* line 37 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm textarea {
  width: 100%;
}

/* line 41 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\BasicForm.styl */
.BasicForm textarea,
.BasicForm input[type=text],
.BasicForm select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\about-you.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\about-you.styl */

/* line 7 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\about-you.styl */

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\about-you.styl */

/* line 15 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\about-you.styl */

/* line 16 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\about-you.styl */
.DashboardAboutYou .DashboardPersonalWebsite fieldset {
  padding: 0 10px;
}

/* line 19 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\dashboard\about-you.styl */
.DashboardAboutYou .DashboardPersonalWebsite fieldset input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
