.provider-package {
    background: none repeat scroll 0 0 white;
    border: 3px solid #61bdbe;
    border-radius: 15px 15px 15px 15px;
    padding: 15px;
    margin: 0 0 10px 0;
    position: relative;
    text-align: left;
}
.blockUI .provider-package {
    margin: 0;
}
.profile .pricing h3 {
    margin: 10px 0;
}
.provider-package {
    color: #747474;
}
.provider-package h4 {
    margin: 0 !important;
    font-size: 1.5em !important;
    color: #00989A !important;
    max-width: 500px;
}
.provider-package h5 {
    color: #6C6C6C;
    font-size: 1.1em;
    margin: 8px 0 0;
    display: block !important;
}
.provider-package.view h5 {
    color: rgb(59, 59, 59);
    font-size: 1em;
    margin: 5px 0px;
}
.provider-package.view a.button.book-action {
    font-size: 0.6em;
}
.provider-package.view .actions.book {
    margin: 0px auto 10px;
    text-align: center !important;
}
.provider-package.view .book-action.main-action {
    padding: .3em .5em;
    font-weight: bold;
}
.view-panel .provider-package-services li.empty,
.pricing-type-packages-list .service-attributes-list li.empty {
    font-style: italic;
    list-style: none outside none !important;
    margin: 0 0 0 10px;
    width: auto !important;
}
.view-panel .provider-package-services,
.pricing-type-packages-list .service-attributes-list {
    overflow: hidden;
}
.view-panel .provider-package-services li,
.pricing-type-packages-list .service-attributes-list li {
    width: 200px !important;
    text-overflow: ellipsis;
    float: left;
}
.view-panel .provider-package {
    position: relative;
}
.view-panel .provider-package .provider-package-service-summary,
.pricing-type-packages-list .provider-package .provider-package-service-summary {
    color: #00989A;
    font-size: 1.3em;
}
.profile .view-panel .provider-package .provider-package-service-summary {
    position: static;
}
.view-panel .provider-package .provider-package-service-summary .provider-package-price,
.pricing-type-packages-list .provider-package .provider-package-service-summary .provider-package-price {
    float: right;
}
.provider-package.view .provider-package-service-summary .provider-package-price {
    right: 10px;
    top: 10px;
    position: absolute;
}
.booking-quick-view .provider-package.view .provider-package-price a {
    color: Black;
    text-decoration: none;
    font-size: .8em;
    font-weight: bold;
}

.view-panel .provider-package .addon-price,
.view-panel .provider-package .addon-price-note {
    color: Black;
    font-size: 0.65em;
    font-weight: bold;
    line-height: 1em;
    text-align: right;
}
.view-panel .provider-package .book {
    font-size: 1.2em;
}
.dashboard-provider-pricing h2.section-title {
    font-size: 1em;
    border-bottom: 1px solid #B0B0B0;
    padding: 0 .5em .2em .5em;
}

/* Pricing Wizard Views
 */
.row-selection {
    min-width: 16px;
}
.pricing-wizard .calculate-item-fee,
.calculate-item-subtotal,
.pricing-vars .calculate-item-total,
.pricing-vars .calculate-item-price,
.pricing-vars .calculate-item-total,
.packages-list .calculate-item-quantity,
.packages-list .calculate-item-price,
.pricing-vars .calculate-item-duration {
    display: none;
}

.pricing-services label {
    padding: 0 20px 0 0;
}
.pricing-services label input {
    min-width: 16px;
    margin: auto 16px auto 8px !important;
}

.pricing-vars td.name {
    width: 50% !important;
}
.pricing-vars td.var-values {
    text-align: right;
    width: 50%;
}
.pricing-vars td.var-values select,
.pricing-vars td.var-values input {
    width: 60%;
}

.pricing-wizard .group-summary {
    margin: 26px 0 0 40px;
}
.pricing-wizard .group-summary strong {
    font-weight: bold;
    color: #eb6e42;
}

/* Calculation summary */
.booking li.calculation{
    overflow: hidden;
}
.booking table.calculation{
    border-collapse: collapse;
    float: right;
}
.dashboard .booking table.calculation,
.dashboard .booking-request table.calculation {
    float: none !important;
    width: 100%;
}
.booking table.calculation th,
.booking table.calculation td{
    font-weight: normal;
    text-align: right;
    height: auto;
    margin: 0;
}
.booking table.calculation th {
    text-align: left;
}
.booking table.calculation tr.total > * {
    padding-top: 16px;
}
.booking table.calculation tr.separator td.separator {
    border-bottom: 1px solid #d8d7d7;
    height: 0;
    padding: 4px !important;
}
.booking table.calculation .fees {
    font-size: .9em;
}

#booking-payment table.calculation td.separator {
    border-bottom: none;
}
#booking-payment table.calculation td.price {
    font-weight: bold !important;
}
#booking-payment table.calculation td.total-price {
    color: #eb6e42;
}
#booking-payment .order-summary .calculation {
    width: 100%;
    float: none;
}