/*******************
 * ProviderSignUp styles 
 */
.provider-sign-up #main {
    width: auto;
    float: none;
}
/* Header */
.provider-sign-up h1 {
    font-size: 2em;
    text-transform: lowercase;
}
.provider-sign-up h1 > em {
    font-style: normal;
    color: #00989b;
}
.provider-sign-up .subh1 {
    font-size: 1em;
    line-height: normal;
    color: #747474;
    font-weight: normal;
}
/* Form */
.provider-sign-up form {
    background-color: White;
    border: 2px solid #595959;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 20px;
    position: relative;
}
.provider-sign-up form h2 {
    font-size: 1.8em;
    margin: 15px 0;
}
.provider-sign-up form label {
    font-weight: bold;
    padding: 4px;
}
#provider-sign-up-truste-seal {
    position: absolute;
    top: 20px;
    right: 20px;
}
/* Steps */
.provider-sign-up .wizard-steps > li {
    border-bottom: 1px solid #d6d2d2;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 68px;
    position: relative;
    /* 1px padding force h1 margin-top not increase out-of-the-box */
    padding-top: 1px;
}
.provider-sign-up .wizard-steps > li.step-3 {
    border-bottom: none;
}
.provider-sign-up .wizard-steps > li .step-number {
    border: 3px solid #00989A;
    border-radius: 100px 100px 100px 100px;
    color: #00989A;
    font-size: 2.5em;
    height: 45px;
    left: 0;
    line-height: normal;
    padding-left: 2px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 43px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-border-radius: 100px;
}
/* Step 1 */
.provider-sign-up .step-1 .choice-option {
    display: inline-block;
    vertical-align: middle;
}
.provider-sign-up .step-1 .choice-or {
    display: inline-block;
    width: 60px;
}
.provider-sign-up .step-1 .facebook-connect {
    width: 300px;
}
.provider-sign-up .step-1 .signup-data {
    width: 470px;
}
.facebook-connect p {
    font-size: .8em;
}
.facebook-connect p.info {
    margin: 4px 0 0;
    text-align: justify;
}
.facebook-connect p.footnote {
    margin: 5px 0;
}
.facebook-connect img {
    width: 100%;
}
.provider-sign-up .step-1 .signup-data > li {
    float: left;
    padding: 1px 0;
    width: 50%;
}
/* Step 2 */
.provider-sign-up .step-2 .positions-list,
.provider-sign-up .step-2 .select-position {
    float: left;
    width: 50%;
   -moz-box-sizing:    border-box;
    box-sizing:        border-box;
}
.provider-sign-up .step-2 .positions-list {
    padding-left: 30px;
}
.provider-sign-up .step-2 .positions-list > h3 {
    font-size: 1.4em;
    margin: 0 0 10px;
}
.provider-sign-up .step-2 label {
    display: block;
}
.provider-sign-up .step-2 .position-description textarea {
    width: 80%;
}
.provider-sign-up .step-2 .positions-list li {
    list-style: disc inside;
    margin: 3px 0;
    padding: 0;
}
.provider-sign-up .step-2 .positions-list li > a,
.provider-sign-up .step-2 .positions-list li > a:visited {
    color: #00989b;
    margin-left: 20px;
    text-transform: lowercase;
}
/* Step 3 */
.legal-agreement-terms > li {
    list-style: disc inside none;
    margin: 12px 0;
}
.legal-agreement input {
    margin-right: 12px;
}
.legal-agreement a,
.legal-agreement a:visited {
    color: #009A9D;
}
