/*! Loconomics.com 2014-02-24
   Author: Loconomics Inc. */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\border.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\flex.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\gradients.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\image.styl */

/* line 27 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\reset.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\replace-text.styl */

/* line undefined : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\vendor.styl */

/* line 574 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\size.styl */

/* line 29 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\ColorsPalette.styl */

/* line 18 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\Actions.styl */

/* line 14 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\border.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\flex.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\gradients.styl */

/* line 115 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\image.styl */

/* line 27 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\positions.styl */

/* line 3 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\reset.styl */

/* line 5 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\text\replace-text.styl */

/* line undefined : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\vendor.styl */

/* line 574 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\config.styl */

/* line 12 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\size.styl */

/* line 29 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\ColorsPalette.styl */

/* line 65 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\Actions.styl */
.begin-action,
.next-action,
.finish-action {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: White;
  background-color: #e95d0f;
  display: inline-block;
  font-size: 1em;
  padding: 0.4em 1em;
  line-height: 1.3em;
  text-decoration: none;
  text-transform: lowercase;
  -webkit-transition: background-color 1s, box-shadow 0.5s, width 2s;
  -moz-transition: background-color 1s, box-shadow 0.5s, width 2s;
  -o-transition: background-color 1s, box-shadow 0.5s, width 2s;
  -ms-transition: background-color 1s, box-shadow 0.5s, width 2s;
  transition: background-color 1s, box-shadow 0.5s, width 2s;
  padding: 0.2em 0.6em;
  line-height: 27px;
  font-weight: bold;
  font-size: 1.2em;
}

/* line 25 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\Actions.styl */
.begin-action:hover,
.next-action:hover,
.finish-action:hover {
  -webkit-box-shadow: 0 0 5px 2px #e95d0f;
  box-shadow: 0 0 5px 2px #e95d0f;
  background-color: #e95d0f;
}

/* line 50 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\Actions.styl */
.begin-action:after,
.next-action:after,
.finish-action:after {
  content: " ";
  background: url("../img/theme/right-arrow.png") no-repeat center;
  width: 29px;
  height: 27px;
  line-height: 27px;
  margin-left: 0.4em;
  color: #e95d0f;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* line 74 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\Actions.styl */
.Actions {
  zoom: 1;
  display: block;
  clear: both;
}

/* line 23 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */
.Actions:before,
.Actions:after {
  content: "";
  display: table;
}

/* line 27 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\nib\lib\nib\clearfix.styl */
.Actions:after {
  clear: both;
}

/* line 18 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\mediaQueries.styl */

/* line 6 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */

/* line 10 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main {
  float: none;
  width: auto;
/* Removing the white-space between inline-block boxes */
  letter-spacing: -0.3em;
}

/* line 16 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main > div {
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
}

/* line 22 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-presentation {
  width: 630px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 2px solid #ccc;
}

/* line 27 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */

/* line 28 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */

/* line 30 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-presentation .ProviderWelcome-presentation-slides .ProviderWelcome-presentation-slide .ProviderWelcome-presentation-slide-header {
  font-size: 1.8em;
  font-weight: normal;
  color: #00989a;
  line-height: normal;
}

/* line 37 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-presentation .ProviderWelcome-presentation-slides .ProviderWelcome-presentation-slide h3 {
  font-size: 1.7em;
  font-weight: normal;
}

/* line 42 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */

/* line 43 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-presentation .ProviderWelcome-presentation-slides .ProviderWelcome-presentation-slide.ProviderWelcome-firstSlide .ProviderWelcome-firstSlide-subheader {
  font-size: 1.4em;
  color: #747474;
  text-align: center;
  font-weight: normal;
}

/* line 50 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-presentation .ProviderWelcome-presentation-slides .ProviderWelcome-presentation-slide.ProviderWelcome-firstSlide h3 {
  font-size: 1.2em;
  line-height: normal;
}

/* line 55 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-presentation .ProviderWelcome-presentation-slides .ProviderWelcome-presentation-slide.ProviderWelcome-firstSlide ul {
  letter-spacing: -0.3em;
  background: url("../img/theme/provider-welcome/how-it-works.png") no-repeat center top;
  padding-top: 160px;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min--moz-device-pixel-ratio: 1.2), (min-resolution: 120dpi) {

/* line 16 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\mediaQueries.styl */
  .ProviderWelcome #main .ProviderWelcome-presentation .ProviderWelcome-presentation-slides .ProviderWelcome-presentation-slide.ProviderWelcome-firstSlide ul {
    background-image: url("../img/theme/provider-welcome/how-it-works@2x.png");
    -webkit-background-size: 660px 160px;
    -moz-background-size: 660px 160px;
    background-size: 660px 160px;
  }
}

/* line 61 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-presentation .ProviderWelcome-presentation-slides .ProviderWelcome-presentation-slide.ProviderWelcome-firstSlide ul li {
  letter-spacing: 0;
  width: 32%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1em;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
}

/* line 70 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */

/* line 74 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */

/* line 78 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */

/* line 87 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */

/* line 88 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-presentation .ProviderWelcome-presentation-actions .ProviderWelcome-presentation-actions-start {
  text-align: center;
}

/* line 91 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-presentation .ProviderWelcome-presentation-actions .ProviderWelcome-presentation-actions-start .start-action {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: White;
  background-color: #00989a;
  display: inline-block;
  font-size: 1em;
  padding: 0.4em 1em;
  line-height: 1.3em;
  text-decoration: none;
  text-transform: lowercase;
  -webkit-transition: background-color 1s, box-shadow 0.5s, width 2s;
  -moz-transition: background-color 1s, box-shadow 0.5s, width 2s;
  -o-transition: background-color 1s, box-shadow 0.5s, width 2s;
  -ms-transition: background-color 1s, box-shadow 0.5s, width 2s;
  transition: background-color 1s, box-shadow 0.5s, width 2s;
  padding: 0.2em 0.6em;
  line-height: 27px;
  font-weight: bold;
}

/* line 25 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\Actions.styl */
.ProviderWelcome #main .ProviderWelcome-presentation .ProviderWelcome-presentation-actions .ProviderWelcome-presentation-actions-start .start-action:hover {
  -webkit-box-shadow: 0 0 5px 2px #00989a;
  box-shadow: 0 0 5px 2px #00989a;
  background-color: #00989a;
}

/* line 50 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\Actions.styl */
.ProviderWelcome #main .ProviderWelcome-presentation .ProviderWelcome-presentation-actions .ProviderWelcome-presentation-actions-start .start-action:after {
  content: " ";
  background: url("../img/theme/right-arrow-teal.png") no-repeat center;
  width: 29px;
  height: 27px;
  line-height: 27px;
  margin-left: 0.4em;
  color: #00989a;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  vertical-align: middle;
  display: inline-block;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min--moz-device-pixel-ratio: 1.2), (min-resolution: 120dpi) {

/* line 16 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\mediaQueries.styl */
  .ProviderWelcome #main .ProviderWelcome-presentation .ProviderWelcome-presentation-actions .ProviderWelcome-presentation-actions-start .start-action:after {
    background-image: url("../img/theme/right-arrow-teal@2x.png");
    -webkit-background-size: 29px 27px;
    -moz-background-size: 29px 27px;
    background-size: 29px 27px;
  }
}

/* line 101 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-signUp {
  width: 330px;
}

/* line 104 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */

/* line 105 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-signUp #welcomepopup .register {
  padding-top: 0;
  background: none;
  border: none;
}

/* line 110 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-signUp #welcomepopup .register .main-action {
  padding: 0.2em 0.6em;
  line-height: 27px;
  background-color: #e95d0f !important;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.4em 0.3em;
  text-transform: lowercase;
}

/* line 50 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\Actions.styl */
.ProviderWelcome #main .ProviderWelcome-signUp #welcomepopup .register .main-action:after {
  content: " ";
  background: url("../img/theme/right-arrow.png") no-repeat center;
  width: 29px;
  height: 27px;
  line-height: 27px;
  margin-left: 0.4em;
  color: #e95d0f;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  vertical-align: middle;
  display: inline-block;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min--moz-device-pixel-ratio: 1.2), (min-resolution: 120dpi) {

/* line 16 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\mediaQueries.styl */
  .ProviderWelcome #main .ProviderWelcome-signUp #welcomepopup .register .main-action:after {
    background-image: url("../img/theme/right-arrow@2x.png");
    -webkit-background-size: 29px 27px;
    -moz-background-size: 29px 27px;
    background-size: 29px 27px;
  }
}

/* line 118 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-signUp #welcomepopup .register .main-action:hover {
  -webkit-box-shadow: 0 0 5px 2px #e95d0f;
  box-shadow: 0 0 5px 2px #e95d0f;
  background-color: #e95d0f;
}

/* line 124 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-signUp #welcomepopup .register .profile-data {
  margin: 0;
}

/* line 129 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-signUp #welcomepopup header,
.ProviderWelcome #main .ProviderWelcome-signUp #welcomepopup footer {
  padding: 5px 25px;
}

/* line 133 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\provider-welcome.styl */
.ProviderWelcome #main .ProviderWelcome-signUp #welcomepopup footer div.login {
  position: absolute;
  top: 0.5em;
  font-size: 0.88em;
  right: 2em;
  color: #747474;
  z-index: 1000;
}
