/*! Loconomics.com 2015-02-04
   Author: Loconomics Inc. */

/* line 1 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 32 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\styleguide-desktop.styl */
/**
  Set of styles used only on the Desktop Website but showed up
  as part of the Style Guide.

  Is intended to be used loaded after the styleguide.styl, but that is 
  not included here just to be an incremental styles file.
  
  May get obsolete as part of the full review of the Style Guide,
  but for now is documented and reflect some stable things used on the website.
  
  
  More about the Style Guide on #757.
  
  The result is used directly by the styleguide site to show the custom
  styles built on top of Bootstrap only for Desktop Site.
**/

/* line 18 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\styleguide-desktop.styl */
/* Require 'bootstrap' in order to work, but not embedded
@require 'bootstrap' */

/* line 264 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\typographyDefinitions.styl */
@font-face {
  font-family: 'Hand Of Sean';
  src: url("fonts/handsean.otf");
  src: url("fonts/handsean.eot");
  src: url("fonts/handsean.eot?#iefix") format('embedded-opentype'), url("fonts/handsean.woff") format('woff'), url("fonts/handsean.ttf") format('truetype'), url("fonts/handsean.svgz#HandOfSeanRegular") format('svg'), url("fonts/handsean.svg#HandOfSeanRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url("fonts/altehaasgroteskregular.eot");
  src: url("fonts/altehaasgroteskregular.eot?#iefix") format('embedded-opentype'), url("fonts/altehaasgroteskregular.woff") format('woff'), url("fonts/altehaasgroteskregular.ttf") format('truetype'), url("fonts/altehaasgroteskregular.svgz#AlteHaasGroteskRegular") format('svg'), url("fonts/altehaasgroteskregular.svg#AlteHaasGroteskRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url("fonts/altehaasgroteskbold.eot");
  src: url("fonts/altehaasgroteskbold.eot?#iefix") format('embedded-opentype'), url("fonts/altehaasgroteskbold.woff") format('woff'), url("fonts/altehaasgroteskbold.ttf") format('truetype'), url("fonts/altehaasgroteskbold.svgz#AlteHaasGroteskBold") format('svg'), url("fonts/altehaasgroteskbold.svg#AlteHaasGroteskBold") format('svg');
  font-weight: bold;
  font-style: normal;
}

/* line 23 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\styleguide-desktop.styl */
/* TOREVIEW: In doubt about it use, discarded previously from common styleguide: */

/* line 25 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\HelpPoint.styl */

/* line 14 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\index.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\border.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\flex.styl */

/* line 92 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\gradients.styl */

/* line 92 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\config.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\image.styl */

/* line 27 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\positions.styl */

/* line 3 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\reset.styl */

/* line 6 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 1 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line undefined : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\vendor.styl */

/* line 574 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\config.styl */

/* line 12 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\size.styl */

/* line 29 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\ColorsPalette.styl */

/* line 8 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\HelpPoint.styl */
.HelpPoint {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #e95d0f;
  color: White !important;
  text-decoration: none !important;
  font-weight: bold;
  display: inline-block;
  text-align: center;
/* Normal size */
  font-size: 1em;
  line-height: 1.3em;
  height: 1.3em;
  width: 1.3em;
}

/* line 23 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\HelpPoint.styl */
.HelpPoint.size-xl {
  font-size: 1.7em;
}

/* line 27 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\HelpPoint.styl */
.HelpPoint.size-lg {
  font-size: 1.3em;
}

/* line 31 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\HelpPoint.styl */
.HelpPoint.size-sm {
  font-size: 0.8em;
  line-height: 1.2em;
  height: 1.2em;
  width: 1.2em;
}

/* line 38 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\HelpPoint.styl */
.HelpPoint.size-xs {
  font-size: 0.67em;
  line-height: 1.2em;
  height: 1.2em;
  width: 1.2em;
}

/* line 48 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\HelpPoint.styl */
.has-HelpPoint {
  position: relative;
}

/* line 51 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\HelpPoint.styl */
.has-HelpPoint > .HelpPoint {
  top: 50%;
  right: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 19 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\sgcomponents\carousel.styl */

/* line 14 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\index.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\border.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\flex.styl */

/* line 92 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\gradients.styl */

/* line 92 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\config.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\image.styl */

/* line 27 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\overflow.styl */

/* line 3 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\positions.styl */

/* line 3 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\reset.styl */

/* line 6 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 1 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line undefined : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\vendor.styl */

/* line 574 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\config.styl */

/* line 12 : d:\Iago\Proxectos\Loconomics.com\source\web\node_modules\nib\lib\nib\size.styl */

/* line 11 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\sgcomponents\carousel.styl */

/* line 13 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\sgcomponents\carousel.styl */
.carousel .carousel-inner,
.carousel .item {
/* Item must use its container height, to allow for same sized items when
           an explicit height is set on the carousel */
  height: 100%;
}

/* line 22 : d:\Iago\Proxectos\Loconomics.com\source\web\Styles\app\sgcomponents\carousel.styl */
.carousel .carousel-content {
/* Avoid internal elements margins to enlarge the carousel
            and from overflow it
         */
  overflow: hidden;
/* Text between the controls, not in the back */
  margin: 0 15%;
}
