@{
    Layout = "~/es_ES/_SiteLayout.cshtml";
    Page.Title = "About. Your quintessential app description page.";
}

<div id="container" class="clearfix">
	<div class="cushycms" id="main"><h1>
	Sobre Loconomics</h1>
<p>
	Loconomics es una nueva forma de mercado que est&aacute; cambiando la manera de hacer negocios a nivel local. Los clientes pueden buscar y contratar los servicios de profesionales aut&oacute;nomos con referencias en un entorno seguro y c&oacute;modo. Adem&aacute;s, les ofrecemos a los proveedores de servicios todas las herramientas que necesitan para gestionar su negocio y atraer nuevos clientes.</p>
<p>
	<strong>En Loconomics creemos que:</strong></p>
<ul>
	<li>
		los servicios proporcionan una calidad de vida que no se puede substituir con productos de consumo</li>
	<li>
		con las herramientas adecuadas, se puede trabajar sin necesidad de agencias obteniendo m&aacute;s ingresos el proveedor y mejores precios los clientes</li>
	<li>
		existe una gran capacidad de trabajo sin aprovechar en servicios por la ausencia de un mercado &aacute;gil e inteligente</li>
	<li>
		hay valor en una comunidad cuyos miembro proporcionan y reciben servicios fomentando confianza y cooperaci&oacute;n</li>
	<li>
		dirigir un negocio con los m&aacute;s altos est&aacute;ndares de &eacute;tica e involucrando a todos los protagonistas es m&aacute;s importante, y m&aacute;s efectivo, que seguir metas puramente econ&oacute;micas</li>
</ul>
<p>
	Creemos que todo el mundo es capaz de llevar su propio negocio. Tambi&eacute;n que, por muy peque&ntilde;a que sea la tarea, todo el mundo debe tener acceso a la ayuda que necesita. Loconomics fu&eacute; creado para que esto sea posible. Eres un aut&oacute;nomo buscando m&aacute;s trabajos para completar tu jornada? O a lo mejor necesitas ayuda profesional con alg&uacute;n proyecto, o alguna tarea que no tienes tiempo de hacer t&uacute; mismo? Con Loconomics, no s&oacute;lo puedes conectar con gente cualificada para hacer el trabajo sino que adem&aacute;s puedes programar, gestionar y dar referencias de todos tus trabajos f&aacute;cilmente.</p>
<p>
	Whether you&#39;re an individual who would like to offer your skills or a small business looking to expand your services, Loconomics has you covered. You can list all the services you have available, certifications, experience and even designate your operational area or neighborhood. Utilize our calendar with new and existing contracts to help keep you on schedule. Loconomics even assists you when it comes time for filing your taxes.</p>
<h2>
	The Team</h2>
<p>
	<em>Joshua Danielson</em>, co-founder and CEO, graduated from the University of Minnesota Carlson School of Management and IESE Business School in Barcelona.</p>
<p>
	<em>Nigel Harrison</em>, co-founder and CFO</p>
<p>
	<em>Fernando Gago</em>, co-founder and Director, International</p>
<p>
	<em>Patrick Coelho</em>, co-founder and VP of Engineering</p>
</div><!-- #main -->
</div><!-- #container -->