/**
 * Login activity styles
 */

@import '../../../css/utils/styleguideVars.styl';

[data-activity=login] {
    background: white;

    @media $mediaMinSm {
      background: $gray-background;
    }
}
