@{
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    Page.Title = "Account Locked";
}
  <div id="container" class="clearfix">

<hgroup class="title">
    <h1 class="error"> Account Locked.</h1>
    <h2 class="error">Your account has been locked due to too many unsuccessful login attempts.</h2>
</hgroup>

<p>
    Please try logging in again after 60 minutes.
</p>

</div>