@{
    WebSecurity.RequireAuthenticatedUser();
    bool isSuccessful = false;
    string provider = null;

    Page.Title = "Associate your account with OAuth & OpenID providers";
    Layout = "~/en_US/_SiteLayout.cshtml";

    if (IsPost) {
        provider = Request.Form["provider"];
        if (!provider.IsEmpty()) {
            OAuthWebSecurity.RequestAuthentication(provider);
            return;
        }
    }
    else {
        var result = OAuthWebSecurity.VerifyAuthentication();
        if (result.IsSuccessful) {
            string username = WebSecurity.CurrentUserName;
            OAuthWebSecurity.CreateOrUpdateAccount(result.Provider, result.ProviderUserId, username);
            isSuccessful = true;
            provider = result.Provider;
        }
    }
        
}

  <div id="container" class="clearfix">

<hgroup class="title">
    <h1>Associate.</h1>
    <h2>Choose a service to use to log in.</h2>
</hgroup>


@if (isSuccessful) {
     <p class="message-success">You have successfully associated this account with @provider.</p>
}
else { 
    <section class="social">
        <form method="post">
            <h2>Use another service to log in.</h2>
            <fieldset>
  <legend>Log in using another service</legend>

  <input type="submit" name="provider" id="yahoo" value="Yahoo" title="Log in using your Yahoo account." />
  <input type="submit" name="provider" id="google" value="Google" title="Log in using your Google account." />
</fieldset>
        </form>
    </section>
}
</div>