@{
    // Set the layout page and page title
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    Page.Title = "Forgot Your Password?";
}

<div id="container" class="clearfix">
    @RenderPage("$ForgotPassword.cshtml")
</div>