@{
    // Set the layout page and page title
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    Page.Title = "Log In";
}
<div id="container" class="clearfix">
    @RenderPage("$Login.cshtml")
</div>