@{
    // Set the layout page and page title
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    Page.Title = "Sign Up";
}
<div id="container" class="clearfix">
    @RenderPage("$Register.cshtml")
</div>