@{
    
}
<article id="FAQs-SubmittingFeedback">
    <h2 class="cushycms">Submitting feedback</h2>
    <ol>
        <li id="FAQs-SubmittingFeedback-Q1">
            <h3><a href="#" class="cushycms">Who submits reviews?</a></h3>
            <p class="cushycms">
			Customers can submit reviews at any time of providers they have experiences with. Loconomics is built on fairness and community. We value honest opinions and hope you’ll help future customers out by providing the details of your experience.
            </p>
        </li>
        <li id="FAQs-SubmittingFeedback-Q2">
            <h3><a href="#" class="cushycms">Who submits references?</a></h3>
            <p class="cushycms">
			We give providers the option to ask previous clients for references. Hopefully, these clients have something stellar to say about Lisa’s talents as a masseuse and her winning personality. They’re generally doing their service provider a good, honest favor. 
            </p>
        </li>
        <li id="FAQs-SubmittingFeedback-Q3">
            <h3><a href="#" class="cushycms">Why are customers reviewed?</a></h3>
            <p class="cushycms">
			Customers are reviewed to ensure the best fit for everyone and to help service providers continue serving their target community. We think it’s only fair that if professionals are reviewed by the community, so are their clients. 
            </p>
        </li>
    </ol>
</article>