@{
    
}
<article id="FAQs-GettingStarted">
    <h2 class="cushycms">Getting started</h2>
    <ol>
        <li id="FAQs-GettingStarted-Q1">
            <h3><a href="#" class="cushycms">What is Loconomics all about?</a></h3>
            <p class="cushycms">
			Well, if you’re an independent service provider or just another average Jane looking to get her toenails buffed by a true professional, we’re all about you. We believe in supporting the local and independent economy, as well as linking people in need of a service with the right person to provide it. Everyone presented as a service provider on Loconomics is exactly that – there’s no one else to contend with, just these individuals who pride themselves on their work and their experience. While providers enrich the community through their services, we try to help them reach more clients who are looking for their services. We believe that anyone can run a business and that we can help provide some tools to do so. We also believe in the dignity of jobs that don’t necessarily have a huge infrastructure behind them, and we believe that society and business both are improved by more human interaction.
            </p>
        </li>
        <li id="FAQs-GettingStarted-Q2">
            <h3><a href="#" class="cushycms">How do I hire a service provider?</a></h3>
            <p class="cushycms">
			It’s easy! After finding the provider you want to hire for the job, click “Book now” on the right-hand side of the screen to begin scheduling your appointment.
            </p>
        </li>
        <li id="FAQs-GettingStarted-Q3">
            <h3><a href="#" class="cushycms">How do I become a provider?</a></h3>
            <p class="cushycms">
			Very easily. Find the “Become a provider” button (it’s green) on the upper right-hand side of the page. Then you can start filling out everything you need to start working through Loconomics!
            </p>
        </li>
        <li id="FAQs-GettingStarted-Q4">
            <h3><a href="#" class="cushycms">Who is behind Loconomics?</a></h3>
            <p class="cushycms">
			A small and skilled team of businessfolk, writers, Localistas, current and previous service providers makes up Loconomics. We love our mission and work hard to put it into action. If you have any thoughts or questions, we want to help. <a href="mailto:help@loconomics.com">Send us an e-mail.</a>
            </p>
        </li>
    </ol>
</article>