@{
    
}
<article id="FAQs-Safety">
    <h2 class="cushycms">Safety</h2>
    <ol>
        <li id="FAQs-Safety-Q1">
            <h3><a href="#" class="cushycms">How do I know that I am making an appointment with a real person?</a></h3>
            <p class="cushycms">
			Loconomics thoroughly vets the service providers listed to ensure they’re real-deal non-robots. Email, name, and phone verifications are essential here. We also put a lot of stock in the reviews service providers receive from their customers.
            </p>
        </li>
        <li id="FAQs-Safety-Q2">
            <h3><a href="#" class="cushycms">Can I trust the reviews?</a></h3>
            <p class="cushycms">
			We put a lot of stock in the reviews. Only paying customers can write reviews of service providers, meaning they come from people like you, people hoping to provide feedback to their service provider. These reviews mean a lot to the professionals listed on Loconomics, and they serve as constructive advice on how to improve their business. In short, you can definitely trust the reviews. If you see anything questionable or inappropriate, please flag it or <a href="mailto:help@loconomics.com">let us know.</a>
            </p>
        </li>
        <li id="FAQs-Safety-Q3">
            <h3><a href="#" class="cushycms">Have the providers been background-checked?</a></h3>
            <p class="cushycms">
			Background checks are optional. Should a provider go through a background check and it yields notable results, we give the provider two options: to publicly list the results and continue advertising their services through Loconomics or to delete their profile. Loconomics will never gloss over a service provider whose background check yielded notable results; that said, we do believe that everyone deserves a shot at running their own independent business.
            </p>
        </li>
    </ol>
</article>