
<article class="legal privacy-policy">
<h1>Loconomics Privacy Policy</h1>

<p>Effective: August 21, 2012</p>

<p>Loconomics, Inc. (“Loconomics”, “we”, us”) is committed to protecting the privacy of your personal information. We recognize that privacy is of utmost importance. This Privacy Policy explains how we collect information from our users, and how we use this information on our Web site <a href="https://loconomics.com/">www.loconomics.com</a>. Please note that any term that is capitalized but not defined in this Privacy Policy is defined in the User Agreement</p>

<p>Loconomics,
Inc. (“Loconomics”, “we”, us”) is committed to protecting
the privacy of your personal information. We recognize that privacy
is of utmost importance.  This Privacy Policy explains how we collect
information from our users, and how we use this information on our
Web site <a href="http://www.loconomics.com">www.loconomics.com</a>.
Please note that any term that is capitalized but not defined in this
Privacy Policy is defined in the <em>User
Agreement</em>.</p>

<p>Loconomics
has been awarded TRUSTe's Privacy Seal signifying that this privacy
policy and practices have been reviewed by TRUSTe for compliance with
<a href="http://www.TRUSTe.com/privacy_seals_and_services/consumer_privacy/privacy-programs-requirements.html">TRUSTe's
program requirements</a>
including transparency, accountability and choice regarding the
collection and use of your personal information.  The TRUSTe program
does not cover information that may be collected through downloadable
software.   TRUSTe's mission, as an independent third party, is to
accelerate online trust among consumers and organizations globally
through its leading privacy trustmark and innovative trust solutions.
If you have questions or complaints regarding our privacy policy or
practices, please contact us at legal@loconomics.com.  If you are not
satisfied with our response you can contact <a href="http://watchdog.TRUSTe.com/pvr.php?page=complaint">TRUSTe
here</a>.
The TRUSTe certification only covers information collected through
our Web site www.loconomics .com and does not cover information that
may be collected by telephone, by mobile device, through our Facebook
app, through mobile apps, or through other manners that you may
convey information to us.</p>

<p>Loconomics complies with the U.S. – E.U. Safe Harbor framework and the U.S. - Swiss Safe Harbor framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal data from European Union member countries and Switzerland. Loconomics has certified that it adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access, and enforcement.  To learn more about the Safe Harbor program, and to view Loconomic’s certification, please visit
<a href="http://www.export.gov/safeharbor/">http://www.export.gov/safeharbor/</a></p>

<h2>1. The information we collect</h2>

<p>The following chart summarizes the information we collect from <strong>Customers</strong>, and how we use that information.</p>

<table>
	<tr>
		<th>
			Information collected
		</th>
		<th>
			How Loconomics uses this information
		</th>
	</tr>
	<tr>
		<td  >
			<p >full
			name</p>
			<p >e-mail
			address</p>
			<p ><BR>
			</p>
		</td>
		<td  >
			<p >
			1.  to
			facilitate your transactions with Service Providers (information
			may be disclosed to Service Providers)</p>
			<p >
			2.  to
			troubleshoot the Marketplace and ensure we can contact you if
			there is any problem</p>
			<p >
			3.  to send
			you information about us and promotional material from our partner
			companies (subject
			to opt-out; see section on opting out below)
			</p>
			<p >
			4.  to provide
			services and customer support that you have requested</p>
			<p >
			5.  to resolve
			disputes</p>
			<p >
			6.  to
			measure, improve or customize the Marketplace, its content, our
			products and services</p>
		</td>
	</tr>
	<tr>
		<td   >
			<p >address</p>
			<p >phone
			number</p>
			<p >gender</p>
			<p >feedback
			
			</p>
			<p >demographics
			information</p>
			<p ><BR>
			</p>
		</td>
		<td  >
			<p >
			1.  to
			facilitate your transactions with Service Providers <I>(information
			may be disclosed to Service Providers)</I></p>
			<p >
			2.  to
			troubleshoot the Marketplace and ensure we can contact you if
			there is any problem</p>
			<p >
			3.  to provide
			services and customer support that you have requested</p>
			<p >
			4.  to resolve
			disputes</p>
			<p >
			5.  to
			measure, improve or customize the Marketplace, its content, our
			products and services</p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >Service
			Provider review data</p>
		</td>
		<td  >
			<p >to
			provide information to other Customers about a Service Provider</p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >profile
			photo</p>
		</td>
		<td  >
			<p >to
			personalize your profile (your photo will be displayed in
			connection with your reviews, and displayed to relevant Service
			Providers)</p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >credit
			card information</p>
		</td>
		<td  >
			<p >to
			facilitate payments to Loconomics and subsequently Service
			Providers who provide services to you</p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >scheduling
			information</p>
		</td>
		<td  >
			<p >to
			facilitate your transactions with Service Providers <I>(information
			may be disclosed to Service Providers)</I></p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >location
			information</p>
		</td>
		<td  >
			<p >to
			deliver content based on your current location <I>
			-</I></p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >search
			data</p>
		</td>
		<td  >
			<p >to
			deliver personalized content based on your interests</p>
		</td>
	</tr>
</table>

<p>The
following chart summarizes the information we collect from <strong>Service
Providers</strong>,
and how we use that information:</p>

<table border="1">
	<tr>
		<th>
			Information collected
		</th>
		<th>How Loconomics uses this information
		</th>
	</tr>
	<tr>
		<td  >
			<p >full
			name</p>
			<p >e-mail
			address</p>
			<p ><BR>
			</p>
		</td>
		<td  >
			<p >
			1.  to
			facilitate your transactions with Customers <I>(information
			may be disclosed to Customers)</I></p>
			<p >
			2.  to
			troubleshoot the Marketplace and ensure we can contact you if
			there is any problem</p>
			<p >
			3.  to send
			you information about us and promotional material from our partner
			companies <I>(subject
			to opt-out; see section on opting out below)</I></p>
			<p >
			4.  to contact you if there are material
			changes to this Privacy Policy or the User Agreement</p>
			<p >
			5.  to provide
			services and customer support that you have requested</p>
			<p >
			6.  to resolve
			disputes</p>
			<p >
			7.  to
			measure, improve or customize the Marketplace, its content, our
			products and services</p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >address</p>
			<p >phone
			number</p>
			<p >gender</p>
			<p >feedback
			</p>
		</td>
		<td  >
			<p >
			1.  to
			facilitate your transactions with Customers <I>(information
			may be disclosed to Customers)</I></p>
			<p >
			2.  to
			troubleshoot the Marketplace and ensure we can contact you if
			there is any problem</p>
			<p >
			3.  to provide
			services and customer support that you have requested</p>
			<p >
			4.  to resolve
			disputes</p>
			<p >
			5.  to
			measure, improve or customize the Marketplace, its content, our
			products and services</p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >Customer
			review data</p>
		</td>
		<td  >
			<p >to
			provide information to other Service Providers about a Customer</p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >profile
			data, including photos</p>
		</td>
		<td  >
			<p >to
			personalize your profile <I>(information
			may be disclosed to Users; your photos will be displayed in
			connection with your services and reviews)</I></p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >information
			regarding applicable licenses</p>
		</td>
		<td  >
			<p >to
			confirm you have the legal ability to provide your services <I>(only
			if there are licensing requirements in your area for the type of
			services you provide)</I></p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >social
			security number or taxpayer ID number</p>
		</td>
		<td  >
			<p >1.
			 to report income to tax authorities , as required 
			</p>
			<p >
			    by law</p>
			<p >
			2.  to
			facilitate background check <I>(only
			if you opt to undergo a background check)</I></p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >date
			of birth</p>
		</td>
		<td  >
			<p >to
			facilitate background check <I>(only
			if you opt to undergo a background check)</I></p>
		</td>
	</tr>
	<tr>
		<td >
			<p >bank
			information <I>(including
			bank name, address, and account number)</I></p>
		</td>
		<td  >
			<p >to
			facilitate payment of funds we collect from Customers for your
			services</p>
		</td>
	</tr>
	<tr>
		<td   >
			<p >credit
			card information</p>
		</td>
		<td  >
			<p >to
			facilitate payments to Loconomics <I>(only
			if you request certain services from us)</I></p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >scheduling
			information</p>
		</td>
		<td  >
			<p >to
			facilitate your transactions with Customers <I>(information
			may be disclosed to Customers)</I></p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >location
			information</p>
		</td>
		<td  >
			<p >to
			deliver content based on your current location 
			</p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >background
			check report <I>(note:
			if you opt to undergo a background check, this information will be
			gathered from a third party)</I></p>
		</td>
		<td  >
			<p >to
			demonstrate to Customers that you can be TRUSTed <I>(only
			if you opt to undergo a background check; information may be
			disclosed to Customers)</I></p>
		</td>
	</tr>
	<tr>
		<td  >
			<p ><BR>
			</p>
		</td>
		<td  >
			<p ><BR>
			</p>
		</td>
	</tr>
</table>

<p >The
following chart summarizes the information we collect from <strong>all
visitors</strong>
<strong>to
the Marketplace</strong>,
and how we use that information.  <I>(This
includes non-registered visitors to the Marketplace, as well as
Customers and Service Providers.)  </I>The
following information, which is automatically submitted by your
browser, is considered <strong>anonymous</strong>.</p>

<table>
	<tr>
		<td>
			<p><strong>Information
			collected</strong></p>
		</td>
		<td  >
			<p><strong>How
			Loconomics uses this information</strong></p>
		</td>
	</tr>
	<tr>
		<td>
			<p>IP
			address</p>
		</td>
		<td>
			<p >to
			help diagnose problems with our server</p>
			<p >to
			administer the Marketplace</p>
			<p>to
			gather broad demographic information</p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >referral
			data (URL of the page you were on before coming to the
			Marketplace)</p>
			<p >browser
			information</p>
			<p >MIME
			type</p>
		</td>
		<td>
			<p >improve
			our services and moderate the Marketplace</p>
		</td>
	</tr>
	<tr>
		<td  >
			<p >transactional
			data</p>
		</td>
		<td  >
			<p >to
			provide statistical information about the Marketplace.  The data
			will not be personally identifiable.</p>
		</td>
	</tr>
</table>

<p >The
charts above are not exhaustive. The sections below describe
additional collection and use of personal information.  
</p>

<h2>2.
 	How we collect information</h2>

<p>We
collect information through web forms, by telephone, by mobile
device, through our Facebook app, through mobile apps, and through
other manners that you may convey information to us.  We collect
information when you visit the Marketplace, register as a user, make
postings to the Marketplace, or otherwise interact with the
Marketplace.  We may also ask for and collect supplemental
information from third parties, such as information about your credit
from a credit bureau (to the extent permitted by law), or information
to verify any identification details you provide during registration.
 
</p>
<p>
<strong>Facebook
Connect or other OpenID provider</strong></p>
<p ><strong>You
can log in to our site using sign-in services such as Facebook
Connect or an Open ID provider. These services will authenticate your
identity and provide you the option to share certain personal
information with us such as your name and email address to
pre-populate our sign up form.&nbsp; Services like Facebook Connect
give you the option to post information about your activities on this
Web site to your profile page to share with others within your
network.</strong></p>
<p><strong>Public
Forums</strong></p>
<p>Our
Web site offers publicly accessible blogs or community forums. You
should be aware that any information you provide in these areas may
be read, collected, and used by others who access them. To request
removal of your personal information from our blog or community
forum, contact us at legal@loconomics.com.  In some cases, we may not
be able to remove your personal information, in which case we will
let you know if we are unable to do so and why.</p>
<p >Messages</p>
<p >Our
service provides you with the option to send privacy messages to
other users of the site, you should be aware of the information you
provide to such individuals, as it may be read, collected and used
for other purposes. 
</p>
<p >Photo</p>
<p >You
have the option to add a photo to your profile so that other users of
the site are able to see it.  If you no longer wish to display your
photo you may remove it at anytime by clicking “Edit Profile Photo”
from the main section of your Dashboard.  
</p>
<p ><strong>Social
Media (Features) and Widgets</strong></p>
<p >Our
Web site includes Social Media Features, such as the Facebook Like
button and Widgets, such as the Share this button or interactive
mini-programs that run on our site. These Features may collect your
IP address, which page you are visiting on our site, and&nbsp;may set
a cookie to enable the Feature to function properly. Social Media
Features and Widgets are either hosted by a third party or hosted
directly on our Site. Your interactions with these Features are
governed by the privacy policy of the company providing it. 
</p>
<p >Privacy
Settings</p>
<p >We
offer you the ability to manage what and how we communicate with you.
You may alter your privacy settings, deactivate your account, or
delete your account at any time by visiting the Privacy Settings
section of your Dashboard.  
</p>

<h2>3.
 	Cookies</h2>
<p >Loconomics
collects anonymous information through cookies. A cookie is a small
piece of data containing a unique identification number that is sent
to your browser from a server, and is stored on your computer’s
hard drive. The unique number identifies your browser to our servers
whenever you visit. Cookies do not enable anyone to access personally
identifiable information that you have not already given us.
Loconomics primarily uses cookies to connect users with account
information stored on Loconomics’ computers. This helps Loconomics
deliver better and more personalized service. Loconomics also uses
cookies to estimate our audience size for advertisers; to assist in
processing transactions; to track the number of entries in our
promotions, sweepstakes and contests; to identify the areas of the
Marketplace you visit; to identify which pages are being used; to
hold session information; and to track user preferences. This helps
us analyze data about the Marketplace and improve it.  We do not link
the information we store in cookies to any personal information you
submit while on our site. 
</p>
<p >Cookies
are part of the technology implemented by your browser. Most browsers
are initially set up to accept cookies. You can set your browser to
either notify you when you have received a cookie, or to refuse
cookies all together.  If you refuse cookies you may be prevented
from taking full advantage of the Marketplace. 
</p>
<p >You
should be aware that Loconomics advertisers may use ads to give you
their own cookies. If you want to understand how and why an
advertiser uses cookies, check the advertiser’s site for their
privacy statement. We are not responsible for any issues that may
arise regarding the privacy policies of any third party, including
advertisers.    Our privacy policy does not cover the use cookies set
by third parties.  We do not have access or control over these
cookies. 
</p>
<h2>4.	Partner
companies</h2>
<p >At
times we will share information with our partner companies.  In
addition, our partner companies may collect information from you and
share it with us.  We choose to work with partner companies that we
believe to be upstanding and that we believe will treat your
information responsibly. But, since we do not own these partner
companies, we cannot control their use of personal information. 
Before telling them about yourself, check out their privacy
statements. If you are not satisfied with their information
practices, you can choose to not use their services. If you no longer
wish to allow us to share your personal information with third
parties, please contact us at <a href="mailto:legal@loconomics.com">legal@loconomics.com</a>
or contact that third party directly. 
</p>
<p >
<strong>A.	</strong><strong>Co-Branding
Partners</strong></p>
<p >Some
of our services may be offered in conjunction with partner companies.
In order to provide these services, Loconomics may share some of your
user data (such as your name and email address). If you do not wish
to allow us to provide such information to these third parties you
may opt-out from sharing by visiting your Privacy Settings section of
your Dashboard. 
</p>
<p >
<strong>B.	Partner
Sponsorships</strong></p>
<p >Partner
companies may sponsor promotions, contests and sweepstakes that
require you to reveal details such as your name, address or phone
number. Always check their privacy policies before revealing
information about yourself. If you don’t want these partner
companies to have your personal information, you can choose to not
participate. 
</p>
<p >	<strong>C.	Service
providers</strong></p>
<p >We
will share your personal information with third parties in the ways
that are described in this privacy policy.  We do not sell your
personal information to third parties.</p>
<UL>
	<LI><p >We
	may provide your personal information to companies that provide
	services to help us with our business activities such as processing
	your payment, sending emails on our behalf or providing customer
	service. These companies are authorized to use your personal
	information only as necessary to provide these services to us.</p>
</UL>
<p >	<strong>D.	Complementary
services</strong></p>
<p >We
may share information that is not of a sensitive nature with
carefully selected partner companies, including those who offer
services that complement those provided by us or which may otherwise
be of interest to you. If you do not want us to share information
about you with these partner companies, you may opt out as described
below. 
</p>

<h2>5. Opt-out</h2>
<p >
Loconomics
provide users the opportunity to opt out of receiving certain
communications from us and our partner companies.  In addition, users
have the option to stop receiving these communications.  If you’d
like to stop receiving these communications, please visit the
Preferences section of your Dashboard using your user name and
password or follow the unsubscribe link located at the bottom of each
communication.    
</p>

<h2>6. Targeted
advertisements</h2>
<p >Ads
are a standard part of user experience on the Internet, and targeted
advertising enhances this experience. Loconomics uses information
collected from our users to place ads where we believe interested
parties will see them.</p>

<h2>7. Market
research</h2>
<p >Loconomics
may analyze information about you to direct services and content
based on your interests. Market research data may be used at the
aggregate level to target sales or improve user experience.  We may
collect market research data in the following ways:  (i) surveys,
(ii) contests, (iii) general use of the Marketplace, and (iv) other
methods.   
</p>
<p >Loconomics
may use data at the individual level to sell products and services to
users who express an interest in these products and services, through
a poll for example, or to users who can be presumed to have an
interest based on results from a statistical analysis.</p>
<p >We
track user traffic patterns throughout the Marketplace. We break down
overall usage statistics according to a user's demographics, domain
name, browser type, and MIME type by reading this information from
the browser string (information contained in a user's browser).  We
sometimes track and catalog the search terms that users enter in our
&quot;Search&quot; function. The tracking information helps us to
determine which areas of the Marketplace users like and do not like
based on traffic to those areas.  
</p>

<h2>8. Information
retention</h2>
<p >To
preserve the integrity of our databases, standard procedure calls for
us to retain information submitted by users for an indefinite length
of time. We will also respond to written user requests to delete
account information. If you wish to make such a request, which
requires that we verify your identity, contact us at
legal@loconomics.com. 
</p>

<h2>9. Information
security</h2>
<p >Loconomics
makes every effort to ensure that your information is secure. Only
certain authorized Loconomics employees can access this information,
and then only if it is relevant to their job duties. 
</p>
<p >Loconomics
uses SSL (Secure Socket Layer), the industry standard method for
computers to communicate securely without risk of manipulation or
recipient impersonation. We utilize SSL in the online registration
process, in the login process, and in the account management section
of the Marketplace.</p>
<p >We
store credit card numbers, bank account numbers, social security
numbers, and taxpayer identification numbers in an information vault
maintained by a third party merchant account provider known as
Braintree. This information is always transmitted in encrypted form. 
For more information on Braintree’s security policies, please visit
their <U>website</U>.
 We store other information on servers controlled by Loconomics.</p>
<p >Your
Loconomics profile is password protected so that only you and
authorized Loconomics employees have access to your account
information. In order to maintain this protection, do not give your
password to anyone. If you share a computer, you should sign out of
your Loconomics account and close the browser window before anyone
else logs on. This will help protect your information from disclosure
to third parties.</p>
<p >Unfortunately,
no data transmission over the Internet can be guaranteed to be 100%
secure. As a result, Loconomics cannot guarantee the security of any
information you transmit to us or our partner companies, and you do
so at your own risk.  Loconomics expressly disclaims any liability
that may arise should any other individuals obtain the information
you submit to the Marketplace.</p>

<h2>10.	Editing
your information</h2>
<p >To
update, delete inaccuracies, or modify your personal information,
please visit the Account section of your Dashboard.  You may edit
your profile at any time—all you need is your username and
password. If you wish to delete your profile, be removed from our
directory, or request deletion of an unauthorized profile you may do
so by contacting us at <a href="mailto:legal@loconomics.com">legal@loconomics.com</a>.
</p>
<p >So
that we can protect the integrity of sensitive data, there are
certain pieces of information that you cannot alter yourself. For
example, since children under 18 are not allowed to register as
Loconomics users, we need to take reasonable measures to preserve the
accuracy of our users’ ages. Please e-mail us at
help@loconomics.com to find out how to change information you cannot
edit through your profile. We will respond to your access request
within 30 days.</p>
<p >You
may also delete your profile, but certain information (e.g. regarding
tax liability) will be retained as long as legally required.  Any
photographs you upload will be deleted within 60 days.  Information
that is not personally identifiable (e.g. usage data) will be
retained after deletion of a profile.  
</p>
<p >We
will retain your information for as long as your account is active or
as needed to provide you services.  If you wish to cancel your
account or request that we no longer use your information to provide
you services contact us at <a href="mailto:legal@loconomics.com">legal@loconomics.com</a>.
 We will retain and use your information as necessary to comply with
our legal obligations, resolve disputes, and enforce our agreements. 
</p>

<h2>11. Linked
sites</h2>
<p >The
Marketplace may contain links to other websites or resources over
which Loconomics does not have control.  Such links do not constitute
an endorsement of those external websites. You acknowledge that
Loconomics is providing these links to you only as a convenience, and
agree that Loconomics is not responsible for the content of such
external websites.  We are not responsible for the protection and
privacy of any information that you provide while visiting such
external websites, and such sites are not governed by this Privacy
Policy. Your use of any external website is subject to the terms of
use and privacy policy located on the external website. 
</p>

<h2>12.
 	Changes to this Privacy Policy</h2>
<p >This
Privacy Policy is periodically reviewed and enhanced as necessary.
This Privacy Policy may change as Loconomics updates and expands its
services. Loconomics will send you an email (to the email address in
your profile) and will post notification on the Marketplace if there
are any material changes in its Privacy Policy. Loconomics also
encourages you to review this Privacy Policy periodically. 
</p>

<h2>13.	Legal
notices</h2>
<p >By
using the Marketplace, you warrant and represent that you have read,
understand and agree to this Privacy Policy.  Loconomics expressly
disclaims any liability that may arise from your provision of any
information to the Marketplace. You agree to hold Loconomics harmless
from any liability that may arise from the provision of any
information to the Marketplace.  Loconomics reserves the right to
disclose any information at our discretion to anyone if required by
law, such as to comply with a subpoena, or similar legal process,
when we believe in good faith that disclosure is necessary to protect
our rights, protect your safety or the safety of others, investigate
fraud, respond to a government request, or if given reason to
believe, in our sole discretion, that someone is causing injury to or
interference with the rights of Loconomics users, the general public,
or Loconomics.  Loconomics may use any information to enforce its
User Agreement.  
</p>

<p >In
the event Loconomics undergoes a change in control, including,
without limitation, a merger or sale of all or substantially all of
Loconomics’ assets or other corporate reorganization in which
Loconomics participates, and is thus merged with or acquired by a
third party entity, Loconomics reserves the right to transfer the
personal information we have collected from the users to that
successor entity. You will be notified via email/or prominent notice
on our Web site of any change in ownership or users of your personal
information, as well as any choices you may have regarding your
personal information. 
</p>

<h2>14.	How
can I reach Loconomics staff?</h2>
<p >If
you have technical problems, questions or other issues related to
your use of the Marketplace, please e-mail help@loconomics.com.  If
you have any questions about this Privacy Policy, please e-mail
<a href="mailto:legal@loconomics.com">legal@loconomics.com</a>.</p>

<p>
Loconomics, Inc.<br />
3150 18th Street Suite 438<br />
Mailbox #208<br />
San Francisco, CA 94110
</p>


</article>