@{
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    Page.Title = "How it works";
    LcAssets.AddStyle(LcUrl.AppPath + "Styles/HelpCenter.css");
    PageData["ShowWelcomePopup"] = false;
}
<div id="container" class="howitworks clearfix">
    <div id="main">
        @RenderPage("$HowItWorksWidget.cshtml")
    </div>
</div>