@{
    string cat = PageData["Category"];
    var csscat = cat;
    var label = "";

    switch (cat.ToLower()) {
        case "home":
            csscat = "home";
            label = "Home";
            break;
        case "child":
            csscat = "child";
            label = "Child";
            break;
        case "pet":
            csscat = "pets";
            label = "Pets";
            break;
        case "personal":
            csscat = "people";
            label = "Personal";
            break;
        case "transport":
            csscat = "transport";
            label = "Transport";
            break;
        case "office":
            csscat = "business";
            label = "Office";
            break;
        case "senior":
            csscat = "elderly";
            label = "Elderly";
            break;
        case "celebration":
            csscat = "celebrations";
            label = "Celebrations";
            break;
    }
}
<div class="sidebar-main-box big-category cat-@(csscat)">
    <a href="@("?c=" + cat)">@label</a>
</div>
