/**
    Announcement Modal styles.
    
    The design ask to have close button only at smartphone size, so the
    modal logic includes close on click outside the modal while at smaller
    sizes the modal will fill all the screen.
**/
#announcementModal {
    
    $contentHPad = 2.1429em;
    
    .modal-dialog {
        width: 420px;
    }
    
    .modal-content {
        border-radius: 0;
    }
    
    .modal-header {
        background-color: $brand-primary;
        color: White;
        background-repeat: no-repeat;
        background-position: $contentHPad center;
        background-image: url('../images/logo-loconomics-white-mini.png');
        hr-image('../images/logo-loconomics-white-mini@2x.png', 100px, 2.7143rem);
        // Put the image size plus the padding at left of the image plus the same container padding on right
        padding-left: ($contentHPad + 100px + 0.8571rem);
        padding-top: 1.4286em;
        padding-bottom: 1.4286em;
        padding-right: 0.8571em;

        .modal-title {
            font-size: 1.3em;
            text-align: center;
            // Title is smaller in height than the background image, set that height
            line-height: 2.7143rem;
        }
    }
    
    .modal-body {
        padding: 2.1429em;
        text-align: justify;
    }
    
    .modal-footer {
        padding-top: 0;
        border-top: none;
        text-align: center;
        
        .btn {
            margin: auto;
        }

        #announcementModal-primaryBtn {
            font-size: 1.5em;
            font-weight: normal;
            padding: 0.4286em 1.7857em;
        }
        #announcementModal-secondaryBtn {
            margin: 1.0714em auto 0.7143em;
        }
    }
    
    // No full-screen, no close button
    @media $mediaMinSm {
        .modal-header .close {
            display: none;
        }
        // Adjust position of modal to start under the slogan at home page
        .modal-dialog {
            padding-top: 180px;
        }
    }
    
    @media $mediaMinMd {
        // Adjust position of modal to start under the slogan at home page
        .modal-dialog {
            padding-top: 200px;
        }
    }
    
    // Full screen and close button set-up
    @media $mediaMaxXs {
        .modal-dialog {
            padding: 0;
            margin: 0;
            height: 100%;
            width: auto;
            
            .modal-content {
                border: none;
                border-radius: 0;
                height: 100%;
            }
        }
        
        .modal-header{
            position: relative;

            .close {
                // Adjust position of close button based on modified dialog paddings
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 0;
                margin-right: 0;
                opacity: 1;
                color: White;
                text-shadow: none;
            }
        }
    }
    
    // At sizes smaller than 420px width, title and logo don't fit in a row
    @media (max-width: 420px) {
        .modal-header {
            // Normal padding plus image height plus padding on bottom with the text
            padding-top: (1.4286em + 2.7143em + 0.8571em);
            // Reset horizontal:
            padding-left: $contentHPad;
            padding-right: $contentHPad;
            background-position: center 1.4286rem;
        }
    }
}
