@import "nib"
@import 'utils/mediaQueries.styl'
@import 'utils/styleguideVars.styl'

/** Vars */
$container-padding-left = round($grid-gutter-width / 2);
$container-padding-right = round($grid-gutter-width / 2);
$app-var-height = 51px;

/** We use ever all the available screen **/
html.app,
html.app > body {
    height: 100%;
}
html.app > body > .container,
html.app > body > .container-fluid {
    min-height: 100%;
    height: 100%;
}

/* More app specific styles */
.app {
    /* Space for app-nav on top */
    body {
        padding-top: $app-var-height;
    }

    /* app-nav (new class under .navbar) */
    .app-nav {
      position: relative;
    }
    .app-nav .navbar-brand {
      float: none;
      display: inline-block;
      
      text-indent: -99999px;
      background: url("../../../assets/images/logo-loconomics-header-mini.png") no-repeat center;
      hr-image("../../../assets/images/logo-loconomics-header-mini@2x.png", 100px, 39px);
      min-width: 100px;
      min-height: 39px;
    }
    .app-nav .navbar-toggle {
      float: none;
      margin-right: 0;
    }
    .app-nav .navbar-action {
      margin: 8px 0;
    }

    /**
        Custom Buttons --very specific
    **/
    .btn-google {
        background-color: #CC0000;
        color: white;
    }
    .btn-facebook {
        background-color: #085394;
        color: white;
    }
    
    /**
        Some small utilities,
        they *may* upgrade to its own class as
        part of the Styleguide elements.
    **/
    /* Isolated element, a block with a margin to separate itself from other elements. */
    .isolated {
        margin: 14px 0;
        clear: both;
        display: block;
    }

    .iconized-title {
        display: table;

        .glyphicon {
            vertical-align: middle;
            display: table-cell;
            padding-left: .5em;
        }

        p {
            padding-left: 0.7em;
            vertical-align: middle;
            display: table-cell;
        }
    }
    
    /** Customized or extended Bootstrap components **/
    /* bottom modal */
    .modal.bottom {
        .modal-dialog {
            position: absolute;
            padding: 10px;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    
    /* top modal: modals appear on top by default, but
        needs an extra margin to avoid hide the top
        nav (thats blocked but gets more nice UI)
    */
    .modal {
        .modal-dialog {
            padding-top: $app-var-height;
        }
    }
    
    /* why modals has not the standard modal-backdrop? anyway, fix.. */
    .modal {
        background: rgba(0, 0, 0, .4);
    }
    
    /** Specific pages code */
    .app-complete {
        .success-icon {
            font-size: 4em;
            text-align: center;
            display: block;
        }

        .lead {
            margin-top: 2em;
            margin-bottom: 2em;
        }
    }
}

/** Components styles **/
@import 'components/ListView.styl'
@import 'components/SectionTitle.styl'
@import 'components/Activity.styl'
@import 'components/LeadContent.styl'
@import 'components/DatePicker.styl'
@import 'components/CardsDeck.styl'
@import 'components/Card.styl'
@import 'components/GroupedTimeSlots.styl'
@import 'components/SimpleList.styl'

/** Activities styles **/
@import 'activities/calendar.styl'
@import 'activities/appointment.styl'
@import 'activities/clients.styl'

