@import "nib"
@import 'utils/mediaQueries.styl'
@import 'utils/styleguideVars.styl'

/** Vars */
$container-padding-left = 10px;
$container-padding-right = 10px;

/** We use ever all the available screen **/
html.app,
html.app > body {
    height: 100%;
}
html.app > body > .container,
html.app > body > .container-fluid {
    min-height: 100%;
    height: 100%;
}

/* More app specific styles */
.app {
    /* Space for nav-header on top */
    body {
        padding-top: 51px;
    }

    /*
        Standard components customized for app
    */
    /* Container */
    .container,
    .container-fluid {
        /* Overwriting default Bootstrap margins */
        padding-left: $container-padding-left;
        padding-right: $container-padding-right;
        
        .row {
            margin-left: 0 - $container-padding-left
            margin-right: 0 - $container-padding-right;
        }
        
        /* Space for nav at bottom */
        .has-bottom-navbar {
            padding-bottom: 50px;
        }
    }
    /* app-nav (new class under .navbar) */
    .app-nav {
      position: relative;
    }
    .app-nav .navbar-brand {
      float: none;
      display: inline-block;
      
      text-indent: -99999px;
      background: url("../../../assets/images/logo-loconomics-header-mini.png") no-repeat center;
      hr-image("../../../assets/images/logo-loconomics-header-mini@2x.png", 100px, 39px);
      min-width: 100px;
      min-height: 39px;
    }
    .app-nav .navbar-toggle {
      float: none;
      margin-right: 0;
    }
    .app-nav .navbar-action {
      margin: 8px 0;
    }
    
    /* Each page/dialog/section is an 'activity' */
    .activity,
    [data-activity] {
        /* settings specially important for the use of navbar
           but applied to all for consistent results
           with/without navbar
        */
        min-height: 100%;
        height: 100%;
        position: relative;
        overflow: auto;
        
        /* other styles */
        /* ...*/
    
        /* activity-navbar (new class for .navbar components)
           Its a navbar specific of an activity, placed on
           bottom
        */
        .activity-navbar {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            padding-bottom: 0px;
            margin-bottom: 0px;
            
            background: none;
            border-color: transparent;
        }
        
        /*VAR from a Bootstrap value:*/
        $bs-navbar-height = 50px;

        /* activity must be notified of the navbar to fix
           available space
        */
        &.has-navbar {
            padding-bottom: $bs-navbar-height;
        }
        
        /* Hidden until active */
        display: none;
        /*transition: 2000ms all;
        opacity: 0;
        z-index: 1;*/
        &.is-active {
            display: block;
           /* opacity: 1;
            z-index: 2;*/
        }
    }
    
    /**
        Custom Buttons --very specific
    **/
    .btn-google {
        background-color: #CC0000;
        color: white;
    }
    .btn-facebook {
        background-color: #085394;
        color: white;
    }
    
    /**
        Some small utilities,
        they *may* upgrade to its own class as
        part of the Styleguide elements.
    **/
    /* Isolated element, a block with a margin to separate itself from other elements. */
    .isolated {
        margin: 14px 0;
        clear: both;
        display: block;
    }

    .iconized-title {
        display: table;

        .glyphicon {
            vertical-align: middle;
            display: table-cell;
            padding-left: .5em;
        }

        p {
            padding-left: 0.7em;
            vertical-align: middle;
            display: table-cell;
        }
    }
    
    /* centered modal */
    /* TODO: large content gets innacessible using this centering technique */
    .modal.centered {
        &.in {
            display: table !important;
            width: 100%;
            height: 100%;
        }
    
        .modal-dialog {
            display: table-cell;
            padding: 10px;
            vertical-align: middle;
        }
    }
    
    /* why modals has not the standard modal-backdrop? anyway, fix.. */
    .modal {
        background: rgba(0, 0, 0, .4);
    }
    
    /** Specific pages code */
    .app-complete {
        .success-icon {
            font-size: 4em;
            text-align: center;
            display: block;
        }

        .lead {
            margin-top: 2em;
            margin-bottom: 2em;
        }
    }
}

/** Components styles **/
@import 'components/ListView.styl'
@import 'components/SectionTitle.styl'
@import 'components/ActivityTitle.styl'
@import 'components/LeadContent.styl'
@import 'components/DatePicker.styl'
@import 'components/CardsDeck.styl'
@import 'components/Card.styl'
@import 'components/GroupedTimeSlots.styl'
@import 'components/SimpleList.styl'

/** Activities styles **/
@import 'activities/calendar.styl'
@import 'activities/clients.styl'

