@{
    // Page to manage generally errors
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    Page.Title = "Page Error :-(";
    Response.StatusCode = 500;
}
<div id="container">
    <h1>We're sorry, we've encountered an error. If this persists, please send us a message by clicking on the orange tab at the bottom of your screen so we can help you.</h1>
</div>
