@{
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    Page.Title = "Page Not Found";
    Response.StatusCode = 404;
    
    try{
        using (var logger = new LcLogger("PageNotFound"))
        {
            logger.Log("Page not found, custom 404 page showed. Context:");
            logger.Log("Current Request:: {0} {1}", Request.HttpMethod, Request.RawUrl);
            logger.Log("Referrer URL:: {0}", Request.UrlReferrer);
            logger.Log("User:: {0}:{1}", WebMatrix.WebData.WebSecurity.CurrentUserId, WebMatrix.WebData.WebSecurity.CurrentUserName);
            logger.Log("User-Agent:: {0}", Request.UserAgent);
            logger.Save();
        }
    }catch{}
}
<div id="container">
    <h1>We're unable to find what you're looking for. Please <a href="https://loconomics.zendesk.com/anonymous_requests/new" target="_blank">send us a note</a> so we can assist you.</h1>
</div>
