@{
    LcHelpers.ProviderPage();
    
    var u = LcData.UserInfo.GetUserRow();
    var PageState = PageData["PageState"] ?? ModelState;
    var doReturn = PageState == ModelState;
    
    var WebsiteUrl = Request["website-url"] ?? u.ProviderWebsiteURL;
    
    if (IsPost && Validation.IsValid()) {
        
        // Automatically add http:// if users doesn't put a protocol on its website url. Before validation!
        if (!String.IsNullOrEmpty(WebsiteUrl)) {
            if (!WebsiteUrl.StartsWith("http")) {
                WebsiteUrl = "http://" + WebsiteUrl;
            }
            if (!LcValidators.IsUrl(WebsiteUrl)) {
                PageState.AddError("website-url", "The website URL you entered is invalid");
            }
        }
        
        using (var db = Database.Open("sqlloco"))
        {
            db.Execute(@"
                DECLARE 
                @UserID int
                ,@WebsiteUrl varchar(2078)

                SET @UserID = @0
                SET @WebsiteUrl = @1

                BEGIN TRAN

                /* Update User Personal Data */
                UPDATE	Users
                SET
                        ProviderWebsiteURL = @WebsiteUrl

                        ,UpdatedDate = getdate()
                        ,ModifiedBy = 'sys'
                WHERE   UserId = @UserID

                COMMIT TRAN
            ",
                u.UserID,
                WebsiteUrl);
            
            if (doReturn) {
                LcHelpers.ReturnJsonResult(5, LcRessources.ShortDataSaved);
            }
        }
    }
}
<div class="DashboardPersonalWebsite">
    <p class="DashboardSection-page-section-introduction">
        If you have your own website, let us know the URL. After you accept a booking,
        we'll send the link to clients to let them do some more research before their appointment.
    </p>
    <fieldset>
        <legend>Enter your website:</legend>
        <input type="text" name="website-url" value="@WebsiteUrl" @Validation.GetHtml("website-url") />
        @Html.ValidationMessage("website-url")
    </fieldset>
</div>