@* 
    Pricing Wizard, Customer View, PricingType 3:Packages
 *@
@using WebMatrix.Data;
@{
    var clienttypeid = PageData["ClientTypeID"];
    var c = PageData["customerrow"];
    var p = PageData["positionrow"];
    
    using (var db = Database.Open("sqlloco")){
        // Get the Variables
        /*
        var pvars = db.Query(@"
            SELECT *
            FROM    pricingvariable
            WHERE   CountryID=@0 AND LanguageID=@1 AND ClientTypeID=@2 AND PositionID=@3
        ", 1, 1, clienttypeid, p.PositionID);
        */
    }
}
    <ul>
        <li>Packages Pricing Type</li>
    </ul>