/** Promote
**/
@import "../utils/BasicForm"

.DashboardPromote {
    
    .DashboardBookNowButton {
        .DashboardBookNowButton-buttonSizes {
            .DashboardBookNowButton-buttonSizes-selection {
                margin: 6px 0;
            }

            > p,
            .DashboardBookNowButton-buttonSizes-preview {
                margin: 6px;
            }
        
            .DashboardBookNowButton-buttonSizes-preview {
                min-height: 60px;
            }
        }
    
        .DashboardBookNowButton-buttonUrl {
        }
    
        .DashboardBookNowButton-buttonCode textarea {
            height: 10em;
        }
    }
    
    .DashboardCustomUrl {
        input {
            width: 140px !important;
        }
    }
}