/** To-dos
**/
@import "../utils/ColorsPalette"

.DashboardTodos {
    
    .DashboardTodos-summary {
    
        .DashboardTodos-summary-list {
            
            .DashboardTodos-summary-list-dismiss {
                float: right;
                color: White;
                background: $colorOrange;
                display: inline-block;
                border-radius: 100%;
                width: 1.2em;
                font-size: 1em;
                line-height: 1.2em;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
            }
        
        }
    
    }
    
}
