@{
 
    if (WebSecurity.IsAuthenticated) {
        Layout = "~/_SiteLayout.cshtml";
        var UserID  = WebSecurity.CurrentUserId;
    }else{
        Response.Redirect("~/Default");
    }

    var customerName = Request["customerName"];
    var customerRequest = Request["customerRequest"];
    try {

        // Send email
        WebMail.Send("loconomic.devteam@gmail.com",
            "Help request from - " + customerName,
            customerRequest
        );
    }
    catch (Exception ex ) {
        <text>
            <b>The email was <em>not</em> sent.</b>
            The code in the ProcessRequest page must provide an
            SMTP server name, a user name, a password, and
            a "from" address.
        </text>
    }
}
<div id="container">
  <title>Request for Assistance</title>
</head>
<body>
  <p>Sorry to hear that you are having trouble, <b>@customerName</b>.</p>

  <p>An email message has been sent to our customer service
     department regarding the following problem:</p>

  <p><b>@customerRequest</b></p>
</div>