
        @{
        
        if (WebSecurity.IsAuthenticated) {

        Layout = "~/_SiteLayout.cshtml";

        var UserID  = WebSecurity.CurrentUserId;

        }else{

            Response.Redirect("~/Default");

            }
      
        if(IsPost)
        {
              var Titles = Request["positionid"];
              Response.Redirect("~/provider-wizard-step3.cshtml?selectedTitles=" + Titles );
                        
        }
      } 
      
     
 
   
   <script type="text/javascript">
$(function(){
    //Fill the customer drop down
    $('#positionid').addOption('',"Loading....").attr('disabled', true);
    $.getJSON('ListPositions', function(data) {
        var positions = data;
        $.each(positions, function(index, position) {
           for (var i = 0; i < positions.length; i++) {
                var val = position.positionid;
                var text = position.position;
                $('#positionid').addOption(val, text, false);
            }
        });
        $('#positionid').removeOption(0).attr('disabled', false);
    });    
  });
  </script>




<!--
  <div id="container" class="sign-up">
 	<div id="main">
		<form class="stepped" method="post">    
   			<div class="progress-bar">
				<span class="total"><span class="percent-done"></span></span>
				<span class="text"><span class="percent-done">10%</span> complete</span>
			</div>
			<h1>Step 2: Tell us about the work you do</h1>
			<img class="inset" src="img/media-placeholder.png" alt="" />
			<p>Now it's time to select the job titles of the services you want to provide on the site up to five. *</p>
            <select id="positionid" name="positionid"></select>        
           	<fieldset class="buttons">
				<button class="next fancy" type="submit">Save &amp; Close</button>
				<button id="advancer" class="next fancy" type="submit">Continue ➔</button>
				<input type="submit" class="hidden" />
			</fieldset>
         
    
			</form>
		<p><small>* <strong>Reminder:</strong>: Work provided through Loconomics is for individuals only and providing services for anyone other than yourself is strictly prohibited and against our terms of use and mission.  It's okay if you currently work for someone else as long as the services and availability you provide on Loconomics are outside of your other work obligations.  Violaters will have their profile permanently removed and may be prosecuted.</small></p>
    </div>
	</div> 
-->
   

<div id="container" class="sign-up">
	<div id="main">
		<form id="createLogin2" class="stepped" action="" method="post">
			<div class="progress-bar">
				<span class="total"><span class="percent-done"></span></span>
				<span class="text"><span class="percent-done">10%</span> complete</span>
			</div>
			<h1>Step 2: Tell us about the work you do</h1>
			<img class="inset" src="img/media-placeholder.png" alt="" />
			<p>Now it's time to select the job titles of the services you want to provide on the site up to five. *</p>
			<fieldset>
				<!--<label for="titleSearch"><em>Start typing a job title and we'll show you a list of existing titles. If none matches yours, you can submit a new title.</em></label>
				<input type="text" class="fanciful" id="titleSearch" autocomplete="off" />
				 <button class="fanciful" type="submit">Submit As New</button>-->
                <select id="positionid" name="positionid"></select>        
				
			</fieldset>
			<fieldset>
				<h4>Your titles: </h4>
				<ul id="selectedTitles" class="collection empty"></ul>
			</fieldset>
			<fieldset class="buttons">
				<button class="next fancy" type="submit">Save &amp; Close</button>
				<button id="advancer" class="next fancy" type="submit">Continue ➔</button>
				<input type="submit" class="hidden" />
			</fieldset>
		</form>
		<p><small>* <strong>Reminder:</strong>: Work provided through Loconomics is for individuals only and providing services for anyone other than yourself is strictly prohibited and against our terms of use and mission.  It's okay if you currently work for someone else as long as the services and availability you provide on Loconomics are outside of your other work obligations.  Violaters will have their profile permanently removed and may be prosecuted.</small></p>
    </div>
</div>