@* List, create, edit and remove Calendar Events - Appintments.
*@
@{
    LcHelpers.SecurePage();
    
    var u = LcData.UserInfo.GetUserRow();
    var PageState = PageData["PageState"] ?? ModelState;
    var doReturn = PageState == ModelState;
    
    var datacontext = "appointments";
}
<p class="DashboardSection-page-section-introduction">
    Here you can add appointments or bookings you've made outside of Loconomics to ensure
    we do not book you during the times that you're already busy.
    If you use a calendar program, it's best you sync your calendar so you don't have to
    enter them twice.
</p>
<fieldset class="DashboardAppointments crudl Crudl--basicStyle" data-crudl-context="@datacontext" data-crudl-item-id-parameter="AppointmentID" data-crudl-extra-query="subform=true">
    <div class="DashboardAppointments-editor crudl-editor BasicForm" data-source-url="@(LcUrl.LangUrl)$dashboard/Availability/$AppointmentEdit/">
    </div>
    <div class="DashboardAppointments-list crudl-viewer">
        <div class="lc-ressources">
            <div id="lcres-confirm-delete-crudl-item-message:@datacontext">Do you want to delete this?</div>
            <div id="lcres-delete-crudl-item-loading-message:@datacontext">Deleting</div>
        </div>

        <div class="ActionsBoxList">
            <div class="ActionBox">
                <a href="#add-offline-booking" class="crudl-create" data-crudl-extra-query="type=5">Add offline booking</a>
                <p>
                    If you've made a booking outside Loconomics, you can add it here
                    to ensure you don't get double-booked.
                </p>
            </div>
            <div class="ActionBox">
                <a href="#add-appointment" class="crudl-create" data-crudl-extra-query="type=3">Add appointment</a>
                <p>
                    Going to the dentist?
                    Block off your calendar for any appointments you have.
                    We can handle both one-time and recurring events.
                </p>
            </div>
        </div>

        <div class="crudl-list" data-source-url="@(LcUrl.LangUrl)$dashboard/Availability/$AppointmentsList/">
            @RenderPage("$AppointmentsList.cshtml")
        </div>
    </div>
</fieldset>