@using Braintree;
@using WebMatrix.Data;
@{
    LcHelpers.ProviderPage();
    
    var PageState = PageData["PageState"] ?? ModelState;
    var doReturn = PageState == ModelState;

    var userId = WebSecurity.CurrentUserId;

    if (IsPost && Validation.IsValid()) {
        
        if (!Request["monthly"].IsEmpty()) {
            // Json.Decode doesn't work as expected with Arrays, getting and empty object instead, 
            // breaking the code.
            //workhours = Json.Decode(Request["workhours"]);
            dynamic monthlyData = Newtonsoft.Json.JsonConvert.DeserializeObject(Request["monthly"] ?? "");

            LcCalendar.SaveMonthlyCalendarJsonData(userId, monthlyData);
            
            if (doReturn) {
                LcHelpers.ReturnJsonResult(5, LcRessources.ShortDataSaved);
            }
            
        } else {
            ModelState.AddFormError("There was not monthly schedule appointments to save, maybe an error?");
        }
    }
}
<p class="DashboardSection-page-section-introduction">
    Taking some days off? Select them here to ensure you're not booked.
</p>
<fieldset class="DashboardWeeklySchedule">

    @RenderPage(LcUrl.RenderLangPath + "Calendar/$Monthly.cshtml", new { User = userId, Editable = true })

</fieldset>