<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
id="com.loconomics.app" version="0.15.7">
  <name>Loconomics</name>
  <description>Make your life better</description>
  <author href="https://loconomics.com"
  email="support@loconomics.com"></author>
  <content src="index.html" />
  <!-- Page Not Found error goes to: -->
  <preference name="ErrorUrl" value="index.html" />
  <!-- Enable individual API permissions here. The "device" permission is
  required for the 'deviceready' event. -->
  <feature name="http://api.phonegap.com/1.0/device" />
  <platform name="ios" />
  <platform name="android" />
  <!-- If you do not want any permissions to be added to your app, add the
  following tag to your config.xml; you will still have the INTERNET permission
  on your app, which PhoneGap requires. -->
  <preference name="permissions" value="none" />
  <!-- Customize your app and platform with the preference element. -->
  <preference name="phonegap-version" value="cli-5.2.0" />
  <!-- all: default means both landscape and portrait are enabled -->
  <preference name="orientation" value="default" />
  <!-- all: possible values handset, tablet, or universal -->
  <preference name="target-device" value="universal" />
  <!-- all: hides the status bar at the top of the screen -->
  <preference name="fullscreen" value="false" />
  <!-- ios: control whether the screen 'bounces' when scrolled beyond the
  top -->
  <preference name="webviewbounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the
  app's icon on the user's home screen -->
  <preference name="prerendered-icon" value="true" />
  <!-- ios: external links should open in the default browser, 'true' would
  use the webview the app lives in -->
  <preference name="stay-in-webview" value="false" />
  <!-- ios: controls whether data types (such as phone no. and dates) are
  automatically turned into links by the system -->
  <preference name="detect-data-types" value="false" />
  <!-- ios: if set to true, app will terminate when home button is pressed
  -->
  <preference name="exit-on-suspend" value="false" />
  <!-- blackberry: prevents a mouse-icon/cursor from being displayed on
  the app -->
  <preference name="disable-cursor" value="false" />
  <!-- android: MIN SDK version supported on the target device. MAX version
  is blank by default. -->
  <!-- Android: 7->2.1, 10->2.3.3, 11->3.0, 14->4.0. All: https://en.wikipedia.org/wiki/Android_version_history -->
  <preference name="android-minSdkVersion" value="14" />
  <!-- android: app install location. 'auto' will choose. 'internalOnly'
  is device memory. 'preferExternal' is SDCard. -->
  <preference name="android-installLocation" value="auto" />
  <!-- Splash screen -->
  <preference name="FadeSplashScreen" value="true" />
  <preference name="FadeSplashScreenDuration" value="500" />
  <preference name="ShowSplashScreenSpinner" value="false" />
  <preference name="AutoHideSplashScreen" value="false" />
  <!-- ios: if set to false, the splash screen must be hidden using a JavaScript
  API -->
  <!-- Android quirks (http://plugins.cordova.io/#/package/org.apache.cordova.splashscreen)
  -->
  <!-- <preference name="SplashScreen" value="Android9patchfilePreferred.9.png"
  />-->
  <!-- Plugin StatusBar settings; needs the Javascript calls to 'disable
  overlay' to work -->
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarBackgroundColor" value="transparent" />
  <!-- ios: black-translucent will appear black because the PhoneGap webview
  doesn't go beneath the status bar -->
  <preference name="StatusBarStyle" value="default" />
  <!-- PhoneGap plugins -->
  <!-- fix problem with transparent overlay statusbar iOS 7 -->
  <plugin name="cordova-plugin-statusbar" spec="1.0.1" />
  <!-- Control keyboard to fix some buggy default behaviors -->
  <plugin name="ionic-plugin-keyboard" spec="1.0.7" />
  <!-- Control the splash screen -->
  <plugin name="cordova-plugin-splashscreen" spec="3.0.0" />
  <plugin name="cordova-plugin-inappbrowser" spec="1.0.1" />
  <plugin name="cordova-plugin-device" spec="1.0.1" />
  <plugin name="cordova-plugin-wkwebview" spec="0.6.5" />
  <plugin name="cordova-plugin-whitelist" spec="1.0.0" />
  <plugin name="cordova-plugin-camera" spec="1.2.0" />
  <plugin name="cordova-plugin-file" spec="3.0.0" />
  <plugin name="cordova-plugin-file-transfer" spec="1.2.1" />
  <plugin name="cordova-universal-clipboard" spec="0.1.0" />
  <!--<plugin name="com.instabug.phonegap" spec="0.1.6" />-->
  <!-- Define access to external domains. <access />- a blank access tag denies access to all external resources.
  <access origin="*"
  />- a wildcard access tag allows access to all external resource. Otherwise,
  you can specify specific domains: -->
  <!-- Strict acces is being problematic,
  not working for subdomains in Android, maybe blocking more things. TODO:
  review, double check with new PhoneGap version or different Android versions
  so an be enabled again instead of the 'allow all'. On iOS7.1 there was
  no problem (not sure if allowed all or was correctly restricted) <access
  origin="http://127.0.0.1*"/>
  <access origin="https://loconomics.com" subdomains="true" />-->
  <!--<access origin="http://127.0.0.1*"/>allow local pages -->
  <access origin="*" />
  <!-- Todo, para poder cargar Google calendar y maps -->
  <!-- New in Cordova Android>=4.0, affects to iframes and links -->
  <allow-intent href="*" />
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <!-- icons and splash screens -->
  <icon src="res/icon/icon.png" />
  <splash src="res/screen/android/splash-port-hdpi.png" />
  <!-- Define app splash screen for each platform. -->
  <platform name="android">
    <icon src="res/icon/android/icon-36-ldpi.png" gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png" gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png" gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png" gap:qualifier="xhdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png" gap:qualifier="xxhdpi"
    />
    <icon src="res/icon/android/icon-96-xhdpi.png" gap:qualifier="xxxhdpi"
    />
    <!-- you can use any density that exists in the Android project -->
    <splash src="res/screen/android/splash-land-hdpi.png" gap:qualifier="land-hdpi"
    />
    <splash src="res/screen/android/splash-land-ldpi.png" gap:qualifier="land-ldpi"
    />
    <splash src="res/screen/android/splash-land-mdpi.png" gap:qualifier="land-mdpi"
    />
    <splash src="res/screen/android/splash-land-xhdpi.png" gap:qualifier="land-xhdpi"
    />
    <splash src="res/screen/android/splash-land-xhdpi.png" gap:qualifier="land-xhdpi"
    />
    <splash src="res/screen/android/splash-land-xhdpi.png" gap:qualifier="land-xxhdpi"
    />
    <splash src="res/screen/android/splash-land-xhdpi.png" gap:qualifier="land-xxxhdpi"
    />
    <splash src="res/screen/android/splash-port-hdpi.png" gap:qualifier="port-hdpi"
    />
    <splash src="res/screen/android/splash-port-ldpi.png" gap:qualifier="port-ldpi"
    />
    <splash src="res/screen/android/splash-port-mdpi.png" gap:qualifier="port-mdpi"
    />
    <splash src="res/screen/android/splash-port-xhdpi.png" gap:qualifier="port-xhdpi"
    />
    <splash src="res/screen/android/splash-port-xhdpi.png" gap:qualifier="port-xxhdpi"
    />
    <splash src="res/screen/android/splash-port-xhdpi.png" gap:qualifier="port-xxxhdpi"
    />
  </platform>
  <platform name="ios">
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch -->
    <!-- <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
    <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />-->
    <!-- iPad of exactly '76x76' pixels, in .png format for iOS versions>= 7.0.   -->
    <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
    <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
    <!-- iPhone / iPod Touch of exactly '120x120' pixels, in .png format for
    iOS versions>= 7.0. -->
    <icon src="res/icon/ios/icon-120.png" width="120" height="120" />
    <icon src="res/icon/ios/icon-120@2x.png" width="240" height="240" />
    <!-- iPad of exactly '152x152' pixels, in .png format for iOS versions>= 7.0 -->
    <icon src="res/icon/ios/icon-152.png" width="152" height="152" />
    <icon src="res/icon/ios/icon-152@2x.png" width="304" height="304" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <!-- <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
    <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />-->
    <!-- iPhone / iPod Touch -->
    <icon src="res/icon/ios/icon-57.png" width="57" height="57" />
    <icon src="res/icon/ios/icon-57@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
    <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <!-- <icon src="res/ios/icon-small.png" width="29" height="29" />
    <icon src="res/ios/icon-small@2x.png" width="58" height="58" />-->
    <!-- iPad Spotlight and Settings Icon -->
    <!-- <icon src="res/ios/icon-50.png" width="50" height="50" />
    <icon src="res/ios/icon-50@2x.png" width="100" height="100" />-->
    <!-- images are determined by width and height. The following are supported
    -->
    <splash src="res/screen/ios/splash-iphone-landscape.png" width="480" height="320"
    />
    <splash src="res/screen/ios/splash-iphone-portrait.png" width="320" height="480"
    />
    <splash src="res/screen/ios/splash-iphone-landscape@2x.png" width="960"
    height="640" />
    <splash src="res/screen/ios/splash-iphone-portrait@2x.png" width="640"
    height="960" />
    <splash src="res/screen/ios/splash-ipad-landscape.png" width="1024" height="768"
    />
    <splash src="res/screen/ios/splash-ipad-portrait.png" width="768" height="1024"
    />
    <splash src="res/screen/ios/splash-ipad-landscape@2x.png" width="2048"
    height="1536" />
    <splash src="res/screen/ios/splash-ipad-portrait@2x.png" width="1536"
    height="2048" />
    <!-- Larger iPhone5+ -->
    <splash src="res/screen/ios/splash-iphone-portrait-568h@2x.png" width="640"
    height="1136" />
  </platform>
</widget>