<?xml version='1.0' encoding='utf-8'?>
<widget id="com.loconomics.app" version="0.16.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Loconomics</name>
    <description>Make your life better</description>
    <author email="support@loconomics.com" href="https://loconomics.com" />
    <content src="index.html" />
    <preference name="ErrorUrl" value="index.html" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <platform name="ios" />
    <platform name="android" />
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="transparent" />
    <preference name="StatusBarStyle" value="default" />
    <plugin name="cordova-plugin-statusbar" spec="1.0.1" />
    <plugin name="ionic-plugin-keyboard" spec="1.0.7" />
    <plugin name="cordova-plugin-splashscreen" spec="3.0.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.0.1" />
    <plugin name="cordova-plugin-device" spec="1.0.1" />
    <plugin name="cordova-plugin-wkwebview" spec="0.6.5" />
    <plugin name="cordova-plugin-whitelist" spec="1.0.0" />
    <plugin name="cordova-plugin-camera" spec="1.2.0" />
    <plugin name="cordova-plugin-file" spec="3.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="1.2.1" />
    <plugin name="cordova-universal-clipboard" spec="0.1.0" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <icon src="res/icon/icon.png" />
    <splash src="res/screen/android/splash-port-hdpi.png" />
    <platform name="android">
        <icon gap:qualifier="ldpi" src="res/icon/android/icon-36-ldpi.png" />
        <icon gap:qualifier="mdpi" src="res/icon/android/icon-48-mdpi.png" />
        <icon gap:qualifier="hdpi" src="res/icon/android/icon-72-hdpi.png" />
        <icon gap:qualifier="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
        <icon gap:qualifier="xxhdpi" src="res/icon/android/icon-96-xhdpi.png" />
        <icon gap:qualifier="xxxhdpi" src="res/icon/android/icon-96-xhdpi.png" />
        <splash gap:qualifier="land-hdpi" src="res/screen/android/splash-land-hdpi.png" />
        <splash gap:qualifier="land-ldpi" src="res/screen/android/splash-land-ldpi.png" />
        <splash gap:qualifier="land-mdpi" src="res/screen/android/splash-land-mdpi.png" />
        <splash gap:qualifier="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png" />
        <splash gap:qualifier="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png" />
        <splash gap:qualifier="land-xxhdpi" src="res/screen/android/splash-land-xhdpi.png" />
        <splash gap:qualifier="land-xxxhdpi" src="res/screen/android/splash-land-xhdpi.png" />
        <splash gap:qualifier="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash gap:qualifier="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash gap:qualifier="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash gap:qualifier="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash gap:qualifier="port-xxhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash gap:qualifier="port-xxxhdpi" src="res/screen/android/splash-port-xhdpi.png" />
    </platform>
    <platform name="ios">
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="120" src="res/icon/ios/icon-120.png" width="120" />
        <icon height="240" src="res/icon/ios/icon-120@2x.png" width="240" />
        <icon height="152" src="res/icon/ios/icon-152.png" width="152" />
        <icon height="304" src="res/icon/ios/icon-152@2x.png" width="304" />
        <icon height="57" src="res/icon/ios/icon-57.png" width="57" />
        <icon height="114" src="res/icon/ios/icon-57@2x.png" width="114" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <splash height="320" src="res/screen/ios/splash-iphone-landscape.png" width="480" />
        <splash height="480" src="res/screen/ios/splash-iphone-portrait.png" width="320" />
        <splash height="640" src="res/screen/ios/splash-iphone-landscape@2x.png" width="960" />
        <splash height="960" src="res/screen/ios/splash-iphone-portrait@2x.png" width="640" />
        <splash height="768" src="res/screen/ios/splash-ipad-landscape.png" width="1024" />
        <splash height="1024" src="res/screen/ios/splash-ipad-portrait.png" width="768" />
        <splash height="1536" src="res/screen/ios/splash-ipad-landscape@2x.png" width="2048" />
        <splash height="2048" src="res/screen/ios/splash-ipad-portrait@2x.png" width="1536" />
        <splash height="1136" src="res/screen/ios/splash-iphone-portrait-568h@2x.png" width="640" />
    </platform>
    <engine name="browser" spec="~4.1.0" />
</widget>
