<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
id="com.loconomics.app" version="0.9.5">
  <name>Loconomics</name>
  <description>Make your life better</description>
  <author href="https://loconomics.com"
  email="support@loconomics.com"></author>
  <content src="index.html" />
  <!-- Page Not Found error goes to: -->
  <preference name="ErrorUrl" value="index.html" />
  <!-- Enable individual API permissions here. The "device" permission is
  required for the 'deviceready' event. -->
  <feature name="http://api.phonegap.com/1.0/device" />
  <gap:platform name="ios" />
  <gap:platform name="android" />
  <!-- If you do not want any permissions to be added to your app, add the
  following tag to your config.xml; you will still have the INTERNET permission
  on your app, which PhoneGap requires. -->
  <preference name="permissions" value="none" />
  <!-- Customize your app and platform with the preference element. -->
  <preference name="phonegap-version" value="cli-5.2.0" />
  <!-- all: default means both landscape and portrait are enabled -->
  <preference name="orientation" value="default" />
  <!-- all: possible values handset, tablet, or universal -->
  <preference name="target-device" value="universal" />
  <!-- all: hides the status bar at the top of the screen -->
  <preference name="fullscreen" value="false" />
  <!-- ios: control whether the screen 'bounces' when scrolled beyond the
  top -->
  <preference name="webviewbounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the
  app's icon on the user's home screen -->
  <preference name="prerendered-icon" value="true" />
  <!-- ios: external links should open in the default browser, 'true' would
  use the webview the app lives in -->
  <preference name="stay-in-webview" value="false" />
  <!-- ios: controls whether data types (such as phone no. and dates) are
  automatically turned into links by the system -->
  <preference name="detect-data-types" value="false" />
  <!-- ios: if set to true, app will terminate when home button is pressed
  -->
  <preference name="exit-on-suspend" value="false" />
  <!-- blackberry: prevents a mouse-icon/cursor from being displayed on
  the app -->
  <preference name="disable-cursor" value="false" />
  <!-- android: MIN SDK version supported on the target device. MAX version
  is blank by default. -->
  <preference name="android-minSdkVersion" value="11" />
  <!-- android: app install location. 'auto' will choose. 'internalOnly'
  is device memory. 'preferExternal' is SDCard. -->
  <preference name="android-installLocation" value="auto" />
  <!-- Splash screen -->
  <!-- ios: if set to false, the spinner won't appear on the splash screen
  during app loading -->
  <preference name="show-splash-screen-spinner" value="true" />
  <!-- ios: if set to false, the splash screen must be hidden using a JavaScript
  API -->
  <preference name="auto-hide-splash-screen" value="false" />
  <!-- Documentation states two names, using both :-) -->
  <preference name="AutoHideSplashScreen" value="false" />
  <!-- Android quirks (http://plugins.cordova.io/#/package/org.apache.cordova.splashscreen)
  -->
  <!-- <preference name="SplashScreen" value="Android9patchfilePreferred.9.png"
  />
  <preference name="SplashScreenDelay" value="3000" />-->
  <!-- Plugin StatusBar settings; needs the Javascript calls to 'disable
  overlay' to work -->
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarBackgroundColor" value="transparent" />
  <!-- ios: black-translucent will appear black because the PhoneGap webview
  doesn't go beneath the status bar -->
  <preference name="StatusBarStyle" value="blackopaque" />
  <preference name="ios-statusbarstyle" value="blackopaque" />
  <!-- PhoneGap Build plugins -->
  <!-- fix problem with transparent overlay statusbar iOS 7 -->
  <gap:plugin name="cordova-plugin-statusbar" version="1.0.1" source="npm"
  />
  <!-- Control keyboard to fix some buggy default behaviors -->
  <gap:plugin name="ionic-plugin-keyboard" version="1.0.7" source="npm"
  />
  <!-- Control the splash screen -->
  <gap:plugin name="cordova-plugin-splashscreen" version="2.1.0 " source="npm"
  />
  <gap:plugin name="cordova-plugin-inappbrowser" version="1.0.1" source="npm"
  />
  <gap:plugin name="cordova-plugin-device" version="1.0.1" source="npm"
  />
  <gap:plugin name="cordova-plugin-wkwebview" version="0.6.5" source="npm"
  />
  <gap:plugin name="cordova-plugin-whitelist" version="1.0.0" source="npm"
  />
  <gap:plugin name="cordova-plugin-camera" version="1.2.0" source="npm"
  />
  <!-- More official plugins examples -->
  <!-- <gap:plugin name="org.apache.cordova.battery-status" />
  <gap:plugin name="org.apache.cordova.media-capture" />
  <gap:plugin name="org.apache.cordova.console" />
  <gap:plugin name="org.apache.cordova.contacts" />
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.device-motion" />
  <gap:plugin name="org.apache.cordova.device-orientation" />
  <gap:plugin name="org.apache.cordova.dialogs" />
  <gap:plugin name="org.apache.cordova.file" />
  <gap:plugin name="org.apache.cordova.file-transfer" />
  <gap:plugin name="org.apache.cordova.geolocation" />
  <gap:plugin name="org.apache.cordova.globalization" />
  <gap:plugin name="org.apache.cordova.inappbrowser" />
  <gap:plugin name="org.apache.cordova.media" />
  <gap:plugin name="org.apache.cordova.network-information" />
  <gap:plugin name="org.apache.cordova.vibration" />-->
  <!-- Define access to external domains. <access />- a blank access tag denies access to all external resources.
  <access origin="*"
  />- a wildcard access tag allows access to all external resource. Otherwise,
  you can specify specific domains: -->
  <!-- Strict acces is being problematic,
  not working for subdomains in Android, maybe blocking more things. TODO:
  review, double check with new PhoneGap version or different Android versions
  so an be enabled again instead of the 'allow all'. On iOS7.1 there was
  no problem (not sure if allowed all or was correctly restricted) <access
  origin="http://127.0.0.1*"/>
  <access origin="https://loconomics.com" subdomains="true" />-->
  <!--<access origin="http://127.0.0.1*"/>allow local pages -->
  <access origin="*" />
  <!-- Todo, para poder cargar Google calendar y maps -->
  <!-- New in Cordova Android>=4.0, affects to iframes and links -->
  <allow-intent href="*" />
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <!-- icons and splash screens -->
  <icon src="res/icon/icon.png" />
  <gap:splash src="res/screen/android/splash-port-hdpi.png" />
  <!-- Android -->
  <icon gap:platform="android" src="res/icon/android/icon-36-ldpi.png" gap:qualifier="ldpi"
  />
  <icon gap:platform="android" src="res/icon/android/icon-48-mdpi.png" gap:qualifier="mdpi"
  />
  <icon gap:platform="android" src="res/icon/android/icon-72-hdpi.png" gap:qualifier="hdpi"
  />
  <icon gap:platform="android" src="res/icon/android/icon-96-xhdpi.png"
  gap:qualifier="xhdpi" />
  <icon gap:platform="android" src="res/icon/android/icon-96-xhdpi.png"
  gap:qualifier="xxhdpi" />
  <icon gap:platform="android" src="res/icon/android/icon-96-xhdpi.png"
  gap:qualifier="xxxhdpi" />
  <!-- you can use any density that exists in the Android project -->
  <gap:splash gap:platform="android" src="res/screen/android/splash-land-hdpi.png"
  gap:qualifier="land-hdpi" />
  <gap:splash gap:platform="android" src="res/screen/android/splash-land-ldpi.png"
  gap:qualifier="land-ldpi" />
  <gap:splash gap:platform="android" src="res/screen/android/splash-land-mdpi.png"
  gap:qualifier="land-mdpi" />
  <gap:splash gap:platform="android" src="res/screen/android/splash-land-xhdpi.png"
  gap:qualifier="land-xhdpi" />
  <gap:splash gap:platform="android" src="res/screen/android/splash-land-xhdpi.png"
  gap:qualifier="land-xhdpi" />
  <gap:splash gap:platform="android" src="res/screen/android/splash-land-xhdpi.png"
  gap:qualifier="land-xxhdpi" />
  <gap:splash gap:platform="android" src="res/screen/android/splash-land-xhdpi.png"
  gap:qualifier="land-xxxhdpi" />
  <gap:splash gap:platform="android" src="res/screen/android/splash-port-hdpi.png"
  gap:qualifier="port-hdpi" />
  <gap:splash gap:platform="android" src="res/screen/android/splash-port-ldpi.png"
  gap:qualifier="port-ldpi" />
  <gap:splash gap:platform="android" src="res/screen/android/splash-port-mdpi.png"
  gap:qualifier="port-mdpi" />
  <gap:splash gap:platform="android" src="res/screen/android/splash-port-xhdpi.png"
  gap:qualifier="port-xhdpi" />
  <gap:splash gap:platform="android" src="res/screen/android/splash-port-xhdpi.png"
  gap:qualifier="port-xxhdpi" />
  <gap:splash gap:platform="android" src="res/screen/android/splash-port-xhdpi.png"
  gap:qualifier="port-xxxhdpi" />
  <!-- iOS -->
  <!-- iOS 7.0+ -->
  <!-- iPhone / iPod Touch -->
  <!-- <icon gap:platform="ios" src="res/icon/ios/icon-60.png" width="60"
  height="60" />
  <icon gap:platform="ios" src="res/icon/ios/icon-60@2x.png" width="120"
  height="120" />-->
  <!-- iPad -->
  <!-- <icon gap:platform="ios" src="res/icon/ios/icon-76.png" width="76"
  height="76" />
  <icon gap:platform="ios" src="res/icon/ios/icon-76@2x.png" width="152"
  height="152" />-->
  <!-- iOS 6.1 -->
  <!-- Spotlight Icon -->
  <!-- <icon gap:platform="ios" src="res/icon/ios/icon-40.png" width="40"
  height="40" />
  <icon gap:platform="ios" src="res/icon/ios/icon-40@2x.png" width="80"
  height="80" />-->
  <!-- iPhone / iPod Touch -->
  <icon gap:platform="ios" src="res/icon/ios/icon-57.png" width="57" height="57"
  />
  <icon gap:platform="ios" src="res/icon/ios/icon-57@2x.png" width="114"
  height="114" />
  <!-- iPad -->
  <icon gap:platform="ios" src="res/icon/ios/icon-72.png" width="72" height="72"
  />
  <icon gap:platform="ios" src="res/icon/ios/icon-72@2x.png" width="144"
  height="144" />
  <!-- iPhone Spotlight and Settings Icon -->
  <!-- <icon gap:platform="ios" src="res/ios/icon-small.png" width="29"
  height="29" />
  <icon gap:platform="ios" src="res/ios/icon-small@2x.png" width="58" height="58"
  />-->
  <!-- iPad Spotlight and Settings Icon -->
  <!-- <icon gap:platform="ios" src="res/ios/icon-50.png" width="50" height="50"
  />
  <icon gap:platform="ios" src="res/ios/icon-50@2x.png" width="100" height="100"
  />-->
  <!-- images are determined by width and height. The following are supported
  -->
  <gap:splash gap:platform="ios" src="res/screen/ios/splash-iphone-landscape.png"
  width="480" height="320" />
  <gap:splash gap:platform="ios" src="res/screen/ios/splash-iphone-portrait.png"
  width="320" height="480" />
  <gap:splash gap:platform="ios" src="res/screen/ios/splash-iphone-landscape@2x.png"
  width="960" height="640" />
  <gap:splash gap:platform="ios" src="res/screen/ios/splash-iphone-portrait@2x.png"
  width="640" height="960" />
  <gap:splash gap:platform="ios" src="res/screen/ios/splash-ipad-landscape.png"
  width="1024" height="768" />
  <gap:splash gap:platform="ios" src="res/screen/ios/splash-ipad-portrait.png"
  width="768" height="1024" />
  <gap:splash gap:platform="ios" src="res/screen/ios/splash-ipad-landscape@2x.png"
  width="2048" height="1536" />
  <gap:splash gap:platform="ios" src="res/screen/ios/splash-ipad-portrait@2x.png"
  width="1536" height="2048" />
  <!-- Larger iPhone5+ -->
  <gap:splash gap:platform="ios" src="res/screen/ios/splash-iphone-portrait-568h@2x.png"
  width="640" height="1136" />
</widget>