@* A message to clients that have not created a Loconomics account yet about Loconomics.
 *@
@using WebMatrix.Data;
@{
    // All the data for this component:
    var info = LcEmailTemplate.GetAccountInfo(PageData);
}
<!-- ONE COLUMN SECTION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td bgcolor="#ffffff" align="center" style="padding: 10px 15px 40px 15px;" class="section-padding">
            <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <!-- COPY -->
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px;" class="padding-copy">A Marketplace Owned by the Professionals</td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding: 20px 0 0 0; text-align: justify; text-justify: auto; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">Tell local service professionals you know about Loconomics! We're owned by the professionals providing you local services. No middle-men, no markups. Tell your friends about our professionals for all their needs.</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <!-- BULLETPROOF BUTTON -->
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                        <tr>
                                            <td align="center" style="padding: 25px 0 0 0;" class="padding-copy">
                                                <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                                    <tr>
                                                        <td align="center"><a href="mailto:%20?bcc=refer@@loconomics.com&subject=Check%20out%20Loconomics%20Cooperative&amp;body=Hi%2C%0A%0AI%20just%20wanted%20to%20share%20with%20you%20a%20new%20app%2Fsite%20for%20local%20services%20that%20could%20really%20help%20you%20with%20your%20business.%20It's%20cooperatively%20owned%20by%20the%20service%20professionals%2C%20which%20sounds%20pretty%20cool.%20%0A%0ACheck%20them%20out%20here%3A%0Ahttps%3A%2F%2Floconomics.com%2Frefer%0A%0ACheers!" target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #007a7c; border-top: 15px solid #007a7c; border-bottom: 15px solid #007a7c; border-left: 25px solid #007a7c; border-right: 25px solid #007a7c; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;" class="mobile-button">Tell your friends</a></td>                                                    
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
