@* A message to clients that have not created a Loconomics account yet about Loconomics.
 *@
@using WebMatrix.Data;
@{
    // All the data for this component:
    var info = LcEmailTemplate.GetBookingInfo(PageData);
}
<!-- ONE COLUMN SECTION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td bgcolor="#ffffff" align="center" style="padding: 10px 15px 40px 15px;" class="section-padding">
            <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <!-- COPY -->
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px;" class="padding-copy">A Marketplace Owned by the Professionals</td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding: 20px 0 0 0; text-align: justify; text-justify: auto; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">Tell local service professionals you know about Loconomics! We're owned by the professionals providing you local services. No middle-men, no markups. Tell your friends about our professionals for all their needs.</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <!-- BULLETPROOF BUTTON -->
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                        <tr>
                                            <td align="center" style="padding: 25px 0 0 0;" class="padding-copy">
                                                <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                                    <tr>
                                                        <td align="center"><a href="https://loconomics.com/?utm_source=client welcom&utm_medium=email&utm_term=marketplacemessage&utm_campaign=referfriends" target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #00989a; border-top: 15px solid #00989a; border-bottom: 15px solid #00989a; border-left: 25px solid #00989a; border-right: 25px solid #00989a; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;" class="mobile-button">Discover Local Service Professionals</a></td>                                                    
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
