@*
    Dummy page to confirm review submit
*@

@{  
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    var UserID = WebSecurity.CurrentUserId;
    Page.Title = "Review Confirmation Page.";
    
    var status = Request["status"];
        
    var error = "here goes the error message";
    var success = "here goes the confirmation message";
        
    var message = status == "error" ? error : success;
}

  <div id="container" class="home clearfix"> 
    <div id="main" class="">
		<h1>@Page.Title</h1>
		
        @Html.Raw(message)
    </div><!-- #main -->

  </div><!-- #container -->








