@using WebMatrix.WebData;
@{
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    Page.Title = "Welcome! Please provide a reference";
    
    Styles.Add(UrlUtil.AppPath + "Styles/ProviderReview.css");
    
    var providerID = Request["ProviderUserID"].AsInt();
    var provider = LcData.UserInfo.GetUserRow(providerID);
    var position = LcData.UserInfo.GetUserPos(providerID, Request["PositionID"].AsInt());
}
<div id="container" class="provider-review clearfix">
    <div id="main" class="provider-reference-welcome">
        @if (provider == null || position == null) {
            <h1>Our apologies</h1>
            <div>We're sorry, there is a problem with your request. Try copying the link from the e-mail and pasting it directly into the browser.
                Contact <a href="mailto:support@@loconomics.com">support@@loconomics.com</a> for more help.
            </div>
        } else {
            <h1>Welcome! Help @provider.FirstName build his reputation</h1>
            <p><strong>@provider.FirstName has asked you to write a reference for a profile on Loconomics.</strong> It should only take a minute or two.</p>
            
            if (WebSecurity.IsAuthenticated)
            {
                <a href="@(UrlUtil.LangPath)Reviews/ProviderReferenceForm/?ProviderUserID=@(providerID)&PositionID=@(position.PositionID)">Go! (to the review form)</a>
            }
            else
            {
                <p>You'll need to login or create an account for free.</p>
            
                @RenderPage(UrlUtil.LangPath + "Account/$Login.cshtml", new
                   {
                       ShowHeader = false,
                       ShowTools = true,
                       Redirect = UrlUtil.LangPath + "Reviews/ProviderReferenceForm/?ProviderUserID=" + providerID + "&PositionID=" + position.PositionID
                       ,
                       RegisterWaitConfirmation = false
                   })
            }
        }
    </div>
</div>