@{
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    Page.Title = "Welcome! Please provide a reference";
    
    Styles.Add(UrlUtil.AppPath + "Styles/ProviderReview.css");
    
    var providerID = Request["ProviderUserID"].AsInt();
    var provider = DashboardFunctions.GetUserRow(providerID);
    var position = DashboardFunctions.GetUserPos(providerID, Request["PositionID"].AsInt());
}

<div id="container" class="provider-review clearfix">
    <div id="main" class="provider-reference-welcome">
        @if (provider == null || position == null) {
            <h1>Ups! There is a problem</h1>
            <div>We're sorry, there is a problem with your request and cannot be processed. If you did click on an email link, try to copy and paste that link instead of clicking on it.
                Contact <a href="mailto:support@@loconomics.com">support@@loconomics.com</a> for more help.
            </div>
        } else {
            <h1>Help @provider.FirstName build his reputation</h1>
            
            @RenderPage("$ProviderRatingForm.cshtml", new { BookingID = 0 } )
        }
    </div>
</div>
