@* Test .net JSON parsing and generation features
 *@
@{
    LcHelpers.TestArea();
    Layout = "_TestLayout.cshtml";

}
<script type="text/javascript">
    var sliders = [
        {
            footnote: 'Standard layout test 1 (1-8, step .25)',
            value: 5,
            min: 1,
            max: 8,
            step: .25
        },
        {
            footnote: 'Standard layout test 2 (1.5-8, step .25)',
            min: 1.5,
            value: 4,
            max: 8,
            step: .25
        },
        {
            footnote: 'Standard layout test 3 (1-8, step 1)',
            min: 1,
            value: 4,
            max: 8,
            step: 1
        },
        {
            footnote: 'Hours layout test 1 (1-8, step .25)',
            min: 1.,
            value: 4,
            max: 8,
            step: .25,
            'slider-labels-layout': 'hours'
        },
        {
            footnote: 'Hours layout test 2 (1.5-8, step .25)',
            min: 1.5,
            value: 4,
            max: 8,
            step: .25,
            'slider-labels-layout': 'hours'
        },
        {
            footnote: '24 hours, step .25, using standard layout',
            min: 1,
            value: 10,
            max: 24,
            step: .25
        },
        {
            footnote: '24 hours, step .25, using all-values layout',
            min: 1,
            value: 10,
            max: 24,
            step: .25,
            'slider-labels-layout': 'all-values'
        },
        {
            footnote: '24 hours, step .25, using hours layout',
            min: 1,
            value: 10,
            max: 24,
            step: .25,
            'slider-labels-layout': 'hours'
        },
        {
            footnote: '24 hours, step .25, using all-hours layout',
            min: 1,
            value: 10,
            max: 24,
            step: .25,
            'slider-labels-layout': 'all-hours'
        },
        {
            footnote: 'Autosize ON: 4 values, step 1, using standard layout',
            min: 1,
            value: 4,
            max: 4,
            step: 1,
            'slider-labels-layout': 'standard',
            'slider-autosize': true
        },
        {
            footnote: 'Autosize ON: 4 hours, step .25, using hours layout',
            min: 1,
            value: 4,
            max: 4,
            step: .25,
            'slider-labels-layout': 'hours',
            'slider-autosize': true
        },
        {
            footnote: 'Autosize ON: 12 hours, step .25, using hours layout',
            min: 1,
            value: 4,
            max: 12,
            step: .25,
            'slider-labels-layout': 'hours',
            'slider-autosize': true
        },
        {
            footnote: 'Autosize ON: 24 hours, step .25, using hours layout',
            min: 1,
            value: 10,
            max: 24,
            step: .25,
            'slider-labels-layout': 'hours',
            'slider-autosize': true
        },
        {
            footnote: 'Autosize ON: 48 hours, step .25, using hours layout',
            min: 1,
            value: 10,
            max: 48,
            step: .25,
            'slider-labels-layout': 'hours',
            'slider-autosize': true
        },
        {
            footnote: 'Autosize ON: 4 hours, step .5, using hours layout',
            min: 1,
            value: 4,
            max: 4,
            step: .5,
            'slider-labels-layout': 'hours',
            'slider-autosize': true
        },
        {
            footnote: 'Autosize ON: 12 hours, step .5, using hours layout',
            min: 1,
            value: 4,
            max: 12,
            step: .5,
            'slider-labels-layout': 'hours',
            'slider-autosize': true
        },
        {
            footnote: 'Autosize ON: 24 hours, step .5, using hours layout',
            min: 1,
            value: 10,
            max: 24,
            step: .5,
            'slider-labels-layout': 'hours',
            'slider-autosize': true
        },
        {
            footnote: 'Autosize ON: 48 hours, step .5, using hours layout',
            min: 1,
            value: 10,
            max: 48,
            step: .5,
            'slider-labels-layout': 'hours',
            'slider-autosize': true
        }
    ];
    function create_slider(setup) {
        var $c = $('<div class="customer-slider ui-slider-container"/>').appendTo($('#sliders_holder'));

        var slider = $('<div/>').appendTo($c).data(setup);
        setup.range = setup.range || 'min';
        // Creating slider
        slider.slider(setup);
        if (setup.footnote)
            slider.after($('<div class="ui-slider-footnote"/>').html(setup.footnote));
        LC.createLabelsForUISlider(slider);
        if (slider.is(':visible'))
            LC.updateLabelsForUISlider(slider);
    }
    $(function () {
        $.each(sliders, function () {
            create_slider(this);
        });
    });
</script>
<style type="text/css">
    .ui-slider {
        margin-top: 1em;
    }
    /* Emulate size of booking step-1 packages table */
    .ui-slider-container {
        width: 350px;
        max-width: 535px;
        min-width: 200px;
    }
    #sliders_holder {
        width: 535px;
        outline:1px #ccc solid;
        margin-bottom: 3em;
    }
</style>
<h1>Testing Sliders</h1>
<div>
    Max-width: 535px<br />
    Min-width: 200px<br />
    Fixed width: 350px<br /><br />
    Slider has fixed width by default except for that with <strong>autosize</strong> enabled, but still they cannot be higher or lower than max and min values.
</div>
<div id="sliders_holder">

</div>