/**
 * Styles a checkbox to hide browser UI and left the label that contains
 * an icon for the checked/unchecked state
 */
.IconCheckbox {
    > input {
        display: none;
    }
    > label {
        > i {
            font-size: 1.2em;
            margin-right: 1em;
        }
    }
}
