@{
    LcHelpers.ProviderPage();
    var title = "Payment processing " + LcPayment.MarketplaceProviderFee + "per transaction";
}
<div class="DashboardSection-page-section is-required">
    <h1 class="DashboardSection-page-section-header">Fees charged by Loconomics</h1>

    <div class="DashboardPaymentFees">
        <img class="image-1dppx" alt="@title" src="@(LcUrl.AppPath)img/theme/payment-processing-fee.png" width="146px" height="146px" />
        <img class="image-2dppx" alt="@title" src="@(LcUrl.AppPath)img/theme/payment-processing-fee@2x.png" width="146px" height="146px" />
        <p>
            A payment processing fee will be deducted from the price you set for your services.
            For example, if one of your services cost $50.00, the fee will be $1.75 and you'll
            be paid $48.25.
        </p>
    </div>
</div>