/** Appointment activity styles */
[data-activity=appointment] {

    &.in-edit {
        
        .CardsDeck-dots,
        .CalendarDateHeader-switch {
            visibility: hidden;
        }
        
        .CalendarDateHeader-date {
            pointer-events: none;
            
            .caret {
                visibility: hidden;
            }
        }
    }
}

@import '../components/AppointmentCard.styl'
