/** Calendar activity styles */
[data-activity=calendar] {

    /* It was computed as the 'natural' it needs, but
        applied explicitely for several adjustments */
    $headerHeight = 42px;
    
    #calendarDailyView {
        padding-top: $headerHeight;
        min-height: 100%;
    }
    
    #calendarDateHeader {
        height: $headerHeight;
        position: absolute;
        left: 0;
        right: 0;
    }
    
    #calendarDatePicker {
        /* positioning */
        position: absolute;
        left: 10px;
        right: 10px;
        z-index: 100;
        top: $headerHeight;
        
        /* pop-up decoration */
        background: white;
        box-shadow: 0 0 6px 1px #000;
        border-radius: 4px;

        /* repositioning the pop-arrow */
        .DatePicker:after {
            left: 50%;
        }
        .DatePicker:before {
            left: 50%;
            margin-left: -1px;
        }

        /** smooth transition and visible state **/
        opacity: 0;
        transform: translateY(-15px);
        transition: 500ms all;
        pointer-events: none;

        &.is-visible {
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
        }
    }
}

@import '../components/CalendarDateHeader.styl'
