/** Calendar-appointment activity styles */
[data-activity=calendar-appointment] {

    .btn-link {
        color: $gray-darker;
    }
}

@import '../components/CalendarDateHeader.styl'
@import '../components/AppointmentCard.styl'
