/** Calendar activity styles */
[data-activity=calendar] {

    #calendarDatePicker {
        /* positioning */
        position: absolute;
        left: 10px;
        right: 10px;
        z-index: 100;
        
        /* pop-up decoration */
        background: white;
        box-shadow: 0 0 6px 1px #000;
        border-radius: 4px;

        /* repositioning the pop-arrow */
        .DatePicker:after {
            left: 50%;
        }
        .DatePicker:before {
            left: 50%;
            margin-left: -1px;
        }

        /** smooth transition and visible state **/
        opacity: 0;
        transform: translateY(-15px);
        transition: 500ms all;
        pointer-events: none;

        &.is-visible {
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
        }
    }
    
    /* Prototype alternative 1 */
    &.Alt1 {
        #calendarDateHeader {
            position: relative;
            z-index: 2;
        }
        #calendarAppointmentView {
            margin-top: -42px;
            padding-top: 46px;
            padding-bottom: 30px;
        }
    }
}

@import '../components/CalendarDateHeader.styl'
@import '../components/AppointmentCard.styl'
