/**
    Clients activity styles
**/
[data-activity=clients] {
    
    $indexWidth = 43px;
    
    #clientsListView {
        margin-right: $indexWidth - $container-padding-right;
        margin-left: 0 - $container-padding-left;
    }
    
    #clientsIndex {
        right: 0px;
        overflow: hidden;
        width: $indexWidth;
        
        position: absolute;
        
        &.affix {
            position: fixed;
        }
    }
    
    &.is-searching {
        #clientsAddNewButton {
            display: none;
        }
        
        .ListView-divider {
            display: none;
        }
    }
}
