!.gitignore
node_modules/*
**/node_modules/*
phonegap/www/assets
phonegap/www/index.html
phonegap/www/config.xml
phonegap/platforms/
phonegap/plugins/
phonegap/.cordova/config.json
build/
.brackets.json
