/**
    cancellation-policies activity styles.
**/
@import '../../../css/utils/styleguideVars.styl';

[data-activity=cancellation-policies] {

    background: White;

    // Ensure contents don't create horizontal scroll
    .container {
        overflow: hidden;
        // Multiline for large words, like links. Seems only needed for Webkit;
        // with and without it, Firefox do it similar and slightly better by default
        word-wrap: break-word;
        // Legal text better justified
        text-align: justify;
    }

    .PageMenu {
        margin: 0px auto 25px !important;
    }
}
