@{
    var c = LcData.UserInfo.GetRequestedUserRow();
}

@RenderPage(LcUrl.RenderLangPath + "Reviews/$UserRatingSummaryWidget.cshtml", new { 
    ReviewedID = c.UserID,
    PositionID = 0,
    ReviewedData = c,
    RatingSummaryMode = "summary"
})

<h3>Reviews from Loconomics providers</h3>
@RenderPage(LcUrl.RenderLangPath + "Reviews/$ReviewsGrid.cshtml", c.UserID, 0, true, "There are no reviews yet")