@{
    // Provider
    //var p = LcData.UserInfo.GetRequestedUserRow();
    // Current position data record:
    var pos = PageData["position"];

    // TODO: Get Customer Type Id   
    var clienttypeid = PageData["ClientTypeID"] = 1;

    var pricingTypes = LcData.GetPositionPricingTypes(pos.PositionID, clienttypeid);
}

<div class="view-panel">
    @foreach(var pricingType in pricingTypes) {
        if (pricingType.PricingTypeID == 3)
        {
            <h3>Select a package that meets your needs:</h3>
            @RenderPage(LcUrl.RenderLangPath + "PricingWizard/$ProviderPackagesList.cshtml")
        
            @RenderPage(LcUrl.RenderLangPath + "PricingWizard/$ViewPricingOptions.cshtml", new { Title = "Additional options available during checkout:", PricingTypeID = 3, ClientTypeID = clienttypeid } )
        }
    }
</div>
