@{
    Page.Title = "Pricing Wizard";
    //TODO GET CUSTOMER DATA
    //     VALIDATE CUSTOMER DATA
    //     GET PRICING PROFILE
    //     VALIDATE PRICING PROFILE EXISTS
    //     CROSS USER AND PROVIDER DATA TO CALCULATE ESTIMATED COST
    //     RETRIEVE RESULT
}
<!--Pricing Wizar HTML template-->
<!--TODO:create a script to show/hide the corresponding pricing type depending on the customer selection-->
<div id="pricing_type">
    <select id="pricing_type_list">
        <option value="custom(pricing_type_value)">custom</option>
        <option value="package(pricing_type_value)">package</option>
    </select>
</div>
<div id="custom(pricing_type_value)">
    <fieldset id="bathrooms(var_id)" name="bathrooms(var_name)" class="time(var_class)">
        <legend>bathrooms(var_description)</legend>
        <input id="bathrooms_number(value_id)" name="bathrooms_number(value_name)" type="text"/>
    </fieldset>
    <fieldset id="area(var_id)" name="area(var_name)" class="time(var_class)">
        <legend>area(var_description)</legend>
        <select id="area_list(value_id)" name="area_list(value_name)">
            <option id=">100(value_id)">>100("value_description")</option>
            <option id="<100(value_id)"><100("value_description")</option>
        </select>
    </fieldset>
    <fieldset id="property_type(var_id)" name="property_type(var_name)" class="hourly_wage(var_class)">
        <legend>property type(var_description)</legend>
        <input id="house" name="property_type_radio(value_name)" type="radio" value="10"/>
        <label for="house">house</label>
        <input id="office" name="property_type_radio(value_name)" type="radio" value="20"/>
        <label for="house">office</label>
    </fieldset>
    <fieldset id="supplies(var_id)" name="supplies(var_name)" class="addon(var_class)">
        <legend>supplies(var_description)</legend>
        <input id="yes(value_id)" name="supplies_radio(value_name)" type="radio"/>
        <label for="yes(value_id)">yes(value_description)</label>
        <input id="no(value_id)" name="supplies_radio(value_name)" type="radio"/>
        <label for="no(value_id)">no(value_description)</label>
    </fieldset>
    <fieldset id="tax_name(var_id)" name="tax_name(var_name)" class="%factor(var_class)">
        <legend>tax_name(var_description)</legend>
       <input id="tax_checkbox(value_id)" name="tax_checbox(value_name)" type="checkbox"/>
    </fieldset>
</div>
<div id="package(pricing_type_value)">
    <fieldset id="package_name(var_id)" name="package_name(var_name)">
        <legend>package name(var_description)</legend>
        <input id="option1(value_id)" name="package_name_radio(value_name)" type="radio" value="1"/>
        <label for="option1(value_id)">option1</label>
        <input id="option2(value_id)" name="package_name_radio(value_name)" type="radio" value="2"/>
        <label for="option2(value_id)">option2</label>
    </fieldset>
</div>