@using WebMatrix.Data;
@{
    var userID = PageData["UserID"] ?? Request["UserID"];
    string size = PageData["Size"] ?? "medium"; // mini
    string contID = PageData["ContainerID"] ?? "verifications";
    
    dynamic data;
    using (var db = Database.Open("sqlloco")) {
        data = db.Query(@"
            SELECT  V.VerificationType, V.Icon
            FROM    UserVerification As UV
                     INNER JOIN
                    Verification As V
                      ON UV.VerificationID = V.VerificationID
            WHERE   UV.UserID = @0
                     AND
                    UV.Active = 1
                     AND
                    V.Active = 1
                     AND
                    UV.VerificationStatusID = 1 -- Confirmed
        ", userID);
    }
}
@switch (size)
{
    case "medium":
        <ul id="@contID">
            @foreach (var v in data)
            {
            <li class="@v.Icon">@v.VerificationType</li>
            }
            <li class="more-verifications">more</li>
        </ul>
        break;
    case "mini":
        break;
}