@{
    // Provider
    var provider = PageData["providerrow"];
    // Current position data record:
    var p = PageData["position"];
    // Current position number/index
    var n = PageData["npos"];
    
    // Classes for differents calendar availability states
    var stateClasses = new List<string>(){"free", "busy", "tentative", "unavailable"};
    Random r = new Random();
}
<p class="map-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpat id adipiscing placerat, convallis sit amet orci. Donec quis enim nunc. Etiam iaculis porttitor sodales. 
</p>

<div class="availability-calendar">
    <div class="calendar">
        <ol class="days">
            <li><h5>S</h5></li><li><h5>M</h5></li><li><h5>T</h5></li><li><h5>W</h5></li><li><h5>T</h5></li><li><h5>F</h5></li><li><h5>S</h5></li>
        </ol>
        <ol class="hours">
            @for(var h = 7; h < 23; h++){
            <li><h5>@((new DateTime(2000, 1, 1, h, 0, 0)).ToString("ht"))</h5></li>
            }
        </ol>
        <ol class="datetimes">
            @for(var h = 7; h < 23; h++){
             for(var b = 0; b < 2; b++){
                var half = b == 0 ? "" : "half ";
            for(var d = 0; d < 7; d++)
            {<li class="@half@stateClasses[r.Next(0, 4)]"></li>}
            }}
        </ol>
    </div>
    <ul class="calendar-legend">
        <li class="free"><span class="color">Green</span>Free</li>
        <li class="busy"><span class="color">Purple</span>Busy</li>
        <li class="tentative"><span class="color">Yellow</span>Tentative</li>
        <li class="unavailable"><span class="color">White</span>Unavailable</li>
    </ul>    
</div>