@{
    // Provider
    var p = DashboardFunctions.GetRequestedUserRow();
    // Current position data record:
    var pos = PageData["position"];

    // TODO: Get Customer Type Id   
    var clienttypeid = PageData["ClientTypeID"] = 1;

    int pricingType = LcData.GetPositionPricingTypeID(pos.PositionID, clienttypeid);
}
<h4>Cancellation policy:</h4>
<ul class="attributes-list">
    <li>Cancellations prior to 24 hours:  Full refund </li>
    <li>Same-day cancellations:  No refund</li>
</ul>
<h4>Additional information:</h4>
<ul class="attributes-list">
    <li>Please arrive 10 minutes before your schedule appointment time if it’s your first visit!</li>
    <li>Let me know of any injuries or health issues prior to the start of the massage.</li>
</ul>

<div class="view-panel">
    @if (pricingType == 3)
    {
        <h3>Select a package that meets your needs:</h3>
        @RenderPage(UrlUtil.LangPath + "PricingWizard/$ProviderPackagesList.cshtml")
    }
</div>
