@{
    // Provider
    //var p = LcData.UserInfo.GetRequestedUserRow();
    // Current position data record:
    var pos = PageData["position"];

    // TODO: Get Customer Type Id   
    var clienttypeid = PageData["ClientTypeID"] = 1;

    int pricingType = LcData.GetPositionPricingTypeID(pos.PositionID, clienttypeid);
}

<div class="view-panel">
    @if (pricingType == 3)
    {
        <h3>Select a package that meets your needs:</h3>
        @RenderPage(UrlUtil.RenderLangPath + "PricingWizard/$ProviderPackagesList.cshtml")
        
        <h3>Additional options available during checkout:</h3>
        @RenderPage(UrlUtil.RenderLangPath + "PricingWizard/$ViewPricingOptions.cshtml", new { PricingTypeID = 3, ClientTypeID = clienttypeid } )
    }
</div>
