@{
    // Provider
    var p = LcData.UserInfo.GetRequestedUserRow();
    // Current position data record:
    var pos = PageData["position"];
    
    // TODO Review old code:
    /* @RenderPage(UrlUtil.RenderLangPath + "ReviewsGrid.cshtml", {ProviderID,PositionID}) */
}
<p class="reviews-description">
Loconomics is built on a community of fairness and trust.  The reviews below are from past clients who have actually used this provider's services.  You'll be asked to provide one after services are performed to keep the community strong.</p>

@RenderPage(UrlUtil.RenderLangPath + "Reviews/$ReviewsGrid.cshtml", p.UserID, pos.PositionID, true, "This user has not been reviewed yet.")


