@{
    // Provider
    var p = DashboardFunctions.GetRequestedUserRow();
    // Current position data record:
    var pos = PageData["position"];
    
    // TODO Review old code:
    /* @RenderPage(UrlUtil.LangPath + "ReviewsGrid.cshtml", {ProviderID,PositionID}) */
}
<p class="reviews-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpat id adipiscing placerat, convallis sit amet orci. Donec quis enim nunc. Etiam iaculis porttitor sodales. 
</p>

@RenderPage(UrlUtil.LangPath + "Reviews/$ReviewsGrid.cshtml", p.UserID, pos.PositionID, true, "There are no reviews yet")


