@{
    // Provider
    var provider = PageData["providerrow"];
    // Current position data record:
    var p = PageData["position"];
    // Current position number/index
    var n = PageData["npos"];
    
    // TODO Review old code:
    /* @RenderPage(UrlUtil.LangPath + "ReviewsGrid.cshtml", {ProviderID,PositionID}) */
}
<p class="reviews-description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, volutpat id adipiscing placerat, convallis sit amet orci. Donec quis enim nunc. Etiam iaculis porttitor sodales. 
</p>

@RenderPage(UrlUtil.LangPath + "Reviews/$ReviewsGrid.cshtml", provider.UserID, p.PositionID, true)

