/**
  app-includes is just a forward look to generate the app.css file with Stylus,
  this gets compiled and concatenated with app.css (and others) in the generation of common.css.

  Some day this will replace app.css as app.styl to generate and load general app (common to all site) styles.

  --
  Including styl files generally need for the app.
**/

@import "utils/AvailabilityCalendar"
@import "utils/WelcomeHeader"
@import "vendor/bootstrap"
@import "utils/WelcomePopup"
@import "utils/formIcons"
@import "app-small"
@import "utils/FileUploader"
@import "utils/HelpPoint"
