@import "nib"

/* Color Vars: is not the best naming use color names but for now is the
    quick way
*/
$colorTeal =	#00989A
$colorLtTeal =  #b5e1e2
$colorGreen =	#99C027
$colorRed = 	#E44600
$colorPurple = 	#461864
$colorBlue = 	#006A8D
$colorOrange = 	#E95D0F
$colorYellow = 	#F0B600
$colorGray =    #747474
$colorLtGray =  #cccccc

.DashboardSection {
	color: #333;
	margin-top: 26px;
	
	.go-publicProfile {
	    display: block;
	    padding: .6em;
	    font-weight: bold;
	    text-transform: lowercase;
	    text-align: center;
    }

	#main.DashboardSection-page {
		padding: 20px;
		/* fullsize - h-padding - border */
		width: 735px - 40px - 4px;
		float: left;
		margin-left: 25px;
		border: 2px solid $colorTeal;
		border-radius: 12px;
		background: White;
		/* Its a position context */
		position: relative;
		
		.DashboardSection-page-header {
		    margin: 1em 0 0;
		    padding: 0 0 4px;
		    line-height: 1em;
		    color: $colorTeal;
		    font-size: 2em;
		    border-bottom: 4px solid $colorTeal;
		    display: block;
	    }
	    
        .DashboardSection-page-section {
            color: $colorGray;

            .DashboardSection-page-section-header {
                color: $colorTeal;
                margin: 1em 0 14px;
                padding: 0 0 4px;
                line-height: 1em;
                font-size: 1.6em;
                font-weight: normal;
                border-bottom: 3px solid $colorTeal;
                /* Most times, next 'reset' attributes are not need -default H* elements- but
                    on cases like fieldset legends or element presets it put everything in place
                */
                display: block;
                width: 100%;
                box-sizing: border-box;
            }
    
            .DashboardSection-page-section-introduction {
                margin-top: 0;
            }
            
            &.is-required {
                .DashboardSection-page-section-header {
                    color: $colorOrange;
                    border-bottom-color: $colorOrange;
                }
            }
        }
        
        /* A page can contain the reusable component InlineNotification,
            that we specifically place on top-right
        */
        > .InlineNotification {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: .92em;
            text-transform: lowercase;
        }
        
        > .InlineNotification--hasRequiredSections {
            color: $colorOrange;
            font-style: italic;
        }
	}

}

@import("dashboard/sidebar")
@import("dashboard/promote")
@import("dashboard/privacy")
@import("dashboard/payments")
@import("dashboard/about-you")