/* Color Vars: is not the best naming use color names but for now is the
    quick way
*/
$colorTeal =	#00989A
$colorLtTeal =  #b5e1e2
$colorGreen =	#99C027
$colorRed = 	#E44600
$colorPurple = 	#461864
$colorBlue = 	#006A8D
$colorOrange = 	#E95D0F
$colorYellow = 	#F0B600
$colorGray =    #747474
$colorLtGray =  #cccccc

.DashboardSection {
	color: #333;
	margin-top: 26px;
	
	.go-publicProfile {
	    display: block;
	    padding: .6em;
	    font-weight: bold;
	    text-transform: lowercase;
	    text-align: center;
    }

	#main.DashboardSection-page {
		padding: 20px;
		/* fullsize - h-padding - border */
		width: 735px - 40px - 4px;
		float: left;
		margin-left: 25px;
		border: 2px solid $colorTeal;
		border-radius: 12px;
		background: White;
		
		.DashboardSection-page-header {
		    margin: 1em 0 0;
		    padding: 0 0 4px;
		    line-height: 1em;
		    color: $colorTeal;
		    font-size: 2em;
		    border-bottom: 4px solid $colorTeal;
	    }
	    
        .DashboardSection-page-section {
            color: $colorGray;

            .DashboardSection-page-section-header {
                color: $colorTeal;
                margin: .5em 0 0;
                padding: 0 0 4px;
                line-height: 1em;
                font-size: 1.8em;
                font-weight: normal;
                border-bottom: 3px solid $colorTeal;
            }
    
            .DashboardSection-page-section-introduction {
            }
        }
	}

}

@import("dashboard/sidebar")
@import("dashboard/promote")
@import("dashboard/privacy")