@import "nib"
@import "utils/ColorsPalette"
@import "utils/Actions"
@import "utils/mediaQueries"

.ProviderWelcome {
    $fullWidth = 960px;
    $sidebarWidth = 330px;
    
	#main {
	    float: none;
	    width: auto;
	    /* Removing the white-space between inline-block boxes */
	    letter-spacing: -0.3em;

        > div {
            letter-spacing: 0;
            display: inline-block;
            vertical-align: top;
        }
    
        .ProviderWelcome-presentation {
            width: $fullWidth - $sidebarWidth;
            box-sizing: border-box;
            border-right: 2px solid $colorLtGray;

            .ProviderWelcome-presentation-slides {
                .ProviderWelcome-presentation-slide {
            
                    .ProviderWelcome-presentation-slide-header {
                        font-size: 1.8em;
                        font-weight: normal;
                        color: $colorTeal;
                        line-height: normal;
                    }
                    
                    h3 {
                        font-size: 1.6em;
                        font-weight: normal;
                        margin: 0.6em 0 0;
                    }
                    
                    p {
                        margin: 0;
                        font-size: 1.2em;
                    }
            
                    &.ProviderWelcome-firstSlide {
                        .ProviderWelcome-firstSlide-subheader {
                            font-size: 1.4em;
                            color: $colorMdGray;
                            text-align: center;
                            font-weight: normal;
                        }
                        
                        h3 {
                            font-size: 1.1em;
                            line-height: normal;
                        }
                        
                        p {
                            font-size: 1em;
                            margin-top: 1em;
                        }
                        
                        ul {
                            letter-spacing: -0.3em;
                            background: url('../img/theme/provider-welcome/how-it-works.png') no-repeat center top;
                            hr-image '../img/theme/provider-welcome/how-it-works@2x.png' 660px 160px;
                            padding-top: 160px;
                            
                            li {
                                letter-spacing: 0;
                                width: 32%;
                                box-sizing: border-box;
                                padding: 0 1em;
                                margin-left: 1%;
                                display: inline-block;
                                vertical-align: top;
                            }
                        }
                    }
                    
                    &.ProviderWelcome-secondSlide {
                        ul li {
                            padding-left: 48px + 30px;
                            background: no-repeat left center;
                            min-height: 48px;

                            secondSlideLi($imgName) {
                                background-image: url('../img/theme/provider-welcome/' + $imgName + '.png');
                                hr-image '../img/theme/provider-welcome/' + $imgName + '@2x.png' 48px 48px;
                            }
                            
                            &.ProviderWelcome-secondSlide-clients {
                                secondSlideLi 'landing-page-url';
                            }
                            
                            &.ProviderWelcome-secondSlide-payment {
                                secondSlideLi 'landing-page-payments';
                            }
                            
                            &.ProviderWelcome-secondSlide-calendar {
                                secondSlideLi 'landing-page-calendar';
                            }
                            
                            &.ProviderWelcome-secondSlide-community {
                                secondSlideLi 'landing-page-community';
                            }
                        }
                    }
                    
                    useCheckmark() {
                        min-height: 24px;
                        padding-left: 24px + 8px;
                        background: url('../img/theme/teal-checkmark.png') no-repeat left top;
                        hr-image '../img/theme/teal-checkmark@2x.png' 24px 24px;
                    }
                    
                    &.ProviderWelcome-thirdSlide {
                        ul {
                            background: url('../img/theme/provider-welcome/landing-page-profile-elizabeth.png') no-repeat left center;
                            hr-image '../img/theme/provider-welcome/landing-page-profile-elizabeth@2x.png' 218px 235px;
                            padding-left: 218px + 10px;
                            min-height: 235px;
                        
                            li {
                                useCheckmark();
                            }
                        }
                    }
                    
                    &.ProviderWelcome-fourthSlide {
                        ul {
                            background: url('../img/theme/provider-welcome/landing-page-triple-bottom-line.png') no-repeat left center;
                            hr-image '../img/theme/provider-welcome/landing-page-triple-bottom-line@2x.png' 200px 200px;
                            padding-left: 200px + 30px;
                            min-height: 200px;
                        
                            li {
                                useCheckmark();
                                
                                strong {
                                    font-weight: bold;
                                    font-style: italic;
                                }
                            }
                        }
                    }
                    
                }
            }
            
            .ProviderWelcome-presentation-actions {
                .ProviderWelcome-presentation-actions-start {
                    text-align: center;

                    .start-action {
                        Action $colorTeal;
                        Action--rightArrow $colorTeal '-teal';
                        font-weight: bold;
                        
                    }
                }
            }
        }
    
        .ProviderWelcome-signUp {
            width: $sidebarWidth;
        
            #welcomepopup {
                .register {
                    padding-top: 0;
                    background: none;
                    border: none;
                
                    .main-action {
                        Action--rightArrow($colorOrange);
                        background-color: $colorOrange !important;
                        width: 100%;
                        box-sizing: border-box;
                        padding: .4em .3em;
                        text-transform: lowercase;
                    
                        &:hover {
                            box-shadow: 0 0 5px 2px $colorOrange;
                            background-color: $colorOrange;
                        }
                    }
                
                    .profile-data {
                        margin: 0;
                    }
                }
            
                header,
                footer {
                    padding: 5px 25px;
                }
            
                footer div.login {
                    position: absolute;
                    top: .5em;
                    font-size: 0.88em;
                    right: 2em;
                    color: $colorMdGray;
                    z-index: 1000;
                }
            }
        }
    }
}