/**
    Modifier class for Bootstrap columns, that
    sets all the columns to the same height.
    
    The class must be set on a container of rows
    with the desired columns, that usually is the
    same element that has a .container or .container-fluid
    class, but not required.
    
    IMPORTANT: In order to do not affect this class to every
    descendant columns (columns inside columns), its applied
    only to the inmediate descentant row and cols.
    Additional class .same-height-col exists to be applied
    on columns that are not inmediate descentant of a .row element
    but needs to get this style applied (it needs a container with
    the main class still .same-height-cols).

    Additionally, the modifier 'full-height' can be added
    to make the columns container to fill all the available
    height (in the page or ancestor container).

    NOTE: This class modifies the original layout of Bootstrap
    columns based on floating boxes by a table based layout.
    
    IMPORTANT: SIDE-EFFECTS: Using this, rows cannot decrease margin using negative
    values as expected by Bootstrap, because tables does not allow that. And more
    important, content does not shrinks because of table layout does not allow that.
**/
.same-height-cols {
    display: table;
    box-sizing: border-box;
    
    // Table layout has the problem that, by default, it uses only the width needed
    // by its cells, what means will not behave responsive as expected from
    // standard display:block (and Bootstrap .container classes).
    // Solution is to use width:100%.
    // BUT doing so will break the size control
    // that Bootstrap has at the .container class for medium-large screen sizes,
    // that conflict happens when using this class on the same container element.
    // So we need to apply it by default (for the case that same-height-cols and
    // container are applied to different elements) but not when is a .container too
    // We don't care about container-fluid, because it expects to behave as 100% too.
    &:not(.container) {
        width: 100%;
    }
    // On sm and xs, its applied all the time
    @media $mediaMaxSm {
        width: 100%;
    }

    > .row {
        display: table-row;

        > [class*="col-"],
        .same-height-col {
            float: none;
            display: table-cell;
            vertical-align: top;
        }
    }
    
    &.full-height {
        height:100%;
    }
}
