/**
    Styles for custom sign-up buttons for different auth providers: Facebook, Google
**/
.btn-google {
    background-color: white;
    color: $gray;
    border: 1px solid $gray-light;
    &:hover,
    &:focus {
        color: #ea4335;
        border-color: #ea4335;
    }
}
                    
.Icon-google {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
    clip-path: rectangle(0, 0, 74px, 74px, 0, 0)
    background-repeat: no-repeat;
    margin: -26px 0px 0px -14px;
    background-image: url('../images/btn_google_signin_light_normal_web@2x.png');
    background-image: 
      linear-gradient(transparent, transparent),
      url('../images/btn_google_light_normal_ios.svg');

}
.btn-facebook {
    background-color: #085394;
    color: white;
    border: 1px solid #085394;
    &:hover,
    &:focus {
        color: #085394;
        background-color: white;
    }
}