/**
    Styles for custom sign-up buttons for different auth providers: Facebook, Google
**/
.btn-google {
    background-color: #CC0000;
    color: white;
    border: none;
}
.btn-facebook {
    background-color: #085394;
    color: white;
    border: none;
}
