/**
    Variables from the styleguide, in Stylus format.

    IMPORTANT: Bootstrap variables converted from Less are imported,
    and following are a set of incomplete manual list used previously as copied manual values
    now getting value from the Bootstrap original variable, better names and additions here.

    DESCRIPTION: Here a set of Styleguide specific variables are defined, with some values
    coming from Bootstrap variables and new ones.
    There are variables that are just aliases of Bootstrap and extra added variables
    required to implement the Styleguide design additionally to the Bootstrap base.
**/

@import '../../../vendor/bootstrap/styl/variables.styl'

/* Grayscale colors */
$gray-darker = gray-darker; /* CR 15.9 on #fff; CR 14.6 on #f5f5f5 */
$gray-dark = gray-dark; /* CR 12.6 on #fff; CR 11.6 on #f5f5f5 */ 
$gray = gray; /* CR 3.9 on #fff; CR 6.8 on #f5f5f5 */
$gray-light = gray-light; /* 4.5 on #fff; CR 4.1 on #f5f5f5 */
$gray-lighter = gray-lighter; /* CR 1.6 on #fff; CR 1.5 on #f5f5f5  */
// Special custom new color:
$gray-background = #f5f5f5;
// Object of colors (to automate functions)
$gray-colors = {
    darker: $gray-darker,
    dark: $gray-dark,
    gray: $gray,
    light: $gray-light,
    lighter: $gray-lighter,
    background: $gray-background
};

/* Semantic colors */
$brand-primary = brand-primary; /* CR 3.5 on #fff - NOT AA COMPLIANT; CR 4.5 with gray-darker */
// Additional color requested by Josh at design
$brand-secondary = rgb(255, 103, 101); /* CR 2.7 on #fff; CR 2.6 on #f5f5f5 with gray-dark */
$brand-success = brand-success; /* CR 2.7 on #fff - NOT AA COMPLIANT; CR 4.7 with gray-dark */
$brand-info = brand-info; /* CR 2.1 on #fff - NOT AA COMPLIANT; CR 6.0 with gray-dark */
$brand-warning = #fdd199; /* CR 1.9 on #fff - NOT AA COMPLIANT; CR 6.5 with gray-dark */
$brand-danger = brand-danger; /* CR 4 on #fff - NOT AA COMPLIANT; CR 5.3 with gray-dark */
// Object of colors (to automate functions)
$brand-colors = {
    primary: $brand-primary,
    secondary: $brand-secondary,
    success: $brand-success,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger
};

/* Semantic colors used as background (lighter than the base) */
// Bootstrap uses the brand colors as background sometimes, and on other
// cases a modified version with the brand as base (through functions like 'lighter').
// But this set of colours is from Josh design, specific pallette.
$brand-primary-background = #e5f4f5;
$brand-secondary-background = $brand-secondary;
$brand-success-background = #ecf7ec;
$brand-info-background = #eef9fc;
$brand-warning-background = #fdf7ed;
$brand-danger-background = #fbeded;
// Object of colors (to automate functions)
$brand-colors-background = {
    primary: $brand-primary-background,
    secondary: $brand-secondary-background,
    success: $brand-success-background,
    info: $brand-success-background,
    warning: $brand-success-background,
    danger: $brand-success-background
};

/* Semantic dark colors (darker than base) */
// Bootstrap uses some colors using brand as base and functions like 'darker' for some uses.
// But this set of colours is from Josh design, specific pallette.
$brand-primary-dark = #006c6c; /* CR 6.2 on #fff; CR 5.7 on #f5f5f5 */
$brand-secondary-dark = rgb(228, 66, 62); /* CR 4.1 on #fff; CR 3.7 on #f5f5f5 */
$brand-success-dark = #47b347; /* CR 2.7 on #fff; CR 3.7 on #f5f5f5 */
$brand-info-dark = #5bc0de; /* CR 2.1 on #fff; CR 2.5 on #f5f5f5 */
$brand-warning-dark = #c09853; /* CR 2.7 on #fff; CR 2.5 on #f5f5f5 */
$brand-danger-dark = #b94a48; /* CR 5.1 on #fff; CR 4.7 on #f5f5f5 */
// Object of colors (to automate functions)
$brand-colors-dark = {
    primary: $brand-primary-dark,
    secondary: $brand-secondary-dark,
    success: $brand-success-dark,
    info: $brand-success-dark,
    warning: $brand-success-dark,
    danger: $brand-success-dark
};


/* Color aliases for specific and semantic uses */
// Semantic alias for muted/disabled text
$text-muted = $gray-light;
// General text color
$body-copy-color = $gray-dark; /* CR 12.6 on #fff; CR 11.6 on #f5f5f5 */

/** state color aliases **/
$state-primary-text = $brand-primary;
$state-secondary-text = $brand-secondary;
$state-success-text = $brand-success;
$state-info-text = $brand-info;
$state-warning-text = $brand-warning;
$state-danger-text = $brand-danger;

/** Typo **/
$font-size-base = font-size-base;

/** Utilities **/
$caret-width-base = caret-width-base;

$carousel-text-shadow = carousel-text-shadow
$carousel-control-color = carousel-control-color
$carousel-control-width = carousel-control-width
$carousel-control-opacity = carousel-control-opacity
$carousel-control-font-size = carousel-control-font-size
$carousel-indicator-active-bg = carousel-indicator-active-bg
$carousel-indicator-border-color = carousel-indicator-border-color
$carousel-caption-color = carousel-caption-color

/** Grids **/
$grid-gutter-width = grid-gutter-width;

/** Media queries helper variables based on Bootstrap limits **/
$mediaMinXs = "(min-width: " + screen-xs-min + ")";
$mediaMinSm = "(min-width: " + screen-sm-min + ")";
$mediaMinMd = "(min-width: " + screen-md-min + ")";
$mediaMinLg = "(min-width: " + screen-lg-min + ")";
$mediaMaxXs = "(max-width: " + screen-xs-max + ")";
$mediaMaxSm = "(max-width: " + screen-sm-max + ")";
$mediaMaxMd = "(max-width: " + screen-md-max + ")";

/**
    App variables
**/
$container-padding-left = round($grid-gutter-width / 2);
$container-padding-right = round($grid-gutter-width / 2);
// Starting to use this var instead of the previous one, they were too much specific and not useful
// Grip gap is the gap (as margin or padding) usually added to a column or container.
// Its the half of the total space between elements, that is $grid-gutter-width
$grid-gap = round($grid-gutter-width / 2);

// App/Mobile navbar (SmartNavBar)
// 51px for Bootstrap default, 44px following iOS navbar size
// NOT using Bootstrap variable 'navbar-height' since is 50px, not the iOS size
$app-navbar-height = 44px;
$big-navbar-height = 62px;

$app-activity-z-index = 1;
$app-message-bar-z-index = 202;

// Media queries where each one of the navbars are used
// (this allows to selectively choose on height or another
$media-app-navbar = $mediaMaxMd;
$media-big-navbar = $mediaMinMd;

// Cubic easing:
$cubic-easing = cubic-bezier(0.65,0.05,0.36,1);

$AppNav-backColor = rgba(0, 0, 0, .86);
$AppNav-iconColor = white;
$AppNav-transitionDuration = 300ms;
$navbar-default-link-active-bg = $gray-light;
$navbar-default-link-active-color = $gray-dark;

$tranDurationQuick = 300ms;
