// A simple container for text plus a switch
.switchLine {
    padding: 14px $grid-gap;
    line-height: 32px;
    
    display: table;
    width: 100%;

    .switchLine-label {
        display: table-cell;
        width: 99%;
    }

    .switchLine-switch {
        display: table-cell;
        white-space: nowrap;
    }
}
