// A simple container for text plus a switch
.switchLine {
    padding: .8rem $grid-gap;
    line-height: 1.75rem;

    display: table;
    width: 100%;

    .switchLine-label {
        display: table-cell;
        width: 99%;
    }

    .switchLine-switch {
        display: table-cell;
        white-space: nowrap;
        > label {
            vertical-align: middle;
        }
        > switch-checkbox {
            vertical-align: bottom;
        }
    }
}
