// A simple container for text plus a switch
.switchLine {
    padding: 1.0000em $grid-gap;
    line-height: 2.0000rem;

    display: table;
    width: 100%;
    background-color: white;

    .switchLine-label {
        display: table-cell;
        width: 99%;
    }

    .switchLine-switch {
        display: table-cell;
        white-space: nowrap;
    }
}
