/*! Loconomics.com 2014-11-14
   Author: Loconomics Inc. */

/* line 1 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 29 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\styleguide-desktop.styl */
/**
  Set of styles used only on the Desktop Website but showed up
  as part of the Style Guide.

  Is intended to be used loaded after the styleguide.styl, but that is 
  not included here just to be an incremental styles file.
  
  May get obsolete as part of the full review of the Style Guide,
  but for now is documented and reflect some stable things used on the website.
  
  
  More about the Style Guide on #757.
  
  The result is used directly by the styleguide site to show the custom
  styles built on top of Bootstrap only for Desktop Site.
**/

/* line 18 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\styleguide-desktop.styl */
/* Require 'bootstrap' in order to work, but not embedded
@require 'bootstrap' */

/* line 264 : C:\Users\Iago\Proxectos\Loconomics.com\source\web\Styles\app\utils\typographyDefinitions.styl */
@font-face {
  font-family: 'Hand Of Sean';
  src: url("fonts/handsean.otf");
  src: url("fonts/handsean.eot");
  src: url("fonts/handsean.eot?#iefix") format('embedded-opentype'), url("fonts/handsean.woff") format('woff'), url("fonts/handsean.ttf") format('truetype'), url("fonts/handsean.svgz#HandOfSeanRegular") format('svg'), url("fonts/handsean.svg#HandOfSeanRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url("fonts/altehaasgroteskregular.eot");
  src: url("fonts/altehaasgroteskregular.eot?#iefix") format('embedded-opentype'), url("fonts/altehaasgroteskregular.woff") format('woff'), url("fonts/altehaasgroteskregular.ttf") format('truetype'), url("fonts/altehaasgroteskregular.svgz#AlteHaasGroteskRegular") format('svg'), url("fonts/altehaasgroteskregular.svg#AlteHaasGroteskRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url("fonts/altehaasgroteskbold.eot");
  src: url("fonts/altehaasgroteskbold.eot?#iefix") format('embedded-opentype'), url("fonts/altehaasgroteskbold.woff") format('woff'), url("fonts/altehaasgroteskbold.ttf") format('truetype'), url("fonts/altehaasgroteskbold.svgz#AlteHaasGroteskBold") format('svg'), url("fonts/altehaasgroteskbold.svg#AlteHaasGroteskBold") format('svg');
  font-weight: bold;
  font-style: normal;
}
