/**
    Set of styles for the StyleGuide design itself: 
    helpers for examples, layout, etc.
**/

/* short-definitions, dl modifier class */
.short-definitions dt {
  display: inline-block;
  min-width: 30%;
  line-height: 2em;
  vertical-align: middle;
}
.short-definitions dd {
  display: inline-block;
  font-family: Courier, "Lucida Console", monospace;
  margin: 0 2em;
  line-height: 2em;
  vertical-align: middle;
}
@media (max-width: 1200px) {
  .short-definitions dt {
    width: 70%;
  }
  .short-definitions dd {
    width: 30%;
    margin: 0;
  }
}

/* color-sample class */
.color-sample {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: .2em .5em;
  vertical-align: middle;
}

/* typography-list */
.typography-list li {
    margin-bottom: 2em;
}

/* typography-sample class and specifics */
.typography-sample {
    color: #333333;
    display: block;
    margin-top: .5em;
    margin-left: 3em;
    border-left: 3px solid #E95D0F;
    padding-left: 1.5em;
}
.typo-handofsean {
    font-family: Hand Of Sean, Arial, sans-serif;
}
.typo-altehaasgrotesk {
    font-family: Alte Haas Grotesk, Helvetica, Arial, sans-serif;
}
