@* Pricing summary of the services requested.
 *@
@using WebMatrix.Data;
@{
    // All the data for this component:
    var info = PageData[0];
}

<!-- $Services -->                
                <tr>
                    <td style="padding: 20px 0 0 0;" class="no-padding">
                        <!-- ARTICLE -->
                        <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td align="left" style="padding: 25px 25px 5px 25px; text-align: left; font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #333333;" class="padding-copy">Deep Tissue Massage</td>
                            </tr>
                            <tr>
                                <td align="left" style="border-bottom: 2px solid #ff6765; text-align: left; padding: 0 25px 5px 25px; font-size: 13px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #aaaaaa;" class="padding-meta">60 minutes</td>
                            </tr>
                            <tr>
                                 <td align="left" style="border-bottom: 1px solid #d2d2d2; text-align: justify; text-justify: auto; padding: 10px 25px 25px 25px; font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">Relax and let me work out all the knots and kinks so you can get back to being active and healthy. We'll assess the problem areas upfront and ensure you get the perfect balance of relaxation and care.</td>
                            </tr>
                         </table>
                </tr>
                <tr>
                    <td style="padding: 20px 0 0 0;" class="no-padding">
                        <!-- ARTICLE -->
                        <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td align="left" style="padding: 25px 25px 5px 25px; text-align: left; font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #333333;" class="padding-copy">Add-on</td>
                            </tr>
                            <tr>
                                <td align="left" style="border-bottom: 1px solid #d2d2d2; text-align: left; padding: 0 25px 25px 25px; font-size: 13px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #aaaaaa;" class="padding-meta">15 minutes</td>
                            </tr>
                         </table>
                </tr>
                <tr>
                    <td style="padding: 20px 0 0 0;" class="no-padding">
                        <!-- ARTICLE -->
                        <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td align="left" style="border-bottom: 1px solid #d2d2d2; text-align: left; padding: 25px 25px 25px 25px; font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #333333;" class="padding-copy">Special oils</td>
                            </tr>
                         </table>
                </tr>
<!-- $Services END -->  