@* Time confirmed for a booking.
 *@
@using WebMatrix.Data;
@{
	// All the data for this component:
	var info = PageData[0];
}
@helper printConfirmedDate(LcEmailTemplateHelper.BookingEmailInfo info){
    if (info.Booking.ConfirmedDateStart is DateTime && info.Booking.ConfirmedDateEnd is DateTime)
    {
        <span>@LcHelpers.DateTimeRangeToString(info.Booking.ConfirmedDateStart, info.Booking.ConfirmedDateEnd)</span>
    }
    else
    {
        // Null values:
        <span>Date not available</span>
    }
}
<!-- $TimeConfirmed -->
<!-- COMPACT ARTICLE SECTION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td bgcolor="#ffffff" align="center" style="border-bottom: 1px solid #d2d2d2; padding: 0 15px 40px 15px;" class="section-padding">
            <table border="0" cellpadding="0" cellspacing="0" width="500" style="padding:0 0 20px 0;" class="responsive-table">
                <tr>
                    <td valign="top" style="padding: 50px 0 0 0;" class="mobile-hide"><a href="#" target="_blank"><img src="MessageComponents/images/ion-ios-clock-outline.png" alt="alt text here" width="150" height="150" border="0" style="display: block; font-family: Arial; color: #266e9c; font-size: 14px;"></a></td>
                    <td style="padding: 40px 0 0 0;" class="no-padding">
                        <!-- ARTICLE -->
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td align="left" style="padding: 0 0 5px 25px; font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #333333;" class="padding-copy">Time</td>
                            </tr>
                       		<tr>
                           		<td align="left" style="padding: 10px 0 15px 25px; text-align: left; font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">@printConfirmedDate(info)</td>
                       		</tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
