/**
    CalendarTimeBlockItme

**/
@import '../../components/Item.styl'

.CalendarTimeBlockItem {
    Item();
    Item-addTagContentSupport(0.75em, -.4em);
    .Item-content {
        width: 60%;
        p {
            padding-left: .2em;
        }
    }
}