/**
    ListingSummaryItem: two lines tile of indented text
    and pointing icon on the right.

    Follows same indent as CompactLinkTile
**/
@import '../../components/Item.styl'

.ListingSummaryItem {
    Item(2.5em);
    $height-em = 2.5em;
    .Item-content {
        width: 95%;
    }
}