/**
    OfferingItem: Three lines tile of indented text
    and action icon on the right.

    Follows same indent as CompactLinkTile
**/
@import '../../components/Item.styl'

.OfferingItem {
    Item();
    .Item-content {
        width: 95%;
    }
}