/**
    TimeSummaryItem: Three lines tile of indented text
    and action icon on the right.

    Follows same indent as CompactLinkTile
**/
@import '../../components/Item.styl'

TimeSummaryItem($height-em) {
    Item();
    height: $height-em;
    Item-addContent($height-em);
    label {
        font-weight: normal;
    }
    .Item-icon {
        width: 5%;
        height: $height-em;
        min-width: 48px;
        min-height: 48px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        // there are some problems with some icons (ionicons mainly) where
        // even with enough space, gets cut on the edges; add a minimum gap
        // to give them overflow space
        padding: 0 1px;
        i {
            font-size: 2em;
        }
    }
    .Item-content {
        width: 80%;
    }
    a,
    button,
    .Item-action {
        width: 5%;
        height: $height-em;
        min-width: 48px;
        min-height: 48px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        // there are some problems with some icons (ionicons mainly) where
        // even with enough space, gets cut on the edges; add a minimum gap
        // to give them overflow space
        padding: 0 1px;
        i {
            font-size: 1.5em;
        }
    }
}
.TimeSummaryItem {
    TimeSummaryItem(3.5em)
}
.TimesRequestedSummaryItem {
    TimeSummaryItem(3.5em)
}