@using WebMatrix.WebData;
@using System.Text.RegularExpressions;
@{
    LcHelpers.SecurePage();
    
    Page.Title = "Make your life better!";
    
    /*
     * Selecting page to render dynamically
     */
    var u = LcData.UserInfo.GetUserRow();
    var isInOnboarding = false;
    var page = UrlData[0].ToLower();
    var fileToRender = "";
    
    if (String.IsNullOrEmpty(page)) {
        page = "default";
    }

    var pages = new List<string> {
        "default", "availability", "promote", "your-work", "about-you",
        "payments", "privacy"
    };
    if (pages.Contains(page)) {

        isInOnboarding = checkOnboardingPage(u, page);
        
        fileToRender = LcUrl.RenderLangPath + "$NewDashboard/$" + page + ".cshtml";
        //// Set menu option selected
        //PageData["menu-item"] = page;
    } else {
        string folder = "$NewDashboard/";
        string file =  LcHelpers.JoinNotEmptyStrings("/", UrlData.ToArray<string>()) + ".cshtml";
        if (File.Exists(Server.MapPath(LcUrl.RenderLangPath + folder + file))) {
            if (Regex.IsMatch(file, @"\/\$") || file.StartsWith("$") || file == "AboutYou/ChangePhoto.cshtml" || file == "YourWork/UploadPhoto.cshtml") {
                @RenderPage(LcUrl.RenderLangPath + folder + file);
                return;
            } else {
                fileToRender = LcUrl.RenderLangPath + folder + file;
            }
        } else {
            throw new HttpException(404, "Page not found");
        }
    }
    
    // Only apply page layout after analizy url params (to avoid partial pages to use full layout)
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    LcAssets.AddStyle(LcUrl.AppPath + "Styles/new-dashboard", !LcHelpers.InDev);
    LcAssets.AddScript(LcUrl.AppPath + "Scripts/new-dashboard", !LcHelpers.InDev);
   
    // Some layout configurations
    var baseUrl = LcUrl.LangPath + "NewDashboard/";
    
    // SelectedPage: use page as value, changing default by dashboard.
    var selectedPage = page == "default" ? "dashboard" : page;
}
@functions {
    bool checkOnboardingPage(dynamic u, string page){
        var onboardingStep = (string)u.OnboardingStep;
        
        var onboardingSteps = new string[] { "your-work", "availability", "about-you", "payments" };
        
        var isInOnboarding = onboardingSteps.Contains<string>(onboardingStep);
        
        if (isInOnboarding &&
            page != onboardingStep) {
            Response.Redirect(LcUrl.LangPath + "NewDashboard/" + onboardingStep + "/");
        }
        
        return isInOnboarding;
    }
}

<div id="container" class="DashboardSection changes-notification-enabled js-changesNotificationEnabled clearfix">
    
    @RenderPage("$NewDashboard/_$Sidebar.cshtml", new {
        BaseUrl = baseUrl,
        ActiveProfile = !isInOnboarding,
        SelectedPage = selectedPage
    })

    <div id="main" class="DashboardSection-page">
        @RenderPage(fileToRender)        
    </div><!-- #main -->

</div>