/**
    Licenses Certifications Editor page styles
**/
@import '../../../css/utils/styleguideVars.styl';

[data-activity=licenses-certifications-editor] {
    #licensesCertificationsEditor-preview,
    #licensesCertificationsEditor-submittedImage {
        text-align: center;
        > div,
        canvas,
        > img {
            max-width: 442px;
            width: 100%;
            margin: auto;
        }
    }

    #licensesCertificationsEditor-screenshotInstructions {
        margin-top: 15px;
    }

    .licensesCertificationsEditor-uploadBtn {
        margin: 20px 10% 20px 10%;
        width: 80%;
    }
}
