/**
    Variables from the styleguide, in Stylus format.

    TODO: imcomplete manual list, must be automatic
**/
/* Grayscale colors */
$gray-darker = #222;
$gray-dark = #333;
$gray = #555;
$gray-light = #777;
$gray-lighter = #EEE;
$gray-colors = {
    darker: $gray-darker,
    dark: $gray-dark,
    gray: $gray,
    light: $gray-light,
    lighter: $gray-lighter
};

/* Semantic colors */
$fg-primary = #00989A;
$fg-success = #99C027;
$fg-info = #B5E1E2;
$fg-warning = #E95D0F;
$fg-danger = #FC0404;
$fg-colors = {
    primary: $fg-primary,
    success: $fg-success,
    info: $fg-info,
    warning: $fg-warning,
    danger: $fg-danger
};

/* Semantic colors used as background */
$bg-primary = #00989A;
$bg-success = #FFF;
$bg-info = #FFF;
$bg-warning = #FFF;
$bg-danger = #FFF;
$bg-colors = {
    primary: $bg-primary,
    success: $bg-success,
    info: $bg-info,
    warning: $bg-warning,
    danger: $bg-danger
};

/** Typo **/
$font-size-base = 14px;
