@{
    CommonHelpers.SecurePage();
    
    var user = DashboardFunctions.GetUserRow();
}
		<ul class="tabs autofill-submenu-items">
			<li class="current"><a class="current" href="#bookings">Bookings</a></li>
        </ul>

		<div id="bookings" class="tab-body fancy tabbed buttons current">
            <ul class="tabs">
                <li class="current"><a class="button profile fanciful" href="#bookings-all">All</a></li>
            </ul>
            
            <div id="bookings-all" class="tab-body current">
                @RenderPage("$BookingsBookings.cshtml")
            </div><!-- #bookings-all -->
		</div><!-- #bookings -->
