@{
    LcHelpers.SecurePage();
   
    PageData["userow"] = DashboardFunctions.GetUserRow();
    PageData["menu-item"] = "calendar";
}

		<ul class="tabs autofill-submenu-items">
			<li class="current"><a class="current" href="#availability">Availability</a></li>
        </ul>

		<div id="availability" class="tab-body current fancy">
            @RenderPage("$CalendarAvailabilityForm.cshtml")
		</div><!-- #availability-form -->
        