@{
    CommonHelpers.SecurePage();

    var user = DashboardFunctions.GetUserRow();
    PageData["menu-item"] = "mailbox";
}

		<ul class="tabs autofill-submenu-items">
			<li class="current"><a class="current" href="#inbox">Inbox</a></li>
			@*<li><a href="#sent">Sent</a></li>*@
        </ul>

		<div id="inbox" class="tab-body fancy tabbed buttons current clearfix" data-source-url="@(UrlUtil.LangPath + "Messaging/$MessageThreadList/")">
            @RenderPage(UrlUtil.LangPath + "Messaging/$MessageThreadList.cshtml")
            @*
            <ul class="tabs">
                <li class="current"><a class="button profile fanciful" href="#inbox-new">New</a></li>
                @if (user.IsProvider){
                <li><a class="button profile fanciful" href="#inbox-myclients">My Clients</a></li>
                }
                @if (user.IsCustomer){
                <li><a class="button profile fanciful" href="#inbox-myproviders">My Providers</a></li>
                }
            </ul>
            
            <div id="inbox-new" class="tab-body current">
                New <!-- TODO here must be the back-end content -->
            </div><!-- #inbox-new -->
            @if (user.IsProvider){
            <div id="inbox-myclients" class="tab-body">
                My Clients <!-- TODO here must be the back-end content -->
            </div><!-- #inbox-myclients -->
            }
            @if (user.IsCustomer){
            <div id="inbox-myproviders" class="tab-body">
                My Providers <!-- TODO here must be the back-end content -->
            </div><!-- #inbox-myproviders -->
            }
            *@
		</div><!-- #mailbox -->
        
		@*<div id="sent" class="tab-body fancy">
                Sent <!-- TODO here must be the back-end content -->
		</div><!-- #sent -->*@