@{
    CommonHelpers.SecurePage();

    var u = PageData["userow"] = DashboardFunctions.GetUserRow();
    
    if (!u.IsCustomer) {
        return;
    }
    
    PageData["menu-item"] = "myproviders";
}

		<ul class="tabs autofill-submenu-items">
			<li class="current"><a class="current" href="#myproviders-current">Current</a></li>
			<li><a href="#myproviders-past">Past</a></li>
        </ul>

		<div id="myproviders-current" class="tab-body fancy tabbed buttons current">
            <ul class="tabs">
                <li class="current"><a class="button profile fanciful" href="#myproviders-current-list">List</a></li>
                <li><a class="button profile fanciful" href="#myproviders-current-preferences">Preferences</a></li>
                <li><a class="button profile fanciful" href="#myproviders-current-activity">Activity</a></li>
            </ul>
            
            <div id="myproviders-current-list" class="tab-body current">
                List <!-- TODO here must be the back-end content -->

                <h3>Something good is coming...</h3>
            </div><!-- #myproviders-current-list -->
            <div id="myproviders-current-preferences" class="tab-body">
                Preferences <!-- TODO here must be the back-end content -->
            </div><!-- #myproviders-current-preferences -->
            <div id="myproviders-current-activity" class="tab-body">
                Activity <!-- TODO here must be the back-end content -->
            </div><!-- #myproviders-current-activity -->
		</div><!-- #myproviders-current -->
        
		<div id="myproviders-past" class="tab-body fancy">
             <!-- TODO here must be the back-end content -->
		</div><!-- #myproviders-past -->