@using WebMatrix.Data;
@{
    var u = LcData.UserInfo.GetUserRow();
    var p = LcData.UserInfo.GetUserCurrentPos();
    var idprefix = PageData["idprefix"] ?? "position" + p.PositionID.ToString() + "-locations";
}
<p class="setting-instructions">
    Let clients know where you'll perform services. We won't disclose the exact address until after you accept a booking to ensure you and your client's safety.
</p>
<div class="positionlocations">
    <div class="edit-panel" data-source-url="@(UrlUtil.LangPath)Dashboard/$PositionsLocationEdit/?LocationID=0&PositionID=@p.PositionID">
        @*@RenderPage("$PositionsLocationEdit.cshtml", new { PositionID = p.PositionID })*@
    </div>

    <div class="locations-list view-panel" data-source-url="@(UrlUtil.LangPath)Dashboard/$PositionsLocationsList/?PositionID=@(p.PositionID)">
        @RenderPage("$PositionsLocationsList.cshtml")
    </div>
</div>
