@{
    
}
<div class="profile-progress progress-bar">
    <span>Your profile is</span>
    <span class="text"><span class="percent-done">40%</span> complete</span>
    <span class="total"><span class="percent-done"></span></span>
</div>