@{
    CommonHelpers.SecurePage();

    PageData["userow"] = DashboardFunctions.GetUserRow();
    PageData["menu-item"] = "resources";
}

		<ul class="tabs autofill-submenu-items">
			<li class="current"><a class="current" href="#resources-help">Help</a></li>
			<li><a href="#resources-tutorials">Tutorials</a></li>
            <li><a href="#resources-community">Community</a></li>
            <li><a href="#resources-partners">Partners</a></li>
        </ul>

		<div id="resources-help" class="tab-body fancy tabbed buttons current">
            <ul class="tabs">
                <li><a class="button profile fanciful current" href="#resources-help-faqs"><abbr title="Frequently Asked Questions">FAQs</abbr></a></li>
                <li><a class="button profile fanciful" href="#resources-help-reportissue">Report Issue</a></li>
                <li><a class="button profile fanciful" href="#resources-help-contactus">Contact Us</a></li>
                <li><a class="button profile fanciful" href="#resources-help-option4">Button Name 4</a></li>
            </ul>
            
            <div id="resources-help-faqs" class="tab-body current">
                FAQs <!-- TODO here must be the back-end content -->
            </div><!-- #resources-help-faqs -->
            <div id="resources-help-reportissue" class="tab-body">
                Report Issue <!-- TODO here must be the back-end content -->
            </div><!-- #resources-help-reportissue -->
            <div id="resources-help-contactus" class="tab-body">
                Contact Us <!-- TODO here must be the back-end content -->
            </div><!-- #resources-help-contactus -->
            <div id="resources-help-option4" class="tab-body">
                Button Name 4 <!-- TODO here must be the back-end content -->
            </div><!-- #resources-help-option4 -->
		</div><!-- #resources-help -->
        
		<div id="resources-tutorials" class="tab-body fancy tabbed buttons">
            <ul class="tabs">
                <li><a class="button profile fanciful current" href="#resources-tutorials-option1">Button Name 1</a></li>
                <li><a class="button profile fanciful" href="#resources-tutorials-option2">Button Name 2</a></li>
            </ul>
            
            <div id="resources-tutorials-option1" class="tab-body current">
                Button Name 1 <!-- TODO here must be the back-end content -->
            </div><!-- #resources-tutorials-option1 -->
            <div id="resources-tutorials-option2" class="tab-body">
                Button Name 2 <!-- TODO here must be the back-end content -->
            </div><!-- #resources-tutorials-option2 -->
		</div><!-- #resources-tutorials -->
        
		<div id="resources-community" class="tab-body fancy tabbed buttons">
            <ul class="tabs">
                <li><a class="button profile fanciful current" href="#resources-community-option1">Button Name 1</a></li>
                <li><a class="button profile fanciful" href="#resources-community-option2">Button Name 2</a></li>
            </ul>
            
            <div id="resources-community-option1" class="tab-body current">
                Button Name 1 <!-- TODO here must be the back-end content -->
            </div><!-- #resources-community-option1 -->
            <div id="resources-community-option2" class="tab-body">
                Button Name 2 <!-- TODO here must be the back-end content -->
            </div><!-- #resources-community-option2 -->
		</div><!-- #resources-community -->
        
		<div id="resources-partners" class="tab-body fancy tabbed buttons">
            <ul class="tabs">
                <li><a class="button profile fanciful current" href="#resources-partners-option1">Button Name 1</a></li>
                <li><a class="button profile fanciful" href="#resources-partners-option2">Button Name 2</a></li>
            </ul>
            
            <div id="resources-partners-option1" class="tab-body current">
                Button Name 1 <!-- TODO here must be the back-end content -->
            </div><!-- #resources-partners-option1 -->
            <div id="resources-partners-option2" class="tab-body">
                Button Name 2 <!-- TODO here must be the back-end content -->
            </div><!-- #resources-partners-option2 -->
		</div><!-- #resources-partners -->