@{
    
}
<div id="dashboard-alerts">
    <a class="more previous" href="#previous">Previous alerts</a>
    <ul>
        <li>
            <h5>Alert 1: Complete your calendar</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lorem, egestas quis fermentum a, rutrum sed justo. Duis nulla tellus, porttitor</p>
            <a class="more" href="#">Complete &gt;&gt;</a>
        </li>
        <li>
            <h5>Alert 2: Fill out your pricing wizard</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lorem, egestas quis fermentum a, rutrum sed justo. Duis nulla tellus, porttitor</p>
            <a class="more" href="#">Complete &gt;&gt;</a>
        </li>
        <li>
            <h5>Alert 3: Fill out your pricing wizard</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lorem, egestas quis fermentum a, rutrum sed justo. Duis nulla tellus, porttitor</p>
            <a class="more" href="#">Complete &gt;&gt;</a>
        </li>
        <li>
            <h5>Alert 4: Fill out your pricing wizard</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lorem, egestas quis fermentum a, rutrum sed justo. Duis nulla tellus, porttitor</p>
            <a class="more" href="#">Complete &gt;&gt;</a>
        </li>
        <li>
            <h5>Alert 5: Fill out your pricing wizard</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lorem, egestas quis fermentum a, rutrum sed justo. Duis nulla tellus, porttitor</p>
            <a class="more" href="#">Complete &gt;&gt;</a>
        </li>
        <li>
            <h5>Alert 6: Fill out your pricing wizard</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer justo lorem, egestas quis fermentum a, rutrum sed justo. Duis nulla tellus, porttitor</p>
            <a class="more" href="#">Complete &gt;&gt;</a>
        </li>
    </ul>
    <a class="more next" href="#next">Next alerts</a>
</div><!-- dashboard-alerts -->