<div class="testTabbedUX">
    <h3>Testing dynamic tab creation</h3>
    <script type="text/javascript">
            var testtabNumber = 1;
            function testCreateTab(button) {
                var $t = $(button);
                var tt = $t.closest('form').find('input.tabtitle');
                var tc = $t.closest('form').find('.tabcontent');
                var tab = TabbedUX.createTab($('#main.tabbed'),
                    'testtab_' + (testtabNumber++).toString(),
                    tt.val());
                if (tab)
                    $(tab).html(tc.val());
                else
                    alert('Unknowed error creating the tab :-(');
                return false;
            };
    </script>
    <form action="" method="post">
        <ul>
            <li>
                <button type="button" onclick="javascript:testCreateTab(this)" class="button createtab">Create tab</button>
            </li><li>
                <input class="tabtitle" style="width:400px" type="text" value="Tab Title" />
            </li><li>
                <textarea class="tabcontent" rows="7" style="width:400px; height: 70px">Testing the tab content, can be &lt;h2&gt;a title&lt;/h2&gt; or other html text.</textarea>
            </li>
        </ul>
    </form>
</div>
<br /><br /><br /><br />
<br /><br /><br /><br />
            <form>
                <ul>
                    <li>
                        <label>Name <input type="text" name="name" placeholder="Your name"/></label>
                    </li>
                    <li>
                        <label for="sel">Options</label>
                        <select name="sel" id="sel">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </li>
                    <li>
                        <label for="multi">Multi options</label>
                        <select id="multi" name="multi" multiple="multiple">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </li>
                    <li>
                        <label>Description <textarea name="description"></textarea></label>
                    </li>
                    <li>
                        <input type="radio" name="choice" id="radio1"/><label for="radio1">Radio 1</label>
                    </li>
                    <li>
                        <input type="radio" name="choice" id="radio2"/><label for="radio2">Radio 2</label>
                    </li>
                    <li>
                        <input type="radio" name="choice" id="radio3"/><label for="radio3">Radio 3</label>
                    </li>
                    <li>
                        <input type="checkbox" name="agree" id="agree"/><label for="agree">I agree</label>
                    </li>
                    <li>
                        <input class="button" type="submit" value="Save"/>
                        <input class="button" type="reset" value="Reset"/>
                    </li>
                </ul>
            </form>