#LCSCalendarControl_CALENDAR
{
    position:relative;
    width:600px;
    color:#00989A;
}



/* calendar sync button-link */
div.LCSCalendarSync
{
   
}

div.LCSCAL_Button
{
    display:inline-table;
    cursor:pointer;
    border-style:outset;
    border-color:#00989A;
    border-width:thin;    
    padding:2px 5px;
    margin:3px;
}

/* Element container for each week */
li.LCSCalendar
{
    list-style-type:none;
    padding:2px;
}

/* Calendar square that show the day number */
div.LCSCalendar_day
{
    width:35px;
    height:30px;
    text-align:center;    
    border:1pt solid #00989A;
    display:inline-table;
    padding-right:5px;    
    font-family:@Dotum;
    font-size:x-large;
    font-weight:bolder;
    
    background-color:white;
    color:#00989A;
    cursor:auto;
}

div.LCSCalendar_day_Hilite
{  
    width:35px;
    height:30px;
    text-align:center;    
    border:1pt solid #00989A;
    display:inline-table;
    padding-right:5px;
    font-family:@Dotum;
    font-size:x-large;
    font-weight:bolder;
    
    background-color: #00989A;
    color:White;
    cursor:pointer;  
}

/* Calendar cell with scheduled events */
div.LCSCalendar_EventDay
{
    background-color:#461864;
    color:White;   
    cursor:auto;
}

div.LCSCalendar_EventDay_Hilite
{
    background-color:#00989A;
    color:#461864;
    cursor:pointer;
}

div.LCSCalendar_CurrentDay
{
    width:35px;
    height:30px;
    text-align:center;        
    display:inline-table;
    padding-right:5px;    
    font-family:@Dotum;
    font-size:x-large;
    font-weight:bolder;
    
    background-color:yellow;
    color:#00989A;
    cursor:pointer;
    
    border:1pt double black;    
}

/* ======================================================================
 Below are styles for the Right side-bar section of the calendar display
========================================================================= */

/* Right side-bar that shows event details for each day */
div.LCSCalendar_Events
{
    position:absolute;
    top:0;
    right:0;      
    width:200px;
   /* 
    border-left:1pt solid #00989A;  
    height:100%; 
    background-color:Silver;        
    padding-top:20px;*/
    margin-top:35px;
    font-size:smaller;
    display:none;
}

/* Child of the right side-bar  */
div.LCSCalendar_Events P
{
     margin-left:15px;
}

/* Child of the right side-bar  */
span.eventtime
{
    width:70px;
    text-align:left;
}

/* Child of the right side-bar  */
div.hr_LCSCalendar_EventDay
{
    width:80%;
    border-top:1pt solid #00989A;    
    margin:20px 0px 20px 15px;
}

/* Child of the right side-bar - [Legend] */
div.LCSCalendarUnscheduled
{
    margin:10px 5px 0px 15px;
    height:15px;
    width:15px;
    border:1pt solid black;
    background-color:white;
    display:inline-block;
    position:relative;
    top:3px;
    
}     

/* Child of the right side-bar - [Legend] */
div.LCSCalendarScheduled
{
    margin:10px 5px 0px 15px;
    height:15px;
    width:15px;
    border:1pt solid black;
    background-color:#461864;     
    display:inline-block;
    position:relative;
    top:3px;
   
}

/* Child of the right side-bar - [Legend] */
div.LCSCalendarEventsList
{
    width:150px;
    height:110px;
    overflow:hidden;    
    
}

/* Child of the right side-bar - [Event list more link] */
li.LCSCalendarEventsList
{
    list-style:none;
    cursor:pointer;
    
}


.LCSCalTimeSegment
{
    height: 35px;
    width: 80px;
    color: Silver;  
    font-family:@Dotum;
    font-size:x-large;
    font-weight:bolder;
    border:1pt solid silver;
}

.LCSCalHourSegment
{
   background-color: #FFFFFF;
}

.LCSCalHourSegmentAlternate
{
   background-color: #9999FF;
}

.LCSCAL_SetBusy
{
    background-color: #333333;    
}


td.LCSCalDayPM
{
    
}

div.LCSCalDayHourList
{
    /* setting for K%12 = 4 columns
    height: 500px;
    width: 330px;
    */
    /* setting for k%8 = 6 columns */
    height: 350px;
    width: 496px;
    overflow:auto;    
    text-align:right;
}



.LCSCalDayHourList table
{
   border-collapse:collapse;
}

.LCSCAL_HourSegment_hover
{
     cursor:pointer;
     border:1pt solid #461864;
}

#LCSCal_ModalWrapper
{
    /* display: none; */   
    height: 100%;
    width: 100%;
    
}
