    <div class="reminders message-section">
        <ol>
            <li>You will be paid after the service is succesfully completed</li>
            <li>Please arrive five minutes before the scheduled booking time</li>
            <li>Dress appropriately and act professionally</li>
            <li>Present your identification and professional license (if applicable)</li>
            <li>Review the estimate together before starting the work</li>
            <li>Call or e-mail us with any questions</li>
            <li>Have fun!</li>
        </ol>
    </div>