@{
    var userType = PageData[0] ?? PageData["UserType"] ?? "customer";
}
    <div class="reminders message-section @userType">
        <ol>
            @if (userType == "provider")
            {
            <li>Review the pricing and services with the client before starting the work</li>
            <li>You will be paid after the service is succesfully completed</li>
            <li>Arrive at least five minutes before the booking time</li>
            <li>Dress appropriately for the task at hand</li>
            <li>Present your identification and, if necessary, your license</li>
            <li>Call or email Loconomics with questions</li>
            <li>Have fun!</li>
            }
            else
            {
            <li>Review the pricing and services with the provider before the service begins</li>
            <li>Provider will be paid only after the service is succesfully completed</li>
            <li>Please contact us immediately with any issues or no-shows--we're here to help</li>
            <li>Have fun!</li>
            }
        </ol>
    </div>