@{
    var p = PageData["providerrow"];
    var c = PageData["customerrow"];
    //var customerid = c.UserID;
    
    // Classes for differents calendar availability states
    var stateClasses = new List<string>(){"free", "busy", "tentative", "unavailable"};
    Random r = new Random();
}


<p class="info">
    Please review your provider’s availability calendar and choose a location, preferred time for services to be peformed and up to two alternate times.  Being flexible helps the two of you get an accurate time booked quickly.  
</p>
<form action="#" method="post" class="schedule" id="booking-schedule">
    <input type="hidden" name="providerid" value="@p.UserID"/>
    <fieldset class="availability">
        <legend>@(p.FirstName)'s availability:</legend>
        <div class="calendar">
            <ol class="days">
                <li>S</li><li>M</li><li>T</li><li>W</li><li>T</li><li>F</li><li>S</li>
            </ol>
            <ol class="hours">
                @for(var h = 7; h < 23; h++){
                <li>@((new DateTime(2000, 1, 1, h, 0, 0)).ToString("ht"))</li>
                }
            </ol>
            <ol class="datetimes">
                @for(var h = 7; h < 23; h++){
                 for(var b = 0; b < 2; b++){
                    var half = b == 0 ? "" : "half ";
                for(var d = 0; d < 7; d++)
                {<li class="@half@stateClasses[r.Next(0, 4)]"></li>}
                }}
            </ol>
        </div>
        <ul class="calendar-legend">
            <li class="free"><span class="color">Green</span>Free</li>
            <li class="busy"><span class="color">Purple</span>Busy</li>
            <li class="tentative"><span class="color">Yellow</span>Tentative</li>
            <li class="unavailable"><span class="color">White</span>Unavailable</li>
        </ul>
    </fieldset>
</form>
