@{
    var p = PageData["providerrow"];
    var c = PageData["customerrow"];
    //var customerid = c.UserID;
    
    // Attributes from category 1
    var attc1 = new Dictionary<int, string>(){{1, "Sweeping"}, {2, "Mopping"}, {3, "Vacuuming"}, {4, "Dusting"}, {5, "Bed-making"}, 
        {6, "Dishes"}, {7, "Trash emptyting"}, {8, "Toilets"}};
    // Attributes from category 2
    var attc2 = new Dictionary<int, string>(){{302, "Ironing"}, {155, "Laundry"}, {85, "Window-cleaning"}, {128, "Floor-waxing"}};
}

<p class="info">
    Please review the items below and be as accurate as possible to help your provider do a great job.
    The price and time require are estimates only and may change depending on actual work performed.   
</p>
<form action="#" method="post" class="services" id="booking-services">
    <input type="hidden" name="providerid" value="@p.UserID"/>
    <fieldset class="select-services">
        <legend>Select the services you'd like performed:</legend>
        <fieldset class="attribute-category attribute-category-1">
            <legend>Services regulary included:</legend>
            <ul>
                @foreach(var att in attc1){
                    <li><label><input type="checkbox" name="booking-services-attribute-cat1-@att.Key"/>@att.Value</label></li>
                }
            </ul>
        </fieldset>
        <fieldset class="attribute-category attribute-category-2">
            <legend>Services upon request:</legend>
            <ul>
                @foreach(var att in attc2){
                    <li><label><input type="checkbox" name="booking-services-attribute-cat2-@att.Key"/>@att.Value</label></li>
                }
            </ul>
        </fieldset>
    </fieldset>
    <fieldset class="special-instructions">
        <legend>Please include any special instructions to help your provider do a great job:</legend>
        <textarea name="booking-services-special-instructions">I would like mints on my pillows, thanks!</textarea>
    </fieldset>
    @*RenderPage("_ExamplePricingWizard.cshtml")*@
    @RenderPage(UrlUtil.LangPath + "PricingWizard/_BookingFieldset.cshtml")
    <fieldset class="actions">
        <button data-next-step="#schedule" class="schedule-service-button next">Schedule service</button>
    </fieldset>
</form>