@{  
    CommonHelpers.SecurePage();
    
    Layout = "../_SiteLayout.cshtml";
    Page.Title = "Let's get this booked";
    Styles.Add(UrlUtil.AppPath + "Styles/Booking.css");
    
    PageData["customerrow"] = DashboardFunctions.GetUserRow();

    int providerid = Request["ProviderID"].AsInt();
    int positionid = Request["PositionID"].AsInt();
    
    if (providerid == 0 || positionid == 0) {
        Response.Redirect(UrlUtil.LangPath);
    }
        
    PageData["providerrow"] = DashboardFunctions.GetUserRow(providerid);
    PageData["positionrow"] = DashboardFunctions.GetUserPos(providerid, positionid);
    
    if (PageData["providerrow"] == null || PageData["positionrow"] == null) {
        Response.Redirect(UrlUtil.LangPath);
    }
    Scripts.Add(UrlUtil.AppPath + "Scripts/Booking.js");
}

  <div id="container" class="clearfix booking editable have-boxes have-sidebar">
    <div id="main" class="tabbed folders wizard">
		<h1 class="withsub">@Page.Title</h1>
        <p class="subh1">We'll make it easy for you and @PageData["providerrow"].FirstName</p>
        
		<ul class="tabs autofill-submenu-items">
			<li class="current"><a href="#services">Services</a></li>
			<li class="disabled"><a href="#schedule">Schedule</a></li>
            <li class="disabled"><a href="#payment">Payment</a></li>
        </ul>
        
		<div id="services" class="tab-body fancy current">
            @RenderPage("$Services.cshtml")
		</div><!-- #services -->

		<div id="schedule" class="tab-body fancy">
            @*@RenderPage("$Schedule.cshtml")*@
		</div><!-- #schedule -->

		<div id="payment" class="tab-body fancy">
            @*RenderPage("$Payment.cshtml")*@
		</div><!-- #payment -->
        
    </div><!-- #main -->
    @RenderPage("../HelpCenter/$FAQs.cshtml")
    
  </div><!-- #container -->