@{  
    LcHelpers.SecurePage();
    
    Layout = "../_SiteLayout.cshtml";
    Page.Title = "Let's get this booked";
    
    PageData["customerrow"] = LcData.UserInfo.GetUserRow();

    int providerid = Request["ProviderID"].AsInt();
    int positionid = Request["PositionID"].AsInt();
    
    if (providerid == 0 || positionid == 0) {
        Response.Redirect(UrlUtil.LangPath);
    }
        
    PageData["providerrow"] = LcData.UserInfo.GetUserRow(providerid);
    PageData["positionrow"] = LcData.UserInfo.GetUserPos(providerid, positionid);
    
    if (PageData["providerrow"] == null || PageData["positionrow"] == null) {
        Response.Redirect(UrlUtil.LangPath);
    }
    
    Session["BookingRequestID"] = 1;
    Styles.Add(UrlUtil.AppPath + "Styles/Booking.css");
}
<script type="text/javascript" src="@(UrlUtil.AppPath)Scripts/Booking.js"></script>
  <div id="container" class="clearfix booking editable">
    <div id="main" class="tabbed wizard fancy">
        
		<div id="@(UrlData[0].ToLower())" class="tab-body fancy current">
            @RenderPage("$" + UrlData[0] + ".cshtml")
		</div><!-- #services -->

        <script type="text/javascript">
            $(function () {
                $('#schedule').trigger('endLoadWizardStep');
                $('#payment').trigger('endLoadWizardStep');
            });
        </script>
        
    </div><!-- #main -->
  </div><!-- #container -->