@{
    LcData.UserInfo.UserType userType = PageData["UserType"] is LcData.UserInfo.UserType 
        ? PageData["UserType"] 
        : LcData.UserInfo.ParseUserType(PageData["UserType"], LcData.UserInfo.UserType.Anonymous);
}
    <div class="reminders @userType.ToString().ToLower()">
        <ol>
            @if (userType == LcData.UserInfo.UserType.Provider)
            {
            <li>Review the pricing and services with the client before starting the work</li>
            <li>You will be paid after the service is successfully completed</li>
            <li>Arrive at least five minutes before the booking time</li>
            <li>Dress appropriately for the task at hand</li>
            <li>Present your identification and, if necessary, your license</li>
            <li>Call or email Loconomics with questions</li>
            <li>Have fun!</li>
            }
            else
            {
            <li>Review the pricing and services with the provider before the service begins</li>
            <li>Provider will be paid only after the service is successfully completed</li>
            <li>Please contact us immediately with any issues or no-shows--we're here to help</li>
            <li>Have fun!</li>
            }
        </ol>
    </div>