@{
    LcHelpers.SecurePage();
    
    var headerHtml = PageData["HeaderHtml"];
    
    var okMsg = "A verification e-mail has been re-sent and may take a few minutes to arrive. Please check both your inbox and spam folders. If you don't receive the e-mail, please click on the orange feedback tab on the left of the screen and let us know.";

    if (IsPost) {
        using(var db = Database.Open("sqlloco")) {
            var conf = db.QuerySingle(@"
                SELECT  M.ConfirmationToken,
                        U.IsProvider
                FROM    webpages_Membership As M
                         INNER JOIN
                        users As U
                          ON M.UserID = U.UserID
                WHERE
                        M.UserID = @0
            ", WebSecurity.CurrentUserId);
            if (conf != null) {
                var reg = new LcAuth.RegisteredUser {
                    UserID = WebSecurity.CurrentUserId,
                    Email = WebSecurity.CurrentUserName,
                    ConfirmationToken = conf.ConfirmationToken,
                    IsProvider = conf.IsProvider
                };
                LcAuth.SendRegisterUserEmail(reg);
                
                if (Request.IsAjaxRequest()){
                    LcHelpers.ReturnJsonResult(0, 
                        okMsg);
                }
            } else {
                ModelState.AddFormError("We're sorry, we weren't able to send you your verification email. Please contact support@loconomics.com for assistance.");
            }
        }
    }
    
    var needVerification = !LcData.UserInfo.HasEmailVerification(WebSecurity.CurrentUserId);
}
@Html.Raw(headerHtml)
@if (needVerification)
{
    <form action="@(LcUrl.LangPath)Account/$ResendConfirmationEmail/" method="post" class="ajax ajax-box">
        @Html.ValidationSummary("")
        @if (IsPost && ModelState.IsValid)
        {
            <div>@okMsg</div>
        }
        <button type="submit" class="action">Re-send verification e-mail</button>
    </form>
}
else
{
    <ul class="user-verifications"><li class="verification">Verified successfully</li></ul>
}