@{
    LcHelpers.SecurePage();
    // Set the layout page and page title
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    Page.Title = "Change Password";
    PageData["ShowWelcomePopup"] = false;
}
<div id="container" class="clearfix">
    @RenderPage("$ChangePassword.cshtml")
</div>