@{
    // Set the layout page and page title
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    Page.Title = "Sign Up";
    PageData["ShowWelcomePopup"] = false;
}
<div id="container" class="clearfix">
    @RenderPage("$Register.cshtml")
</div>