@{
    LcHelpers.SecurePage();
   
    PageData["userow"] = LcData.UserInfo.GetUserRow();
    PageData["menu-item"] = "calendar";
}

		<ul class="tabs autofill-submenu-items">
			<li class="current"><a class="current" href="#availability">General availability</a></li>
            <li><a href="#availabilityEvents">Appointments</a></li>
            <li><a href="#availabilityCalendar">Availability calendar</a></li>
        </ul>

		<div id="availability" class="tab-body current fancy">
            @RenderPage("$CalendarAvailabilityForm.cshtml")
		</div><!-- #availability -->
		<div id="availabilityEvents" class="tab-body fancy">
            @RenderPage("$CalendarAvailabilityEvents.cshtml")
		</div><!-- #availabilityEvents -->

        <div id="availabilityCalendar" class="tab-body fancy">
            @RenderPage(LcUrl.RenderLangPath + "Profile/$AvailabilityCalendarWidget.cshtml", new Dictionary<string, object>{ { "AvailabilityCalendar.UserID", PageData["userow"].UserID } } )
		</div><!-- #availabilityCalendar -->