@{
    // Messages: inquiries and bookings
    LcHelpers.SecurePage();
    var u = LcData.UserInfo.GetUserRow();
    
    var kind = (UrlData[1].IsEmpty() ? "" : UrlData[1]).ToLower();
    var firstIdStr = UrlData[2];
    var threadId = firstIdStr.AsInt();
    var messageId = UrlData[3].AsInt();
    var sectionUrlData = new OptionalItemsList<string>(UrlData.Slice(2));
}
@if (kind == "")
{
    <h1 class="DashboardSection-page-header">Messages</h1>
}
<div class="DashboardMessages">

    @if (kind == "inquiry")
    {
        @RenderPage("Messages/$Thread.cshtml", new { ThreadID = threadId, MessageID = messageId });
    }
    else if (kind == "booking")
    {
        @RenderPage("Bookings/$Booking.cshtml", new { UrlData = sectionUrlData })
    }
    else if (kind == "bookingrequest")
    {
        @RenderPage("Bookings/$BookingRequest.cshtml", new { UrlData = sectionUrlData })
    }
    else if (kind == "")
    {
        @RenderPage("Messages/$ThreadList.cshtml")
    }

</div>
