@{
    // Tools/todos
    // For now, To-dos page has not a place in the menu, and all the alerts are showed in
    // the Summary format (at /todos/$summary.cshtml), but this file is required to
    // do some routing and the *dismiss alert* feature, then it redirects just to the
    // dashboard/ url (summaries).
    // Still, by default this page show the To-dos summary too by reusing the feature.
    LcHelpers.SecurePage();
    
    var action = UrlData[1];
    var strAlertId = UrlData[2];
    var strPosId = UrlData[3];

    // Dismiss feature #243, heavy updated as part of #455:
    // To dismiss, a url like /dashboard/todos/dismiss/6/14/ to dismiss alert 6 of position 14
    // or without position for cases it does not apply.
    if (action == "dismiss") {
        // Validate required input
        if (strAlertId.IsInt()) {
            var aID = strAlertId.AsInt();
            // PositionID is not required because there are alert
            // that doesn not required (Zero value for that cases)
            var posID = strPosId.AsInt(0);

            // The change in database is done updating an existing record
            // for that alertID, that positionID and the user,
            // if not exists, bad attempt from the user, nothing is done,
            // silence for security and easier way:
            using (var db = Database.Open("sqlloco")) {
                db.Execute(@"
                    UPDATE  UserAlert
                    SET     Dismissed = 1
                    WHERE   UserID = @0 AND
                            AlertID = @1 AND
                            PositionID = @2
                ", WebSecurity.CurrentUserId, aID, posID);
            }
            // NOTE: There is a chance for manual uses of the URL in that a
            // user attempts to off an alert that is required, and the change
            // on the 'dismissed' flag at database will happen successfully
            // BUT, when we show, count and validate alerts, the dismissed field
            // is ignored on required alerts, then it does not take effects :-)
            
            // Redirect to the default dashboard page, showing the summaries
            // that includes To-dos
            var redirectUrl = LcUrl.LangPath + "dashboard/";
            if (Request.IsAjaxRequest()) {
                LcHelpers.ReturnJsonResult(1, redirectUrl);
            }
            else {
                Response.Redirect(redirectUrl);
            }
        }
    }   
}
<h1 class="DashboardSection-page-header">To-dos</h1>
<div class="DashboardTodos">
    @RenderPage("Todos/$Summary.cshtml")
</div>