@{
    // Tools/Dashboard
    LcHelpers.SecurePage();
    
    // For testing purposes only: force to set the user in Onboarding mode
    // when entering Welcome
    if (!LcHelpers.InLive) {
        using (var db = Database.Open("sqlloco")) {
            db.Execute("UPDATE users SET OnboardingStep = @1 WHERE userid = @0",
                WebSecurity.CurrentUserId,
                "welcome"
            );
        }
    }
}
<h1 class="DashboardSection-page-header">Activate your profile</h1>
<p class="DashboardSection-page-introduction">
We'll walk you through four easy steps to get you set up. Send us a mesage by
clicking on the orange tab in the lower right hand corner of your screen with questions
or comments.
</p>
<div class="DashboardWelcome">
    <ul class="DashboardWelcome-stepsIntro">
        <li>
            <h3>Showcase your work.</h3>
            <p>Show clients what you got.</p>
        </li>
        <li>
            <h3>List your availability.</h3>
            <p>Tell clients when you can work.</p>
        </li>
        <li>
            <h3>Tell your story.</h3>
            <p>Share a little about who you are.</p>
        </li>
        <li>
            <h3>Set up payments.</h3>
            <p>Getting paid is simple and easy.</p>
        </li>
    </ul>
    <a class="action main-action begin-action" href="@(LcUrl.LangPath)dashboard/your-work/">Begin</a>
</div>