@{
    // Page to manage generally errors
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    Page.Title = "Page Not Found";
}
<div id="container">
    <h1>LJDI: We're sorry, there was an error on your request.</h1>
</div>
