@* List, create, edit and remove usereducation table records.
*@
@{
    LcHelpers.SecurePage();
    
    var u = LcData.UserInfo.GetUserRow();
    var PageState = PageData["PageState"] ?? ModelState;
    var doReturn = PageState == ModelState;
    
    var datacontext = "usereducation";
}
<fieldset class="DashboardEducation crudl" data-crudl-context="@datacontext" data-crudl-item-id-parameter="EducationID" data-crudl-extra-query="subform=true">
    <div class="education-edit crudl-editor" data-source-url="@(LcUrl.LangUrl)$NewDashboard/AboutYou/$EducationEdit/">
    </div>
    <div class="education-list crudl-viewer">
        <div class="lc-ressources">
            <div id="lcres-confirm-delete-crudl-item-message:@datacontext">Do you want to delete this?</div>
            <div id="lcres-delete-crudl-item-loading-message:@datacontext">Deleting</div>
        </div>
        <div class="add-item add-education actions crudl-create">
            <a href="#add-education" class="add-item-action add-education-action">Add</a>
        </div>
        <div class="list view-panel crudl-list" data-source-url="@(LcUrl.LangUrl)$NewDashboard/AboutYou/$EducationList/">
            @RenderPage("$EducationList.cshtml")
        </div>
    </div>
</fieldset>