/*
    Stylesheet for any landingPage.
    Ideally, just generating one file from the landing stylesheet
    would contain any import needed, and not shared with others,
    but for now are few the changes and no much overload
    plus some refactors needed here (maybe just 'app.styl')
*/
/* core */
@import "nib"
@import 'utils/mediaQueries.styl'
@import 'utils/styleguideVars.styl'
@import 'utils/bs-extensions.styl'
@import 'utils/input-group-addon-inset.styl';
@import 'utils/arrows.styl';

/** Components styles **/
@import 'components/ActionSheet.styl'
@import 'components/SignupLogin.styl'
@import 'components/LargeNavBar.styl'
@import 'components/LearnMorePage.styl'

/** Pages **/
@import 'landingPages/massageTherapists.styl'

/** App contains some general changes that may be needed**/
/* TODO Ideally this will be shared utilities or components,
 and no forcing the class App on the top */
@import 'components/App.styl'

.App > body {
    // No navbar
    padding-top: 0 !important;
}

.LandingPage {

    // NO NAVBAR, disabled on the JS activity, so this can replace the default:
    top: 0 !important;

    // NOTE: all activities are absolute positioned, so is already a positioning context

    [role=main] {

        .navbar-brand {
            display: block;
            width: 100%;
            height: 50px;
            background: no-repeat;
            background-image: url('../images/logo-white-large.png');
            background-image: 
              linear-gradient(transparent, transparent),
              url('../images/logo-white.svg');
            background-size: 100px;
            margin: 20px $grid-gap;
            @media $mediaMaxSm {
                background-position: center;
                margin: 0px; 20px;
            }
        }
        
        .landingpage-copy {
            margin: 30px; 0px; 30px; 30px;
        }
        .landingpage-background {
            padding-top: $LargeNavBar-height + 15px;
            background: no-repeat center / cover;
            background-image:
              linear-gradient(
                rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.7)
              ),
              url('../images/Stocksy_txp67b81859qys000_Small_546856.jpg');
            @media $mediaMaxSm {
                padding-top: 32px;
            }
          }
        .landingpage-title {
            color: $gray;
            font-size: 38px;
            font-weight: bold;
            text-align: left;
            @media $mediaMaxSm {
                font-size: 24px;
            }
        }
        .landingpage-tagline {
            color: $gray;
            font-size: 24px;
            text-align: left;
            @media $mediaMaxSm {
                font-size: 16px;
            }
        }
        .landingpage-proposition {
            color: $gray;
            font-size: 18px;
            text-align: left;
            display: block;
            .fa,
            p {
                display: inline-block;
            }
        }


        // Edge limit for phone
        .landingpage-title,
        .landingpage-tagline,
        .landingpage-proposition{
            padding: 0 $grid-gap;
        }
        .SignupLogin {
            h2 {
                text-align: center;
            }
            @media $mediaMaxSm {
                margin: 10px;
            }
            #job-title-selection {
                margin: 10px;
                button {
                    padding: 5px;
                    margin: 2px;
                }
            }
        }
        form {
            margin: 40px auto;
            max-width: 450px;

            .form-control {
                background: White;
                font-size: 17px;
            }

            .form-control:focus {
              border-bottom-color: #ccc;
              border-top-color: transparent;
              border-right-color: transparent;
            }

            // Reduce column gaps by a 20px in total
            // for sizes bigger than XS (so keep standar in phone where
            // forms goes vertical)
            @media $mediaMinSm {
                > * {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}

