/* core */
@import "nib"
@import 'utils/mediaQueries.styl'
@import 'utils/styleguideVars.styl'
@import 'utils/bs-extensions.styl'
@import 'utils/select-btn.styl'

/* main */
@import 'components/Splash.styl'

/** Utilities styles **/
@import 'utils/isolated.styl'
@import 'utils/backdrop.styl'
body {
    backdrop();
}
@import 'utils/loadingSpinner.styl'
@import 'utils/form-control-inline.styl'

/** Components styles **/
@import 'components/SplashScreen.styl'
@import 'components/Activity.styl'
@import 'components/LeadContent.styl'
@import 'components/WebsiteFooter.styl'

/** Activities styles **/
@import 'activities/signup.styl'
@import 'activities/splashIndex.styl'
@import 'activities/splashThanks.styl'
@import 'activities/terms.styl'
