@* Service Locations
*@
@{
    LcHelpers.SecurePage();
    
    var u = LcData.UserInfo.GetUserRow();
    var PageState = PageData["PageState"] ?? ModelState;
    var doReturn = PageState == ModelState;
    var pos = PageData["Position"];
    int positionID = pos.PositionID;
    
    var datacontext = "locations";
}
<p class="DashboardSection-page-section-introduction">
    Fill clients in on where you can be expected to work.
    Do you work in specific spots around town? From an office somewhere?
    Your working address(es) won’t be shared until a booking is confirmed.
</p>
<fieldset class="DashboardLocations crudl Crudl--basicStyle" data-crudl-context="@datacontext" data-crudl-item-id-parameter="LocationID" data-crudl-extra-query="subform=true&PositionID=@positionID">
    <div class="DashboardLocations-editor crudl-editor BasicForm" data-source-url="@(LcUrl.LangUrl)$dashboard/YourWork/$LocationsItemEdit/">
    </div>
    <div class="DashboardLocations-list crudl-viewer">
        <div class="lc-ressources">
            <div id="lcres-confirm-delete-crudl-item-message:@datacontext">Do you want to delete this?</div>
            <div id="lcres-delete-crudl-item-loading-message:@datacontext">Deleting</div>
        </div>
        
        <div class="ActionsBoxList">
            <div class="ActionBox">
                <a href="#add-location" class="crudl-create" data-crudl-extra-query="itravel=True">Add a service radius</a>
                <p>
                    Do you travel to clients within your neighborhood, city, or region?
                    Add a service radius so we can match you with clients within it.
                </p>
            </div>
            <div class="ActionBox">
                <a href="#add-location" class="crudl-create" data-crudl-extra-query="iworkon=True">Add a service location</a>
                <p>
                    Do you provide services at specific locations?
                    Add each location with any special directions needed for
                    clients to get to it.
                </p>
            </div>
        </div>

        <div class="crudl-list" data-source-url="@(LcUrl.LangUrl)$dashboard/YourWork/$LocationsList/?PositionID=@(positionID)">
            @RenderPage("$LocationsList.cshtml", new { PositionID = positionID })
        </div>
    </div>
</fieldset>