/*
   martes, 13 de diciembre de 201619:02:25
   User: 
   Server: localhost\SQLEXPRESS
   Database: loconomics
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.CalendarEventRecurrencesPeriod
	DROP CONSTRAINT FK_CalendarEventRecurrencesPeriod_CalendarEventRecurrencesPeriodList
GO
ALTER TABLE dbo.CalendarEventRecurrencesPeriodList SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CalendarEventRecurrencesPeriodList', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CalendarEventRecurrencesPeriodList', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CalendarEventRecurrencesPeriodList', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CalendarEventRecurrencesPeriod ADD CONSTRAINT
	FK_CalendarEventRecurrencesPeriod_CalendarEventRecurrencesPeriodList FOREIGN KEY
	(
	IdRecurrence
	) REFERENCES dbo.CalendarEventRecurrencesPeriodList
	(
	Id
	) ON UPDATE  CASCADE 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.CalendarEventRecurrencesPeriod SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CalendarEventRecurrencesPeriod', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CalendarEventRecurrencesPeriod', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CalendarEventRecurrencesPeriod', 'Object', 'CONTROL') as Contr_Per 