/**
  BasicForm mixin-component styles.
**/
@import "nib"

/* Important: BasicForm class is not intended to be assigned only to 'form' elements,
    it can be attached to any element, most times containers of forms. */
.BasicForm {
    legend {
        font-weight: bold;
    }
    
    > ul > li,
    fieldset > ul > li {
        padding: 0px 10px;
        margin: 6px 0px;
        
        input[type="radio"],
        input[type="checkbox"]{
            margin: 0 6px;
        }
        
        > input[type="radio"]:first-child,
        > input[type="checkbox"]:first-child{
            margin: 0 6px 0 0;
        }
        
        label {
            padding: 0;
        }
    }
    
    fieldset {
        margin: 0px 0px 10px;
        padding: 0px;
    }
    
    label {
        padding: 0 10px;
    }
    
    textarea {
        width: 100%;
    }
    
    textarea,
    input[type=text],
    select {
        box-sizing: border-box;
    }
}

/* Fixing the buggy browsers implementation of legend element */
normalizeLegend() {
    clear: both;
    float: left;
    overflow: hidden;
    width: auto;
}