/**
  Just a collection of variables that define our colors palette.
**/
/* Color Vars: is not the best naming use color names but for now is the
    quick way
*/
$colorTeal =	#00989A
$colorLtTeal =  #b5e1e2
$colorLtGreen = #E65A0F
$colorGreen =	#99C027
$colorRed = 	#E44600
$colorPurple = 	#461864
$colorBlue = 	#006A8D
$colorOrange = 	#E95D0F
$colorYellow = 	#F0B600
$colorGray =    #333333
$colorMdGray =  #747474
$colorLtGray =  #cccccc