/**
  WelcomeHeader: showed optionally on Layout replacing menus.
  Used initially for dashboard onboarding.
**/
@import "nib"
@import "ColorsPalette"

.WelcomeHeader {
    position: absolute;
    right: 0px;
    left: 0px;
    padding-left: 225px;
    padding-bottom: 12px;
    border-bottom: 1px solid $colorTeal;
    
    h1 {
        font-family: Hand Of Sean;
        font-size: 2.2em;
        color: $colorTeal;
        display: inline-block;
        margin: 0px 0 0 1.5em;
        line-height: 78px;
    }
    
    span {
        font-size: 1.5em;
        color: $colorTeal;
        margin-left: 1em;
    }

}
