/**
  WelcomePopup Sign-up styles.
**/
@import "nib"
@import "ColorsPalette"
@import "mediaQueries"

/* 
    Containers setup 
*/

#welcome-popup-overlay {
    display:none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    min-height:100%;
    z-index:999;
}

.RegisterPage {
    #welcome-popup-overlay {
        background: none !important;
        display: block;
        position: static;
        min-height: 0;
    }
}

#welcomepopup {
    
    .actions .main-action,
    .actions .next-action {    
        width: 100%;
        font-weight: bold;
    }
    
}

#welcomepopup .profile-data,
#welcomepopup .terms,
#welcomepopup .position-description {
    display: none;
}
#welcomepopup.select-position .profile-data {
    display: block;
}
#welcome-popup-container {
    padding: 0;
    width: 400px;
    margin: 120px auto 60px;
    border: 1px solid #5a5b5b;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#welcomepopup header,
#welcomepopup footer,
#welcomepopup .register {
    padding: 20px 25px;
    text-align: center;
}
#welcomepopup h1,
#welcomepopup h2 {
    font-family: Hand Of Sean, Arial, sans-serif;
    margin: 0;
}
#welcomepopup h1.has-icon {
    padding: 0 0 0 110px;
    background: url("../img/theme/logo-loconomics-header-mini.png") no-repeat left center;
}
#welcomepopup h1 {
    padding: 0;
    line-height: 39px;
    font-size: 1.3em;
    color: #00989A;
    text-align: center;
}
#welcomepopup h2 {
    font-size: 1.05em;
}
#welcomepopup h3 { /*.popover-title {*/
    color: Black;
    font-weight: bold;
}
#welcomepopup.select-position .profile-data h2 {
    color: Black;
    text-align: left;
    margin-bottom: .5em;
}
#welcomepopup.select-position .presentation {
    display: none;
}
#welcomepopup .presentation {
    text-align: justify;
    font-size: 1em;
    margin: .5em 1em;
    color: Black;
    line-height: normal;
}
#welcomepopup strong {
    text-transform: uppercase;
    color: #e95d0f;
}
#welcomepopup .register {
    border: 1px solid #cccccc;
    border-width: 1px 0;
    background-color: #f5f5f5;
    margin: 0;
    position: relative;
}
#welcomepopup .register form {
    margin: 0 1em;
}
#welcomepopup .actions {
    text-align: center !important;
    margin-top: 1em;
}
#welcomepopup .profile-choice h2 {
    margin-bottom: 1em;
}
#welcomepopup .choice-or {
    font-family: Hand Of Sean, Arial, sans-serif;
    color: Black;
}
#welcomepopup .terms {
    font-size: .9em;
    line-height: normal;
    margin: 0 1em 1em;
    text-align: justify;
}
#welcomepopup .profile-data {
    margin: 1em 0;
}
#welcomepopup .profile-data li {
    padding: 3px 0;
}
#welcomepopup .profile-data input,
#welcomepopup .profile-data textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 100%;
}
#welcomepopup .profile-data label {
    display: none;
}
#welcomepopup a.login {
    background-color: #f5f5f5;
    color: #333333 !important;
    border: 1px solid #ababab !important;
    margin: 0 1em;
}
#welcomepopup a.login:hover {
    box-shadow: 0 0 5px 2px #ababab;
}
#terms-tooltip {
    text-align: justify;
}
#terms-tooltip li {
    list-style: disc inside;
}
#welcomepopupLoading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(220, 220, 220, .7);
}

@media $highResolutionMedia {
    #welcomepopup h1.has-icon {
        background-image: url("../img/theme/logo-loconomics-header-mini@2x.png");
        background-size: 100px 39px;
    }
}