@{
    
}
<article id="FAQs-ReportingAProblem">
    <h2 class="cushycms">Reporting a problem</h2>
    <ol>
        <li id="FAQs-ReportingAProblem-Q1">
            <h3><a href="#" class="cushycms">Who do I contact with a problem?</a></h3>
            <p class="cushycms">
			Us! Please contact us. We are always here to help, to clarify, and to fix. <a href="mailto:help@loconomics.com">Send us an e-mail</a> and we’ll get on it. 
            </p>
        </li>
        <li id="FAQs-ReportingAProblem-Q2">
            <h3><a href="#" class="cushycms">What do I do if my provider doesn’t show up?</a></h3>
            <p class="cushycms">
			Double-check the details of your appointment. If everything is according to plan (you’re in the right place, it’s the right time) give them a call just to see if they’re running late. If that fails, give us a call (415-735-6025) or <a href="mailto:help@loconomics.com">send us an e-mail</a> and we’ll arrange an immediate refund. 
            </p>
        </li>
        <li id="FAQs-ReportingAProblem-Q3">
            <h3><a href="#" class="cushycms">What do I do if I’m not happy with the way my provider performed the service?</a></h3>
            <p class="cushycms">
			Shoot us an email. Part of our job is to try and resolve any issues with payment or unsatisfactory service. We’ll get on it and figure out a solution that makes sense for both parties.
            </p>
        <li id="FAQs-ReportingAProblem-Q4">
            <h3><a href="#" class="cushycms">How do I report unauthorized use of content?</a></h3>
            <p class="cushycms">
			To report unauthorized use of content in a user's profile and request appropriate action, please e-mail a link to the profile in question, your contact information, and list any unauthorized content to <a href="mailto:legal@loconomics.com">legal@loconomics.com</a>. We'll see to it that your concerns are resolved.
            </p>
        </li>
            </p>
        </li>
    </ol>
</article>