@{
    
}
<article id="FAQs-ReportingAProblem">
    <h2 class="cushycms">Reporting a problem</h2>
    <ol>
        <li id="FAQs-ReportingAProblem-Q1">
            <h3><a href="#" class="cushycms">Who do I contact with a problem?</a></h3>
            <p class="cushycms">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, 
 adipiscing placerat, convallis sit orci. Donec quis enim nunc Lorem ipsum 
, consectetur adipiscing elit. Donec lorem turpis, volut Lorem ipsum dolor 
tetur adipiscing elit. Donec lorem turpis, volutpatid adipiscing placerat, con
Donec quis enim nunc Lorem ipsum dolor sit amet consectetur adipiscing 
            </p>
        </li>
        <li id="FAQs-ReportingAProblem-Q2">
            <h3><a href="#" class="cushycms">My provider hasn't shown up, what do I do?</a></h3>
            <p class="cushycms">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, 
 adipiscing placerat, convallis sit orci. Donec quis enim nunc Lorem ipsum 
, consectetur adipiscing elit. Donec lorem turpis, volut Lorem ipsum dolor 
tetur adipiscing elit. Donec lorem turpis, volutpatid adipiscing placerat, con
Donec quis enim nunc Lorem ipsum dolor sit amet consectetur adipiscing 
            </p>
        </li>
        <li id="FAQs-ReportingAProblem-Q3">
            <h3><a href="#" class="cushycms">How do I report unauthorized use of content?</a></h3>
            <p class="cushycms">
To report unauthorized use of content in a user's profile and request appropriate action, please e-mail a link to the profile in question, your contact information, 
and list any unauthorized content to <a href="mailto:legal@loconomics.com">legal@loconomics.com</a>. We'll see to it that your concerns are resolved.
            </p>
        </li>
        <li id="FAQs-ReportingAProblem-Q4">
            <h3><a href="#" class="cushycms">What do I do if I'm not happy with the services performed?</a></h3>
            <p class="cushycms">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem turpis, 
 adipiscing placerat, convallis sit orci. Donec quis enim nunc Lorem ipsum 
, consectetur adipiscing elit. Donec lorem turpis, volut Lorem ipsum dolor 
tetur adipiscing elit. Donec lorem turpis, volutpatid adipiscing placerat, con
Donec quis enim nunc Lorem ipsum dolor sit amet consectetur adipiscing 
            </p>
        </li>
    </ol>
</article>