    <article class="faqs widget">
        <h2>FAQs</h2>
        <section class="getting-started">
            <h3>Getting Started</h3>
            <ol>
                <li><a href="#">How do I hire a service provider?</a></li>
                <li><a href="#">How do I become a provider?</a></li>
                <li><a href="#">What information do I need?</a></li>
            </ol>
            <a href="#" class="more">View more</a>
        </section>
        <section>
            <h3>Scheduling Services</h3>
            <ol>
                <li><a href="#">Do I need to choose alternate times?</a></li>
                <li><a href="#">When will my booking be confirmed?</a></li>
                <li><a href="#">Why do I pay upfront?</a></li>
            </ol>
            <a href="#" class="more">View more</a>
        </section>
        <section>
            <h3>Reporting a problem</h3>
            <ol>
                <li><a href="#">Who do I contact with a problem?</a></li>
                <li><a href="#">My provider hasn't shown up, what do I do?</a></li>
                <li><a href="#">What do I do if ('m not happy with the services performed?</a></li>
            </ol>
            <a href="#" class="more">View more</a>
        </section>
        <section>
            <h3>Submitting feedback</h3>
            <ol>
                <li><a href="#">Who submits reviews?</a></li>
                <li><a href="#">Who submits references?</a></li>
                <li><a href="#">Why am I reviewed as a customer?</a></li>
            </ol>
            <a href="#" class="more">View more</a>
        </section>
        <section>
            <h3>Safety</h3>
            <ol>
                <li><a href="#">How do I know the service provider is real?</a></li>
                <li><a href="#">Can I trust the reviews?</a></li>
                <li><a href="#">Have the providers been background-checked?</a></li>
            </ol>
            <a href="#" class="more">View more</a>
        </section>
    </article><!-- #faqs -->
    