@{

}
<article class="legal privacy-policy">
<h1>Loconomics Privacy Policy</h1>



<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#000000"><FONT FACE="Arial, serif">Effective:
August 21, 2012</FONT></FONT></P>

<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#000000"><FONT FACE="Arial, serif">Loconomics,
Inc. (“Loconomics”, “we”, us”) is committed to protecting
the privacy of your personal information. We recognize that privacy
is of utmost importance.  This Privacy Policy explains how we collect
information from our users, and how we use this information on our
Web site </FONT></FONT><A HREF="http://www.loconomics.com"><FONT FACE="Arial, serif">www.loconomics.com</FONT></A><FONT COLOR="#000000"><FONT FACE="Arial, serif">.
</FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Please
note that any term that is capitalized but not defined in this
Privacy Policy is defined in the </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><U>User
Agreement</U></FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">.</FONT></FONT></P>

<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Loconomics
has been awarded TRUSTe's Privacy Seal signifying that this privacy
policy and practices have been reviewed by TRUSTe for compliance with
</FONT></FONT><A HREF="http://www.truste.com/privacy_seals_and_services/consumer_privacy/privacy-programs-requirements.html"><FONT FACE="Helvetica, serif">TRUSTe's
program requirements</FONT></A><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">
including transparency, accountability and choice regarding the
collection and use of your personal information.  The TRUSTe program
does not cover information that may be collected through downloadable
software.   TRUSTe's mission, as an independent third party, is to
accelerate online trust among consumers and organizations globally
through its leading privacy trustmark and innovative trust solutions.
If you have questions or complaints regarding our privacy policy or
practices, please contact us at legal@loconomics.com.  If you are not
satisfied with our response you can contact </FONT></FONT><A HREF="http://watchdog.truste.com/pvr.php?page=complaint"><FONT FACE="Helvetica, serif">TRUSTe
here</FONT></A><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">.
The TRUSTe certification only covers information collected through
our Web site www.loconomics .com and does not cover information that
may be collected by telephone, by mobile device, through our Facebook
app, through mobile apps, or through other manners that you may
convey information to us.</FONT></FONT></P>

<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Loconomics
complies with the </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">U.S.
– </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">E.U.
Safe Harbor framework </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">and
the U.S. - Swiss Safe Harbor framework</FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">
as set forth by the </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">U.S.
</FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Department
of Commerce regarding the collection, use, and retention of personal
data from European Union member countries </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">and
Switzerland. </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Loconomics
has certified that it adheres to the Safe Harbor Privacy Principles
of notice, choice, onward transfer, security, data integrity, access,
and enforcement.&nbsp; To learn more about the Safe Harbor program,
and to view Loconomic’s certification, please visit
</FONT></FONT><A HREF="http://www.export.gov/safeharbor/"><FONT FACE="Helvetica, serif">http://www.export.gov/safeharbor/</FONT></A></P>

<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>1.	The
information we collect</B></FONT></FONT></P>

<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">The
following chart summarizes the information we collect from </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>Customers</B></FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">,
and how we use that information.</FONT></FONT></P>

<TABLE CELLPADDING=7 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>Information
			collected</B></FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>How
			Loconomics uses this information</B></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">full
			name</FONT></FONT></P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">e-mail
			address</FONT></FONT></P>
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">1.  to
			facilitate your transactions with Service Providers </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(information
			may be disclosed to Service Providers)</I></FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">2.  to
			troubleshoot the Marketplace and ensure we can contact you if
			there is any problem</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">3.  to send
			you information about us and promotional material from our partner
			companies </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(subject
			to opt-out; see section on opting out below) </I></FONT></FONT>
			</P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">4.  to provide
			services and customer support that you have requested</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">5.  to resolve
			disputes</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">6.  to
			measure, improve or customize the Marketplace, its content, our
			products and services</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  HEIGHT=206 STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">address</FONT></FONT></P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">phone
			number</FONT></FONT></P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">gender</FONT></FONT></P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">feedback
			</FONT></FONT>
			</P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">demographics
			information</FONT></FONT></P>
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">1.  to
			facilitate your transactions with Service Providers </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(information
			may be disclosed to Service Providers)</I></FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">2.  to
			troubleshoot the Marketplace and ensure we can contact you if
			there is any problem</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">3.  to provide
			services and customer support that you have requested</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">4.  to resolve
			disputes</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">5.  to
			measure, improve or customize the Marketplace, its content, our
			products and services</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Service
			Provider review data</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			provide information to other Customers about a Service Provider</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">profile
			photo</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			personalize your profile (your photo will be displayed in
			connection with your reviews, and displayed to relevant Service
			Providers)</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">credit
			card information</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			facilitate payments to Loconomics and subsequently Service
			Providers who provide services to you</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">scheduling
			information</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			facilitate your transactions with Service Providers </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(information
			may be disclosed to Service Providers)</I></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">location
			information</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT FACE="Arial, serif">to
			deliver content based on your current location </FONT><FONT FACE="Arial, serif"><I>
			-</I></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT FACE="Helvetica, serif">search
			data</FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			deliver personalized content based on your interests</FONT></FONT></P>
		</TD>
	</TR>
</TABLE>

<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">The
following chart summarizes the information we collect from </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>Service
Providers</B></FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">,
and how we use that information:</FONT></FONT></P>

<TABLE  CELLPADDING=7 CELLSPACING=0>
	<COL >
	<COL >
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>Information
			collected</B></FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>How
			Loconomics uses this information</B></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">full
			name</FONT></FONT></P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">e-mail
			address</FONT></FONT></P>
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">1.  to
			facilitate your transactions with Customers </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(information
			may be disclosed to Customers)</I></FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">2.  to
			troubleshoot the Marketplace and ensure we can contact you if
			there is any problem</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">3.  to send
			you information about us and promotional material from our partner
			companies </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(subject
			to opt-out; see section on opting out below)</I></FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT FACE="Arial, serif">4.  to contact you if there are material
			changes to this Privacy Policy or the User Agreement</FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">5.  to provide
			services and customer support that you have requested</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">6.  to resolve
			disputes</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">7.  to
			measure, improve or customize the Marketplace, its content, our
			products and services</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">address</FONT></FONT></P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">phone
			number</FONT></FONT></P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">gender</FONT></FONT></P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">feedback
			</FONT></FONT>
			</P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><BR>
			</P>
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">1.  to
			facilitate your transactions with Customers </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(information
			may be disclosed to Customers)</I></FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">2.  to
			troubleshoot the Marketplace and ensure we can contact you if
			there is any problem</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">3.  to provide
			services and customer support that you have requested</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; margin-bottom: 0cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">4.  to resolve
			disputes</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">5.  to
			measure, improve or customize the Marketplace, its content, our
			products and services</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Customer
			review data</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			provide information to other Service Providers about a Customer</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">profile
			data, including photos</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			personalize your profile </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(information
			may be disclosed to Users; your photos will be displayed in
			connection with your services and reviews)</I></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">information
			regarding applicable licenses</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			confirm you have the legal ability to provide your services </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(only
			if there are licensing requirements in your area for the type of
			services you provide)</I></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">social
			security number or taxpayer ID number</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">1.
			 to report income to tax authorities , as required </FONT></FONT>
			</P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f">
			    <FONT FACE="Helvetica, serif">by law</FONT></FONT></P>
			<P STYLE="margin-left: 0.6cm; text-indent: -0.6cm; widows: 0; orphans: 0">
			<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">2.  to
			facilitate background check </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(only
			if you opt to undergo a background check)</I></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">date
			of birth</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			facilitate background check </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(only
			if you opt to undergo a background check)</I></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  HEIGHT=53 STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">bank
			information </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(including
			bank name, address, and account number)</I></FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			facilitate payment of funds we collect from Customers for your
			services</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  HEIGHT=53 STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">credit
			card information</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			facilitate payments to Loconomics </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(only
			if you request certain services from us)</I></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">scheduling
			information</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			facilitate your transactions with Customers </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(information
			may be disclosed to Customers)</I></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">location
			information</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT FACE="Arial, serif">to
			deliver content based on your current location </FONT>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">background
			check report </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(note:
			if you opt to undergo a background check, this information will be
			gathered from a third party)</I></FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT FACE="Arial, serif">to
			demonstrate to Customers that you can be trusted </FONT><FONT FACE="Arial, serif"><I>(only
			if you opt to undergo a background check; information may be
			disclosed to Customers)</I></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><BR>
			</P>
		</TD>
	</TR>
</TABLE>

<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">The
following chart summarizes the information we collect from </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>all
visitors</B></FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">
</FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>to
the Marketplace</B></FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">,
and how we use that information.  </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><I>(This
includes non-registered visitors to the Marketplace, as well as
Customers and Service Providers.)  </I></FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">The
following information, which is automatically submitted by your
browser, is considered </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>anonymous</B></FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">.</FONT></FONT></P>

<TABLE  CELLPADDING=7 CELLSPACING=0>
	<COL >
	<COL >
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>Information
			collected</B></FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P ALIGN=CENTER STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>How
			Loconomics uses this information</B></FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">IP
			address</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			help diagnose problems with our server</FONT></FONT></P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			administer the Marketplace</FONT></FONT></P>
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">to
			gather broad demographic information</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">referral
			data (URL of the page you were on before coming to the
			Marketplace)</FONT></FONT></P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><BR>
			</P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">browser
			information</FONT></FONT></P>
			<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><BR>
			</P>
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">MIME
			type</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">improve
			our services and moderate the Marketplace</FONT></FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">transactional
			data</FONT></FONT></P>
		</TD>
		<TD  STYLE="border: 1px solid #00000a; padding: 0cm 0.19cm">
			<P STYLE="widows: 0; orphans: 0"><FONT FACE="Arial, serif">to
			provide statistical information about the Marketplace.  The data
			will not be personally identifiable.</FONT></P>
		</TD>
	</TR>
</TABLE>

<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">The
charts above are not exhaustive. The sections below describe
additional collection and use of personal information.  </FONT></FONT>
</P>

<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>2.
 	How we collect information</B></FONT></FONT></P>

<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">We
collect information through web forms, by telephone, by mobile
device, through our Facebook app, through mobile apps, and through
other manners that you may convey information to us.  We collect
information when you visit the Marketplace, register as a user, make
postings to the Marketplace, or otherwise interact with the
Marketplace.  We may also ask for and collect supplemental
information from third parties, such as information about your credit
from a credit bureau (to the extent permitted by law), or information
to verify any identification details you provide during registration.
 </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><A NAME="_Toc290309908"></A>
<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>Facebook
Connect or other OpenID provider</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>You
can log in to our site using sign-in services such as Facebook
Connect or an Open ID provider. These services will authenticate your
identity and provide you the option to share certain personal
information with us such as your name and email address to
pre-populate our sign up form.&nbsp; Services like Facebook Connect
give you the option to post information about your activities on this
Web site to your profile page to share with others within your
network.&nbsp; &nbsp;</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>Public
Forums</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Our
Web site offers publicly accessible blogs or community forums. You
should be aware that any information you provide in these areas may
be read, collected, and used by others who access them. To request
removal of your personal information from our blog or community
forum, contact us at legal@loconomics.com.  In some cases, we may not
be able to remove your personal information, in which case we will
let you know if we are unable to do so and why.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Messages</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Our
service provides you with the option to send privacy messages to
other users of the site, you should be aware of the information you
provide to such individuals, as it may be read, collected and used
for other purposes. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Photo</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">You
have the option to add a photo to your profile so that other users of
the site are able to see it.  If you no longer wish to display your
photo you may remove it at anytime by clicking “Edit Profile Photo”
from the main section of your Dashboard.  </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>Social
Media (Features) and Widgets</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Our
Web site includes Social Media Features, such as the Facebook Like
button and Widgets, such as the Share this button or interactive
mini-programs that run on our site. These Features may collect your
IP address, which page you are visiting on our site, and&nbsp;may set
a cookie to enable the Feature to function properly. Social Media
Features and Widgets are either hosted by a third party or hosted
directly on our Site. Your interactions with these Features are
governed by the privacy policy of the company providing it. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Privacy
Settings</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">We
offer you the ability to manage what and how we communicate with you.
You may alter your privacy settings, deactivate your account, or
delete your account at any time by visiting the Privacy Settings
section of your Dashboard.  </FONT></FONT>
</P>

<P STYLE="margin-bottom: 0.14cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>3.
 	Cookies</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Loconomics
collects anonymous information through cookies. A cookie is a small
piece of data containing a unique identification number that is sent
to your browser from a server, and is stored on your computer’s
hard drive. The unique number identifies your browser to our servers
whenever you visit. Cookies do not enable anyone to access personally
identifiable information that you have not already given us.
Loconomics primarily uses cookies to connect users with account
information stored on Loconomics’ computers. This helps Loconomics
deliver better and more personalized service. Loconomics also uses
cookies to estimate our audience size for advertisers; to assist in
processing transactions; to track the number of entries in our
promotions, sweepstakes and contests; to identify the areas of the
Marketplace you visit; to identify which pages are being used; </FONT></FONT><FONT COLOR="#000000"><FONT FACE="Helvetica, serif">to
hold session information; and to track user preferences. This helps
us analyze data about the Marketplace and improve it.  We do not link
the information we store in cookies to any personal information you
submit while on our site. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Cookies
are part of the technology implemented by your browser. Most browsers
are initially set up to accept cookies. You can set your browser to
either notify you when you have received a cookie, or to refuse
cookies all together.  If you refuse cookies you may be prevented
from taking full advantage of the Marketplace. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">You
should be aware that Loconomics advertisers may use ads to give you
their own cookies. If you want to understand how and why an
advertiser uses cookies, check the advertiser’s site for their
privacy statement. We are not responsible for any issues that may
arise regarding the privacy policies of any third party, including
advertisers.    Our privacy policy does not cover the use cookies set
by third parties.  We do not have access or control over these
cookies. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.14cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>4.	Partner
companies</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">At
times we will share information with our partner companies.  In
addition, our partner companies may collect information from you and
share it with us.  We choose to work with partner companies that we
believe to be upstanding and that we believe will treat your
information responsibly. But, since we do not own these partner
companies, we cannot control their use of personal information. 
Before telling them about yourself, check out their privacy
statements. If you are not satisfied with their information
practices, you can choose to not use their services. If you no longer
wish to allow us to share your personal information with third
parties, please contact us at </FONT></FONT><A HREF="mailto:legal@loconomics.com"><FONT FACE="Helvetica, serif">legal@loconomics.com</FONT></A><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">
or contact that third party directly. </FONT></FONT>
</P>
<P STYLE="text-indent: 1.27cm; margin-bottom: 0.14cm; widows: 0; orphans: 0">
<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>A.	</B></FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>Co-Branding
Partners</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Some
of our services may be offered in conjunction with partner companies.
In order to provide these services, Loconomics may share some of your
user data (such as your name and email address). If you do not wish
to allow us to provide such information to these third parties you
may opt-out from sharing by visiting your Privacy Settings section of
your Dashboard. </FONT></FONT>
</P>
<P STYLE="text-indent: 1.27cm; margin-bottom: 0.14cm; widows: 0; orphans: 0">
<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>B.	Partner
Sponsorships</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Partner
companies may sponsor promotions, contests and sweepstakes that
require you to reveal details such as your name, address or phone
number. Always check their privacy policies before revealing
information about yourself. If you don’t want these partner
companies to have your personal information, you can choose to not
participate. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">	</FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>C.	Service
providers</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">We
will share your personal information with third parties in the ways
that are described in this privacy policy.  We do not sell your
personal information to third parties.</FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">We
	may provide your personal information to companies that provide
	services to help us with our business activities such as processing
	your payment, sending emails on our behalf or providing customer
	service. These companies are authorized to use your personal
	information only as necessary to provide these services to us.</FONT></FONT></P>
</UL>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">	</FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>D.	Complementary
services</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">We
may share information that is not of a sensitive nature with
carefully selected partner companies, including those who offer
services that complement those provided by us or which may otherwise
be of interest to you. If you do not want us to share information
about you with these partner companies, you may opt out as described
below. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.14cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>5</B></FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>.	Opt-out
</B></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><A NAME="_GoBack"></A>
<FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Loconomics
provide users the opportunity to opt out of receiving certain
communications from us and our partner companies.  In addition, users
have the option to stop receiving these communications.  If you’d
like to stop receiving these communications, please visit the
Preferences section of your Dashboard using your user name and
password or follow the unsubscribe link located at the bottom of each
communication.    </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.14cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>6.	Targeted
advertisements</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Ads
are a standard part of user experience on the Internet, and targeted
advertising enhances this experience. Loconomics uses information
collected from our users to place ads where we believe interested
parties will see them.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>7.	Market
research</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Loconomics
may analyze information about you to direct services and content
based on your interests. Market research data may be used at the
aggregate level to target sales or improve user experience.  We may
collect market research data in the following ways:  (i) surveys,
(ii) contests, (iii) general use of the Marketplace, and (iv) other
methods.   </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Loconomics
may use data at the individual level to sell products and services to
users who express an interest in these products and services, through
a poll for example, or to users who can be presumed to have an
interest based on results from a statistical analysis.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#000000"><FONT FACE="Helvetica, serif">We
track user traffic patterns throughout the Marketplace. We break down
overall usage statistics according to a user's demographics, domain
name, browser type, and MIME type by reading this information from
the browser string (information contained in a user's browser).  We
sometimes track and catalog the search terms that users enter in our
&quot;Search&quot; function. The tracking information helps us to
determine which areas of the Marketplace users like and do not like
based on traffic to those areas.  </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>8.	Information
retention</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">To
preserve the integrity of our databases, standard procedure calls for
us to retain information submitted by users for an indefinite length
of time. We will also respond to written user requests to delete
account information. If you wish to make such a request, which
requires that we verify your identity, contact us at
legal@loconomics.com. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>9.	Information
security</B></FONT></FONT></P>

<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Loconomics
makes every effort to ensure that your information is secure. Only
certain authorized Loconomics employees can access this information,
and then only if it is relevant to their job duties. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Loconomics
uses SSL (Secure Socket Layer), the industry standard method for
computers to communicate securely without risk of manipulation or
recipient impersonation. We utilize SSL in the online registration
process, in the login process, and in the account management section
of the Marketplace.</FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">We
store credit card numbers, bank account numbers, social security
numbers, and taxpayer identification numbers in an information vault
maintained by a third party merchant account provider known as
Braintree. This information is always transmitted in encrypted form. 
For more information on Braintree’s security policies, please visit
their </FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><U>website</U></FONT></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">.
 We store other information on servers controlled by Loconomics.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Your
Loconomics profile is password protected so that only you and
authorized Loconomics employees have access to your account
information. In order to maintain this protection, do not give your
password to anyone. If you share a computer, you should sign out of
your Loconomics account and close the browser window before anyone
else logs on. This will help protect your information from disclosure
to third parties.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Unfortunately,
no data transmission over the Internet can be guaranteed to be 100%
secure. As a result, Loconomics cannot guarantee the security of any
information you transmit to us or our partner companies, and you do
so at your own risk.  Loconomics expressly disclaims any liability
that may arise should any other individuals obtain the information
you submit to the Marketplace.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.14cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>10.	Editing
your information</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">To
update, delete inaccuracies, or modify your personal information,
please visit the Account section of your Dashboard.  You may edit
your profile at any time—all you need is your username and
password. If you wish to delete your profile, be removed from our
directory, or request deletion of an unauthorized profile you may do
so by contacting us at </FONT></FONT><A HREF="mailto:legal@loconomics.com"><FONT FACE="Helvetica, serif">legal@loconomics.com</FONT></A><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">.
</FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">So
that we can protect the integrity of sensitive data, there are
certain pieces of information that you cannot alter yourself. For
example, since children under 18 are not allowed to register as
Loconomics users, we need to take reasonable measures to preserve the
accuracy of our users’ ages. Please e-mail us at
help@loconomics.com to find out how to change information you cannot
edit through your profile. We will respond to your access request
within 30 days.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">You
may also delete your profile, but certain information (e.g. regarding
tax liability) will be retained as long as legally required.  Any
photographs you upload will be deleted within 60 days.  Information
that is not personally identifiable (e.g. usage data) will be
retained after deletion of a profile.  </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">We
will retain your information for as long as your account is active or
as needed to provide you services.  If you wish to cancel your
account or request that we no longer use your information to provide
you services contact us at </FONT></FONT><A HREF="mailto:legal@loconomics.com"><FONT FACE="Helvetica, serif">legal@loconomics.com</FONT></A><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">.
 We will retain and use your information as necessary to comply with
our legal obligations, resolve disputes, and enforce our agreements. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.14cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>11.	Linked
sites</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.14cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">The
Marketplace may contain links to other websites or resources over
which Loconomics does not have control.  Such links do not constitute
an endorsement of those external websites. You acknowledge that
Loconomics is providing these links to you only as a convenience, and
agree that Loconomics is not responsible for the content of such
external websites.  We are not responsible for the protection and
privacy of any information that you provide while visiting such
external websites, and such sites are not governed by this Privacy
Policy. Your use of any external website is subject to the terms of
use and privacy policy located on the external website. </FONT></FONT>
</P>

<P STYLE="margin-bottom: 0.14cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>12.
 	Changes to this Privacy Policy</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">This
Privacy Policy is periodically reviewed and enhanced as necessary.
This Privacy Policy may change as Loconomics updates and expands its
services. Loconomics will send you an email (to the email address in
your profile) and will post notification on the Marketplace if there
are any material changes in its Privacy Policy. Loconomics also
encourages you to review this Privacy Policy periodically. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0cm"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>13.	Legal
notices</B></FONT></FONT></P>

<P STYLE="margin-bottom: 0cm"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">By
using the Marketplace, you warrant and represent that you have read,
understand and agree to this Privacy Policy.  Loconomics expressly
disclaims any liability that may arise from your provision of any
information to the Marketplace. You agree to hold Loconomics harmless
from any liability that may arise from the provision of any
information to the Marketplace.  Loconomics reserves the right to
disclose any information at our discretion to anyone if required by
law, such as to comply with a subpoena, or similar legal process,
when we believe in good faith that disclosure is necessary to protect
our rights, protect your safety or the safety of others, investigate
fraud, respond to a government request, or if given reason to
believe, in our sole discretion, that someone is causing injury to or
interference with the rights of Loconomics users, the general public,
or Loconomics.  Loconomics may use any information to enforce its
User Agreement.  </FONT></FONT>
</P>

<P STYLE="margin-bottom: 0cm"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">In
the event Loconomics undergoes a change in control, including,
without limitation, a merger or sale of all or substantially all of
Loconomics’ assets or other corporate reorganization in which
Loconomics participates, and is thus merged with or acquired by a
third party entity, Loconomics reserves the right to transfer the
personal information we have collected from the users to that
successor entity. You will be notified via email/or prominent notice
on our Web site of any change in ownership or users of your personal
information, as well as any choices you may have regarding your
personal information. </FONT></FONT>
</P>
<P STYLE="margin-bottom: 0.14cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif"><B>14.	How
can I reach Loconomics staff?</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">If
you have technical problems, questions or other issues related to
your use of the Marketplace, please e-mail help@loconomics.com.  If
you have any questions about this Privacy Policy, please e-mail
</FONT></FONT><A HREF="mailto:legal@loconomics.com"><FONT FACE="Helvetica, serif">legal@loconomics.com</FONT></A><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Loconomics,
Inc.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">3150
18</FONT></FONT><FONT COLOR="#361e0f"><SUP><FONT FACE="Helvetica, serif">th</FONT></SUP></FONT><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">
Street, Suite #438</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">Mailbox
# 208</FONT></FONT></P>
<P STYLE="margin-bottom: 0.35cm; widows: 0; orphans: 0"><FONT COLOR="#361e0f"><FONT FACE="Helvetica, serif">San
Francisco, CA 94110</FONT></FONT></P>



</article>