@{
    Layout = UrlUtil.LangPath + "_SiteLayout.cshtml";
    Page.Title = "How it works";
}
<div id="container" class="home clearfix">
    <div id="main">
        @RenderPage("$HowItWorksWidget.cshtml")
    </div>
</div>