<script type="text/html" id="cancellationPolicy-info-template">
    <div>
        <strong><span data-bind="text: policy.name"></span>: </strong><span data-bind="text: policy.description"></span><em><span> For example, if a booking was made by a client for one week from now and cancelled by <strong data-bind="text: policy.refundLimitDate, format: { type: 'datetime', format: 'LT dddd, LL' }"></strong>, they would <strong><span data-bind="text: policy.cancellationFeeBeforeDisplay"></span></strong>. If they cancelled after, they would be charged a <strong><span data-bind="text: policy.cancellationFeeAfterDisplay"></span> cancellation fee.</strong></span></em>
    </div>
</script>
