<!-- Knockout Template list-view, for use with a generic ListView/Item viewmodel, helps as doc reference for other uses too -->
<script type="text/html" id="datetime-picker-template">
  <div class="calendar-placeholder row" data-date="today"></div>

  <div>
    <h2 class="SectionTitle" data-bind="text: selectedDate, format: { type: 'datetime', format: 'dddd (M/D)' }"></h2>
    <div data-bind="css: { 'is-loading': isLoading }">
        <app-loading-spinner params="mod: 'floating bigger'"></app-loading-spinner>
    </div>
      
    <div class="isolated" data-bind="visible: durationDisplay">
        <span>You'll need</span> <span data-bind="text: durationDisplay"></span>
    </div>

    <div class="GroupedTimeSlots" data-bind="foreach: groupedSlots">
      <div class="GroupedTimeSlots-group">
        <div class="GroupedTimeSlots-groupName" data-bind="text: group"></div>
        <div class="GroupedTimeSlots-slots">
            <div class="GroupedTimeSlots-slots-empty" data-bind="visible: slots.length === 0">No available appointments</div>
            <!-- ko foreach: { data: slots, as: 'item' } -->
                <a href="#" class="btn btn-link btn-default" data-bind="click: $component.selectDatetime, text: item, format: { type: 'datetime', format: 'hh:mma' }"></a>
            <!-- /ko -->
        </div>
      </div>
    </div>
    <div class="isolated">
          <button type="button" class="btn btn-default btn-block" data-bind="click: showTimePicker">
              <span>Book an unavailable time</span>
          </button>
    </div>
  </div>
</script>
