<script type="text/html" id="download-app-template">
    <div class="DownloadApp">
        <h2>Download our app:</h2>
        <div>
            <a class="btn-appleStore" target="_blank" href="https://geo.itunes.apple.com/us/app/loconomics/id1055765783?mt=8">Download on the App Store</a></li>
            <a class="btn-googlePlay" target="_blank" href="http://play.google.com/store/apps/details?id=com.loconomics.app&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1">Android App on Google Play</a>
        </div>
    </div>
</script>