<script type="text/html" id="education-card-template">
    <li class="col-sm-6" data-bind="attr: { id: 'education' + educationID() }">
        <div class="CredentialCard">
            <div class="Card-heading">
                <div class="Card-title">
                    <h5 data-bind="text: degreeCertificate"></h5>
                    <p data-bind="text: institutionName"></p>
                </div>
            </div>
            <div class="Card-description">
                <hr>
                <p data-bind="text: fieldOfStudy"></p>
                <p data-bind="visible: fromYearAttended() || toYearAttended()">
                    <span data-bind="text: fromYearAttended"></span> - <span data-bind="text: toYearAttended"></span>
                </p>
            </div>
        </div>
    </li>
</script>