<script type="text/html" id="generalCancellationPolicy-template">
    <ul>
        <li>The Loconomics service fee is non-refundable.</li>
        <li>Loconomics must be notified of any no-shows or complaints by either party within 24 hours after a booking is scheduled to end.</li>
        <li>Loconomics will help faciliate dispute resolution but has the final say should a dispute not be resolved between parties.</li>
        <li>A booking is officially canceled when the client clicks "Edit" and "Cancel booking" on the appointment, which they can find in their <a href="/clientAppointment" class="text-secondary">upcoming appointments</a>.</li>
        <li>You will have the option to waive a cancellation fee for a client on a case-by-case basis when cancellations occur.</li>
        <li>Loconomics reserves the right to waive a cancellation fee under extenuating circumstances of which you'll be notified.</li>
    </ul>
</script>
