<!-- Knockout Template job-title-list -->
<script type="text/html" id="job-titles-list-template">
    <ul class="TilesList TilesList--openEnd" data-bind="foreach: jobTitles">
        <li>
            <div class="ListingSummaryItem">
                <div class="Item-content">
                    <p><strong data-bind="text: title"></strong><p>
                    <p data-bind="visible: $parent.showMarketplaceInfo(), html: marketplaceStatusHtml"></p>
                </div>
                <button type="button" class="btn btn-icon-link" data-bind="click: $parent.selectJobTitle">
                    <span data-bind="attr: { 'aria-label': 'Go to your '+ title() + ' listing' }"></span>
                    <icon-dec params="icon: 'ion-ios-arrow-right'"></icon-dec>
                </button>
            </div>
        </li>
    </ul>
</script>
