<!-- Knockout Template list-view, for use with a generic ListView/Item viewmodel, helps as doc reference for other uses too -->
<script type="text/html" id="list-view-template">
    <div class="ListView ListView--twolines ListView--textualmarker ListView--largemarker" data-bind="foreach: items, css: mods">
        <div class="ListView-item" data-bind="css: classNames">
            <div class="ListView-item-marker">
                <p data-bind="visible: !markerLine2()"><strong data-bind="text: markerLine1()"></strong></p>
                <div data-bind="visible: markerLine2()"><strong data-bind="text: markerLine1()"></strong></div>
                <div data-bind="visible: markerLine2()"><strong data-bind="text: markerLine2()"></strong></div>
            </div>
            <a href="#" class="btn btn-link btn-block ListView-item-content" data-bind="attr: { href: link }">
                <p data-bind="visible: !contentLine2(), text: contentLine1()"></p>
                <div data-bind="visible: contentLine2(), text: contentLine1()"></div>
                <div data-bind="visible: contentLine2(), text: contentLine2()"></div>
            </a>
            <a href="#" class="btn btn-link ListView-item-action ListView-item-action--flexible" data-bind="attr: { href: link }"><span data-bind="css: actionIcon, text: actionText"></span></a>
        </div>
    </div>
</script>