<script type="text/html" id="location-card-template">
    <li class="col-sm-6" data-bind="attr: { id: 'location' + addressID() }">
        <div class="LocationCard">
            <div class="Card-heading">
                <div class="Card-title">
                    <h5 data-bind="text: addressName"></h5>
                </div>
            </div>
            <div class="Card-description">
                <hr>
                <p data-bind="visible: !isServiceArea()"><span data-bind="text: singleLine"></span></p>
                <p data-bind="visible: isServiceArea">Within <span data-bind="text: serviceRadius"></span> miles of <span data-bind="text: cityStateLine"></span></p>
                <app-address-map data-bind="visible: latitude() && longitude()"
                params="label: 'Interactive map to ' + singleLine(), lat: latitude, lng: longitude,
                isServiceLocation: isServiceLocation, radius: serviceRadius"></app-address-map>
            </div>
        </div>
    </li>
</script>