<script type="text/html" id="onboarding-menu-template">
    <!-- It's aria-hidden since this just a decorative inline-menu replacing
      the inline-user-menu at desktop sizes.
      It's not usable at all by screen readers (verbose and repeatitive) -->
    <div class="DashboardNavMenu PageMenu hidden-xs hidden-sm" aria-hidden="true">
        <div class="PageMenu-list">
            <ul>
                <li><a href="#">Create your first listing</a></li>
            </ul>
        </div>
    </div>
</script>
