<!-- profile-picture-bio-fieldset -->
<script type="text/html" id="profile-picture-bio-fieldset-template">
    <h2 class="SectionTitle">
        <span>Profile picture (of you)</span>
        <app-loading-spinner params="mod: 'onRight'"></app-loading-spinner>
    </h2>
    <div>
        <div data-bind="visible: !localPhotoPreview()">
            <div class="Avatar Avatar--lg" data-bind="attr: { style: photoRotationStyle }"><img data-bind="attr: { src: previewPhotoUrl() || profile.photoUrl() }" /></div>
        </div>
        <div data-bind="visible: localPhotoPreview">
            <div class="Avatar Avatar--lg" data-bind="domElement: localPhotoPreview, attr: { style: photoRotationStyle }"></div>
        </div>
    </div>
    <div class="LightForm-tool">
        <button type="button" class="btn btn-info btn-block"
                data-bind="disable: isLocked, click: rotatePhoto">
            <span>Rotate photo</span>
        </button>
        <button type="button" class="btn btn-default btn-block"
                data-bind="visible: takePhotoSupported, disable: isLocked" data-toggle="ActionSheet" data-target="profilePictureBio-photoSheet">
            <span class="fa ion ion-ios-camera-outline fa-lg" aria-hidden="true"></span> <span>Change photo</span>
        </button>
        <span class="btn btn-default btn-block btn-file" data-bind="if: !takePhotoSupported(), attr: { disabled: isLocked }">
            <span class="fa ion ion-ios-camera-outline fa-lg" aria-hidden="true"></span> <span>Change photo</span>
            <input type="file" data-bind="disable: isLocked, fileUploader: { options: uploaderOptions, eventHandlers: uploaderEventHandlers }">
        </span>
    </div>
    <h2 class="SectionTitle">
        <span>Public bio</span>
        <app-loading-spinner params="mod: 'onRight'"></app-loading-spinner>
    </h2>
    <div class="form-group">
        <textarea aria-label="Public bio" id="profilePictureBio-publicBio" rows="6"
class="form-control" data-bind="value: profile.publicBio, disable: isLocked" placeholder="Who are you, anyway? Spruce up your profile with a personal touch and tell clients a bit about yourself. Something like…”I'm a San Francisco native,” or “I love b-ball,” or “I am currently pho-obsessed.” Need help with a snazzy photo of yourself? Let us know."></textarea>
    </div>
</script>
