<script type="text/html" id="profile-picture-bio-photo-sheet-template">
    <div class="ActionSheetBackdrop"></div>
    <div class="ActionSheet" id="profilePictureBio-photoSheet" hidden="hidden">
        <ul>
            <li>
                <a href="#takePhoto" data-bind="click: takePhoto">Take a photo</a>
            </li>
            <li>
                <a href="#pickPhoto" data-bind="click: pickPhoto">Select a photo</a>
            </li>
        </ul>
        <ul class="ActionSheet-close">
            <li>
                <a href="#close">Cancel</a>
            </li>
        </ul>
    </div>
</script>
