<!-- profile-picture-bio-fieldset -->
<script type="text/html" id="profile-picture-bio-fieldset-template">
    <!-- ko with: marketplaceProfilePicture -->
    <fieldset class="LightForm-tool">
        <legend>Upload a clear photo of you for clients to see.</legend>
        <div>
            <div data-bind="visible: !localPhotoPreview()">
                <div class="Avatar Avatar--lg" data-bind="attr: { style: photoRotationStyle }"><img data-bind="attr: { src: previewPhotoUrl() || profile.photoUrl() }" /></div>
            </div>
            <div data-bind="visible: localPhotoPreview">
                <div class="Avatar Avatar--lg" data-bind="domElement: localPhotoPreview, attr: { style: photoRotationStyle }"></div>
            </div>
        </div>
        <button type="button" class="btn btn-default btn-block"
                data-bind="disable: isLocked, click: rotatePhoto">
            <span class="ion-ios-refresh-empty" aria-hidden="true"></span><span> Rotate photo</span>
        </button>
        <button type="button" class="btn btn-file btn-block"
                data-bind="visible: takePhotoSupported, disable: isLocked" data-toggle="ActionSheet" data-target="profilePictureBio-photoSheet">
            <span class="fa ion ion-ios-camera-outline fa-lg" aria-hidden="true"></span> <span>Change photo</span>
        </button>
        <span class="btn btn-default btn-block btn-file" data-bind="if: !takePhotoSupported(), attr: { disabled: isLocked }">
            <span class="fa ion ion-ios-camera-outline fa-lg" aria-hidden="true"></span> <span>Change photo</span>
            <input type="file" accept="image/*" data-bind="disable: isLocked, fileUploader: { options: uploaderOptions, eventHandlers: uploaderEventHandlers }">
        </span>
    </fieldset>
    <div data-bind="visible: $parent.showNonEssentialFields">
        <fieldset>
            <legend>Tell clients a bit about yourself.</legend>
            <app-loading-spinner params="mod: 'onRight'"></app-loading-spinner>
            <div class="form-group">
                <label for="publicBio">Your public bio:</label>
                <textarea id="publicBio" rows="6" class="form-control" maxlength="4000" placeholder="Who are you, anyway? Spruce up your profile with a personal touch and tell clients a bit about yourself. Something like…”I'm a San Francisco native,” or “I love b-ball,” or “I am currently pho-obsessed.”" data-bind="textInput: profile.publicBio, disable: isLocked"></textarea>
            </div>
        </fieldset>
    </div>
    <!-- /ko -->
</script>
