<!-- search job titles -->
<script type="text/html" id="search-job-titles-template">
    <div class="form-group">
        <label for="homeSearch" class="sr-only">Search</label>
        <div class="input-group input-group-lg">
            <span class="input-group-addon inset"><span class="fa ion ion-ios-search" aria-hidden="true"></span></span>
            <input type="text" data-bind="textInput: searchTerm" class="form-control inset" name="s" placeholder="Search for your profession" autocomplete="off">
        </div>
        <ul class="SearchResultsPreview" data-bind="visible: isInput">
            <li data-bind="visible: thereAreJobTitles">
                <h3>Sound like you?</h3>
                <ul data-bind="foreach: searchResults.jobTitles">
                    <li class="Result">
                        <a data-bind="click: $parent.clickJobTitle, href: jobTitleHref">
                            <div class="Result-info">
                                <span class="Result-name" data-bind="text: singularName, visible: description"></span>  
                                <span class="Result-description" data-bind="text: description, visible: description"></span>
                            </div>
                            <span class="btn btn-secondary btn-md btn-inline" data-bind="visible: description, text: $parent.resultsButtonText"></span>
                        </a>
                    </li>
                </ul>  
                <ul>
                    <li class="Result">
                        <a data-bind="click: clickNoJobTitle, href: noJobTitleHref">
                            <div class="Result-info">
                                <span class="Result-name">No?</span>  
                                <span class="Result-description">Fear not, if you provide a local service, we'll create a job title for you.</span> 
                            </div>
                            <span class="btn btn-secondary btn-md btn-inline" data-bind="text: resultsButtonText"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li data-bind="visible: !thereAreJobTitles()">
                <ul>
                    <li class="Result">
                        <a data-bind="click: clickNoJobTitle, href: noJobTitleHref">
                            <div class="Result-info">
                                <span class="Result-name">You're our first!</span>  
                                <span class="Result-description">Fear not, if you provide a local service, we'll create a job title for you.</span> 
                            </div>
                            <span type="submit" class="btn btn-secondary btn-md btn-inline" data-bind="text: resultsButtonText"></span>
                        </a>
                    </li>
                 </ul>   
            </li>
        </ul>
    </div>
</script>
