<!-- Knockout Template service-addresses -->
<!-- service address template with closed list classes -->
<script type="text/html" id="service-addresses-template">
    <ul class="TilesList" data-bind="foreach: {data: addresses, as: 'address'}">
        <li data-bind="template: { name: 'service-addresses-list-item-template', data: { address: address, viewModel: $parent} }"></li>
    </ul>
</script>
<!-- service address template with open list classes -->
<script type="text/html" id="service-addresses-open-list-template">
    <ul class="TilesList TilesList--openEnd" data-bind="foreach: {data: addresses, as: 'address'}">
        <li data-bind="template: { name: 'service-addresses-list-item-template', data: { address: address, viewModel: $parent} }"></li>
    </ul>
</script>
<script type="text/html" id="service-addresses-list-item-template">
    <div class="AddressItem">
        <label class="Item-content" data-bind="with: address, attr: { for: 'location' + address.addressID() }">
            <p><strong data-bind="text: address.addressName() || 'Service Area'"></strong></p>
            <p data-bind="text: address.singleLine"></p>
        </label>
        <div class="Item-action">
            <input type="radio" data-bind="visible: viewModel.isSelectionMode(), attr: { id: 'location' + address.addressID(), 'aria-pressed': viewModel.observerSelected(address) }, click: function(data, event) { viewModel.selectAddress(data.address, event) }"><span role="link" data-bind="visible: !viewModel.isSelectionMode(), attr: {'aria-label': 'Go to '+ address.addressName() || 'Service Area' }"><icon-dec params="icon: 'ion-ios-arrow-right'"></icon-dec></span>
        </div>  
    </div>
</script>
