<!-- Knockout Template service-professional-service -->
<script type="text/html" id="service-professional-service-template">
    <div data-bind="foreach: groupedPricing">
        <div class="SectionTitle" data-bind="visible: !$parent.isAdditionMode()">
            <span data-bind="text: group"></span>
        </div>

        <ul class="TilesList Box-sm" data-bind="foreach: { data: pricing, as: 'pricingItem' }">
            <li><a href="#" class="ItemTile" data-bind="click: $parents[1].tapPricing, css: { active: pricingItem.isSelected }" role="button">
                <div class="Tile-marker"><p data-bind="text: pricingItem.displayedPrice"></p></div>
                <div class="Tile-content">
                    <div data-bind="visible: pricingItem.sessionsAndDuration(), text: pricingItem.name"></div>
                    <em data-bind="visible: pricingItem.sessionsAndDuration(), text: pricingItem.sessionsAndDuration"></em>
                    <p data-bind="visible: !pricingItem.sessionsAndDuration(), text: pricingItem.name"></p>
                </div>
                <div class="Tile-icon">
                  <span data-bind="visible: $parents[1].isSelectionMode, attr: { 'aria-pressed': pricingItem.isSelected }" role="button"><span class="fa ion" data-bind="css: { 'ion-android-checkbox-outline': pricingItem.isSelected, 'ion-android-checkbox-outline-blank': !pricingItem.isSelected() }"></span><span class="sr-only">Selected?</span></span>
                  <span data-bind="visible: !$parents[1].isSelectionMode()"><span class="fa ion ion-edit"></span><span class="sr-only">Edit</span></span>
                </div>
            </a></li>
        </ul>

        <a class="LinkTile" role="button" href="#!serviceProfessionalServiceEditor/"
           data-bind="visible: $parent.allowAddPricing, click: $parent.tapNewPricing, text: type() && type().addNewLabel()"></a>
    </div>
</script>
