<!-- service-professional-profile-url-fieldset -->
<script type="text/html" id="service-professional-website-fieldset-template">
    <h2 class="SectionTitle">
        <span>List your business' website</span>
        <app-loading-spinner params="mod: 'onRight'"></app-loading-spinner>
    </h2>
    <div class="form-group">
        <label for="serviceProfessionalWebsite-url">Enter your business website's URL:</label>
        <input type="url" id="serviceProfessionalWebsite-url" class="form-control" required="false" data-bind="value: profile.serviceProfessionalWebsiteUrl, disable: isLocked" placeholder="https://www.yourwebsite.com"/>
    </div>
</script>
