<!-- Sign up -->
<script type="text/html" id="signup-template">
    <div class="SignupLogin">
        <div class="LeadContent">
            <h2 data-bind="visible: !forServiceProfessional()">Get started for free</h2>
            <h2 data-bind="visible: forServiceProfessional">Your first listing is free</h2>

            <!-- Entry point for children elements provided when the component is instantiated,
                expected an optional app-select-job-title -->
            <div data-bind="template: { nodes: $componentTemplateNodes }"></div>
            <div data-bind="visible: isThenLabelDisplayed">
                <p class="isolated text-center SignupLogin-lineBehind">
                    then
                </p>
            </div>
            <button href="#facebook" data-bind="click: facebook, disable: !enableFacebookButton()" class="btn btn-lg btn-block btn-facebook">
                <i class="fa ion ion-social-facebook pull-left" aria-hidden="true"></i><span data-bind="text: facebookSubmitText"></span>
            </button>
            <p class="isolated text-center">
                or
            </p>
            <div data-bind="visible: !isEmailSignupDisplayed()">
                <button href="#email" data-bind="click: showEmailSignup" class="btn btn-lg btn-default btn-block btn-email"><i class="fa ion ion-ios-email-outline pull-left" aria-hidden="true"></i>Sign up with Email</button>
            </div>
            <form id="signupForm" role="form" data-bind="visible: isEmailSignupDisplayed, event: { submit: clickSignup }, css: { 'has-error': signupError }" novalidate>
                <label for="countryID" data-bind="visible: isCountryVisible">Country</label>
                <div class="form-group has-feedback is-valid" data-bind="css: { 'has-error': countryID.error }, visible: isCountryVisible">
                    <select id="countryID" data-bind="value: country, options: countriesOptions, optionsText: 'name', optionsValues: 'id'" class="form-control select-unstyled"></select>
                    <i class="fa form-control-feedback text-muted pull-right icon-right icon ion-android-arrow-dropdown" style="color: black" aria-hidden="true"></i>
                    <i class="fa form-control-feedback text-muted pull-right icon-right icon ion-android-done" aria-hidden="true"></i>
                </div>
                <div class="form-group has-feedback" data-bind="css: { 'has-error': email.error }">
                    <label for="signupAccountEmail">E-mail address</label>
                    <div data-bind="template: { name: 'signup-field', data: { id: 'signupAccountEmail', name: 'email', field: email, placeholder: 'example@@address.com', type: 'email'} }, css: {'is-valid': isEmailValid}, disable: emailIsLocked">
                    </div>
                </div>
                <div class="form-group has-feedback" data-bind="template: { name: 'validated-password', data: validatedPassword }, css: { 'has-error': validatedPassword.password.error }, visible: !facebookUserID()">
                </div>
                <p>All fields are required</p>
                <button id="submitSignupButton" type="submit" class="btn btn-lg btn-secondary btn-block" data-bind="disable: isSigningUp()" aria-describedby="submitSignupButtonTerms">
                    <span data-bind="visible: facebookUserID">&nbsp;&nbsp;</span>
                    <span data-bind="text: submitText"></span>
                </button>
            </form>
            <p class="SignupLogin-loginReminder text-center">Already have an account?<a role="button" href="/login" class="btn btn-default">Sign in</a></p>
            <p id="submitSignupButtonTerms" class="help-block">By clicking on "<span data-bind="text: submitText"></span>", you agree to our <a href="/terms/terms-of-service?mustReturn=true">Terms of Use</a> &amp; <a href="/terms/privacy-policy?mustReturn=true">Privacy Policy</a></p>
        </div>
    </div>
</script>
