<script type="text/html" id="validated-password">
    <div class="ValidatedPassword">
        <label for="validatedPasswordField">Password</label>
        <a id="ValidatedPassword-requirements-link" class="form-help-cue text-secondary" type="button" aria-controls="validatedPasswordDescription" data-bind="click: requirementsLinkClick, visible: showRequirementsLink">
            Requirements<i class="icon fa fa-question-circle"></i>
        </a>
        <div type="password" id="validatedPasswordField" class="ValidatedPassword-fieldGroup" data-bind="css: { 'is-valid': isValid }">
            <!-- ko template: { name: 'signup-field-with-events', data: { name: 'password', field: password, label: 'Make it strong, but easy to remember', type: 'password', inputEvent: { focus: fieldFocus }, icon: {'icon ion-android-done': isValid, 'ion ion-ios-locked-outline': !isValid()} } } -->
            <!-- /ko -->
            <div id="validatedPasswordDescription" class="ValidatedPassword-requirements" data-bind="visible: showRequirements">
                <ul class="ValidatedPassword-list fa-ul">
                    <li class="ValidatedPassword-requirement" data-bind="css: { 'ValidatedPassword-requirement--valid': isLengthValid }">
                        <i class="fa-li fa icon fa-check-circle-o" aria-hidden="true"></i>At least 8 characters long
                    </li>
                    <li class="ValidatedPassword-requirement" data-bind="css: { 'ValidatedPassword-requirement--valid': isCharacterKindsValid }">
                        <i class="fa-li fa icon fa-check-circle-o" aria-hidden="true"></i><span data-bind="text: characterKindsLabel"></span>
                        <ul>
                            <li data-bind="css: { 'ValidatedPassword-character--used': usesUpper }">uppercase letter (A-Z)</li>
                            <li data-bind="css: { 'ValidatedPassword-character--used': usesLower }">lowercase letter (a-z)</li>
                            <li data-bind="css: { 'ValidatedPassword-character--used': usesNumber }">number (0-9)</li>
                            <li data-bind="css: { 'ValidatedPassword-character--used': usesSymbol }">symbol (~!@#$%^*&;?.+_)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>
