/* ActivityNavbar.
   Ia a subclass of BS navbar.
   Its a navbar specific of an activity, placed on
   bottom.
*/
/* Height from a Bootstrap value: */
$activityNavbarHeight = $navbar-height;

.ActivityNavbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: $activityNavbarHeight;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 0px;
    margin-bottom: 0px;

    background: White;
    border-color: transparent;
}
