/**
    ActivityTitle text class
**/

.ActivityTitle {
    font-size: 20px;
    padding: 0.7em 1em 0.4em;
    margin: 0;
    text-align: left;
    font-weight: bold;
    
    > span {
        vertical-align: bottom;
        line-height: 1.3em;
    }
    > .glyphicon {
        font-size: 1.4em;
        vertical-align: middle;
        line-height: 1em;
        vertical-align: middle;
        margin-right: 12px;
    }
}
