/**
    ActivityTitle text class
**/

// One line title height
$activityTitleHeight = 50px;

/* Freeze one-line header */
FreezeActivityTitle() {
    // Size and position
    width: auto;
    height: $activityTitleHeight;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: $app-var-height;
    
    // negative margin to become full-size over the
    // container padding is not needed:
    margin: 0;
    
    // Default color
    background: White;
    
    // One line, ellipsis
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ActivityTitle {
    font-size: 20px;    
    margin: 0;
    text-align: left;
    font-weight: bold;
    
    /* Like a row, it use full width
        but we enforce the internal gap
    */
    margin-left: 0 - $container-padding-left;
    margin-right: 0 - $container-padding-right;
    padding: 0.7em ($container-padding-right) 0.4em ($container-padding-left);
    
    /* table layout for better management of the 
        optional elements */
    display: table;

    /* The action and the icon must fit mininum space, one line */
    > .ActivityTitle-action,
    > .glyphicon {
        /* fit minimum space */
        width: 1%;
        white-space: nowrap;
    }
    

    /* Only allowed 'span' elements as childs */
    > span {
        line-height: 1.3em;
        display: table-cell;
        vertical-align: middle;
    }

    > .glyphicon {
        font-size: 1.4em;
        line-height: 1em;
        padding-right: 8px;
        /* Alignment on the left with the upper-left navbar icon */
        padding-left: 6px;
    }
    
    > .ActivityTitle-action > * {
        /* adjusting button/link padding to avoid increase the default line height */
        padding-top: 2px;
        padding-bottom: 2px;
    }
}
