/**
    ActivityTitle text class
**/

.ActivityTitle {
    font-size: 20px;    
    margin: 0;
    text-align: left;
    font-weight: bold;
    
    /* Like a row, it use full width
        but we enforce the internal gap
    */
    margin-left: 0 - $container-padding-left;
    margin-right: 0 - $container-padding-right;
    padding: 0.7em ($container-padding-right + 10px) 0.4em ($container-padding-left + 10px);
    
    /* table layout for better management of the 
        optional elements */
    display: table;
    width: auto;
    
    /* The action and the icon must fit mininum space, one line */
    > .ActivityTitle-action,
    > .glyphicon {
        /* fit minimum space */
        width: 1%;
        white-space: nowrap;
    }
    

    /* Only allowed 'span' elements as childs */
    > span {
        line-height: 1.3em;
        display: table-cell;
        vertical-align: middle;
    }

    > .glyphicon {
        font-size: 1.4em;
        line-height: 1em;
        padding-right: 8px;
        /* Alignment on the left with the upper-left navbar icon */
        padding-left: 6px;
    }
    
    > .ActivityTitle-action > * {
        /* adjusting button/link padding to avoid increase the default line height */
        padding-top: 2px;
        padding-bottom: 2px;
    }
}
