/**
    AppointmentCard Component.
    Visualization of a Calendar Appointment/Booking in a Card.
**/
.AppointmentCard {

    li {
        margin-bottom: .9em;
        clearfix()
    }

    .AppointmentCard-icon {
        font-size: 1.8em;
        margin-right: .6em;
        vertical-align: middle;
        float: left;
    }

    .AppointmentCard-data {
        vertical-align: middle;
    }
}
