/**
    AppointmentCard Component.
    Visualization of a Calendar Appointment/Booking in a Card.
**/
.AppointmentCard {

    li {
        clearfix()
        position: relative;

        /* The elements need a separation, but 
           they behave as BUTTONS too when in edit mode
           so need a good touch area */
        padding: 6px 0;
    }

    .AppointmentCard-icon {
        font-size: 1.8em;
        margin-right: .6em;
        vertical-align: middle;
        float: left;
    }

    .AppointmentCard-data {
        vertical-align: middle;
    }
    
    .AppointmentCard-editIcon {
        display: block;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: White;
        padding: 6px 0 6px 5px;
        
        transition: 300ms opacity;
    }
    
    .AppointmentCard-placeholderLabel {
        color: $gray-light;
    }
    
    &.in-edit {
        
        li {
            cursor: pointer;
            
            padding-right: 20px;
        
            .AppointmentCard-editIcon {
                opacity: 1;
            }
        }
    }
}
