/**
    CalendarDateHeader component.
    
    Splitted from activities/calendar
**/
.CalendarDateHeader {
    > .btn {
        font-size: 1.4em;
        color: $gray-darker;
    }

    .CalendarDateHeader{
        &:active,
        &:focus {
            outline: none;
        }
    }
}
