/**
    CardsDeck component.
    Its a container of Card's elements, even
    if there is only one real Card with content updating or
    several showing once at a time.
**/
.CardsDeck {

    background-color: $gray-lighter;

    .Card {
        margin: 14px 0;
    }

}
