/**
    Card component.
**/
.Card {
    box-shadow: 0 3px 4px 1px $gray-dark;
    margin: 4px;
    border-radius: 2px;
    background-color: White;
    padding: 20px;
    
    .Card-title {
        border-bottom: 3px solid $gray;
        margin-bottom: 10px;
        
        h2 {
            font-size: 1.2em;
            margin: 0 0 4px;
        }
        
        h3 {
            font-size: 1em;
            margin: 2px 0 4px;
            color: $gray-light;
        }
    }
}
