/**
    CardsDeck component.
    Its a container of Card's elements, even
    if there is only one real Card with content updating or
    several showing once at a time.
**/
.CardsDeck {

    background-color: $gray-light;

    .Card {
        margin: 14px 0;
    }
    
    &.CardsDeck--slider {
    
        $switchWidth = 40px;
    
        padding: 4px $switchWidth;
    
        .CardsDeck-switch {
            max-width: $switchWidth;
            position: fixed;
            top: 0;
            bottom: 0;
            
            display: table;
            height: 100%;
            
            > * {
                display: table-cell;
                vertical-align: middle;
            }
            
            &,
            a {
                color: White;
            }
            
            &.CardsDeck-switch--previous {
                left: 0;
            }
            &.CardsDeck-switch--next {
                right: 0;
            }
        }
    
    }

}
