/**
    section-title text class
**/

/*BSVAR*/
$gray-lighter = lighten(#000, 93.5%);
$gray = lighten(#000, 33.5%);

/*Manually computed from some BSVARs*/
$aligned-to-action-buttons-right = 7px; /* padding-right plus border */

.SectionTitle {
    font-size: 1em;
    padding: .5em 1em;
    margin: 0;
    text-align: center;
    font-weight: bold;
    background: $gray-lighter;
    border: 1px solid $gray;
    border-right-width: 0;
    border-left-width: 0;
    
    .HelpPoint {
        right: $aligned-to-action-buttons-right;
    }
}
/* Inside a container, remove the margin gap */
.container .SectionTitle,
.container-fluid .SectionTitle {
    margin: 0 (0 - $container-padding-right) 0 (0 - $container-padding-right);
    
    .HelpPoint {
        right: $container-padding-right + $aligned-to-action-buttons-right;
    }
}
