/** Activity component **/

@import 'ActivityNavbar.styl';

Activity() {
    // Corretly getting space, scrolling context and fixing SmartNavBar
    overflow: auto;    
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $app-activity-z-index;
    background: $gray-background;
    
    /* activity must be notified of the navbar to fix
       available space
    */
    &.has-navbar {
        padding-bottom: $activityNavbarHeight;
    }

    // media-app-navbar and big
    top: $app-navbar-height;
    @media $media-big-navbar {
        top: $big-navbar-height;
    }

    // bump the activity down further if there's a visible app message bar
    &.has-message-bar {
        top: $app-navbar-message-bar-height;

        @media $media-big-navbar {
            top: $big-navbar-message-bar-height;
        }
    }
}

.Activity,
[data-activity] {
    Activity();
}
