/**
    Modifier class for the AppNav component,
    for specific styles in the public Home page (and similars, like learnMore)
**/
.AppNav.AppNav--home {
    // TRANSPARENT BACKGROUND: change colors and image so content keeps readable.
    // This is only for when the page scroll is at the top, that is, when there is not an 'is-fixed' class applied
    // (set from javascript when scrolling is detected, allows to enable extra design features)
    .SmartNavBar {
        background-color: transparent;
        border-bottom: 1px solid $gray-light;
    }
    .LargeNavBar {
        background-color: transparent;
    }
    &:not(.is-fixed) {
        .SmartNavBar {
            border-bottom: transparent;
            .SmartNavBar-btn {
                color: White;
            }
        }

        .LargeNavBar {
            border-bottom: none;
            .nav * > a {
                color: White;
            }
            .nav > .open > a {
                background: transparent;
            }
        }

        .navbar-brand {
            background-image: url('../images/logo-white-large.png');
            background-image: 
              linear-gradient(transparent, transparent),
              url('../images/logo-white.svg');
        }
    }

    // Search visibility
    .LargeNavBar-searchBar {
        transition: opacity 300ms $cubic-easing;
        opacity: 1;
        pointer-events: auto;
    }
    &:not(.is-search) .LargeNavBar-searchBar {
        opacity: 0;
        pointer-events: none;
    }

    // Keeping the LargeNavBar constrained in width but showing all window width as white
    z-index: 250;
    transition: background 300ms cubic-bezier(0.65,.05,.36,1);
    &.is-fixed {
        background: White;
    }
}