/**
    AppNav Component (extends .navbar)
**/
@import "nib";

$AppNav-brandWidth = 100px;
$AppNav-brandHeight = 38px;

/**
    Sidebar
**/
.AppNav {
    
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
    
    * > ul {
      list-style: none;
    }
    * > li {
      text-decoration: none;
    }
    // Logo
    .navbar-brand {
        float: none;
        background-position: center;
        display: block;
        padding: 12px;
    
        // magic number! For some reason, the only line-height
        // that limits the full height to the navbar-height (44px now)
        line-height: 13px;

        text-indent: -99999px;
        // manually vertical 'visually' centering (depends on icon)
        background-repeat: no-repeat;
        background-size: $AppNav-brandWidth $AppNav-brandHeight;
        background-image: url('../images/logo-large.png');
        background-image: 
          linear-gradient(transparent, transparent),
          url('../images/logo.svg');
        min-width: 100px;
        min-height: 39px;
        height: $app-navbar-height;
        @media $media-big-navbar {
            height: $big-navbar-height;
            background-position: center;
        }
    }
    
    .navbar-toggle {
      float: none;
      margin-right: 0;
    }
    
    // Special changes on the SmartNavBar
    .SmartNavBar {
        // Header in buttons needs a more simple design, not like the middle title
        .SmartNavBar-btn h1 {
            color: $gray;
            font-weight: normal;
        }
    }

    // Menus
    .App-menus {
        // General menus container
        background: white;
        margin-bottom: 0px;
        
        // Individual menus set-up
        > .navbar-collapse {
            background: $AppNav-backColor;
            position: fixed;
            left: 0;
            right: 25%;
            overflow: auto;
            bottom: 0;
            top: 0;
            padding-top: $app-navbar-height;
            @media $media-big-navbar {
                padding-top: $big-navbar-height;
            }
            
            // iOS7-8.1 requires a explicit z-index:
            z-index: 300;
            // No border
            border-top: none;
        }
        
        #menuNewItem {
          left: 44%;
          right: 0;   
          
          .App-menus-group-header {
            text-align: right;   
          }
          
          a {               
            padding: 10px 10px 10px 20px;
            text-align: right;            
            &:hover,
            &:focus {
              padding-left: 12px;
            } 
          }
          i {
            margin-left: 5px;   
          }
        }
        
        > .navbar-collapse.collapsing {
            // Avoid scrollbar during animation
            overflow: hidden;
        }
        
        // Customization of Bootstrap navigation bar for use as menus
        .nav {
            margin-top: 0;
            margin-bottom: 0;
            position: relative;
            z-index: 200;
            overflow: auto;
        }
        
        .App-menus-header {
            margin: 0 (0 - $container-padding-right) 0 (0 - $container-padding-left);
            padding: 15px;
            border-bottom: 1px solid White;
            color: White;
            font-size: 1.1em;
            display: block;
            
            .App-menus-header-user {
                text-align: center;
                font-size: 1.1em;
                display: block;
                margin: 10px 0 0 0;
                color: white;
                text-decoration: none;                
            }
            
            .App-menus-header-photo {
                display: block;
                margin: auto;
                text-align: center;
                background: none;

                img {
                    width: 80px;
                    height: 80px;
                    display: inline-block;
                    border: 3px solid White;
                    border-radius: 100%;
                    background: white;
                    overflow: hidden;
                }
            }
            &:hover,
            &:focus {
                text-decoration: none;    
            }
        }
        
        .App-menus-group-header {    
            padding: 0px 10px 10px;
            border-bottom: 1px solid $gray-light;
            color: $gray-light;            
            font-size: 1.1em;
        }
        // Main nav and its content
        .navbar-nav {

            padding-top: 10px;
            
            a {
                color: $gray-lighter;        
                font-size: 1.1em;               
                padding: 10px 10px 10px 40px;
                margin: 0;
                   
              // icons
                > i {
                    color: $gray-lighter;
                    font-size: 1.5em;      
                    margin-right: 5px;
                }
                
                &:hover,
                &:focus {
                  color: white;
                  font-weight: 500;
                  padding-left: 42px;
                  background-color: transparent;  
                  > i {
                    color: white;
                    font-weight: 500;
                  }
                }            
            }
            
            .go-dashboard > a
            .go-logout > a {
              padding-left: 10px;
              padding-bottom: 15px;
              
              &:hover,
              &:focus {
                padding-left: 17px;
              }    
            }
            
            li.active > a {
              color: white;
              font-weight: 500;
              background: transparent;  
              > i {
                color: white;
                font-weight: 500;
              }
            }
        }
    }

    // Changing icon of menu togglers when opened
    transitionNavSetup() {
        transition-property: transform, opacity;
        transition-duration: $AppNav-transitionDuration;
        transition-timing-function: ease-in-out;
    }
    
    .navbar-toggle,
    > .SmartNavBar > .SmartNavBar-edge {
        // To avoid the rotation from create a larger
        // box, overflow:hidden is required:
        overflow: hidden;
        text-overflow: clip !important;
    }
    
    .SmartNavBar .SmartNavBar-btn {
        // NOTE: Fixing the ridiculous size of ion icons used on navbar
        .ion {
            font-size: 2em;
            line-height: $app-navbar-height;
        }

        // NOTE: Fixing a bug on the menu icon of ionicons used right now, that with
        // the general size (2em->30px) looks missaligned the bars, increasing a pixel
        // looks fine
        .ion-navicon {
            font-size: 31px;
        }
    }

    .navbar-toggle {
        transitionNavSetup();
    
        > * {
            transitionNavSetup();
            opacity: 1;
    
            // display added for Chrome/Webkit, for some strange reason
            // inline does not hides the children with opacitiy:0 and no transition
            // and 'block' sets the alinment correctly.
            display: block;
    
            > .icon {
                // Fixing alingment on Chrome/Webkit
                display: block;
            }
        }
        // DISABLED: with icons changes, rotation does not work as expected
        //transform: rotate(0deg);

        // Adding the 'close' icon
        &:before {
            //font-family: "Glyphicons Halflings";
            //content: "";
            font-family: "Ionicons";
            content: "";
            // NOTE: It requires to fix the ridiculous size of ion icons
            font-size: 2em;
            line-height: $app-navbar-height;
            @media $media-big-navbar {
                line-height: $big-navbar-height;
            }

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            text-align: center;

            pointer-events: none;
            opacity: 0;
            // The whole button is being rotate so this
            // icon rotation is not required, BUT we
            // simulate better a plus icon becoming
            // a cross using this:
            // DISABLED: with icons changes, rotation does not work as expected
            //transform: rotate(45deg);

            transitionNavSetup();
        }

        &[aria-expanded="true"] {

            > * {
                opacity: 0;
            }

            // DISABLED: with icons changes, rotation does not work as expected
            //transform: rotate(180deg);

            &:before {
                opacity: 1;
                // DISABLED: with icons changes, rotation does not work as expected
                //transform: rotate(0deg);
            }
        }
    }
    
    // Large navbar (top)
    .dropdown-menu > li.is-disabled {
        > a,
        > a > i {
            color: $gray-lighter;
        }
    }
    // Menu navbar (sidebar, mobile)
    .navbar-nav > li.is-disabled {
        > a,
        > a > i {
            color: $gray;
        }
    }
}


@media $mediaMaxSm {
    // On AppNav opened, match SmartNavBar style with nav
    body.has-appNav-open {
        .SmartNavBar {
            background: transparent;
            border-bottom-color: transparent;

            pointer-events: none;
            .SmartNavBar-edge,
            .SmartNavBar-btn {
                pointer-events: auto;
            }
            h1, .navbar-brand {
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}
// enable CSS transitions for 'open' style
.AppNav {
    .SmartNavBar {
        transition: background $AppNav-transitionDuration $cubic-easing, border $AppNav-transitionDuration $cubic-easing;
        
        .SmartNavBar-btn {
            transition: color $AppNav-transitionDuration $cubic-easing;
        }
        
        h1 {
            transition: opacity $AppNav-transitionDuration $cubic-easing;
            opacity: 1;
        }
    }
}

.SideMenu {
  background: $gray-background;
  padding-bottom: 20px;
  text-align: left;  
  margin-right: 15px;
  padding-left: 0px;
  .App-menus-group-header {
    font-size: 17px;
    margin-top: 20px;
    color: $gray-light;
    text-align: left;
    border-bottom: 1px solid $gray-light;     
  }
  .navbar-nav {
    margin: 0;
  }
  .nav {
      a {               
        padding: 10px 20px 10px 25px;
        text-align: left; 
        color: $gray-dark;
        font-size: 18px;

        &:hover,
        &:focus {
          color: $brand-secondary-dark !important;
          font-weight: 500;
          padding-left: 22px;
          background-color: transparent;   
          > i {
            color: $brand-secondary-dark !important;
            font-weight: 500;
            background-color: transparent;   
          }
        }   
      }

      i {
        margin-left: 5px;  
        font-size: 18px;
      }
  }
}

.SubSectionNavBar {
    position: relative;
    ul {
      background: $gray-background;
      display: block;
      width: 100% !important;
      list-style: none;
      margin-top: 20px;
      margin-bottom: 10px;
      line-height: 1.1;
      padding-left: 5px;

      li {
        font-size: 18px;
        color: $gray;
        text-decoration: none; 
        display: inline;
        a {
          text-decoration: none;
          color: $gray;
          &:hover,
          &:focus {
            text-decoration: none;
            color: $brand-secondary-dark;
          }
        }
      }
     }
    > button {
        position: absolute; 
        display: inline-block;
        top: 15px;
        right: 25px;
    }
}



