/**
    Avatar: style for the user profile photo

    Modifiers:
    - colors: Avatar--primary, Avatar--secondary, ..all $brand-colors
    - sizes: Avatar--xs, Avatar--sm, Avatar--md, Avatar-lg
**/

$Avatar-sizes = {
    xs: 2.8571rem,
    sm: 60px,
    md: 90px,
    lg: 120px
};

.Avatar
    overflow hidden
    margin 0 auto

    // Animate rotation preview, inline styles are applied
    transition: transform 400ms;


    img
    canvas
        border-radius 50%
        border 0.1429rem solid White

    // Avatar--primary, Avatar--secondary
    for $colorName in $brand-colors
        &.Avatar--{$colorName}
            img
            canvas
                border 0.1429rem solid $brand-colors[$colorName]

    for $sizeName in $Avatar-sizes
        &.Avatar--{$sizeName}
            &
            img
            canvas
                height: $Avatar-sizes[$sizeName]
                width: $Avatar-sizes[$sizeName]

    &.Avatar--upperLeft
        margin 0.5714em 0 0 1.4286em
        display block
        float left
