/**
    CardsSummary component.
    It's used for summaries of things like blog posts, job posts, press articles, etc.
**/
.CardsSummary {
  margin: 0.8em 0.8em;
  padding: 0em;
  list-style: none;

  .CardsSummary-card {
    padding: .75em;
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: white;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    width: 100%;
    justify-content: center;

    > a {
      display: block;
      padding: 1.25em;
    }

    h3 {
      margin-top: .4em;
      text-align: center;
      font-weight: 700;
    }
    p {
      text-align: justify;
    }
    &.press {
        h3,
        p {
          font-family: "Poynter";
        }
    }
  }
}