/**
    Card component.
**/
.Card {
    //box-shadow: 0 0.2143rem 0.2857rem 0.0714rem $gray-dark;
    border-top: 0.0714rem solid $gray-background;
    border-bottom: 0.0714rem solid $gray-lighter;
    margin-top: 0.2857em;
    margin-bottom: 0.2857em;
    //border-radius: 0.1429rem;
    background-color: White;
    padding: 0;
    
    .Card-title {
        border-bottom: 0.0714rem solid $gray-lighter;
    }
}
