/**
    CardsDeck component.
    Its a container of Card's elements, even
    if there is only one real Card with content updating or
    several showing once at a time.
**/

.CardsDeck {
    $verticalGap = 0.2857rem

    background-color: $gray-background;

    .Card {
        margin: 0.7143em 0;
    }
    
    &.CardsDeck--slider {
    
        $switchWidth = 2.8571rem;
    
        padding: $verticalGap $switchWidth;
        position: relative;
        height: 100%;
    
        .CardsDeck-switch {
            max-width: $switchWidth;
            position: absolute;
            top: 0;
            bottom: 0;
            
            display: table;
            height: 100%;
            
            > * {
                display: table-cell;
                vertical-align: middle;
            }
            
            &,
            a {
                color: White;
            }
            
            &.CardsDeck-switch--previous {
                left: 0;
            }
            &.CardsDeck-switch--next {
                right: 0;
            }
        }
    
    }
    
    &.CardsDeck--dotsSlider {
    
        $gapWidth = 1.0714rem;
        $dotsReservedHeight = 1.4286em;
        $dotsColor = $gray; // #FFF;
    
        padding: $verticalGap $gapWidth $dotsReservedHeight $gapWidth;
        position: relative;
        min-height: 100%;
    
        .CardsDeck-dots {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0.4286rem;
            text-align: center;
           
            > * {                
                display: inline-block;
                width: 0.5714rem;
                height: 0.5714rem;
                margin: 0.0714em;
                text-indent: -999px;
                border: 0.0714rem solid $dotsColor;
                border-radius: 0.7143em;
                /*cursor: pointer;*/
                background-color: transparent;
                
                &.is-active {
                    margin: 0em;
                    background-color: $dotsColor;
                    height: 0.5714rem;
                    width: 0.5714rem;
                }
            }
        }
    
    }

}
