/**
    Card component.
**/
.Card {
    //box-shadow: 0 3px 4px 1px $gray-dark;
    border-top: 1px solid $gray-background;
    border-bottom: 1px solid $gray-lighter;
    margin: 4px;
    //border-radius: 2px;
    background-color: White;
    padding: 0;
    
    .Card-title {
        border-bottom: 1px solid $gray-background;
    }
}
