/**
    CardsSummary component.
    It's used for summaries of things like blog posts, job posts, press articles, etc.
**/
.CardsSummary {
  margin: 10px 10px;
  padding: 0px;
  list-style: none;

  .CardsSummary-card {
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    width: 100%;
    justify-content: center;

    > a {
      display: block;
      padding: 20px;
    }

    h3 {
      margin-top: 5px;
      text-align: center;
      font-weight: 700;
    }
    p {
      text-align: justify;
    }
    &.press {
        padding: .75em;
        h3,
        p {
          font-family: "Poynter";
        }
    }
  }
}