/**
    CompactLinkTile: single line tile of indented text
    and pointing icon on the right, minimum padding,
    just for simple link blocks.
**/
@import 'Tile.styl'

CompactLinkTile-addIcon($vgap) {
    $iconWidth = 1.5714rem;

    // Left space for the icon and small gap:
    padding-right: ($iconWidth + 0.2857rem + $Tile-hgap);

    .Tile-icon {
        position: absolute;
        right: $Tile-hgap;
        top: $vgap;
        bottom: $vgap;
        width: $iconWidth;
        overflow: hidden;
        height: line-height-computed;
        // there are some problems with some icons (ionicons mainly) where
        // even with enough space, gets cut on the edges; add a minimum gap
        // to give them overflow space
        padding: 0 0.0714em;
        text-align: right;

        // Fix ionicons ridiculous size, setting the same as line-height
        .ion {
            line-height: line-height-computed;
            font-size: line-height-computed;
        }
    }
}

$CompactLinkTile-indentSize = 2.1429rem;

.CompactLinkTile {

    Tile()

    $vgap = 0.7143rem;

    Tile-addTagContentSupport($vgap)

    padding-left: ($CompactLinkTile-indentSize + $Tile-hgap);

    .Tile-content {
        Tile-singleLine($vgap);
    }

    // Let it be a label tab, but reset some styles so looks like any
    // other Tile-content
    label.Tile-content {
        margin: 0;
        font-weight: normal;
    }

    CompactLinkTile-addIcon($vgap);

    background-color: white;
}

.CompactLinkTile-twoLines {

    Tile()

    $vgap = 1.4286rem;

    Tile-addTagContentSupport($vgap)

    padding-left: ($CompactLinkTile-indentSize + $Tile-hgap);

    .Tile-content {
      height: 60px;
      padding-top: 0.7143em;
    }

    CompactLinkTile-addIcon($vgap);
}
