/**
    A component for Content that is very text heavy such as the About section, Temrs, blog posts, and help articles
**/

.Content {
  width: 90%;
  margin: auto;
  text-align: justify;  
  .btn-block {
      @media $mediaMinSm {
          width: 50%;
          margin: 0em auto;
      }
  }
  iframe {
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
}