/*!
 * DatePicker JS Component, with several
 * modes and optional inline-permanent visualization.
 *
 * Copyright 2017 Loconomics Coop.
 *
 * Based on:
 * Datepicker for Bootstrap
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
@import 'nib';
@import '../bs-mixims/caret.styl';

$DatePicker-weekDay-cell-height = 2.1429rem;
// Recommended touch accessible button height
$DatePicker-day-cell-height = 48px;
// Whole height must kept consistent when changing modes
// that's why we need to compute size for month-year modes.
// Take care to choose sizes that makes this an integer result so there is
// no slightly differences between browsers, and mostly at 1x screens
// We have 3 rows of month-years while 6 rows of days plus weekDay header
$DatePicker-monthYear-cell-height = (($DatePicker-day-cell-height * 6 + $DatePicker-weekDay-cell-height) / 3);
$DatePicker-day-content-height =  1.7143rem;
$DatePicker-day-content-width =  1.7143rem;

.DatePicker
    top 0
    left 0
    padding 0 // There is enough cell padding and any extra make it strange with the new borders
    margin 0
    border-radius 0.2857em

    &:before
        content ''
        display inline-block
        border-left 0.5000rem solid transparent
        border-right 0.5000rem solid transparent
        border-bottom 0.5000rem solid #ccc
        border-bottom-color rgba(0, 0, 0, 0.2)
        position absolute
        top -7px
        left 0.4286rem

    &:after
        content ''
        display inline-block
        border-left 0.4286rem solid transparent
        border-right 0.4286rem solid transparent
        border-bottom 0.4286rem solid white
        position absolute
        top -6px
        left 0.5000rem

    // Reset button styles
    button
        display block
        width 100%
        height 100%
        border none
        background transparent
        padding: 0;
        margin: 0;

    > div
        display none

    table
        width 100%
        margin 0

    .DatePicker-days
        background-color: white;
        tbody tr
            td
                padding: 0.3571em;

    .DatePicker-weekDays th
        height $DatePicker-weekDay-cell-height
        border-radius 0.2857em
        vertical-align bottom
        padding-bottom 0 !important

    td, th
        text-align center
        // A minimum size
        width $DatePicker-day-content-width
        height 2.8571rem

        &.day
            width $DatePicker-day-content-width
            button
                font-size 1.2143rem

            &:hover
                background $gray-lighter
                cursor pointer
            &.disabled
                color $gray-lighter

        // Days of other months get muted
        &.old
        &.new
            color $gray-light
            opacity .5

        &.active
        &.active:hover
            color #fff
            text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)

        &.active button > span:first-child
            background-color: $brand-info-dark;
            border-radius: 100%;
            width: $DatePicker-day-content-height;
            height: $DatePicker-day-content-width;
            display: inline-block;
            margin: auto;
            line-height: 1.4;

        &.active:hover
            button
                background none

    th
        padding: 0 !important;
        button
            padding: 0;

    td.day
        height $DatePicker-day-cell-height
        padding: 0 !important;

    button.month,
    button.year
        display block
        float left
        cursor pointer
        border-radius(4px)

        /* Percentual sizing to being responsive rather than the
           original fixed size
        */
        box-sizing border-box
        width 25%
        height $DatePicker-monthYear-cell-height
        line-height $DatePicker-monthYear-cell-height
        margin 0

        &:hover
            background $gray-lighter
        &.active
            background-color: $brand-info-dark;
            color #fff
            text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
        &.old
            color $gray-light

    th
        font-weight normal
        &.switch
            width 145px
        &.next
        &.prev
            font-size ($font-size-base * 1.5)

    thead tr:first-child
        th
            cursor pointer
            &:hover
                background $gray-lighter

    /* Percentual sizing to being responsive rather than the
    original fixed size
    */
    .DatePicker-years tr > td
    .DatePicker-months tr > td
        padding 0

    .DatePicker-months .switch
    .DatePicker-years .switch
        width 72.4% !important

    .DatePicker-months .prev
    .DatePicker-months .next
    .DatePicker-years .prev
    .DatePicker-years .next
        width 14% !important

    /* Carets to visually notify 'clickable headers' */
    .DatePicker-days
    .DatePicker-months
        th.switch > button:after
            content: ''
            $caret(6px)


    /**
        Enabling tags in the datepicker
    **/
    &.DatePicker--tagged
        // Border not in latest row
        .DatePicker-days tr:last-child td
            border-bottom-color transparent !important

        td.day
            // General styles to be ready for tags
            // IMPORTANT: changes to this sizing needs changes to months/years
            // in this style modifier and take care of general cell height
            border-bottom 0.0714rem solid $gray-lighter
            position: relative;
            > button
                padding: 0 !important;
                line-height: 1;
                position: relative;

                > span:first-child
                    display: block;
                    position: absolute;
                    top: 0.3571rem;
                    left: 0;
                    right: 0;

                > .DatePicker-tag
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0.3571rem;
                    font-size: 1.2857rem;

            // Tag in days of other months get even more muted:
            &.old
            &.new
                &:after
                    opacity .8

    $.DatePicker-hasLegend
        border-bottom 0.0714rem solid $gray-lighter

/*
    TODO TOREVIEW: Adapt with other name?
*/
.input-append, .input-prepend
    &.date
        .add-on i
            display block
            cursor pointer
            width 1.1429rem
            height 1.1429rem
