.DownloadApp {
    h2 {
        margin-top: 0em;
        margin-bottom: 1.0714em;
        text-align: center;
    }

    div {
      text-align: center;
      margin: 0 auto;
      padding: 0 0 0.7143em 0;
    }

    $buttonWidth = 135px;
    $buttonHeight = 2.8571rem;

    .btn-appleStore,
    .btn-googlePlay {
        // Hidden text, but available for screen readers
        text-indent: -99999px;
        margin: 1.4286rem 0.5714em;
        display: inline-block;
        // fix clickable/focusable area
        overflow: hidden;
        width: $buttonWidth;
        height: $buttonHeight;
        background-size: $buttonWidth $buttonHeight;
        background-repeat: no-repeat;
    }

    .btn-appleStore {
        background-image:
          linear-gradient(transparent, transparent),
          url('../images/badge-en-app-store.svg');
    }

    .btn-googlePlay {
        background-image: url('../images/badge-en-google-play.png');
    }
}
