/**
    GroupedTimeSlots component
**/

.GroupedTimeSlots {
    
    display: table;
    width: 100%;
    
    .GroupedTimeSlots-group {
        display: table-row;
    }

    .GroupedTimeSlots-groupName,
    .GroupedTimeSlots-slots {
        display: table-cell;
        vertical-align: middle;
        border-bottom: 0.0714rem solid $gray-light;
    }
    
    .GroupedTimeSlots-groupName {
        padding: 0.2857em;
        font-weight: bold;
    }

    .GroupedTimeSlots-slots {       
        .btn {
            float: left;
            padding: 0.2857em 0.5714em;
        }
    }

    .GroupedTimeSlots-slots-empty {
        text-align: center;
    }
}
