/**
    IconList components for display of owner plans
**/

/**
    List style for a simple enumeration preceded by an icon

    Scheme:
    .IconList (ul or ol element)
      li
        i (an icon class is expected to be used)
        p (text content)
**/
.IconList {
    padding: 0;
    margin: 0;

    li {
        height: 50px;
        display: table;

        i {
            display: table-cell;
            width 40px;
            color: $brand-secondary;
            font-size: 24px;
            text-align: center;
            vertical-align: middle;
        }

        p {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

/**
    Card style with optional header and introductory text at top
    and button-like element at bottom, wrapping an IconList element.

    Scheme:
    .IconListCard (usually a div element)
      h2
      .IconListCard-intro (usually a p element)
      .IconList (ul or ol element)
        li
      .btn (a or button element)
**/
.IconListCard {
    list-style: none;
    background-color: white;
    padding: 15px;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    margin-top: 0;
    margin-bottom: 10px;

    h2 {
        margin-top: 0px;
    }

    .IconListCard-intro {
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }
}


/**
    Heading style to place before an IconListCard
    providing a highlighed title for the card

    Scheme:
    .IconListCardHeading
    .IconListCard
      .IconList
**/
.IconListCardHeading {
    background-color: $brand-primary;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 5px;
}
