/**
    IconList components for display of lists with icons
**/

/**
    List style for a simple enumeration preceded by an icon

    Scheme:
    .IconList (ul or ol element)
      li
        i (an icon class is expected to be used)
        p (text content)
**/
.IconList {
    padding: 0;
    margin: 10px 0px;

    li {
        height: 55px;
        display: table;

        i {
            display: table-cell;
            width 40px;
            font-size: 24px;
            text-align: center;
            vertical-align: middle;
            &.fa {
                font-size: 20px;
            }
        }

        p {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

/**
    Card style with optional header and introductory text at top
    and button-like element at bottom, wrapping an IconList element.

    Scheme:
    .IconListCard (usually a div element)
      .IconList (ul or ol element)
        li
      .btn (a or button element)
**/
.IconListCard {
    list-style: none;
    padding: 15px;
    margin-top: 0;
}

