/**
 * InputAutocomplete component, holding a field (input) and a listBox elements.
 */
@import '../utils/styleguideVars.styl'

.InputAutocomplete {

    display: block;
    position: relative;

    > .InputAutocomplete-field {
        input {
        }
    }

    > .InputAutocomplete-listBox {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10100;
        background-color: white;
        box-shadow: 0 1px 5px rgba(50,50,50,0.2);
        border-top: 1px solid #e6e6e6;
        border: 1px solid #c4c4c4;
    }

    [aria-selected=true] {
        outline: $focusOutline;
    }
}
