/**
 * InputAutocomplete component, holding a field-input and a panel elements.
 */
.InputAutocomplete {
    > .InputAutocomplete-field {
        input {

        }
    }

    > .InputAutocomplete-panel {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10100;
        background-color: white;
    }
}
