/**
    LeadContent container class, to highlight a block of content
**/
.LeadContent {
    padding: 15px;
    
    h1, h2, h3,
    .lead {
        text-align: center;
    }
    
    @media $mediaMinMd {
        h1 {
            font-size: 38px;
            font-weight: bold;
        }
        
        .lead {
            font-size: 22px;
            font-weight: bold;
        }
    }
}

.LeadContent--success {
    .success-icon {
        font-size: 4em;
        text-align: center;
        display: block;
    }
    
    .lead {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
