/**
    Home page styles (aka Search page)
**/

@import '../utils/input-group-addon-inset.styl';
@import '../utils/arrows.styl';
@import './WebsiteFooter.styl';
@import './SearchBar.styl';

.LearnMorePage {

    // NO NAVBAR, disabled on the JS activity, so this can replace the default:
    top: 0 !important;

    // NOTE: all activities are absolute positioned, so is already a positioning context

    [role=main] {
        $arrowSize = 30px;
        $sectionTitleFontSize = 32px;
        $sectionTitleLineHeight = ceil($sectionTitleFontSize * 1.1);
        $sectionTitleFontSizeSmall = 28px;
        $sectionTitleLineHeightSmall = ceil($sectionTitleFontSizeSmall * 1.1);

        .coop-section-title {
            color: White;
            font-size: $sectionTitleFontSize;
            line-height: $sectionTitleLineHeight;
            font-weight: bold;
            margin: 0 auto;
            padding: 0.4em $grid-gap;
            text-align: center

            @media $mediaMaxXs {
                font-size: $sectionTitleFontSizeSmall;
                line-height: $sectionTitleLineHeightSmall;
            }
        }

        .coop-join-up {
            $boxSize = 340px;
            $boxMargin = 1.5%;
            width: $boxSize;
            margin: auto;
            padding-bottom: 2em;

            @media $mediaMaxXs {
                width: auto;
                display: block;
                margin: 0 $grid-gap;

                > .btn {
                    max-width: $boxSize;
                    margin: 0 auto;
                }
            }

            .btn {
                border-color: White;
            }
        }

        .coop-search {
            padding-top: $LargeNavBar-height + 32px;
            background: no-repeat center / cover;
            background-image:
              linear-gradient(
                rgba(0, 152, 154, 0.1),
                rgba(0, 152, 154, 0.1)
              ),
              url('../images/Stocksy_txp67b81859qys000_Small_546856.jpg');

            .coop-title {
                color: White;
                font-size: 44px;
                font-weight: bold;
                margin: 0.4em auto;
                text-align: center

                @media $mediaMaxSm {
                    font-size: 38px;
                }
            }

            .coop-tagline {
                color: White;
                font-size: 24px;
                margin: 0.5em auto;
                text-align: center;
            }

            // Edge limit for phone
            .coop-title,
            .coop-tagline {
                padding: 0 $grid-gap;
            }

            form {
                margin: 40px auto;
                max-width: 450px;

                .form-control {
                    background: White;
                    font-size: 17px;
                }

                .form-control:focus {
                  border-bottom-color: #ccc;
                  border-top-color: transparent;
                  border-right-color: transparent;
                }

                // Reduce column gaps by a 20px in total
                // for sizes bigger than XS (so keep standar in phone where
                // forms goes vertical)
                @media $mediaMinSm {
                    > * {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }


        // How It Works section
        .coop-hiw {
            text-align: center;
            color: $gray;
            background: White;
            down-arrow($arrowSize, 0, none, White, center);

            $iconsSize = 90px;

            ul {
                margin-top: ($iconsSize / 2) + 18px;
                margin-bottom: 0;
                padding-bottom: ($iconsSize / 2);

                > li {
                    margin-top: (0 - $iconsSize / 2);
                }
            }

            h3 {
                font-weight: bold;
                font-size: 22px;
            }

            // icons
            i {
                background: $brand-primary;
                font-size: floor($iconsSize / 1.60);
                border-radius: 100%;
                width: $iconsSize;
                line-height: $iconsSize;
                color: White;
            }

        }

        // Benefits of ownership in Loconomics
        .coop-benefits {
            $boxSize = 340px;
            $boxMargin = 1.5%;

            background: $brand-secondary;
            text-align: center;
            padding-top: 40px;

            down-arrow($arrowSize, 0, none, $brand-secondary, center);

            ul {
                color: $gray;
                text-align: center;
                margin: 0 auto;
                padding-bottom: 10px;
                // 3 boxes limit: UPDATE on each size or margin change
                max-width: 1200px;

                li {
                    background: White;
                    //float: left;
                    display: inline-block;
                    width: $boxSize;
                    margin: $boxMargin;
                    padding: 16px;
                    vertical-align: middle;

                    // On small sizes 2 columns does not fits so
                    // (using XS/mobile now -- is close enough to the actual needed size)
                    // it automatically gets 1 column but needs to manage size so it
                    // shrinks automatically for smaller screens using current fixed size
                    // as maximum size (to don't let to appear too wide on sizes in the middle
                    // of the breakpoint and card size).
                    // Margin is auto for centering and added gap on list container
                    @media $mediaMaxXs {
                        width: auto;
                        display: block;
                        max-width: $boxSize;
                        margin: $grid-gap auto;
                    }

                    a {
                        color: $brand-secondary;
                        font-weight: bold;
                    }

                    h2 {
                        font-size: 38px;
                        font-weight: bold;
                        color: $brand-secondary;
                        margin: 0;
                        text-align: center;
                    }

                    .Icon-bookNow {
                        display: inline-block;
                        width: 100px;
                        height: 37px;
                        color: $brand-secondary;
                        background-size: 100px 37px;
                        background-image: url('../images/book-now.png');
                        background-image:
                          linear-gradient(transparent, transparent),
                          url('../images/book-now.svg');

                    }

                    h3 {
                        font-size: 15px;
                        font-weight: bold;
                    }
                }

                // Setting margin for small screens since the items margin is auto there
                @media $mediaMaxXs {
                    margin: 0 $grid-gap;
                }

                // icons
                i {
                    color: $brand-secondary;
                    font-size: 3em;
                    display: block;
                }
            }
        }


        // How the Cooperative Works section
        .coop-ownership {
            text-align: center;
            color: $gray;
            background: White;
            down-arrow($arrowSize, 0, none, White, center);
            padding-top: 40px;

            $iconsSize = 90px;

            .coop-section-title {
              color: $gray-dark;
            }

            ul {
                margin-top: ($iconsSize / 2) + 18px;
                margin-bottom: 0;
                padding-bottom: ($iconsSize / 2);

                @media (max-width: 520px) {
                    margin-top: 0px;
                }

                > li {
                  margin-top: (0 - $iconsSize / 2);

                  @media (max-width: 520px) {
                    margin-top: 30px;
                  }


                  @media $mediaMaxXs {
                      margin-top: 0px;
                  }
                }
            }
            @media (max-width: 520px) {
                    margin: 0 $grid-gap;
            }



            h3 {
                font-weight: bold;
                font-size: 22px;
            }

            // icons
            i {
                background: white;
                border: 2px solid $brand-secondary;
                font-size: floor($iconsSize / 1.60);
                border-radius: 50%;
                width: $iconsSize;
                height: $iconsSize;
                line-height: $iconsSize;
                color: $brand-secondary;
            }

        }

        .coop-pricing {
            $boxSize = 300px;
            $boxMargin = 1.5%;

            background: $gray-background;
            text-align: center;
            padding-top: 40px;

            h2 {
                color: $gray;
            }

            ul {
                color: $gray;
                text-align: center;
                margin: 0 auto;
                padding-bottom: 10px;
                // 4 boxes limit: UPDATE on each size or margin change
                max-width: 1200px;

                li {
                    // background photo setup (will have an image per category)
                    background: White no-repeat top center / contain;
                    background-size: 240px auto;
                    display: inline-block;
                    width: $boxSize;
                    height: 240px;
                    margin: $boxMargin;
                    vertical-align: middle;
                    box-shadow 0 1.5px 0 0 rgba(0,0,0,0.1)

                    /* DISABLED, background does not looks good, and not so needed
                    // For a small size where only one card fits the space (~pixels)
                    // use an automatic width so the card does not looks with lot of
                    // margin space and fits on sizes smaller than original card size,
                    // but keeping a maximum size so it does not looks too wide.
                    // On the beggining, the XS breakpoint was used, but was too wide
                    // and lot of devices still hold two columns easily, so custom breakpoint
                    // for the current design and $boxSize and $boxMargin
                    // Margin is auto for centering and added gap on list container
                    //@media $mediaMaxXs {
                    @media (max-width: 520px) {
                        width: auto;
                        display: block;
                        max-width: 340px;
                        margin: $grid-gap auto;
                        // Don't allow the background to lost alignment with the icon
                        // NOTE: side-effect, image lost aspect rate
                        background-size: 100% 157px;
                    }
                    */

                    h3 {
                      font-size: 36px;
                      color: white;
                      background-color: $brand-primary;
                      padding: 25px 0px;
                      -webkit-margin-before: 0;
                      -webkit-margin-after: 0;
                      margin: 0px;
                    }

                    h1 {
                        font-size: 56px;
                        font-weight: bold;
                        color: $gray-dark;
                    }

                    p {
                        margin: 0px 0px 30px;
                        color: $gray-dark;
                        font-size: 16px;
                    }

                  @media $mediaMaxXs {
                    max-width: 280px;
                    margin: 15px auto;
                  }
                }

                .coop-or {
                  display: block;
                  margin: 20px 30px;
                  text-align: center;
                  @media $mediaMinMd {
                    display: inline-block;
                  }
                }

                // Setting margin for small screens since the items margin is auto there
                //@media $mediaMaxXs {
//                @media (max-width: 520px) {
//                    margin: 0 $grid-gap;
//                }
            }
        }

        ///////////////
        /// SPECIAL HOW-IT-WORKS OVERLAY EFFECT:
        /// Move everything up to show title and half icons out of the
        /// box and out of the background, while keeping separation with previous section;
        // Manually calculated:
        $offset = 126px;
        .coop-search {
            // Add the space to home-search on bottom to hold the moved-up home-hiw
            // while keeping background filling the whole area
            padding-bottom: $offset;
        }
        .coop-hiw {
            margin-bottom: (0 - $offset);

            .coop-section-title,
            .coop-section-listing {
                position: relative;
                top: (0 - $offset);
            }
            &:after,
            &:before {
                bottom: ($offset - $arrowSize);
            }

            // Just rows in extra-small size (html is set to use 3 Bootstrap columns from col-sm and up)
            @media $mediaMaxXs {
                .coop-section-title {
                    // 2 lines height, even when only one required to keep offsets the same
                    height: ($sectionTitleLineHeightSmall * 2);
                    box-sizing: content-box;
                }

                ul {
                    // Just this to keep the effect of first icon half in/out the background
                    margin-top: 0;
                    // And add margin to separate each item, now in vertical
                    > li {
                        margin-top: -4px;
                    }
                }
            }
        }
        .coop-benefits {
            .coop-section-title {
                // Required to avoid an ugly side-effect from the negative margin offset on the
                // previous box (home-hiw):
                // IMPORTANT: The clear must go in the first element in this container (the title)
                // because if goes in the container it will hide the previous container arrow
                clear: both;
            }
        }

        .coop-signup {
            padding-top: 32px;
            padding-bottom: 32px;
            background: no-repeat center / cover;
            background-image:
              linear-gradient(
                rgba(0, 152, 154, 0.1),
                rgba(0, 152, 154, 0.1)
              ),
              url('../images/Stocksy_txp67b81859qys000_Small_546856.jpg');

            .coop-title {
                color: White;
                font-size: 44px;
                font-weight: bold;
                margin: 0.4em auto;
                text-align: center

                @media $mediaMaxSm {
                    font-size: 38px;
                }
            }

            .coop-tagline {
                color: White;
                font-size: 24px;
                margin: 0.5em auto;
                text-align: center;
            }

            // Edge limit for phone
            .coop-title,
            .coop-tagline {
                padding: 0 $grid-gap;
            }

            .btn-add-profile{
                display: block;
                height: 56px;
                width: 300px
                font-size: 24px;
                color: white;
                border-color: white;
                margin: auto;
                &:hover,
                &:focus,
                &:active {
                    color: $brand-secondary;
                    border-color: $brand-secondary;
                }
            }
            .DownloadApp {
                h2 {
                    color: white;
                }
            }
            .SignupLogin {
                .LeadContent {
                    background: transparent;
                    padding-bottom: 32px;
                    border: none;
                    color: white;
                    margin-bottom: 30px;
                    .btn-default {
                        color: white;
                        border-color: white;
                    }
                    .form-control-feedback {
                        font-size: 26px;
                    }
                    .icon-right {
                        margin-top: -33px;
                    }
                    .form-control {
                        height: 40px;
                        font-size: 14px;
                    }

                    .form-help-cue {
                        color: white

                        .icon {
                            color: white
                            font-size: inherit
                        }
                    }
                }
            }
        }
    }

    .LearnMorePage-Video {
        max-width: 600px;
    }
}
