/**
    Home page styles (aka Search page)
**/

@import '../utils/input-group-addon-inset.styl';
@import '../utils/arrows.styl';
@import './WebsiteFooter.styl';
@import './SearchBar.styl';

.LearnMorePage {

    // NO NAVBAR, disabled on the JS activity, so this can replace the default:
    top: 0 !important;

    // NOTE: all activities are absolute positioned, so is already a positioning context

    [role=main] {
        $arrowSize = 2.1429rem;
        $sectionTitleFontSize = 2.2857rem;
        $sectionTitleLineHeight = ceil($sectionTitleFontSize * 1.1);
        $sectionTitleFontSizeSmall = 2.0000rem;
        $sectionTitleLineHeightSmall = ceil($sectionTitleFontSizeSmall * 1.1);

        .coop-section-title {
            color: White;
            font-size: $sectionTitleFontSize;
            line-height: $sectionTitleLineHeight;
            font-weight: bold;
            margin: 0 auto;
            padding: 0.4em $grid-gap;
            text-align: center
            clear: both;

            @media $mediaMaxXs {
                font-size: $sectionTitleFontSizeSmall;
                line-height: $sectionTitleLineHeightSmall;
            }
        }

        .coop-join-up {
            $boxSize = 340px;
            $boxMargin = 1.5%;
            width: $boxSize;
            margin: auto;
            padding-bottom: 2em;

            @media $mediaMaxXs {
                width: auto;
                display: block;
                margin: 0 $grid-gap;

                > .btn {
                    max-width: $boxSize;
                    margin: 0 auto;
                }
            }

            .btn {
                border-color: White;
            }
        }

        .coop-search {
            padding-top: $LargeNavBar-height + 2.2857rem;
            background: no-repeat center / cover;
            background-image:
              linear-gradient(
                rgba(0, 152, 154, 0.1),
                rgba(0, 152, 154, 0.1)
              ),
              url('../images/Stocksy_txpa4f3500ae7T100_Small_1204339.jpg');

            .coop-title {
                color: White;
                font-size: 44px;
                font-weight: bold;
                margin: 0.4em auto;
                text-align: center

                @media $mediaMaxSm {
                    font-size: 2.7143rem;
                }
            }

            .coop-tagline {
                color: White;
                font-size:  1.7143rem;
                margin: 0.5em auto;
                text-align: center;
            }

            // Edge limit for phone
            .coop-title,
            .coop-tagline {
                padding: 0 $grid-gap;
            }

            form {
                margin: 2.8571em auto;
                max-width: 450px;

                .form-control {
                    background: White;
                    font-size: 1.2143rem;
                }

                .form-control:focus {
                  border-bottom-color: #ccc;
                  border-top-color: transparent;
                  border-right-color: transparent;
                }

                // Reduce column gaps by a 1.4286rem in total
                // for sizes bigger than XS (so keep standar in phone where
                // forms goes vertical)
                @media $mediaMinSm {
                    > * {
                        padding-left: 0.7143em;
                        padding-right: 0.7143em;
                    }
                }
            }
        }


        // How It Works section
        .coop-hiw {
            text-align: center;
            color: $gray;
            background: White;
            down-arrow($arrowSize, 0, none, White, center);

            $iconsSize = 90px;

            ul {
                margin-top: ($iconsSize / 2) + 1.2857rem;
                margin-bottom: 0;
                padding-bottom: ($iconsSize / 2);

                > li {
                    margin-top: (0 - $iconsSize / 2);
                }
            }

            h3 {
                font-weight: bold;
                font-size: 1.5714rem;
            }

            // icons
            i {
                background: $brand-primary;
                font-size: floor($iconsSize / 1.95);
                border-radius: 100%;
                width: $iconsSize;
                line-height: $iconsSize;
                color: White;
            }

        }

        // How the Cooperative Works section
        .coop-ownership {
            text-align: center;
            color: white;
            background: $brand-secondary;
            down-arrow($arrowSize, 0, none, $brand-secondary, center);
            padding-top: 2.8571em;

            $iconsSize = 90px;

            .coop-section-title {
              color: white;
            }

            ul {
                margin-top: ($iconsSize / 2) + 1.2857rem;
                margin-bottom: 0;
                padding-bottom: ($iconsSize / 2);

                @media (max-width: 520px) {
                    margin-top: 0em;
                }

                > li {
                  margin-top: (0 - $iconsSize / 2);

                  @media (max-width: 520px) {
                    margin-top: 2.1429em;
                  }


                  @media $mediaMaxXs {
                      margin-top: 0em;
                  }
                }
            }
            @media (max-width: 520px) {
                    margin: 0 $grid-gap;
            }



            h3 {
                font-weight: bold;
                font-size: 1.5714rem;
            }

            // icons
            i {
                background: $brand-secondary;
                border: 0.1429rem solid white;
                font-size: floor($iconsSize / 1.60);
                border-radius: 50%;
                width: $iconsSize;
                height: $iconsSize;
                line-height: $iconsSize;
                color: white;
            }

        }

        .coop-pricing {
            background: white;
            text-align: center;
            padding-top: 2.8571em;

            h2 {
                color: $gray;
            }
        }

        ///////////////
        /// SPECIAL HOW-IT-WORKS OVERLAY EFFECT:
        /// Move everything up to show title and half icons out of the
        /// box and out of the background, while keeping separation with previous section;
        // Manually calculated:
        $offset = 126px;
        .coop-search {
            // Add the space to home-search on bottom to hold the moved-up home-hiw
            // while keeping background filling the whole area
            padding-bottom: $offset;
        }
        .coop-hiw {
            margin-bottom: (0 - $offset);

            .coop-section-title,
            .coop-section-listing {
                position: relative;
                top: (0 - $offset);
            }
            &:after,
            &:before {
                bottom: ($offset - $arrowSize);
            }

            // Just rows in extra-small size (html is set to use 3 Bootstrap columns from col-sm and up)
            @media $mediaMaxXs {
                .coop-section-title {
                    // 2 lines height, even when only one required to keep offsets the same
                    height: ($sectionTitleLineHeightSmall * 2);
                    box-sizing: content-box;
                }

                ul {
                    // Just this to keep the effect of first icon half in/out the background
                    margin-top: 0;
                    // And add margin to separate each item, now in vertical
                    > li {
                        margin-top: -4px;
                    }
                }
            }
        }
        .coop-benefits {
            .coop-section-title {
                // Required to avoid an ugly side-effect from the negative margin offset on the
                // previous box (home-hiw):
                // IMPORTANT: The clear must go in the first element in this container (the title)
                // because if goes in the container it will hide the previous container arrow
                clear: both;
            }
        }

        .coop-signup {
            padding-top: 2.2857em;
            padding-bottom: 2.2857em;
            background: no-repeat center / cover;
            background-image:
              linear-gradient(
                rgba(0, 152, 154, 0.1),
                rgba(0, 152, 154, 0.1)
              ),
              url('../images/Stocksy_txp67b81859qys000_Small_546856.jpg');

            .coop-title {
                color: White;
                font-size: 44px;
                font-weight: bold;
                margin: 0.4em auto;
                text-align: center

                @media $mediaMaxSm {
                    font-size: 2.7143rem;
                }
            }

            .coop-tagline {
                color: White;
                font-size:  1.7143rem;
                margin: 0.5em auto;
                text-align: center;
            }

            // Edge limit for phone
            .coop-title,
            .coop-tagline {
                padding: 0 $grid-gap;
            }

            .btn-add-profile{
                display: block;
                height: 56px;
                width: 300px
                font-size:  1.7143rem;
                color: white;
                border-color: white;
                margin: auto;
                &:hover,
                &:focus,
                &:active {
                    color: $brand-secondary;
                    border-color: $brand-secondary;
                }
            }
            .DownloadApp {
                h2 {
                    color: white;
                }
            }
            .SignupLogin {
                margin-left: 0.7143em;
                margin-right: 0.7143em;
                .LeadContent {
                    background: white;
                    padding-bottom: 2.2857em;
                    border: none;
                    color: $gray;
                    margin-bottom: 2.1429em;
                    .btn-default {
                        color: $gray;
                        border-color: $gray;
                    }
                    .form-control-feedback {
                        font-size: 1.8571rem;
                    }
                    .icon-right {
                        margin-top: -33px;
                    }
                    .form-control {
                        height: 2.8571rem;
                        font-size: 1.0000rem;
                    }

                    .form-help-cue {
                        color: white

                        .icon {
                            color: white
                            font-size: inherit
                        }
                    }
                }
            }
        }
    }

    .LearnMorePage-Video {
        max-width: 600px;
    }
}
