/**
    LineTile: very simple tile for a single line of text (not restricted
    to one line, but expected to be just one)
**/
@import 'Tile.styl';

.LineTile {
    Tile();
    
    padding: 10px $Tile-hgap;
}
