/*
  Common app-wide message bar fixed below the navigation.

  It is outside the activity element. Its top position depends on 
  the height of the navigation bar. 
*/
.AppMessageBarWrapper
    background-color: pink
    left: 0
    overflow: visible
    position: absolute
    right: 0
    top: $app-navbar-height
    z-index: $app-message-bar-z-index

    @media $media-big-navbar
        top: $big-navbar-height

    .MessageBar
        height: $app-message-bar-height
        width: 100%

        @media $media-big-navbar
            height: $big-message-bar-height

        p
            text-align: center
            line-height: $app-message-bar-height

            @media $media-big-navbar
                line-height: $big-message-bar-height
