/**
    A component for styles specific to onboarding.
**/
.OnboardingTip {
  color: white;
  background-color: $brand-primary;
}
.OnboardingStepTitle {
  font-size: 1.4286rem;
  font-weight: 700;
  margin-left: 0.7143em;
  margin-bottom: 0.7143em;
}
.OnboardingProgressBar {
  text-align: left;
  padding-left: 0.3571em;
  @media $mediaMinSm {
      text-align: center;
      padding-left: 0em;
  }
  a {
    color: $brand-secondary;
    font-size: 1.0000rem;
    position: absolute;
    // Aligned vertically with the progress icons, taking care of this font-size and icons size:
    top: 0.1429rem;
    right: 0.3571rem;
    text-align: right;
  }
}
.OnboardingSuccessIcon {
  font-size: 200px;
  color: $brand-secondary;
  margin-top: 1.4286em;
  text-align: center;
}

// Larger tile with 3 lines
.OnboardingValueProp {
    margin-top: 2.1429em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 1.4286em;
    border: 0.0714rem solid $brand-secondary-dark;
    position: relative;
    .Icon-container {
        width: 90%;
        text-align: center;
        .Tile-icon {
            position: absolute;
            top: -25px;
            font-size: 2.1429rem;
            color: $brand-secondary-dark;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: white;
            line-height: 50px;
            float: none;
            border: 0.0714rem solid $brand-secondary-dark;
        }
    }
    .Tile-content {
        h2, p {
            display:block;
            text-align: center;
        }
        p {
            margin-top: 1em;
        }
    }
}