/**
    A component for styles specific to onboarding.
**/

.OnboardingTip {
  color: white;
  background-color: $brand-primary;
}
.OnboardingStepTitle {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}