/**
    A component for styles specific to onboarding.
**/
$Tile-hgap = $grid-gap;

.OnboardingTip {
  color: white;
  background-color: $brand-primary;
}
.OnboardingStepTitle {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 10px;
}
.OnboardingProgressBar {
  text-align: left;
  padding-left: 5px;
  @media $mediaMinSm {
      text-align: center;
      padding-left: 0px;
  }
  a {
    color: $brand-secondary;
    font-size: 14px;
    position: absolute;
    // Aligned vertically with the progress icons, taking care of this font-size and icons size:
    top: 2px;
    right: 5px;
    text-align: right;
  }
}
.OnboardingSuccessIcon {
  font-size: 200px; 
  color: $brand-secondary; 
  margin-top: 20px;
  text-align: center;
}

// Larger tile with 3 lines
.OnboardingValueProp {   
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
    border: 1px solid $brand-secondary-dark;
    position: relative;
    .Icon-container {
        width: 90%;
        text-align: center;
        .Tile-icon {
            position: absolute;
            top: -25px;
            font-size: 30px;
            color: $brand-secondary-dark;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: white;
            line-height: 50px;
            float: none;
            border: 1px solid $brand-secondary-dark;
        }
    }
    .Tile-content {
        h2, p {
            display:block;
            text-align: center;
        }
        p {
            margin-top: 1em;
        }
    }
}