/**
    OwnerPlans component for display of owner plans
**/

.OwnerPlans {
    padding-top: 20px;
    >* button {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .OwnerPlans-name {
        background-color: $brand-primary;
        text-align: center;
        color: white;
        padding: 10px;
        margin-top: 5px;
    }
    >* .TileList {
        > *:after {
            border-bottom: none;
        }
    }
    >* .ItemTile {
        padding-left: 0px;
        padding-right: 5px;
    }
    >* .OwnerPlans-includes {
        padding-top: 10px;
        margin-left: 15px;
        padding-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
    }
}