/**
    PageMenu component for secondary navigation
**/

.PageMenu {
  display: block;
  position: relative;
  width: 100%;
  padding: 0px;
  text-align: center;
  line-height: 19px !important;
  background-color: $brand-primary;
    
  .PageMenu-list {
    display: none;    
    
    a {
      color: #FFF;
      text-decoration: none;
    }
      
    ul {
      display: block;
      width: 100% !important;
      margin: 0 auto !important;
      list-style: none;

      li {
        display: inline;
        margin: 0px !important;

        a {
          color: #FFF;
          display: inline-block;
          padding: 17px 15px;
          margin: 0px -3px 0px -3px;
          font-size: 15px;

          &:hover {
            border-bottom: 5px solid white;
            padding-bottom: 13px !important;
          }
            
          &.active {
            border-bottom: 5px solid white;
            padding-bottom: 13px !important;
          }  
        }
        &.active {
          border-bottom: 5px solid white;
          padding-bottom: 13px !important;
        }  
      } 
    }
    
    @media $mediaMinXs {
      display: inherit;
    }  
  }
  
  .btn-group {
    @media $mediaMinXs {
      display: none;
    }        
  }
  
  .btn-group {
    padding: 5px; 
    width: 66.67%;
  
    .btn {
      float: none;
      width: 100%;
      cursor: pointer;
    }

    .dropdown-toggle {
      font-size: 20px;
      color: white;
      font-weight: normal;
      background-color: $brand-primary;
      border: 2px solid white;
      margin: auto;
    }
    
    .dropdown-toggle:focus,
    .dropdown-toggle:hover {
      border: 2px solid $brand-primary-dark; 
      background-color: white;   
      color: $brand-primary-dark;
    }

    .dropdown-menu {
      float: left;
      position: absolute;
      margin-top: 0px;
      border: 1px solid $gray-light;
      border-radius: 0px;
      background-color: #fff;
      -webkit-box-shadow: 0 1.5px 0 0 $gray-background;
      box-shadow: 0 1.5px 0 0 $gray-background;
      width: 100%;
      z-index: 9999;
      margin: 0;

      > li {        
        text-align: center;
        border-bottom: 1px solid $gray-background;
        padding: 10px 10px;
        
        > a {
          white-space: normal;
          font-size: inherit;
        }
      }
      
      > li:hover,
        a:hover{
          background-color: $gray-background; 
          color: $gray-dark;
        }        
      
      > li:last-child {
          border-bottom: none;
      }
    }
  }
}