/**
    PageMenu component for secondary navigation
**/

.PageMenu {
  display: block;
  position: relative;
  width: 100%;
  padding: 0em;
  text-align: center;
  line-height: 1.3571rem !important;
  background-color: $brand-primary;

  .PageMenu-list {
    display: none;

    a {
      color: #FFF;
      text-decoration: none;
    }

    ul {
      display: block;
      width: 100% !important;
      margin: 0 auto !important;
      list-style: none;

      li {
        display: inline;
        margin: 0em !important;

        a {
          color: #FFF;
          display: inline-block;
          padding: 1.2143em 1.0714em;
          margin: 0em -3px 0em -3px;
          font-size: 1.0714rem;
        }

        hover() {
          border-bottom: 0.2857rem solid white;
          padding-bottom: 1.0000em !important;
        }

        &:hover {
          hover()
        }
        &.active {
          hover()
        }
      }
    }

    @media $mediaMinXs {
      display: inherit;
    }
  }
  &.DashboardNavMenu {
    background-color: $gray-light;
    text-align: left;
    clear both;
    .PageMenu-list {
      >ul {
        .App-menus-group-header{
          display: none;
        }
        >li {
          >a {
              >i {
                display: none;
              }
          }
          &.go-marketplace,
          &.go-help,
          &.go-logout,
          &.go-download
          &.divider{
            display none;
          }
        }
      }
    }
  }

  .btn-group {
    @media $mediaMinXs {
      display: none;
    }
    .dropdown-menu > li {
      width: auto;
    }
  }

  .btn-group {
    padding: 0.3571em;
    width: 66.67%;

    .btn {
      float: none;
      width: 100%;
      cursor: pointer;
    }

    .dropdown-toggle {
      font-size: 1.4286rem;
      color: white;
      font-weight: normal;
      background-color: $brand-primary;
      border: 0.1429rem solid white;
      margin: auto;
    }

    .dropdown-toggle:focus,
    .dropdown-toggle:hover {
      border: 0.1429rem solid $brand-primary-dark;
      background-color: white;
      color: $brand-secondary-dark !important;
    }

    .dropdown-menu {
      width: 100%;

      > li {
        text-align: center;
        border-bottom: 0.0714rem solid $gray-background;

        > a {
          white-space: normal;
          font-size: inherit;
          padding: 0.7143em 0em;
        }
      }

      > li:hover,
        a:hover{
          color: $brand-secondary-dark;
          font-weight: 400;
          background-color: white;
        }

      > li:last-child {
          border-bottom: none;
      }
    }
  }
}
