/**
    PaymentPlan components for display of owner plans
**/

.PaymentPlan {
    background-color: white;
    position: relative;
    box-sizing: border-box;
    padding: 20px 0
    border: 4px solid #aeaebf;
    border-radius: 4px;
    margin-bottom: 10px;
    .PaymentPlanHeading {
        text-align: center;
        color: $brand-primary;
        padding: 10px;
        margin-top: 5px;
        h2 {
            font-size: 26px;
            line-height: 1.2em;
            text-transform: none;
            letter-spacing: .5px;
            font-weight: 400;
            font-style: normal;
        }
        h1 {
            font-size: 26px;
            line-height: 1.2em;
            letter-spacing: .5px;
            font-weight: 400;
            font-style: normal;
        }
        .price {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
            .number {
                font-size: 48px;
                font-weight: 600;
            }
            .month {
                font-size: 24px;
                font-weight: 300;
            }
        }
    }
}

