/**
    PaymentPlan components for display of owner plans
**/

.PaymentPlan {
    background-color: white;
    position: relative;
    box-sizing: border-box;
    padding: 1.4286em 0
    border: 0.2857rem solid $gray-lighter;
    border-radius: 0.2857em;
    margin-bottom: 0.7143em;
    color: $gray;

    .PaymentPlan-heading {
        text-align: center;
        padding: 0.7143em 0em;
        margin-top: 0.3571em;
        height: 180px;
        h2 {
            font-size: 1.8571rem;
            line-height: 1.2em;
            text-transform: none;
            letter-spacing: .5px;
            font-weight: 400;
            font-style: normal;
        }
        h1 {
            font-size: 1.8571rem;
            line-height: 1.2em;
            font-weight: 400;
            font-style: normal;
        }
        .price {
            text-align: center;
            margin-top: 2.1429em;
            margin-bottom: 2.1429em;
            .number {
                font-size: 48px;
                font-weight: 600;
            }
            .month {
                font-size:  1.7143rem;
                font-weight: 300;
            }
        }
    }

    &.PaymentPlan--popular {
        border-color: $brand-warning;
    }

    .PaymentPlan-popularBanner {
        background-color: $brand-warning;
        color: white;
        line-height: 1.6em;
        width: 100%;
        font-size: 1.2143rem;
        font-weight: 400;
        padding: 0.2143em;
    }
}
.PaymentPlanBenefits {
    list-style: none;
    padding: 1.0714em;
    margin-top: 0;
}

