/**
    Press
    Common styles for press
**/
.Press {
    background-color: #f5f5f5;
    vertical-align: baseline;
    text-align: center;
    box-sizing: content-box;
    padding-bottom: 75px;
    .pressLogo {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        display: inline-block;
        height: 55px;
        margin: 2.1429em;
        width: 300px;
        @media $mediaMaxSm {
            width: 200px;
        }
    }
    .pressLogo-NYT {
        background-image:
          url('../images/nyt.png');
    }
    .pressLogo-FastCompany {
        background-image:
          url('../images/Fast_Company.png');
    }
    .pressLogo-EastBayExpress {
        background-image:
          url('../images/east-bay-express.png');
    }
    .pressLogo-SFChronicle {
        background-image:
          url('../images/sf-chron.png');
    }
    .pressLogo-FT {
        background-image:
          url('../images/ft.png');
    }
    .pressLogo-Shareable {
        background-image:
          url('../images/shareable.png');
    }
    .pressLogo-TheNation {
        background-image:
          url('../images/thenation.png');
    }   
}