/**
    Search Results component
    
        background linear-gradient(rgba(255, 103, 101, .8), transparent 90%), 
               $brand-secondary  url('../images/self-header.jpg') no-repeat center / cover
**/
@import '../components/HomeNavBar.styl';

.SearchResultsPreview 
    background-color rgba(247, 247, 247, 1)
    display block
    margin-top 4px
    padding 0
    position absolute
    left 0
    right 0
    z-index 9999

    li 
      list-style none
        
      a 
        text-decoration none
        display block
        padding 15px
      
        
      div 
        padding-top 15px
        font-size 18px
        text-align center
      
      ul 
        width 100%
        padding 0
        
        li hover 
          background-color rgba(255,255,255,1)
        
        
        li 
          border-bottom 1px solid rgba(204, 204, 204, 1)
          
          .Result-name 
            color rgba(51,51,51,1)
            font-size 16px
          
          
          .Result-count 
            font-size 16px
            color rgba(51,51,51,0.5)
          
          
          .Result-description 
            display block
            font-size 12px
            color rgba(51,51,51,0.5)
            line-height 24px
            height 24px
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
    
.SearchResults
  background-color $gray-background

  h3
    margin-top 10px
    margin-bottom 5px
    text-align center
    
  h5
    color $gray-light
    margin-top 0
    margin-bottom 5px
    text-align center
    
  p
    text-align left
    margin-left 15px
    margin-right 15px
    
  ul
    display flex
    margin 0
    padding 0
    flex-wrap wrap
    justify-content center
    
  li
    list-style none
    background-color rgba(255,255,255,1)
    box-shadow 0 1.5px 0 0 rgba(0,0,0,0.1)
    width 290px
    margin 15px
    padding-top 20px
    padding-bottom 20px
    
    a
      text-decoration none

  .CategoryBackground {
    padding-top: 10px;
    height: 120px;
    position: relative;
    background: $brand-secondary no-repeat center / cover;
    background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/self-header.jpg');
      
    @media $mediaMinSm {
        height: 300px;
    }
  
    &.CategoryBackground-1 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/home-header.jpg');
    }
    
    &.CategoryBackground-2 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/self-header.jpg');
    }

    &.CategoryBackground-3 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/self-header.jpg');
    }
      
    &.CategoryBackground-4 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/self-header.jpg');
    }

    &.CategoryBackground-5 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/self-header.jpg');
    }

    &.CategoryBackground-6 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/self-header.jpg');
    }

    &.CategoryBackground-7 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/self-header.jpg');
    }

    &.CategoryBackground-8 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/self-header.jpg');
    }
    
    .CategoryBackground-text {
      width: 80%;
      height: auto;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 0; 
      left: 0; 
      bottom: 0; 
      right: 0;

      h1 {
        color: White;
        font-size: 30px;
        font-weight: bold;
        text-align: center;

        @media $mediaMinSm {
          font-size: 44px;
        }
      }

      h2 {
        display: none;
        font-size: 24px;
        color: White;
        font-size: 24px;
        text-align: center;   

        @media $mediaMinSm {
          display: inherit;
        }
      }

      p {
        font-size: 18px;
        color: White;
        text-align: center;
        display: none;

        @media $mediaMinSm {
          display: inherit;
        }        
      }
    }
  }
    
.ServiceProfessionalResult-summary
  width 69%
  float left
  text-align center
  color $gray-dark

  h3
    margin-top 0
    margin-bottom 0

  h5
    margin-top 0
    margin-bottom 0

.ServiceProfessionalResult-verificationsRating
  font-size 18px

.ServiceProfessionalResult-description
  text-align center
  padding-top 5px
  clear both 

  h5
    margin-top 8px
    display block

  .FromPrice
    color $gray-dark
    font-size 16px
    font-weight bold

.ServiceProfessionalResult-actions
  text-align center
  padding-top 5px
  clear both 

  a
    margin-top 8px
    display block
    color $brand-secondary

  .btn
    width 80%
    margin auto
    color white
        
.CategoryResult-summary
  text-align center
  color $gray-dark

  h3
    margin-top 0
    margin-bottom 0

  h5
    margin-top 0
    margin-bottom 0

.CategoryResult-description
  padding-top 5px
  padding-left 15px
  padding-right 15px
  clear both 

  h5  
    text-align justify
    margin-top 8px
    display block

  .FromPrice
    color $gray-dark
    font-size 16px
    font-weight bold

