/**
    Search Results Preview component.
    Created to be uses as the list of results inside an autocomplete dropdown.
 */
 // TODO Better naming
.SearchResultsPreview {
    background-color: white;
    display: block;

    ul {
        padding: 0;
        margin-bottom: 0;

        li {
            list-style: none;
        }
    }

    .SearchResultsPreview-h {
        padding-top: 0.3571em;
        font-size: 1.2857rem;
        text-align: center;
        margin: 0.7143em 0;
        color: $gray-dark;
    }
}
