/**
    Search Results component
    
        background linear-gradient(rgba(255, 103, 101, .8), transparent 90%), 
               $brand-secondary  url('../images/self-header.jpg') no-repeat center / cover
**/
@import '../components/HomeNavBar.styl';

.SearchResultsPreview 
    background-color white
    display block
    margin-top 4px
    padding 0
    position absolute
    left 0
    right 0
    z-index 9999

    li 
      list-style none
        
      a 
        text-decoration none
         
      h3 
        padding-top 15px
        font-size 18px
        text-align center
      
      ul 
        width 100%
        padding 0
        
        .Result 
          border-bottom 1px solid $gray-light
          display block
          padding 15px 
          height auto
          
          .Result-info
            width 80%
            float left
            padding-left 15px          
          
            .Result-name 
              color $gray-dark
              font-size 16px

            .Result-count 
              font-size 16px
              color $gray

            .Result-description 
              display block
              font-size 12px
              color $gray
              line-height 24px
              height 24px
              white-space nowrap
              overflow hidden
              text-overflow ellipsis
            
          .btn-inline
            width 15%
            float right
            margin-right 15px
            margin-top 5px
          
          .Result hover 
            background-color $gray-background
    
.SearchResults
  background-color $gray-background

  h3
    margin-top 10px
    margin-bottom 5px
    text-align center
    
  h5
    color $gray-light
    margin-top 0
    margin-bottom 5px
    text-align center
    
  p
    text-align left
    margin-left 15px
    margin-right 15px
  
  #categories-home
    position relative

  #job-titles-results
    position relative
    
  ul
    position relative
    z-index 999
    top -40px
    margin-bottom -25px
    display flex
    margin 0
    padding 0
    flex-wrap wrap
    justify-content center

    @media $mediaMinSm {
      top -100px;
    }
    
  li
    list-style none
    background-color rgba(255,255,255,1)
    box-shadow 0 1.5px 0 0 rgba(0,0,0,0.1)
    width 290px
    margin 15px
    padding-top 20px
    padding-bottom 20px
    
    a
      text-decoration none

  .SearchResultsBackground {
    padding-top: 10px;
    height: 120px;
    position: relative;
    background: $brand-primary no-repeat center / cover;      
    @media $mediaMinSm {
        height: 300px;
    }
  
    &.CategoryBackground-1 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/Stocksy_txp67b81859qys000_Small_383231.jpg');
    }
    
    &.CategoryBackground-2 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/Stocksy_txp67b81859qys000_Small_32232.jpg');
    }

    &.CategoryBackground-3 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/Stocksy_txp67b81859qys000_Small_210692.jpg');
    }
      
    &.CategoryBackground-4 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/Stocksy_txp67b81859qys000_Small_42639.jpg');
    }

    &.CategoryBackground-5 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/Stocksy_txp67b81859qys000_Small_85410.jpg');
    }

    &.CategoryBackground-6 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/Stocksy_txp67b81859qys000_Small_491656.jpg');
    }

    &.CategoryBackground-7 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/Stocksy_txp67b81859qys000_Small_392432.jpg');
    }

    &.CategoryBackground-8 {
      background-image:  
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('../images/Stocksy_txp67b81859qys000_Small_546856.jpg');
    }
    
    .SearchResultsBackground-text {
      width: 80%;
      height: auto;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 0; 
      left: 0; 
      bottom: 0; 
      right: 0;

      h1 {
        color: White;
        font-size: 30px;
        font-weight: bold;
        text-align: center;

        @media $mediaMinSm {
          font-size: 44px;
        }
      }

      h2 {
        display: none;
        font-size: 20px;
        color: White;
        text-align: center;   

        @media $mediaMinSm {
          display: inherit;
        }
      }

      p {
        font-size: 18px;
        color: White;
        text-align: center;
        display: none;

        @media $mediaMinSm {
          display: inherit;
        }        
      }
    }
  }
    
.ServiceProfessionalResult-summary
  width 69%
  float left
  text-align center
  color $gray-dark

  h3
    margin-top 0
    margin-bottom 0

  h5
    margin-top 0
    margin-bottom 0

.ServiceProfessionalResult-verificationsRating
  font-size 18px

.ServiceProfessionalResult-description
  text-align center
  padding-top 5px
  clear both 

  h5
    margin-top 8px
    display block

  .FromPrice
    color $gray-dark
    font-size 16px
    font-weight bold

.ServiceProfessionalResult-actions
  text-align center
  padding-top 5px
  clear both 

  a
    margin-top 8px
    display block
    color $brand-secondary

  .btn
    width 80%
    margin auto
    color white
        
.CategoryResult-summary
  text-align center
  color $gray-dark

  h3
    margin-top 0
    margin-bottom 0

  h5
    margin-top 0
    margin-bottom 0

.CategoryResult-description
  padding-top 5px
  padding-left 15px
  padding-right 15px
  clear both 
  color $gray-dark
  font-size 14px
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-height: 1.42857143;        /* fallback */
  max-height: 4.28571429;       /* fallback */
  

  h5  
    text-align justify
    margin-top 8px
    display block

  .FromPrice
    color $gray-dark
    font-size 16px
    font-weight bold

