/**
    section-title text class
**/

$SectionTitle-fontSize = 14px;
$SectionTitle-topGap = 10px;
$SectionTitle-bottomGap = 10px;
$SectionTitle-height = $SectionTitle-fontSize + $SectionTitle-topGap + $SectionTitle-bottomGap

/*BSVAR*/
$gray-lighter = lighten(#000, 93.5%);
$gray = lighten(#000, 33.5%);

.SectionTitle {
    // Some content elements may need the positioning context:
    position: relative;

    font-size: $SectionTitle-fontSize;
    line-height: 1;
    padding: $SectionTitle-topGap $container-padding-left $SectionTitle-bottomGap $container-padding-right;
    margin: 0;
    text-align: left;
    font-weight: normal;
    background: $gray-background;
    border: none;
    color: $gray;
    text-transform: uppercase;
    
    &.SectionTitle--withBtn {
        padding: 0;
        margin: 0 !important;
        > .btn {
            padding: $SectionTitle-topGap $container-padding-left $SectionTitle-bottomGap $container-padding-right;
            width: 100%;
            display: block;
            color: $gray;
            border: none;
            line-height: $SectionTitle-fontSize;
        }
    }
}
/* Inside a container, remove the margin gap */
.container,
.container-fluid {
    .SectionTitle {
        margin-right: (0 - $container-padding-right);
        margin-left: (0 - $container-padding-right);
    }
    
    // Inside column resets (Bootstrap extension) must be reset too
    .col-xs-reset,
    .col-sm-reset,
    .col-md-reset,
    .col-lg-reset {
        .SectionTitle {
            margin-right: 0;
            margin-left: 0;
        }
    }
}
