/**
    section-title text class
**/

$SectionTitle-fontSize = 14px;
$SectionTitle-topGap = 10px;
$SectionTitle-bottomGap = 10px;
$SectionTitle-height = $SectionTitle-fontSize + $SectionTitle-topGap + $SectionTitle-bottomGap

/*BSVAR*/
$gray-lighter = lighten(#000, 93.5%);
$gray = lighten(#000, 33.5%);

.SectionTitle {
    // Some content elements may need the positioning context:
    position: relative;

    font-size: $SectionTitle-fontSize;
    line-height: 1;
    padding: $SectionTitle-topGap $container-padding-right $SectionTitle-bottomGap $container-padding-left;
    margin: 0;
    text-align: left;
    font-weight: normal;
    background: $gray-background;
    border: none;
    color: $gray;
    text-transform: uppercase;
    @media $mediaMinMd {
      margin-top: 15px;
      background: $gray-lighter;
      border: solid 1px #DDD;
      font-size: 20px;
      height: 42px;
      text-transform: none;
    }
    
    // Modifier to use the title as a button. Requires to use a children
    // element with the Bootstrap button class '.btn'.
    &.SectionTitle--withBtn {
        padding: 0;
        > .btn-link {
            padding: $SectionTitle-topGap $container-padding-right $SectionTitle-bottomGap $container-padding-left;
            width: 50%;
            display: inline-block;
            color: $gray;
            border: none;
            line-height: $SectionTitle-fontSize;
            @media $mediaMinMd {
              margin-top: 0px;
              background: $gray-lighter;
              border: none;
              font-size: 20px;
              height: 38px;
              text-transform: none;
            }
        }
        > .btn-default {
            
            @media $mediaMinMd {
              margin-top: 0px;
              border: none;
            }
        }
    }

    // Modifier for articles titles
    &.SectionTitle--article {
        text-align: center;
        background: none;
        border: none;
        margin-bottom: 20px;
        font-weight: bold;
    }
}
/* Inside a container, remove the margin gap */
.container,
.container-fluid {
    .SectionTitle {
        margin-right: (0 - $container-padding-right);
        margin-left: (0 - $container-padding-right);
    }
    
    // Inside column resets (Bootstrap extension) must be reset too
    .col-xs-reset,
    .col-sm-reset,
    .col-md-reset,
    .col-lg-reset {
        .SectionTitle {
            margin-right: 0;
            margin-left: 0;
        }
    }
}

/* Inside a PaddingBox or Box, remove the margins */
[class^=PaddedBox],
[class^=Box] {
    > .SectionTitle {
        margin: 0;
    }
}

