.SectionHeading {
    display: table;
    margin: 1em 0em;
    h2,
    h3,
    h4,
    h5 {
        display: table-cell;
        width: 90%;
        vertical-align: middle;
    }
    a {
        display: table-cell;
        vertical-align: middle;
    }
}