/**
    Component app-select-job-title
    Styles for all instances of the component by it's element name
*/
app-select-job-title {
    // Hide the item elements to prevent being displayed before
    // the component is mounted
    // This doesn't affects to visibility of the content, because that
    // elements are read and disposed
    item {
        display: none;
    }
}
