/**
    ServiceProfessionalInfo
    
    It presents a box/tile with summary information about a serviceProfessional.
    It comes in different sizes
    
    TODO Finish per design, options
**/
.ServiceProfessionalInfo {
    text-align: center;
    margin: 0em auto;
    padding-left: 76px;
    position: relative;
    max-width: 320px;
    padding-bottom: 0.8571em;
    padding-top: 0.8571em;
    padding-right: 0.7143em;

    .Avatar {
        position: absolute;
        left: 0.7143rem;
        top: floor((96px - 60px) / 2);
    }
    
    .ServiceProfessionalInfo-name {
        font-size: 1.2857rem;
        font-weight: bold;
        margin: 0;
        padding: 0.3571em 1.3571em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .ServiceProfessionalInfo-jobTitle {
        color: $gray-light;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .serviceProfessionalInfo-businessName {
        color: $gray-light;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .ServiceProfessionalInfo-meta {
        display: block;
        
        // All icons same size
        i {
            font-size: 1.5714rem;
        }
        
        .VerificationsRating {
            color: $gray;
            
            vertical-align: bottom;
            line-height: 1.5714rem;
            font-size: 1.0714rem;
            
            margin: 0 0.3571em;
        }
        
        .BackgroundCheckRating {
            color: $brand-success;
        }
        
        .ServiceProfessionalInfo-favorite {
            position: absolute;
            top: 0.2857rem;
            right: 1.0714rem;
            
            i {
                color: $brand-secondary;
            }
        }
    }
}
