/**
    ServiceProfessionalPricing
    
    Styles specific to pricing creation and display
**/


.ServiceProfessionalPricing {
    .PricingSection {
        margin: 15px;
    }
    label {
        color: $gray-light;
    }
    > * .form-inline,
        .form-control{
            display: block;
            width: 100%;
    }
    > * .Select {
            position: relative;
            display: inline-block;
            vertical-align: bottom;
            select {
                padding-top: 8px;
                padding-bottom: 8px;
                padding-right: 2em;
                -webkit-appearance: none;
                background: white\0 !important;
                display: block;
                padding: 8px 10px;
                width: 100%;
                -webkit-transition: border-color 0.2s;
                -moz-transition: border-color 0.2s;
                -o-transition: border-color 0.2s;
                transition: border-color 0.2s;
                border: 1px solid #c4c4c4;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                background-color: #fff;
                color: #484848;
                border: 1px solid #c4c4c4;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                background-color: #fff;
                color: #484848;
            }

    }
    > * .Select:before {
            content: '\25bc';
            position: absolute;
            pointer-events: none;
            color: #767676;
            top: 0;
            bottom: 1px;
            padding-top: 0.7em;
            line-height: 1;
            right: 0;
            width: 2em;
            text-align: center;
            transform: scale(0.84, 0.42);
            -webkit-transform: scale(0.84, 0.42);
    }
    >* .Select-block {
        display: block;
        width: 100%;
//        @media $mediaMinMd {
//          display: inline-block;
//          width: auto;
//        }
    }
}
