.SignupLogin {
    // Workaround for a layout problem at webkit mobile (both iOS Safari and Chrome for Android) where
    // the element didn't take enought height and ending showing up a weird black background under the DownloadApp element
    position: relative;
    z-index: 1;
    top: 0px;

    .LeadContent {
        margin: 0px auto 0px auto;
        background: white;
        padding: 32px;
        color: $gray;
        h2 {
            margin-top: 0px;
            margin-bottom: 15px;
        }
        @media $mediaMinSm {
            max-width: 450px;
            margin: 30px auto;
            border: 1px solid #ccc;
        }
    }
    .btn {
        padding: 22px 10px;
        font-size: 16px;
        font-weight: normal;
    }
    .btn-default {
        border: 1px solid $gray;
        color: $gray;
        margin-top: -4px;
        &:hover,
        &:focus,
        &:active {
            color: $brand-secondary;
            border-color: $brand-secondary;
        }
    }
    .fa {
        font-size: 18px;
        padding-left: 15px;
        margin-top: -4px;

        &.ion-social-facebook {
            font-size: 29px !important;
        }
    }
    .icon-right {
        padding-left: 0px;
        padding-right: 15px;
        margin-top: -28px;
    }
    .form-control {
        height: 40px;
        font-size: 13px;
        font-weight: normal;
        color: $gray;
        border: none;
        border-bottom: 1px solid $gray-light;

        &:disabled {
            background-color: white;
            font-style: italic;
            color: $gray;
        }

        transition-duration: .4s;

        input-placeholder() {
            position: relative;
            transition-duration: .4s;
        }

        &:focus {
            box-shadow: none;
            border-bottom: 1px solid $brand-primary;
            box-shadow: 0px 1px 0px $brand-primary;
            transition-duration: .3s;
        }
    }
    .form-control-feedback {
        position: relative;
    }

    .form-control-feedback--valid {
        display: none
    }

    .is-valid {
        .form-control-feedback--valid {
            display: inline-block
        }

        .form-control-feedback--default {
            display: none
        }
    }

    .form-group {
        margin-right: 0px;
        margin-left: 0px;
        &.has-feedback {
            .form-control {
                padding-right: 50px;
            }
            label~.form-control-feedback{
                top 0px;
            }
        }
    }
    select {
        -webkit-appearance: none;
    }
    
    .is-valid {
        input {
            border-bottom: 1px solid $brand-success !important;
            transition-duration: .7s;
        }

        .icon-right {
            color: $brand-success;
        }
    }

    .form-help-cue {
        color: $gray
        cursor: pointer
        float: right
        font-size; .825em

        .icon {
            font-size: inherit;
            padding-left: .25em
        }
    }

    .ValidatedPassword {
        li {
          line-height: 1.5em
        }

        .ValidatedPassword-fieldGroup {
            background-color: white

            .ValidatedPassword-requirements {
                padding: 0 12px 6px 12px
                color: $gray

                .fa {
                    font-size: 1.258em
                    margin-top: auto
                }

                .ValidatedPassword-list {
                    .ValidatedPassword-requirement {
                        .icon {
                            color: $gray-lighter
                            padding-left: 0
                        }

                        ul {
                            padding-left: .5em
                            list-style-type: none

                            .ValidatedPassword-character {}

                            .ValidatedPassword-character--used {
                                color: $gray-lighter
                                text-decoration: line-through
                            }
                        }
                    }
                    .ValidatedPassword-requirement--valid {
                        .icon {
                            color: $brand-success
                        }

                        ul {
                            display: none
                        }
                    }
                }
            }
        }
    }
}
