/**
    SignupLogin
    Common style for the forms login and sign-up
*/

@import 'SelectJobTitle.styl';
@import 'Signup.styl';
@import '../utils/select-unstyled.styl';

.SignupLogin {
    // Workaround for a layout problem at webkit mobile (both iOS Safari and Chrome for Android) where
    // the element didn't take enought height and ending showing up a weird black background under the DownloadApp element
    position: relative;
    z-index: 1;
    top: 0em;

    .LeadContent {
        margin: 0em auto 0em auto;
        background: white;
        padding: 2.2857em;
        color: $gray;
        h2 {
            margin-top: 0em;
            margin-bottom: 1.0714em;
        }
        @media $mediaMinSm {
            max-width: 450px;
            margin: 2.1429em auto;
            border: 0.0714rem solid #ccc;
        }
    }
    .btn {
        font-weight: normal;
    }
    .btn-lg {
        padding: 1.5714em 0.7143em;
        font-size: 1.1429rem;
    }
    .btn-default {
        border: 0.0714rem solid $gray;
        color: $gray;
        margin-top: -4px;
        &:hover,
        &:focus,
        &:active {
            color: $brand-secondary;
            border-color: $brand-secondary;
        }
    }
    .btn-facebook,
    .btn-email {
        > .fa {
            font-size: 2.0714rem !important;
            // Setting a consistent width so both buttons icons
            // are aligned ant their texts. If no, one icon
            // is 25 and other 36.
            width: 2.7143rem;
        }
    }
    .fa {
        font-size: 1.2857rem;
        padding-left: 1.0714em;
        margin-top: -4px;
    }
    .icon-right {
        padding-left: 0em;
        padding-right: 1.0714em;
        margin-top: -28px;
    }
    .form-control {
        height: 2.8571rem;
        font-size: 0.9286rem;
        font-weight: normal;
        color: $gray;
        border: none;
        border-bottom: 0.0714rem solid $gray-light;

        &:disabled {
            background-color: white;
            font-style: italic;
            color: $gray;
        }

        transition-duration: .4s;

        input-placeholder() {
            position: relative;
            transition-duration: .4s;
        }

        &:focus {
            box-shadow: none;
            border-bottom: 0.0714rem solid $brand-primary;
            box-shadow: 0em 0.0714em 0em $brand-primary;
            transition-duration: .3s;
        }
    }
    .form-control-feedback {
        position: relative;
    }

    .form-control-feedback--valid {
        display: none
    }

    .is-valid {
        .form-control-feedback--valid {
            display: inline-block
        }

        .form-control-feedback--default {
            display: none
        }
    }

    .form-group {
        margin-right: 0em;
        margin-left: 0em;
        &.has-feedback {
            .form-control {
                padding-right: 50px;
            }
            label~.form-control-feedback{
                top 0em;
            }
        }
    }
    select {
        @extend .select-unstyled
    }

    .is-valid {
        input {
            border-bottom: 0.0714rem solid $brand-success !important;
            transition-duration: .7s;
        }

        .icon-right {
            color: $brand-success;
        }
    }

    .form-help-cue {
        color: $gray
        cursor: pointer
        float: right
        font-size: .825em

        .icon {
            font-size: inherit;
            padding-left: .25em
        }
    }

    .ValidatedPassword {
        li {
          line-height: 1.5em
        }

        .ValidatedPassword-fieldGroup {
            background-color: white

            .ValidatedPassword-requirements {
                padding: 0 0.8571em 0.4286em 0.8571em
                color: $gray

                .fa {
                    font-size: 1.258em
                    margin-top: auto
                }

                .ValidatedPassword-list {
                    .ValidatedPassword-requirement {
                        .icon {
                            color: $gray-lighter
                            padding-left: 0
                        }

                        ul {
                            padding-left: .5em
                            list-style-type: none

                            .ValidatedPassword-character {}

                            .ValidatedPassword-character--used {
                                color: $gray-lighter
                                text-decoration: line-through
                            }
                        }
                    }
                    .ValidatedPassword-requirement--valid {
                        .icon {
                            color: $brand-success
                        }

                        ul {
                            display: none
                        }
                    }
                }
            }
        }
    }

    // Header/Prompt before the list of suggested job titles
    .SignupLogin-prompt {

    }

    .SignupLogin-loginReminder {
        margin-top: 1.7857em;
        margin-bottom: 1.7857em;

        .btn {
            margin: 0 1.0714em;
        }
    }

    // Trick from https://codepen.io/ericrasch/pen/Irlpm
    .SignupLogin-lineBehind {
        display: table;
        white-space: nowrap;
        width: 100%;
        &:before, &:after {
            border-top: 0.0714rem solid rgb(204,204,204);
            content: '';
            display: table-cell;
            position: relative;
            // If text is uppercase, 0.5em is a good setting
            // For lowercase 0.7em looks better
            top: 0.7em;
            // Width allows to separate more or less
            // the lines from the text
            // But a big width (towards 50%) will make
            // the layout break depending on text lenght
            width: 44%;
        }
        // Extra separation
        //&:before { right: 1.5%; }
        //&:after { left: 1.5%; }
    }
}
