/**
    StarsRating component
**/
.StarsRating {
    display: inline-block;
    
    .StarsRating-icons {
        white-space: nowrap;
        display: inline-block;
        
        i {
            font-size: 22px;
            line-height: 24px;
            vertical-align: baseline;
        }
    }
    .StarsRating-total {
        vertical-align: bottom;
        line-height: 22px;
        font-size: 15px;
    }
}
// custom element
app-stars-rating {
    display: inline-block;
}
