/**
    TagsList component
**/
.TagsList {
    display block
    margin-top 0.2857rem
    padding 0

    .TagsList-item {

        display: block;
        background: White;
        
        padding 0
        margin-bottom 0.4286em
        
        vertical-align: middle;

        // Name
        > span {
            // like the .btn
            line-height: 2.4286rem;
            display: inline-block;
            padding-left: 1em;
        }

        // Removal button, on the right
        > .btn {
            float right
            color Black
            // Icon 
            > i {
                font-size: 1.2857rem;
                vertical-align: top;
            }
        }

        addTagFor($colorName, $color, $textColor = White) { 
            &.TagsList-item--{$colorName} {
                background: $color;
                color: $textColor;

                > .btn,
                > .btn > i {
                    color: $textColor;
                }
            }
        }

        for $color in $brand-colors {
            addTagFor($color, $brand-colors[$color]);
        }
    }
    
    $mediaMinSm = 'screen and (min-width: ' + screen-sm + ')'
    @media $mediaMinSm {
        clearfix()
        
        .TagsList-item {
            display: inline-block;
            margin-right: 0.7143em;
            
            width auto
            float left
            
            > .btn {
                float none
            }
        }
    }
    
    &.TagsList--decorated {
        .TagsList-item {
            border-radius 0.2857em
            box-shadow: 0rem 0rem 0.1429rem -1px black;
        }
    }
}

.TagsListAutocomplete {
    position: absolute;
    max-height: 204px;
    overflow: auto;
    z-index: 999999;
    background: White none repeat scroll 0% 0%;
    box-shadow: 0 0.3571rem 0.4286rem 0.1429rem $gray-light;
    left: $grid-gap;
    right: $grid-gap;
    
    > ul {
        margin: 0;
    }
}