/**
    A component for the footer used website pages,
    with a collection of links and copyright notice.
**/
.WebsiteFooter {
    $footerFontSize = 1.1429rem;
    $footerMiniFontSize = 1.0000rem;
    
    background: $gray-light;
    margin: 0 auto;
    display: block;
    padding: 0.7143em;
    text-align: center;
    
    &,
    a {
        color: White;
        font-weight: bold;
    }
    
    // used with .list-unstyled
    .WebsiteFooter-links {
        li {
            display: inline-block;
            
            a {
                font-size: $footerFontSize;
                padding: 1.4286em 1.8571em;
                display: inline-block;
                
                @media $mediaMaxXs {
                    font-size: $footerMiniFontSize;
                    padding: 0.2857em 1.1429em;
                }
            }
        }
    }

    .WebsiteFooter-social {
        &.WebsiteFooter-social--on-top {
            margin-top: 1.7143em;
        }
        
        h2 {
            display: inline-block;
            padding-right: 0.7143em;
            font-size: $footerFontSize;
            vertical-align: middle;
            
            @media $mediaMaxXs {
                font-size: $footerMiniFontSize;
            }
        }
        // used with .list-unstyled
        ul {
            display: inline-block;

            li {
                display: inline-block;

                a {
                    padding: 0.4286em;
                    display: inline-block;
                    
                    i {
                        font-size: 1.7857rem;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .WebsiteFooter-copyright {
        padding: 1.4286em 0;
        font-size: $footerFontSize;
        @media $mediaMaxXs {
            font-size: $footerMiniFontSize;
        }
    }
}
