/** WeeklySchedule component styles **/

@import '../utils/isolated.styl';
@import './SwitchCheckbox.styl'

.WeeklySchedule {

    // We set manually the SwitchCheckbox-width because it uses relative
    // units and doesn't count for some visual extra spacing
    // It's actually 3em that means 42px from base-font-size plus a visual gap
    $switchWidth = 44px;
    $gapWithSwitch = 14px;
    $addRemBtn-width = 40px;
    $timeSelectorsIndent = $switchWidth - $addRemBtn-width;

    // Center the container, make it uses just the needed width
    text-align: left;
    > form.container {
        margin: auto;
        // Auto width
        display: inline-block;
        // Restore align for content
        text-align: left;
    }

    .WeeklySchedule-weekDay {

        margin-bottom: 14px;

        /* Scheme
            .WeeklySchedule-weekDay
              > .WeeklySchedule-weekDay-switch
                > label
                > .SwitchCheckbox
              > .WeeklySchedule-weekDay-timeSelectors
                > .WeeklySchedule-weekDay-timeRange
                  > button
                  > select
                  > span
                  > select
                > button
        */

        .WeeklySchedule-weekDay-switch {
            // Small margin between switch and timeSelectors, like the
            // margin labels have but that need to be reset for internal label
            margin-bottom: 5px;
            > label {
                margin-bottom: 0;
                line-height: $SwitchCheckbox-height;
            }
            /* The label is placed at in markup before the input/switch
                but we want it visually after it, so we float to left the
                input.
            */
            > .SwitchCheckbox,
            > input[type=checkbox] {
                float: left;
            }
            clearfix();

            // More styling for the label, ensuring a gap with the input,
            // correct alignment
            > label {
                // IMPORTANT: A gap carefully aligned in vertical
                // with the dropdowns .WeeklySchedule-weekDay-timeSelectors
                padding-left: $gapWithSwitch;
                vertical-align: middle;
            }
        }

        .WeeklySchedule-weekDay-timeSelectors {
            // IMPORTANT: the remove/add buttons are aligned in the right with the top switch button
            padding-left: $timeSelectorsIndent;

            // IMPORTANT: Next left margins and select paddings are carefully choosen so
            // it fits one row in a screen size of 320px (original iPhone).
            .WeeklySchedule-weekDay-timeRange {
                .btn + select {
                    margin-left: 6px;
                }

                margin-bottom: 2px;

                select {
                    width: auto;
                    display: inline-block;
                    // Fix the total height and the strange margin added
                    vertical-align: middle;
                    // 4px horizontal is OK in iPhone: enought padding without requiring 2 lines,
                    // while in Chrome and Firefox, for some reason, they add an additional internal
                    // gap between padding and the beggining of the text. Thats make it a bit wider
                    // in Chrome/Android, but not enought to have problems from 320px screen width.
                    padding: 6px 4px;
                }
            }

            .btn {
                border-radius: border-radius-base;
            }
        }
    }

    .WeeklySchedule-allTime {

        isolated();

        display: block;
        text-align: center;

        > label {
            // A gap between label and input
            margin-right: 1em;
        }
    }
}
