/**
    WhiteForm style.
    
    To receive custom styles, form elements must have a 'form-control' class (like Bootstrap).
**/
.WhiteForm {
    .form-control {
        background: White;
    }

    .input-group-addon {
        background: White;
    }
    
    .form-group {
        border: 0.0714rem solid $gray-lighter;
        border-radius: 0.1429rem;
        
        .input-group-addon,
        .form-control {
            border-width: 0;
        }
        
        &[class*='has-'] {
            .input-group-addon,
            .form-control {
                border-width: 0.0714rem;
            }
        }
    }
}
