/**
    WorkPhotos component for the serviceProfessional photos dahsboard
**/

$workPhotos-maxImageWidth = 442px;
$workPhotos-borderWidth = 0.0714rem;
$workPhotos-maxContainerWidth = $workPhotos-maxImageWidth + ($workPhotos-borderWidth * 2);

.WorkPhotos {
    max-width: $workPhotos-maxContainerWidth;
    display: block;
    width: auto
    overflow: hidden;
    // For 'sortable' reordering
    position: relative;
    margin: auto;

    > li {
        position: relative;
        margin-bottom: 1.0714em;

        // Group the elements visually:
        border: $workPhotos-borderWidth solid #dbdbdb;
        // ..and remove lines that seems to separate them
        .form-control {
            border: none;
        }
        // Previoulsy, this border was and outline at WorkPhotos-img with this reasoning:
        // :Add a fine line, near invisible when an image covers all (because of its low contrast
        // with the background) but highlights the place of the image as a placeholder
        // when no load or takes a different ratio.
        // Now is not needed, border around all and color of the form-control makes
        // the limits clearly visible.

        .WorkPhotos-imgBtn {
            display: block;
            position: relative;

            .WorkPhotos-img {
                display:block;
                width: auto;
                height:auto;
                max-width:100%;
                max-height:332px;
                margin: auto;
                // for cases when the image
                // does not load or another kind of problem with it:
                // We add a minimum height so takes
                // some visual space and don't looks weird.
                min-height: 200px;
                // (Previously we had too an outline, now replaced with the item outline)
                text-align: center;
                // keep background color in sync with server-side background color when processing images that need scaling
                background: #f5f5f5;

                // Animate rotation preview, inline styles are applied
                transition: transform 400ms;

                &[hidden] {
                    display: none;
                }
            }
        }

        .WorkPhotos-toolbar {
            text-align: center;
        }

        &.is-selected {
            .WorkPhotos-editionLayer {
                //display: block;
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}
