/**
  Location component styles.

  It is originally based on 'address'
**/
@import "nib"

.Location {
    position: relative;
    line-height: 1.3em;

    .Location-name,
    .Location-line,
    .Location-serviceRadius,
    .Location-serviceLocation {
        display: block;
    }
    
    .Location-serviceRadius,
    .Location-serviceLocation {
        margin-top: .4em;
    }

    .Location-city:not(:empty):after {
        content: ', ';
    }

    .Location-travel-transport-label {
        display: block;
    }
}