/**
  Mixims, vars and functions to work with media queries or things that need media queries under the hood.
**/

$highResolutionMedia = "print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min--moz-device-pixel-ratio: 1.2), (min-resolution: 120dpi)"

/** High-resolution image: add the media query code for @2x images with the background-image rule for the url provided and
    the given size
 **/
hr-image($image, $width, $height) {
  @media $highResolutionMedia { 
    background-image: url($image);
    background-size: $width $height;
  }
}

/*
    Is not a complete range and medias, its desktop-first for now, being
    the medium size (Md) the default (then the $mediaMd is not required,
    just left for any case that some style needs to be overwritten or be
    very explicit for medium-only).
    There is no 'large' size since the design is contrained to 960px wide.
*/
$sizeMdMin = 960px;
$sizeSmMin = 768px;
$sizeXsMin = 480px;
$sizeSmMax = $sizeMdMin - 1;
$sizeXsMax = $sizeSmMax - 1;

$mediaMd = "only screen and (min-width: " + $sizeMdMin + ")"
$mediaSm = "only screen and (max-width: " + $sizeSmMax + ")"
$mediaXs = "only screen and (max-width: " + $sizeXsMax + ")"