@{
    LcHelpers.TestArea();
    Layout = "_TestLayout.cshtml";
    
    
}

<div>
    5.33 : @TimeSpan.FromHours((double)5.33)
    <br />
    5.34 : @TimeSpan.FromHours((double)5.34)
    <br />
    5.32 : @TimeSpan.FromHours((double)5.32)
</div>