@{
    
}
<article id="FAQs-SchedulingServices">
    <h2 class="cushycms">Scheduling services</h2>
    <ol>
        <li id="FAQs-SchedulingServices-Q1">
            <h3><a href="#" class="cushycms">Why do I choose multiple times?</a></h3>
            <p class="cushycms">
			These are busy times, and we’re all busy people. It’s possible that your service provider won’t be able to work during the time you’ve designated as your first choice for the appointment. Our goal is to make scheduling as easy as possible, so we ask you to provide a couple other times that you’re free for the appointment to take place.
            </p>
        </li>
        <li id="FAQs-SchedulingServices-Q2">
            <h3><a href="#" class="cushycms">When will my booking be confirmed?</a></h3>
            <p class="cushycms">
			Your appointment will be confirmed within 18 hours of when you book it. 
            </p>
        </li>
        <li id="FAQs-SchedulingServices-Q3">
            <h3><a href="#" class="cushycms">Why do I pay upfront?</a></h3>
            <p class="cushycms">
			Your card is authorized immediately but only charged when your provider confirms the appointment. You pay before your appointment so that we can get the ball rolling on paying your service provider and making sure everything is in order for your excellent appointment.  
            </p>
        </li>
    </ol>
</article>