
    <header class="introduction-header">
        <h1 class="withsub cushycms"><em>Welcome</em> to a new kind of Marketplace</h1>
        <p class="subh1 cushycms">Loconomics is all about the human scale. By linking, say, Aunt Geraldine with a mechanic well-versed in 1979 Oldsmobile transmission issues, we work in the interests of both parties. Put simply, Loconomics cuts out the middle. We focus on the actual people in the equation: those in need and those able to help.</p>
    </header>
	<div class="tabbed slider-tabs">
		<p class="tabs-header cushycms">Find out how it works</p>
        <ul class="tabs" role="navigation">
            <li class="customers current"><a href="#howitworks-customers">Customers</a></li>
            <li class="providers"><a href="#howitworks-providers">Service Providers</a></li>
            <li class="faqs"><a href="#howitworks-faqs">FAQs</a></li>
        </ul>
		<div id="howitworks-customers" class="tab-body current" role="content">
            <h2>How it works for customers</h2>
            <ol>
			    <li class="find-provider">
				    <h3>Find a provider</h3>
                    <p>Loconomics makes finding the perfect independent professional for your job pretty dang easy. You can comb through profiles and read everyone’s reviews and recommendations before settling on Ms. or Mr. Right. This is not online dating; your specific needs – finally assembling a custom table for the dining room, painting your guest room, getting a deep tissue massage – will be met. Loconomics makes it simple.</p>
			    </li>
			    <li class="book-provider">
				    <h3>Book a provider</h3>
                    <p>Loconomics uses an ultra-simple three-step booking process that eliminates the usual scheduling, follow-up, and payment hassles. It’s all here. And we’re always waiting in the background to help.</p>
			    </li>
                <li class="review-provider">
				    <h3>Review a provider</h3>
                    <p>Your reviews of the providers you’ve found on Loconomics help others decide who to choose. It’s kind of a paying-it-forward thing. Plus, if you find you can talk forever about Tanya’s magical massaging thumbs, why not help her out a little with a glowing review? Loconomics is a community, and a positive one where great people doing great work can find eager customers.</p>
			    </li>
		    </ol>
            <div class="actions">
                <a href="@(LcUrl.LangPath)@(WebSecurity.IsAuthenticated ? "" : "Account/Register/")" class="main-action">Get Started!</a>
            </div>
        </div>
		<div id="howitworks-providers" class="tab-body" role="content">
            <h2>How it works for providers</h2>
            <ol>
			    <li class="create-profile">
				    <h3>Create your profile</h3>
                    <p>Loconomics lets you put your best face forward. With your profile, you can showcase exactly what you do, how you do it, and why you’re the gent or gal for the job. Here’s a chance to show off: add photos, professional licenses, references, and more.</p>
			    </li>
			    <li class="perform-services">
				    <h3>Manage clients, perform services</h3>
                    <p>Our simple booking process lets you decide how much to charge and when you’re available. We send you new appointments via email or text message, and you have 18 hours to confirm, reschedule, or deny. And it’s pretty near free, with a 3% fee deducted to cover our payment processing costs.</p>
			    </li>
                <li class="get-paid">
				    <h3>Get paid</h3>
                    <p>After you wrap up an appointment, Loconomics drops your payment straight into your bank account. No hassles like mistaken payments or follow-up phone calls to clients.  We’re around to help negotiate any pricing adjustments.</p>
			    </li>
		    </ol>
            <div class="actions">
                <a href="@(LcUrl.LangPath)@(WebSecurity.IsAuthenticated ? "Dashboard/Alerts/" : "ProviderSignUp/")" class="main-action">Get Started!</a>
            </div>
        </div>
        <div id="howitworks-faqs" class="tab-body" role="content">
            @RenderPage("$FAQS.cshtml", true, true, true)
        </div>
	</div>