@{
    
}
<div id="takeATour">
    <h1>Welcome to Loconomics</h1>
    <p>
        We're a brand new marketplace for self-employed professionals that improves their profitability and grows their client base by providing customers with a booking, payment, and review platform for local services.
    </p>
    <p>Please take a few minutes to look around, and we invite you to make a FREE profile and become part of our launch. If you have any questions or feedback, we are eager to hear from you.</p>

    <div class="actions">
        <a class="main-action action" href="@(LcUrl.LangPath)HelpCenter/HowItWorks/#howitworks-providers">Take a tour!</a>
    </div>
</div>
