
<article class="legal terms-of-use">
<h1>TERMS OF SERVICE</h1>
<h2>Introduction</h2>
<p>
Welcome to Loconomics.  
</p><p>
This User Agreement contains the terms on which Loconomics, Inc. (“Loconomics”) offers you access to the loconomics.com site (the “Marketplace”) and various services provided by Loconomics or third parties.  
</p><p>
By using the Marketplace, you agree to this User Agreement with Loconomics.  It is important that you understand the User Agreement, because the User Agreement governs your relationship with Loconomics as well as transactions with third parties made using Loconomics.
</p><p>
This User Agreement is effective on June 1st, 2012 for current users, and upon acceptance for new users. 
</p>

<h2>Membership</h2>
<p>
Before you may become a member of the Marketplace, you must read and accept all of the terms of this User Agreement and the Loconomics Privacy Policy. You agree that this User Agreement and Privacy Policy will apply whenever you use the Marketplace.  
</p><p>
Only persons who are 18 years old or older may become a member of the Marketplace.  This is because persons who are under 18 years old are unable to enter into binding contracts.
</p><p>
Your membership may be terminated without warning if Loconomics believes that you have violated any term of this User Agreement or any federal, state or local laws, rules or regulations.
</p>

<h2>Neutral Venue</h2>
<p>
The Marketplace is a communications platform for connecting people offering services (“Service Providers”) and people looking for services (“Customers”).  Service Providers, Customers, <strong><em>and other users of the Marketplace</em></strong> together are referred to as "Users."  The work that the Service Provider will provide to a Customer, and for which the Customer will pay the Service Provider, is referred to as a “Service.”  A Service also includes any materials by the Services Provider, either with or without charge to the Customer.  Loconomics creates a neutral venue for Services Providers to find Customers, and for Customers to find Service Providers.  
</p><p>
When using the Marketplace, you may be a Service Provider, a Customer, or both.
</p><p>
Loconomics does not take part in the interaction between Service Providers and Customers.  Loconomics is not an employer of the Service Providers.  No agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship is intended or created by this User Agreement.  Loconomics makes no representations about the suitability, reliability, timeliness, or accuracy of the Services through the Marketplace.  Service Providers are solely responsible for all aspects of the Services they perform, including the quality, timing, legality, or failure to provide a Service.  Loconomics does not control the actions or inactions of Users.
</p>

<h2>Rules for All Users</h2>
<p>
You are the sole authorized user of your account.  You may not transfer your Loconomics account or User ID to another party, or let another party use your Loconomics account or User ID.  You are responsible for maintaining the confidentiality of your password for accessing the Marketplace. You are solely responsible for all activities that occur under your Loconomics account or User ID.  Loconomics has no control over the use of any User's account and expressly disclaims any liability derived therefrom. Should you suspect that any unauthorized party may be using your Loconomics account or User ID or you suspect any other breach of security, you must contact Loconomics immediately.
</p><p>
You may not circumvent or manipulate Loconomics fee structure, the billing process, or fees owed to Loconomics.
</p>

<h2>Rules for Service Providers</h2>
<p>
Service Providers must be individuals, not agencies or people acting on behalf of agencies.  The profile you create must represent a single person performing a service.  You may not have employees, agents, or substitutes provide services on your behalf.
</p><p>
Service Providers may choose to partner with other Service Providers using our group booking functionality to perform a particular service that requires more than one person.  In such cases, Service Providers must still be individuals, not agencies or people acting on behalf of agencies.  
</p><p>
Services Providers must perform services in accordance with the directions provided by the Customer.  The Services cannot, under any circumstances, include (i) sexual activity, (ii) unlawful activity of any kind.  
</p><p>
You may not provide your contact information to a Customer before a purchase.  
</p><p>
You represent that you have the legal ability in your jurisdiction and where you are marketing your services to perform the services listed in the Marketplace.  Without limiting the foregoing, you represent that you have any license required to provide the your services.  
</p><p>
CHECKBOXES REQUIRED DURING BOOKING:
</p><p>
1. I personally will provide the services listed on my profile.
</p><p>
2. I am not acting on behalf of an agency or employer for services booked using my profile.
</p><p>
3. I am legally authorized to perform the services listed on my profile and possess any licenses required to perform those services.
</p><p>
4. I will not engage in any unlawful or inappropriate activity while performing services for Customers.
</p><p>
5. I will take the necessary safety precautions when meeting Customers to ensure both their and my own safety.
</p>

<h2>Rules for Customers</h2>
<p>
Customers are solely responsible for choosing suitable Service Providers.  Loconomics does not endorse any Service Provider.  When acting as a Customer, you agree that Loconomics is not responsible or liable for unsatisfactory Services performed by Service Providers.  You should make whatever investigation you deem necessary or appropriate before hiring or engaging a Service Provider.
</p><p>
You may not hire Service Providers with the purpose of reselling their services.
</p><p>
You may not provide your contact information to a Service Provider before a purchase.   You may not interfere with the proper working of the Marketplace.  You may not copy, modify or distribute (i) content from the Marketplace or (ii) any other Loconomics copyrights and trademarks.  You may not harvest or otherwise collect information about Users, including email addresses, without their consent. 
</p><p>
CHECKBOXES REQUIRED DURING BOOKING:
</p><p>
1. I will take the necessary safety precautions when meeting Providers to ensure both their and my own safety.
</p><p>
2. It is my responsibility to confirm that the Service Provider’s identity and professional license (if required) match the information on his or her profile.
</p>

<h2>Public Areas of the Marketplace</h2>
<p>
The Marketplace may contain User profiles, Service descriptions, reviews, email systems, blogs, or other message or communication facilities ("Public Areas") that allow Users to communicate with each other.  You may only use such community areas to send and receive messages and material that are relevant and proper to the applicable area. You may not do the following through or on any Public Area:
</p><p>
-	post content of a sexual or sexually-suggestive nature;
</p><p>
-	post content in an inappropriate category or areas; 
</p><p>
-	post any discriminatory content;
</p><p>
-	post any content that violates any law or third party rights; 
</p><p>
-	harass or threaten any person;
</p><p>
-	post or distribute false, inaccurate, misleading, infringing, defamatory, or libelous content (including personal information);
</p><p>
-	post or distribute any offensive, obscene, or unlawful content;
</p><p>
-	take any action that may undermine the feedback or ratings systems; 
</p><p>
-	post or distribute spam, unsolicited, or bulk electronic communications, chain letters, or pyramid schemes; 
</p><p>
-	advertise or offer to sell services not relevant to the Service;
</p><p>
-	distribute viruses or any other technologies that may harm Loconomics, or the interests or property of any Users; 
</p><p>
-	copy, reproduce, modify, create derivative works from, distribute, or publicly display any content (except for your information) without the prior express written permission of Loconomics and the appropriate third party, as applicable;
</p><p>
<strong>The foregoing lists of prohibitions is not complete or exclusive.  Loconomics does not and cannot review every posting or use of the Public Areas.  These prohibitions do not require Loconomics to monitor, police or remove any postings or other information submitted by you or any other user.</strong>
</p><p>
If you violate any of these prohibitions, Loconomics in its sole discretion may take any of the following actions: 
</p><p> 
-	delete some or all of your reviews or other postings; 
</p><p>
-	limit your membership privileges;
</p><p>
-	suspend or terminate your membership
</p><p>
-	report to law enforcement authorities any actions that may be illegal;
</p><p>
-	take other appropriate action.   
</p><p>
Loconomics will cooperate with law enforcement agencies in any investigation of alleged illegal activity on the Public Area, the Marketplace, or elsewhere on the Internet.
</p><p>
When you post information to a Public Area, you grant Loconomics a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sublicensable (through multiple tiers) right to exercise any and all copyright, trademark, publicity, and database rights (but no other rights) you have in the content, in any media known now or in the future.
</p>

<h2>Transactions</h2>
<p>
Users contract for Services directly with other Users. Loconomics is not a party to any contracts for Services.  Loconomics facilitates these contracts by supplying a medium for the transfer of money. Loconomics will transfer the agreed-upon payment to the Service Provider’s account upon successful completion of Services.
</p><p>
A Customer may only pay the Service Provider through the Marketplace for the Services. 
</p>

<h2>Fee Structure</h2>
<p>
Joining Loconomics, posting a profile, viewing profiles, and viewing descriptions of services are free. 
</p><p>
Service Providers:  Loconomics charges Service Providers the following fees.
</p><p>
-	Loconomics charges 3% of the total amount paid by a Customer for a Service to cover payment processing fees.  
</p><p>
-	Loconomics charges a set fee for certain premium services, such as background checks. The cost of a premium service is disclosed at the time you sign up for the service.  
</p><p>
Customers: Loconomics charges Customers the following fees.
</p><p>
-	Loconomics may charge a booking fee to Customers upon booking of services through the Marketplace.  Any booking fee will be disclosed at the time the booking is made. 
</p><p>
Changes:  Loconomics reserves the right to change the fee structure set forth above, at its sole discretion. Loconomics will give Service Providers at least fourteen (14) calendar days’ notice of any change to the fee structure by posting the change on the Marketplace. 
</p><p>
Taxes:  Because state and local tax laws vary significantly by locality, you understand and agree that you are solely responsible for determining your own tax reporting requirements in consultation with tax advisors, and that Loconomics cannot and does not offer tax advice to Service Providers or Customers. You have to pay your taxes for any income you receive in transactions resulting from using Loconomics. We are not liable for your nonpayment of taxes.
</p><p>
Errors:  Loconomics reserve the right to fix any processing errors discovered.  Loconomics will correct any processing errors by debiting or crediting the payment method used as applicable.
</p><p>
No refunds:  All sales on Loconomics are final and non-refundable
</p>

<h2>Reviews</h2>
<p>
At Loconomics, Customers are able to leave reviews of Service Providers, and Service Providers are able to leave reviews of Customers.  Accurate and honest reviews are critical to the efficient operation of the Marketplace.  Accordingly, you agree to use careful, prudent, and good judgment when leaving reviews of another User. The following review-related actions are prohibited: 
</p><p>
-	threatening to leave a negative review for unless a User provides Services not agreed to as part of the Service to be provided; 
</p><p>
-	leaving a review in order to make the Service Provider or Customer appear better or worse than he or she actually is or was; 
</p><p>
-	impersonating any other person, falsifying contact information, misrepresenting a relationship with any Service Provider, or otherwise attempting to mislead others as to the identity of the sender or the origin of a review;
</p><p>
-	attempting to prevent another User from leaving a review.   
</p><p>
</p><p>
If you violate any of these prohibitions, Loconomics in its sole discretion may take any of the following actions:
</p><p>
-	delete some or all of your reviews or other postings; 
</p><p>
-	limit your membership privileges; 
</p><p>
-	suspend or terminate your membership; or
</p><p>
-	take other appropriate action.   
</p><p>
To report conduct that violates any of these prohibitions, please send an email to legal@loconomics.com.  
</p><p>
For information regarding the resolution of disputes between Users concerning a review, see the “Disputes” section below.
</p>

<h2>Third Party Resources</h2>
<p>
We do our best to connect you with resources that help you do your job.  This may include links to and recommendations of content and services provided by third parties.  Loconomics is not liable for the way in which you use this information.  Please use your own discretion. 
</p>

<h2>Disputes</h2>
<p>
In the event of a dispute between Users concerning a booking or review Loconomics will make the final decision regarding the resolution of the dispute.  You agree that Loconomics has the right to remove any review at any time in its sole discretion.  You agree that Loconomics shall not be liable for the content of any review, or for the removal or failure to remove a review.
</p>
<p>
If you have a dispute with another User, you release Loconomics (and its officers, directors, employees, agents, subsidiaries, and affiliates) from all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such dispute.  If you are a California resident, you waive California Civil Code §1542, which says: "A general release does not extend to claims which the creditor does not know or suspect to exist in his or her favor at the time of executing the release, which if known by him or her must have materially affected his or her settlement with the debtor."
</p>

<h2>Background Checks</h2>
<p>
Loconomics uses internal tools to verify certain information provided by Users.  In addition, Loconomics may make certain background check services available to Users.  You may use these services to verify information such as, but not limited to, name, address, social security number, criminal background, and professional license credentials.  When interacting with other Users, however, you should exercise caution and common sense to protect your personal safety and property, just as you would when interacting with strangers.
</p><p>
Use of background check services is voluntary. If you opt to use or access information provided by a background check service offered through the Marketplace, you agree that Loconomics offers this background check service as a convenience and does not have control over or assume any responsibility for the quality, accuracy, or reliability of the background check service or the information provided by the background check service.
</p><p>
If you are a Service Provider and you opt to purchase background check services in connection with your Services: (i) you affirm that all of the information you provide to Loconomics in connection with the background check services is correct, complete, and applicable; (ii) you understand that you will be required to complete and sign a disclosure and consent form, which will have additional terms applicable to the background check services; (iii) you agree that Loconomics may obtain a report from HireRight that may contain information on your criminal history, address history, character, general reputation, personal characteristics, and mode of living; (iv) you agree that Loconomics may release the results of this report in connection with transactions on the Marketplace; (v) you understand that the information in the report may factor into other parties’ decisions to engage your services; (vi) you agree that Loconomics may review the information provided by the background check service and retains the right to terminate your membership based on the information; (vii) if you disagree with the contents of the report, or wish to stop the release of the results of the report, you must delete your profile; and (viii) you agree to indemnify and hold harmless Loconomics from any loss or liability that may result from the creation or release of the report.
</p><p>
You understand and agree that THE MARKETPLACE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS AND THAT LOCONOMICS ASSUMES NO RESPONSIBILITY OR LIABILITY FOR THE content, actions, or inactions OF ANY USER.  LOCONOMICS EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT OR ANY WARRANTY THAT (A) THE MARKETPLACE WILL MEET YOUR REQUIREMENTS, (B) THE MARKETPLACE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE, (C) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE MARKETPLACE WILL BE ACCURATE OR RELIABLE, (E) ANY ERRORS IN THE MARKETPLACE WILL BE CORRECTED.  YOU ARE AGREE THAT USE OF THE MARKETPLACE IS AT YOUR OWN RISK.  Some jurisdictions do not allow the disclaimer of warranties, so such disclaimers may not apply to you.
</p><p>
You will not hold Loconomics responsible for other Users’ content, actions or inactions.  You acknowledge that Loconomics does not provide the Services, and does not guarantee the quality, safety or legality of Services advertised. 
</p><p>
Although Loconomics may perform background checks of some Service Providers, as outlined in more detail below, Loconomics cannot confirm that each User is who they claim to be.  Loconomics does not assume any responsibility for the accuracy or reliability of the background check information or any other information on the Marketplace.
</p>

<h2>Limitations of Liability</h2>
<p>
YOU EXPRESSLY UNDERSTAND AND AGREE THAT LOCONOMICS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, COMPENSATORY, CONSEQUENTIAL OR EXEMPLARY DAMAGES (EVEN IF LOCONOMICS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES) (COLLECTIVELY, "DAMAGES"), RESULTING FROM: (A) THE USE OR INABILITY TO USE THE MARKETPLACE; (B) THE COST OF ANY SERVICES PURCHASED OR OBTAINED AS A RESULT OF THE USE OF THE MARKETPLACE; (C) DISCLOSURE OF, UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR INFORMATION OR CONTENT; (D) CONTENT YOU SUBMIT, RECEIVE, ACCESS, TRANSMIT OR OTHERWISE CONVEY THROUGH THE MARKETPLACE; (E) STATEMENTS OR CONDUCT OF ANY OTHER USERS OR OTHER THIRD PARTY THROUGH THE MARKETPLACE; (F) ANY OTHER MATTER RELATING TO THE MARKETPLACE; (G) ANY DEALINGS OR INTERACTIONS YOU HAVE WITH ANY OTHER USERS.  THESE LIMITATIONS SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW. 
</p><p>
If Loconomics is found to be liable for any reason, Loconomics’ liability to you or to any third party is limited to the lesser of (a) the total fees you paid to Loconomics in the 12 months prior to the action giving rise to the liability, and (b) $500.  
</p><p>
In some jurisdictions, limitations of liability are not permitted. In such jurisdictions, some of the foregoing limitations may not apply to you.
</p>

<h2>Indemnity</h2>
<p>
You will indemnify and hold Loconomics (and our officers, directors, agents, subsidiaries, joint ventures and employees) harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to, arising out of, or in connection with (i) your breach of this User Agreement, or (ii) your violation of any law or the rights of a third party.
</p>

<h2>Notices</h2>
<p>
Legal notices to Loconomics must be sent to the address below.  Legal notices to Loconomics shall be deemed given upon receipt by Loconomics.
</p><p>
Loconomics, Inc.<br />
3150 18th Street Suite 438<br />
Mailbox #208<br />
San Francisco, CA 94110
</p><p>
Legal notices to you will be sent to the email address you provide to Loconomics during the registration process.  Legal notices to you shall be deemed given 24 hours after Loconomics’ email is sent, unless Loconomics is notified that the email address is invalid.  Alternatively, Loconomics may give you legal notice by mail to the address provided during the registration process. In such case, notice shall be deemed given three days after the date of mailing.
</p>

<h2>Governing Law</h2>
<p>
This User Agreement is governed in all respects by the laws of the State of California as they apply to agreements entered into and to be performed entirely within California between California residents, without regard to conflict of law provisions. You agree that any claim or dispute you may have against Loconomics must be resolved exclusively by a state or federal court located in San Francisco County, California.  You agree to submit to the personal jurisdiction of the courts located within San Francisco County, California for the purpose of litigating all such claims or disputes.
</p>

<h2>Modifications</h2>
<p>
Loconomics reserves the right, in its sole discretion, to change, modify, or otherwise amend the User Agreement and the Privacy Policy at any time.  Loconomics will post a notice of any changes and the amended User Agreement and the Privacy Policy at <a href="@(LcUrl.LangUrl)About/#privacypolicy">@(LcUrl.LangUrl)About/#privacypolicy</a>.  Loconomics may also provide notification of any changes via email.  It is your responsibility to review the User Agreement for any changes.  Your use of the Marketplace following any amendment of the User Agreement will signify your assent to and acceptance of any revised User Agreement.  If you do not agree to abide by this User Agreement, or any amended User Agreement, please do not use or access the Marketplace.
</p><p>
It will not be considered a waiver of Loconomics rights if Loconomics fails to enforce any right it possesses under this User Agreement against you. In the event a court finds a provision in this User Agreement to not be valid, you and Loconomics agree that such court should incorporate a similar provision that would be considered valid, with all other provisions remaining valid in the User Agreement. 
</p>

<h2>Entire Agreement</h2>
<p>
This User Agreement governs your use of the Marketplace and constitutes the entire agreement between you and Loconomics. It supersedes any prior or contemporaneous negotiations, discussions or agreements, whether written or oral, between you and Loconomics regarding the subject matter contained in this User Agreement.
</p>
</article>