@{
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    Page.Title = "Make your life better!";
    LcAssets.AddStyle(LcUrl.AppPath + "Styles/provider-welcome.css");
    PageData["ShowWelcomePopup"] = false;
    PageData["ShowWelcomeHeader"] = true;
}
<div id="container" class="provider-welcome-page ProviderWelcome">
    <div id="main">
        <div class="ProviderWelcome-presentation">
            <ul class="ProviderWelcome-presentation-slides">
                <li class="ProviderWelcome-presentation-slide ProviderWelcome-secondSlide">
                    <h1 class="ProviderWelcome-presentation-slide-header">
                        Everything you need to run your own business.
                    </h1>
                    <ul>
                        <li class="ProviderWelcome-secondSlide-clients">
                            <h3>Attract new clients.</h3>
                            <p>We're a marketplace where new clients find and book you.</p>
                        </li>
                        <li class="ProviderWelcome-secondSlide-payment">
                            <h3>Do the work, get paid.</h3>
                            <p>
                                Your payment is sent to your bank account within 48 hours.
                            </p>
                        </li>
                        <li class="ProviderWelcome-secondSlide-calendar">
                            <h3>Stay organized.</h3>
                            <p>Works with your existing calendar and website.</p>
                        </li>
                        <li class="ProviderWelcome-secondSlide-community">
                            <h3>Join a community.</h3>
                            <p>We're a co-operative of independent professionals. No middle men.</p>
                        </li>
                    </ul>
                </li>
                <li class="ProviderWelcome-presentation-slide ProviderWelcome-firstSlide">
                    <h1 class="ProviderWelcome-presentation-slide-header">
                        A community marketplace for the self employed:
                    </h1>
                    <h2 class="ProviderWelcome-firstSlide-subheader">How does it work?</h2>
                    <ul>
                        <li class="ProviderWelcome-firstSlide-profile">
                            <h3>Create a free profile to showcase your talents.</h3>
                            <p>Your profile will be part of the marketplace where you'll
                            attract new clients. We work with your existing website and
                            calendar or you can use it as your only website.</p>
                        </li>
                        <li class="ProviderWelcome-firstSlide-book">
                            <h3>Clients book and pay for yor services.</h3>
                            <p>Clients see your prices and availability then book
                            and pay through the marketplace. You're paid within 48 hours
                            after services are performed.</p>
                        </li>
                        <li class="ProviderWelcome-firstSlide-review">
                            <h3>A 360º review system creating mutual trust.</h3>
                            <p>Clients not only review your services, but you also
                            review working with clients to ensure a happy and healthy
                            community for everyone.</p>
                        </li>
                    </ul>
                </li>
                <li class="ProviderWelcome-presentation-slide ProviderWelcome-thirdSlide">
                    <h1 class="ProviderWelcome-presentation-slide-header">
                        Creating a unique profile is simple and free.
                    </h1>
                    <ul>
                        <li>
                            <h3>Brand yourself.</h3>
                            <p>Build your reputation online and off.</p>
                        </li>
                        <li>
                            <h3>Showcase your work.</h3>
                            <p>New clients will find you in the marketplace.</p>
                        </li>
                        <li>
                            <h3>Tell your story.</h3>
                            <p>Share why you do what you do.</p>
                        </li>
                        <li>
                            <h3>Price your services</h3>
                            <p>Set competitive prices on your terms.</p>
                        </li>
                    </ul>
                </li>
                <li class="ProviderWelcome-presentation-slide ProviderWelcome-fourthSlide">
                    <h1 class="ProviderWelcome-presentation-slide-header">
                        Join the self-employed movement!
                    </h1>
                    <ul>
                        <li>
                            <h3>People <strong>then</strong> profit.</h3>
                            <p>We're a California benefit corporation.</p>
                        </li>
                        <li>
                            <h3>Work for yourself.</h3>
                            <p>We'll help you manage the back-end.</p>
                        </li>
                        <li>
                            <h3>Join a community.</h3>
                            <p>
                                Independent professionals only.
                            </p>
                        </li>
                        <li>
                            <h3>We're here to help.</h3>
                            <p>Let us know how we can make things better.</p>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="ProviderWelcome-presentation-actions">
                <div class="ProviderWelcome-presentation-actions-start">
                    <a href="#goSlide_2" class="action start-action">learn more</a>
                </div>
                <ul class="ProviderWelcome-presentation-actions-slides">
                    <li class="ProviderWelcome-presentation-actions-goPrevious"><a href="#goSlide_previous">Previous</a></li>
                    <li class="ProviderWelcome-presentation-actions-goSlide"><a href="#goSlide_1">First</a></li>
                    <li class="ProviderWelcome-presentation-actions-goSlide"><a href="#goSlide_2">Second</a></li>
                    <li class="ProviderWelcome-presentation-actions-goSlide"><a href="#goSlide_3">Third</a></li>
                    <li class="ProviderWelcome-presentation-actions-goSlide"><a href="#goSlide_4">Fourth</a></li>
                    <li class="ProviderWelcome-presentation-actions-goNext"><a href="#goSlide_next">Next</a></li>
                </ul>
            </div>
        </div>

        <div class="ProviderWelcome-signUp">
            @RenderPage(LcUrl.RenderLangPath + "Account/$WelcomePopup.cshtml", new
            {
                PreselectedType = "provider",
                Title = "Create a free profile",
                WithLogo = false
            })
        </div>
    </div>
</div>