@{
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    Page.Title = "Make your life better!";
    LcAssets.AddStyle(LcUrl.AppPath + "Styles/HelpCenter.css");
    PageData["ShowWelcomePopup"] = false;
}
<div id="container" class="clearfix provider-welcome-page">
    <div id="main">
        <header class="introduction-header">
            <h1 class="withsub"><em>Welcome</em> to a new kind of Marketplace</h1>
            <p class="subh1">Work for yourself? We're here to help. Loconomics is a marketplace where potential clients find and book your services and assists you in managing the back-end of
            running a business, letting you focus on what you do best--providing great services. We're a triple-bottom-line company that's committed to helping you run your business.
            Below is a summary of the tools we offer you. We want this list to grow. with your input. So, welcome! We're glad you're here.</p>
        </header>
    </div>
</div>