/**
    ActivityTitle text class

    DEPRECATED: Not use on activites any more, use NavBar and its viewmodel
    to set title on the top.
    Used still by calendar on its special header, merge the required things
    with its style and remove this generic.
**/

// One line title height
$activityTitleInnerHeight = 50px;
$activityTitleGap = 10px;
$activityTitleHeight = $activityTitleInnerHeight + $activityTitleGap;

/* Freeze one-line header */
FreezeActivityTitle() {
    // Position
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: $app-navbar-height;
    box-sizing: border-box;
    
    // negative margin to become full-size over the
    // container padding is not needed:
    margin: 0;
    
    // Default color
    background: White;
    
    // One line, ellipsis
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ActivityTitle {
    
    $lineHeight = 1.3em;
    $padTop = 14px;
    $padBottom = 8px;
    
    font-size: 20px;    
    margin: 0 0 $activityTitleGap;
    text-align: left;
    font-weight: bold;
    
    /* Like a row, it use full width
        but we enforce the internal gap
    */
    margin-left: 0 - $container-padding-left;
    margin-right: 0 - $container-padding-right;
    padding: 0 ($container-padding-right) 0 ($container-padding-left);
    
    /* table layout for better management of the 
        optional elements */
    display: table;
    width: 100%;
    height: $activityTitleInnerHeight;
    box-sizing: content-box;
    
    /* Decoration */
    // NOTE: Respecting the $activityTitleGap
    box-shadow: 0px 1px 4px 0px black;

    /* Only allowed 'span' elements as childs or link buttons */
    > span {
        padding: $padTop 0 $padBottom 0;
        line-height: $lineHeight;
        display: table-cell;
        vertical-align: middle;
    }
    
    /* Button links in title */
    > a.btn {
        padding: $padTop 0 $padBottom 0;
        font-size: 20px;
        color: $gray-dark;
        border: none;
        line-height: $lineHeight;

        &:active,
        &:focus,
        &:hover {
            outline: none;
            text-decoration: none;
        }
    }
    
    /* Optional elements: shared styles */
    /* The action and the icon must fit mininum space, one line */
    > .ActivityTitle-action,
    > .glyphicon {
        /* fit minimum space */
        width: 1%;
        white-space: nowrap;
    }

    /* Optional element: icon at the start */
    > .glyphicon {
        font-size: 1.4em;
        line-height: 1em;
        padding-right: 8px;
        /* Alignment on the left with the upper-left navbar icon */
        padding-left: 6px;
    }
    
    /* Optional element: action button at the end */
    > .ActivityTitle-action > * {
        /* adjusting button/link padding to avoid increase the default line height */
        padding-top: 2px;
        padding-bottom: 2px;
    }
    

}
