/** Activity component **/

@import 'ActivityNavbar.styl';
@import 'SmartNavBar.styl';

Activity() {
    // Corretly getting space, scrolling context and fixing SmartNavBar:    
    SmartViewContent();
    
    /* settings specially important for the use of navbar
       but applied to all for consistent results
       with/without navbar
    */
    min-height: 100%;
    position: relative;

    // Set a full height with 100% is complicated, mainly because of iOS,
    // so a specific class is used that involve some javascript code to
    // fix iOS bugs using next class name.
    // This is need additionally to the general min-height for cases where
    // content children needs to expand to height:100% too,
    // SO this must be applied only to child elements inside the Activity.
    .full-height {
        height: 100%;
        // already applied by Bootstrap, but better to be explicit
        // on the box-sizing to note that mode is required for how the
        // script works and the wanted layouts.
        box-sizing: border-box;
    }

    /* activity must be notified of the navbar to fix
       available space
    */
    &.has-navbar {
        padding-bottom: $activityNavbarHeight;
        height: auto;
    }

    /* Hidden until active */
    display: none;
    /*transition: 2000ms all;
    opacity: 0;
    z-index: 1;*/
    &.is-active {
        display: block;
       /* opacity: 1;
        z-index: 2;*/
    }
}

.Activity,
[data-activity] {
    Activity();
}
