/**
    AppNav Component (extends .navbar)
**/
@import "nib";

blackdropAttempt() {
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    position: fixed;
    top: $app-navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: Black;
    z-index: 100;
    visibility: visible;
    display: block;
    overflow: hidden;

    opacity: 0;
    transition-duration: 1000s;
    transition-property: all;
    transition-timing-function: ease;

    .in {
        .block {
            opacity: 1 !important;
        }
    }
}

.AppNav {
    
    // Per Styleguide, text must be lowercase
    text-transform: lowercase;

    .App-menus {
        background: white;
        
        .navbar-collapse {
            .nav {
                background: White;
                margin-top: 0;
                margin-bottom: 0;
                position: relative;
                z-index: 200;
            }
        }
    }
    
    .navbar-brand {
      float: none;
      display: inline-block;
    
      // magic number! For some reason, the only line-height
      // that limits the full height to the navbar-height (44px now)
      line-height: 13px;

      text-indent: -99999px;
      background: url("../images/logo-loconomics-header-mini.png") no-repeat center;
      hr-image("../images/logo-loconomics-header-mini@2x.png", 100px, 39px);
      min-width: 100px;
      min-height: 39px;
      height: $app-navbar-height;
    }
    
    .navbar-toggle {
      float: none;
      margin-right: 0;
    }
    
    .navbar-action {
      margin: 8px 0;
    }

    .navbar-nav {
        
        a {
            color: $gray;
        
            &:hover,
            &:active {
                color: White;
                background: $brand-primary;
                outline: none;
            }
        }
        li.active > a {
            color: White;
            background: $brand-secondary;
        }

        > li + li,
        > li > ul {
            border-top: 1px solid $gray-light;
        }
    
        > li > ul.nav {
            > li {
                text-indent: 1em;
                line-height: 1em;
            }
        }
    }
}
