/**
    AppNav Component (extends .navbar)
**/
@import "nib";

.AppNav {
    
    // Per Styleguide, text must be lowercase
    text-transform: lowercase;
    
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
    
    // Logo
    .navbar-brand {
      float: none;
      display: inline-block;
    
      // magic number! For some reason, the only line-height
      // that limits the full height to the navbar-height (44px now)
      line-height: 13px;

      text-indent: -99999px;
      background: url("../images/logo-loconomics-header-mini.png") no-repeat center;
      hr-image("../images/logo-loconomics-header-mini@2x.png", 100px, 39px);
      min-width: 100px;
      min-height: 39px;
      height: $app-navbar-height;
    }
    
    .navbar-toggle {
      float: none;
      margin-right: 0;
    }

    // Menus
    .App-menus {
        // General menus container
        background: white;
    
        // Individual menus set-up
        > .navbar-collapse {
            position: fixed;
            left: 0px;
            right: 0px;
            overflow: auto;
            bottom: 0px;
            top: $app-navbar-height;
            // iOS7-8.1 requires a explicit z-index:
            z-index: 300;
        }
        
        // Customization of Bootstrap navigation bar for use as menus
        .nav {
            background: White;
            margin-top: 0;
            margin-bottom: 0;
            position: relative;
            z-index: 200;
        }

        // Main nav and its content
        .navbar-nav {

            a {
                color: $gray;

                &:hover,
                &:active {
                    color: White;
                    background: $brand-primary;
                    outline: none;
                }
            }
            li.active > a {
                color: White;
                background: $brand-secondary;
            }

            > li + li,
            > li > ul {
                border-top: 1px solid $gray-light;
            }

            > li > ul.nav {
                > li {
                    text-indent: 1em;
                    line-height: 1em;
                }
            }
        }
    }

    // Changing icon of menu togglers when opened
    transitionNavSetup() {
        transition-property: transform, opacity;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }
    
    .navbar-toggle,
    > .SmartNavBar > .SmartNavBar-edge {
        // To avoid the rotation from create a larger
        // box, overflow:hidden is required:
        overflow: hidden;
        text-overflow: clip !important;
    }

    .navbar-toggle {
        transitionNavSetup();
    
        > * {
            transitionNavSetup();
            opacity: 1;
    
            // display added for Chrome/Webkit, for some strange reason
            // inline does not hides the children with opacitiy:0 and no transition
            // and 'block' sets the alinment correctly.
            display: block;
    
            > .glyphicon,
            > .icon {
                // Fixing alingment on Chrome/Webkit
                display: block;
            }
        }
        transform: rotate(0deg);

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            font-family: "Glyphicons Halflings";
            line-height: $app-navbar-height;
            text-align: center;

            pointer-events: none;
            opacity: 0;
            // The whole button is being rotate so this
            // icon rotation is not required, BUT we
            // simulate better a plus icon becoming
            // a cross using this:
            transform: rotate(45deg);
            transitionNavSetup();
        }

        &[aria-expanded="true"] {

            > * {
                opacity: 0;
            }

            transform: rotate(180deg);

            &:before {
                opacity: 1;
                transform: rotate(0deg);
            }
        }
    }
}
