/**
    AppointmentCard Component.
    Visualization of a Calendar Appointment/Booking in a Card.
**/

@import 'Card.styl';

.AppointmentCard {

    .TilesList {
        padding: 0 6px;
        
        > li {
            padding-right: 8px;
        }
    }
    
    .AppointmentCard-actions {
        margin: 14px 30px;
        
        .btn {
            border-radius: 0;
            font-weight: bold;
        }
    }
}
