/**
    CompactLinkTile: single line tile of indented text
    and pointing icon on the right, minimum padding,
    just for simple link blocks.
**/
@import 'Tile.styl'

CompactLinkTile-addIcon($vgap) {
    
    $iconWidth = 16px;

    // Left space for the icon and small gap:
    padding-right: ($iconWidth + 4px);

    .Tile-icon {
        position: absolute;
        right: 0px;
        top: $vgap;
        bottom: $vgap;
        max-width: $iconWidth;
        overflow: hidden;
        height: line-height-computed;
    }
}

$CompactLinkTile-indentSize = 30px;

.CompactLinkTile {

    Tile()
    
    $vgap = 10px;

    padding-left: $CompactLinkTile-indentSize;

    .Tile-content {
        Tile-singleLine($vgap);
    }

    CompactLinkTile-addIcon($vgap);
}
