/**
    InfoTile: a two lines tile with an icon and text
    inside a link or not.
**/
@import 'Tile.styl'

.InfoTile {

    Tile()
    
    // Two lines
    $internalHeight = line-height-computed * 2;
    $gap = 18px;
    $heightLimit = $internalHeight + ($gap * 2);
    
    padding: $gap 0;
    
    // Style
    height: $heightLimit;
    overflow: hidden;
    
    .Tile-icon {
        float: left;
        width: 70px;
        text-align: center;
        &, > * {
            height: $internalHeight;
            line-height: $internalHeight;        
            font-size: 24px;
        }
    }

    .Tile-content {
        white-space: normal;
        word-wrap: break-word;
        margin: 0;
        height: $internalHeight;
        overflow: hidden;
        
        > p {
            display: table-cell;
            height: $internalHeight;
            vertical-align: middle;
        }
        
        > div {
            Tile-singleLine();
            font-weight: normal;
        }

        > em {
            Tile-singleLine();
            font-style: normal;
            color: $text-muted;
        }
    }
}
