/**
    InfoTile: a two lines tile with an icon and text
    inside a link or not.
**/
.InfoTile {

    // Two lines
    $internalHeight = line-height-computed * 2;
    $gap = 18px;    
    $heightLimit = $internalHeight + ($gap * 2);
    
    // The tile can be a link, so ensure
    // some details
    color: $body-copy-color;
    display: block;
    text-decoration: none !important;
    box-sizing: border-box;
    padding: $gap 0;
    
    // Style
    border-bottom: 1px solid $gray-lighter;
    height: $heightLimit;
    overflow: hidden;
    
    .InfoTile-icon {
        float: left;
        width: 70px;
        text-align: center;
        &, > * {
            height: $internalHeight;
            line-height: $internalHeight;        
            font-size: 24px;
        }
    }

    .InfoTile-content {
        white-space: normal;
        word-wrap: break-word;
        margin: 0;
        height: $internalHeight;
        overflow: hidden;
    }
}
