/**
    section-title text class
**/

$SectionTitle-height = 31px;
$SectionTitle-fontSize = 17px;
$SectionTitle-hGap = (($SectionTitle-height - $SectionTitle-fontSize) / 2);
$SectionTitle-vGap = 7px;

/*BSVAR*/
$gray-lighter = lighten(#000, 93.5%);
$gray = lighten(#000, 33.5%);

.SectionTitle {
    // Some content elements may need the positioning context:
    position: relative;

    font-size: $SectionTitle-fontSize;
    line-height: 1;
    padding: $SectionTitle-vGap $SectionTitle-hGap;
    margin: 0;
    text-align: center;
    font-weight: normal;
    background: $gray-background;
    border: none;
    color: $gray-dark;
}
/* Inside a container, remove the margin gap */
.container .SectionTitle,
.container-fluid .SectionTitle {
    margin: 0 (0 - $container-padding-right) 0 (0 - $container-padding-right);
}
