/**
    section-title text class
**/

/*BSVAR*/
$gray-lighter = lighten(#000, 93.5%);
$gray = lighten(#000, 33.5%);

/*Manually computed from some BSVARs*/
$aligned-to-action-buttons-right = 7px; /* padding-right plus border */

.SectionTitle {
    font-size: 17px;
    padding: 7px 14px;
    margin: 0;
    text-align: center;
    font-weight: normal;
    background: $gray-background;
    border: none;
    color: $gray-dark;
    
    // TOREVIEW: HelpPoint was deprecated on mobile, but under review for desktop
    .HelpPoint {
        right: $aligned-to-action-buttons-right;
    }
}
/* Inside a container, remove the margin gap */
.container .SectionTitle,
.container-fluid .SectionTitle {
    margin: 0 (0 - $container-padding-right) 0 (0 - $container-padding-right);
    
    // TOREVIEW: HelpPoint was deprecated on mobile, but under review for desktop
    .HelpPoint {
        right: $container-padding-right + $aligned-to-action-buttons-right;
    }
}
