/**
    SmartNavBar component.

    A navigation bar following
    the design lines of iOS-7 adapted for 
    Loconomics App Styleguide.

    Three areas: two buttons on both sides with optional labels
    and a centered title.

    Based on code from the project: https://github.com/c2prods/Project-Tyson
**/

@import 'nib';

$SmartNavBar-borderSize = 1px
$SmartNavBar-height = $app-navbar-height;
$SmartNavBar-lateralGap = $container-padding-left; //9px;
$SmartNavBar-headerFontSize = 17px;
$SmartNavBar-buttonFontSize = 15px;
$SmartNavBar-buttonHeaderFontSize = 15px;
$SmartNavBar-buttonMaxWidth = none; // 140px;
$SmartNavBar-bgColor = White; //rgba(248, 248, 248, 0.9);
$SmartNavBar-borderColor = $gray-lighter; //rgb(200, 199, 204);
$SmartNavBar-buttonColor = $brand-secondary; // rgb(21, 125, 251);
$SmartNavBar-headerColor = $gray; //Black;
$SmartNavBar-disabledButtonColor = $text-muted; //rgb(200, 199, 204);

.SmartNavBar {

    position: fixed;
    top: 0;
    height: $SmartNavBar-height;
    line-height: $SmartNavBar-height;
    width: 100%;
    padding-top: 0;
    background-color: $SmartNavBar-bgColor;
    
    /* Problematic, for now, before confirm any problemm, go with simple border
    // Creating the bottom-border with a gradient to avoid
    // problem with Retina screens doubling the 1px border.
    background-image: linear-gradient(0deg, $SmartNavBar-borderColor, $SmartNavBar-borderColor 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    */
    border-bottom: 1px solid $SmartNavBar-borderColor;
    
    z-index: 200;
    user-select: none;
    -webkit-touch-callout: none;

    /**
        Scheme: a bar contains 2 edges (SmartNavBar-edge, .left and -right)
        and a title (h1).
        At the edges there are buttons (.SmartNavBar-btn).
        An edge can contain only buttons or be the button itself at the same time.
        Buttons can contain other elements or just text, but ensure are in-line.
        A button can contain a title text inside a H1 element, used to replace
        the title on the middle of the bar for some uses (like arrows).
    **/

    commonEdgeBtn() {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin: 0;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        height: $SmartNavBar-height;
        line-height: $SmartNavBar-height;
        text-overflow: ellipsis !important; /* why so !important ? */
        white-space: nowrap;

        max-width: $SmartNavBar-buttonMaxWidth;
    }
    
    .SmartNavBar-edge {
        commonEdgeBtn();
        
        position: absolute;
        top: 0;
    
        &.left {
            left: 0;

            &.SmartNavBar-btn,
            .SmartNavBar-btn {
                // Padding on both sides, not just the left,
                // so the button is easier to press and there is
                // a gap with the header/title in case is too big
                padding: 0 $SmartNavBar-lateralGap;
            }
        }
    
        &.right {
            right: 0;
        
            &.SmartNavBar-btn,
            .SmartNavBar-btn {
                text-align: right;
                // Padding on both sides, not just the right,
                // so the button is easier to press and there is
                // a gap with the header/title in case is too big
                padding: 0 $SmartNavBar-lateralGap;
            }
        }
    }

    .SmartNavBar-btn {
        commonEdgeBtn();

        /* Fix for Chrome and Firefox OS on button element */
        background: transparent;

        &:focus {
            outline: 0;
        }
        
        color: $SmartNavBar-buttonColor;
        font-weight: 300;
        font-size: $SmartNavBar-buttonFontSize;

        &:active {
            opacity: 0.3;
        }

        &.bold {
            font-weight: 500;
        }

        &.disabled,
        [disabled] {
            color: $SmartNavBar-disabledButtonColor;
        }
        
        &:hover,
        &:active {
            text-decoration: none;
        }
        
        // the button can contain a title, used normally when
        // the button label content replace the centered title
        // so the style must show different on that cases
        h1 {
            color: $SmartNavBar-headerColor;
            font-size: $SmartNavBar-buttonHeaderFontSize;
            display: inline;
            // Headers here are expected to go along
            // an icon, so give some space to avoid collision
            margin: 0 .6em;
        }

    }
        
    h1 {
        color: $SmartNavBar-headerColor;
        display: block;
        padding: 0;
        font-size: $SmartNavBar-headerFontSize;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        overflow: hidden;
        box-flex: 1;
        margin: 0 65px;
        font-weight: 500;
        line-height: $SmartNavBar-height;
    }
    
    // Support for Bootstrap menu button
    .navbar-toggle .icon-bar {
        background-color: $SmartNavBar-buttonColor;
    }
}
