/**
    SplashScreen component,
    its the first viewed element on the page before
    this is loaded and ready to be used.
**/
.SplashScreen {
    position: fixed;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    text-align: center;
}