/**
    TilesList: class to hold a list of tiles of any kind
    replacing default list styles, adding separators.
    
    To be use in any element, but more semantic on ul/ol elements.
    NOTE: any inmediate child element is styled, no need for a .Tile class name
    on each
**/
.TilesList {
    padding: 0;
    list-style: none;
    margin: 0;
    
    > * {
        border-bottom: 1px solid $gray-lighter;
    }
}
