/**
    TilesList: class to hold a list of tiles of any kind
    replacing default list styles, adding separators.
    
    To be use in any element, but more semantic on ul/ol elements.
    NOTE: any inmediate child element is styled, no need for a .Tile class name
    on each
**/
.TilesList {
    padding: 0;
    list-style: none;
    margin: 0;
    
    > * {
        border-bottom: 1px solid $gray-background;
    }
    
    // openEnd modifier: remove border from last element
    // so the ending is left open; useful when the last
    // list in a page or next element has already a line or backgroud
    &.TilesList--openEnd {
        > *:last-child {
            border-bottom: none;
        }
    }
}
