/**
    Tile base class and mixim.
    
    'Tile-' works as namespace for generic children elements used in
    based tile classes; names in use: Tile-title, Tile-content, Tile-icon,
    Tile-subtitle.
    
    Modifiers using 'Tile-' as prefix, rather than subtiles names:
    Tile--tag-** (one per each $brand-colors)
**/

Tile() {
    // The tile can be a link, a button
    // or any other element, so ensure
    // some details and resets
    color: $body-copy-color;
    display: block;
    text-decoration: none !important;
    box-sizing: border-box;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    position: relative;
    
    &:active,
    &:hover {
        &, * {
            color: link-hover-color !important;
        }
    }
}

Tile-singleLine($gap = 0) {
    display: block;
    box-sizing: content-box;
    height: line-height-computed;
    padding-top: $gap;
    padding-bottom: $gap;
    
    // Cut if out of single line
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// Add style for a Tile-content child with multiline and single-line
// sub-childs with common styles and the given number of lines as height limit.
Tile-addContent($linesNumber) {
    
    $internalHeight = line-height-computed * $linesNumber;
    
    .Tile-content {
        white-space: normal;
        word-wrap: break-word;
        margin: 0;
        height: $internalHeight;
        overflow: hidden;
        
        > p {
            display: table-cell;
            height: $internalHeight;
            vertical-align: middle;
        }
        
        > div {
            Tile-singleLine();
            font-weight: normal;
        }

        > em {
            Tile-singleLine();
            font-style: normal;
            color: $text-muted;
        }
    }
}

/** Sample for future addition of aditional styling for tags.
    Right now is not useful because the same can be done 
    directly using Bootstrap text-color classes on desired text
Tile-addTagSupport() {
    for $color in $brand-colors {
        &.Tile--tag-{$color} {
            strong {
                color: $brand-colors[$color];
            }
        }
    }
}
**/
