@{
    LcHelpers.ProviderPage();
}
<p>
    LJDI: Some explanations about 'become a member'
</p>
<fieldset class="DashboardBecomeMember">
    <ul>
        <li>
            @RenderPage("$MembershipPayment.cshtml", new { FirstPayment = true })
        </li>
    </ul>
</fieldset>
