@*
    Membership Payment page, can be re-used as part ot
    the BecomeMember page to process first payment
*@
@{
    var firstPayment = PageData["FirstPayment"] ?? false;

    if (firstPayment) {
        LcHelpers.ProviderPage();
    }
    else {
        LcHelpers.MemberPage();
    }
    
    var u = LcData.UserInfo.GetUserRow();
}
<fieldset class="DashboardMembershipPayment ajax" data-source-url="@(LcUrl.LangPath)Dashboard/Membership/MembershipPayment/">
    <ul>
        <li>
            <label><input type="checkbox" name="agree" /> LJDI: I agree with <a href="#LinkToSomePlaceWithTerms" target="_blank">the membership terms</a>.</label>
        </li>
        <li>
            <label>Name <input type="text" name="fullname" value="@(u.FullName)" /></label>
            <div>TO-DO: To complete form and Braintree payment</div>
        </li>
    </ul>
</fieldset>
