@*
    Controller to route through a booking view, its reviews, review form or
    actions.
*@
@{
    var pars = (IList<string>)PageData["UrlData"] ?? UrlData;
    var bID = pars[0];
    string action = pars[1];
    var asUserId = Request["AsUserID"] ?? pars[2];
    
    string msg = null;
}
@switch (action) {
    default:
    case "":
        @RenderPage(LcUrl.RenderLangPath + "Booking/$BookingDetailsWidget.cshtml", new { 
            BookingID = bID,
            ExtraTitleClass = "DashboardSection-page-header", 
            UseLinkActions = true 
        })
        break;
    
    case "review":
        @RenderPage(LcUrl.RenderLangPath + "Booking/$BookingReview.cshtml", new { 
            BookingID = bID,
            ExtraTitleClass = "DashboardSection-page-header", 
            UseLinkActions = true,
            AsUserID = asUserId
        })
        break;
        
    case "cancel":
        try
        {
            LcHelpers.RenderPageReturns = null;
            @RenderPage(LcUrl.RenderLangPath + "Booking/$CancelBooking.cshtml", new
            {
                BookingRID = bID,
                RedirectUrl = LcUrl.LangPath + "NewDashboard/Messages/Booking/{0}/",
                UseRenderReturns = true
            })
            msg = LcHelpers.RenderPageReturns;
        }
        catch (Exception ex)
        {
            msg = ex.Message;
        }
        break;
}
@if (!String.IsNullOrEmpty(msg))
{
    <h1 class="DashboardSection-page-header">Booking</h1>
    <p>
        @msg
    </p>
}