/**
    About activity styles.
**/
[data-activity=about]
    
    
    
    // Ensure contents don't create horizontal scroll
    .container
        background $gray-background
        overflow: hidden;
        // Multiline for large words, like links. Seems only needed for Webkit;
        // with and without it, Firefox do it similar and slightly better by default
        word-wrap: break-word;
        // Legal text better justified
        text-align: justify;
        padding: 40px;
        
        .nav 
        &.navbar-nav
            margin-top: 30px;
            text-align: right;
        #team,
        #board
            position relative
        
        .team-cards
          width 100%
          text-align center
          padding-left 0
          position relative
          display flex
          flex-wrap wrap
          justify-content center
                    
          .team-member
            list-style none
            box-shadow 0 1.5px 0 0 rgba(0,0,0,0.1)
            background-color white;
            width 90%
            height auto
            margin 10px
            height auto

            @media $mediaMinSm {
              width 280px;
            }
            
            p
              opacity 0.5
              padding 0 25px
              
            .title
              font-style italic
              display inline-block
              padding-bottom 25px
              border-bottom 3px solid rgba(100,100,100,0.5)
              margin-bottom: 25px
                 
            .member-image
              width 200px
              border-radius: 50%;
              height 200px
              margin-top 30px
              background no-repeat center / cover;
              display inline-block
              padding 0px
              
            .joshua
              background-image url(/assets/images/team-members/josh.jpg)
            .iago
              background-image url(/assets/images/team-members/iago.jpg)
            .janelle
              background-image url(/assets/images/team-members/janelle.jpg)
            .amy
              background-image url(/assets/images/team-members/amy.jpg)
            .christopher
              background-image url(/assets/images/team-members/christopher.jpg)
            .yavette
              background-image url(/assets/images/team-members/yavette.jpg)
            
            .default
              background-image url(/assets/images/team-members/default.png)
            
