/**
    About activity styles.
**/
[data-activity=about]
    
    background White
    
    // Ensure contents don't create horizontal scroll
    .container
        overflow: hidden;
        // Multiline for large words, like links. Seems only needed for Webkit;
        // with and without it, Firefox do it similar and slightly better by default
        word-wrap: break-word;
        // Legal text better justified
        text-align: justify;
      
      
      .span2
        float left
        width 25%
        padding-left 5%
        
        ul
          padding-top 20px
        
          li
            list-style none
            margin-bottom: 8px
            
            a
              font-size 16px
        
      .span10
        float right
        width 70%

        .team-cards
          width 100%
          text-align center
          padding-left 0
                    
          .team-member
            list-style none
            display inline-block
            border 1px solid rgba(240,240,240,1)
            background-color rgba(246,246,246,1)
            width 320px
            height auto
            margin 10px
            height 850px
            padding 0 25px
            float left
            
            p
              opacity 0.5
              
            .title
              font-style italic
              display inline-block
              padding-bottom 25px
              border-bottom 3px solid rgba(100,100,100,0.5)
              margin-bottom: 25px
                 
            .member-image
              width 100%
              height 300px
              background-size cover
              display inline-block
          
            .joshua-danielson
              background-image url(/assets/images/team-members/joshua.danielson.jpg)
            
            .default
              background-image url(/assets/images/team-members/default.png)
            
    /// TODO Needs refactor, into it's own, shared, file, from here and the original profile.styl
    // navmenu.styl (.rmm) -> .profile-menu
    .profile-menu
        display block
        position relative
        width 100%
        padding 0px
        margin 0px auto 25px !important
        text-align center
        line-height 19px !important
        background-color $brand-primary
        a
            color #FFF
            text-decoration none
        ul
            display block
            width 100% !important
            margin 0 auto !important
            padding: 0
            list-style none
            
            li
                display inline
                margin 0px !important

                a
                  color #FFF
                  display inline-block
                  padding 17px 15px
                  margin 0px -3px 0px -3px
                  font-size 15px

                  &:hover
                    border-bottom 4px solid
                    padding-bottom 13px !important
              
                &.active
                    a
                        border-bottom 4px solid
                        padding-bottom 13px !important
