/**
    addJobTitles activity styles
**/
[data-activity=addJobTitles] {
    .TagsListAutocomplete {
        // Set it starting at the textbox, so after the addon/icon width
        margin-left: 2.5714em;

        .btn {
            color: $body-copy-color !important;
            text-align: left !important;
            
            &:hover {
                text-decoration: none;
            }
        }
    }
}