/** Appointment activity styles */

@import '../components/AppointmentCard.styl'

[data-activity=appointment] {
    
    #appointment-toolbar {
        // Needs positioning to avoid an overlay problem with the Cards below
        position: relative;
        z-index: 9999;
        
        // Equal size for buttons, keeping alignment even when switch to edit mode
        .btn {
            height: 2.4286rem;
            line-height: 1.4286rem;
        }
    }
    
    #appointment-titleBar {
        @media $mediaMaxSm {
            margin-top: 1.0714em;
        }
    }

    &.in-edit {
        
        .CardsDeck-dots,
        .CalendarDateHeader-switch {
            visibility: hidden;
        }
        
        .ActivityTitle-action {
            pointer-events: none;
            visibility: hidden;
        }
    }
}
