/** Appointment activity styles */

@import '../components/AppointmentCard.styl'

[data-activity=appointment] {
    
    #appointment-toolbar {
        // Needs positioning to avoid an overlay problem with the Cards below
        position: relative;
        z-index: 9999;
    }
    
    #appointment-titleBar {
        @media $mediaMaxSm {
            margin-top: 15px;
        }
    }

    &.in-edit {
        
        .CardsDeck-dots,
        .CalendarDateHeader-switch {
            visibility: hidden;
        }
        
        .ActivityTitle-action {
            pointer-events: none;
            visibility: hidden;
        }
    }
}
