/** Booking activity styles **/
[data-activity=booking] {
    .SectionTitle {
        text-transform: none;
        text-align: center;
    }
    
    .booking-step {
        transition: opacity 200ms;
        &.is-loading {
            opacity: 0;
        }
    }
}