/**
    Calendar activity styles
**/
// @require 'ActivityTitle.styl';

[data-activity=calendar] {
    
    .CalendarSettings {
        color: $brand-secondary;
        text-transform: capitalize;
        padding: $SectionTitle-topGap $container-padding-right $SectionTitle-bottomGap $container-padding-left;
        .ion {
            margin-right: 5px;
        }

        @media $mediaMinMd {
            font-size: 18px;
            line-height: 28.6px;
            margin-top: 22px;
            margin-right: 15px;
            padding: 0;
        }
             
    }
    
    #calendarDailyView {
        padding-top: $SectionTitle-height;
        min-height: 100%;
        
        @media $mediaMinMd {
          padding-top: 0;
        }
    }
    
    .CalendarDateHeader {
        button {
            &:hover,
            &:focus {
                outline: none;
            }
        }
        .btn-link {
            text-align: left;
        }
        @media $mediaMinMd {
            position: relative;
            text-align: center;

            button {
                margin-top: 15px;
                font-size: 28px;
                text-transform: none;
            }
            .btn-link {
                text-align: center;
            }
        }
    }
    #calendarDatePicker {
        /* positioning */
        // absolute vs fixed because the iOS problem with scrolling
        position: absolute;
        left: 10px;
        right: 10px;
        z-index: 100;
        top: $SectionTitle-height;
        // Set limits to avoid innusable full-width sizes:
        min-width: 250px;
        max-width: 500px;
        // And keep centered with when greater to max width
        margin: 0 auto;

        /* pop-up decoration */
        background: white;
        box-shadow: 0 0 6px -1px #000;
        border-radius: 4px;
        
        @media $mediaMinMd {
          top: 75px;
        }

        /* repositioning the pop-arrow */
        .DatePicker:after {
            left: 50%;
        }
        .DatePicker:before {
            left: 50%;
            margin-left: -1px;
        }

        /** smooth transition and visible state **/
        opacity: 0;
        transform: translateY(-15px);
        transition: 500ms all;
        pointer-events: none;

        &.is-visible {
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
        }
    }
}
