/**
    Calendar activity styles
**/
// @require 'ActivityTitle.styl';

[data-activity=calendar] {
    h1 {
        display: inline-block;
    }
    .CalendarContainer {
        position: relative; /* for absolute positioning of date picker */
    }

    .RelatedLink {
        padding: 1em $container-padding-right 1em $container-padding-left;

        .ion {
            margin-right: 5px;
        }

        @media $mediaMinMd {
            font-size: 18px;
            padding-right: 0;
            padding-left: 0;
        }
    }

    .CalendarSettings {
        color: $brand-secondary;
        padding-top: $SectionTitle-topGap;
        padding-bottom: $SectionTitle-bottomGap;
        text-transform: capitalize;

        @media $mediaMinMd {
            text-transform: none;
            line-height: 28.6px;
            margin-top: 22px;
            margin-right: 15px;
            padding: 0;
        }
    }

    #calendarDailyView {
        min-height: 100%;

        @media $mediaMinMd {
          padding-top: 0;
        }
    }

    .CalendarDateHeader {
        .btn-link {
            text-align: left;
        }
        @media $mediaMinMd {

            text-align: center;

            button {
                margin-top: 15px;
                font-size: 28px;
                text-transform: none;
            }
            .btn-link {
                text-align: center;
            }
        }
    }
    #calendarDatePicker {
        /* positioning */
        position: absolute;
        // No horizontal gap, so we get the whole width at narrower screens
        // and meet better with accessibility for clickable area under touch
        // screens for each day button (at minimum display 320x480px, buttons
        // are 45.7x48px, and guidelines are min. of 44px Apple, 48px Android,
        // the width cannot be increased more but it meets minimum).
        left: 0;
        right: 0;
        z-index: 100;
        // We do not set the 'top' so we let it be in it's natural place in the
        // document, everything fine while, in markup, the picker is placed just
        // after the buttont that triggers opening. That way no need to update
        // it for any change in layout like headers or nav before and screens
        // top: ..
        // Set limits to avoid innusable full-width sizes:
        min-width: 250px;
        max-width: 500px;
        // And keep centered with when greater to max width
        margin: 0 auto 0 0;

        /* pop-up decoration */
        background: white;
        box-shadow: 0 0 6px -1px #000;
        border-radius: 4px;

        @media $mediaMinMd {
          margin-left: auto;
        }

        /* repositioning the pop-arrow */
        .DatePicker:after {
            left: 5%;

            @media $mediaMinMd {
                left: 50%;
            }
        }

        .DatePicker:before {
            left: 5%;

            margin-left: -1px;

            @media $mediaMinMd {
                left: 50%;
            }
        }

        /** smooth transition and visible state **/
        opacity: 0;
        transform: translateY(-15px);
        transition: 500ms all;
        pointer-events: none;

        &.is-visible {
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
        }
    }
}
