/**
    Clients activity styles
**/
@import '../components/SectionTitle.styl';

[data-activity=clients] {
    
    $indexWidth = 1.7857rem;
    $fullIndexWidth = 2.2857rem;
    $indexTop = 100px;
    
    #clientsActivityTitle {
        position: absolute;
        left: 0em;
        right: 0em;
        z-index: 100;
        margin: 0 !important;
    }

    #clientsIndex {
        overflow: hidden;
        width: $fullIndexWidth;
        //@iagosrl this needs a calculated "height" for responsive...it gets hidden now
        min-height: 600px;
        
        // Fixed has the problems of iOS with scrolling, and too the lack of scroll for itself
        // Scroll context must be carefully placed in a sibling elements that acts as container for
        // all the other parts of the Activity.
        position: absolute;
        right: 0em;
        top: $indexTop;
        // reset container-fluid pad
        padding-left: 0;
        padding-right: 0;
        z-index: 20;
        overflow: auto;
        bottom: 0;
        box-sizing: border-box;
        color: $gray-light;
        
        > .nav {
            border-bottom: none;
            
            a {
                text-align: center;
                font-weight: bold;
                padding: 0.2143em 0.4286em 0.2143em 1.0714em;
                width: 100%;
                border: none;
                border-radius: 0;
                &:hover,
                &:focus {
                    background-color: transparent;
                    color: $brand-secondary;
                }
            }
        }
        @media $mediaMinSm {
            top: 106px;
            right: 0;
        }
        @media $mediaMinMd {
            position: relative;
            right: -270px;
        }  
        @media $mediaMinLg {
            right: -325px;
        }
    }
    
    #clientsContent {
        // Using absolute positioning rather than (height:100%)
        // because the need to left space (sometimes) for the SectionTitle on top
        overflow: auto;
        position: absolute;
        // reseting container* gaps
        padding-left: 0;
        padding-right: 0;
        // reseting container* gaps
        top: 2.7143rem;
        // IMPORTANT: If needed, use padding for left positioning to allow negative margin on the list
        left: 0;
        right: $fullIndexWidth;
        bottom: 0;

        @media $mediaMinMd {
            top: 44px;
        }
        
        
        #clientsContentMeta {
            padding-left: $container-padding-left;
            
            @media $mediaMinMd {
                // reseting container* gap at big size
                padding-left: 0;
            }
        }

        #clientsListView {
            
            .SimpleList-item {
                background-color: white;
                
                a {
                    &:hover,
                    &:focus {
                        color: $brand-secondary;
                    }
                }
            }
            
            .SimpleList-divider {
                text-transform: uppercase;
            }
        }
    }
    
    &.is-searching {
        #clientsAddNewButton {
            display: none;
        }
        
        .SimpleList-divider {
            display: none;
        }
    }
}
