/** ClientAppointment activity styles */

[data-activity=clientAppointment] {
    
    // Same toolbar, titleBar styles like at appointment.styl

    #clientAppointment-toolbar {
        // Needs positioning to avoid an overlay problem with the Cards below
        position: relative;
        z-index: 9999;
        
        // Equal size for buttons, keeping alignment even when switch to edit mode
        .btn {
            height: 2.4286rem;
            line-height: 1.4286rem;
        }
    }
    
    #clientAppointment-titleBar {
        @media $mediaMaxSm {
            margin-top: 1.0714em;
        }
    }

    &.in-edit {
        .CardsDeck-dots {
            visibility: hidden;
        }
    }
}
