/**
    Clients activity styles
**/
@import '../components/SectionTitle.styl';

[data-activity=clients] {
    
    $indexWidth = 25px;
    $fullIndexWidth = 32px;
    $indexTop = 96px;
    
    .container-fluid {
        padding-left: 0;
    }
    .SectionTitle {
        position: absolute;
        left: 0px;
        right: 0px;
        z-index: 100;
        margin: 0 !important;
    }

    #clientsIndex {
        overflow: hidden;
        width: $fullIndexWidth;
        //@iagosrl this needs a calculated "height" for responsive...it gets hidden now
        min-height: 600px;
        
        // Fixed has the problems of iOS with scrolling, and too the lack of scroll for itself
        // Scroll context must be carefully placed in a sibling elements that acts as container for
        // all the other parts of the Activity.
        position: absolute;
        right: 0px;
        top: $indexTop;
        z-index: 20;
        overflow: auto;
        bottom: 0;
        box-sizing: border-box;
        color: $gray-light;
        
        > .nav {
            border-bottom: none;
            
            a {
                text-align: center;
                font-weight: bold;
                padding: 3px 6px 3px 15px;
                border: none;
                border-radius: 0; 
                &:hover,
                &:focus {
                    background-color: transparent;
                    color: $brand-secondary;
                }
            }
        }
        @media $mediaMinSm {
          position: relative;
          top: 110px;
          right: -350px;
        }  
        @media $mediaMinMd {
          right: -270px;
        }  
        @media $mediaMinLg {
          right: -325px;
        }
    }
    
    #clientsContent {
        // Using absolute positioning rather than (height:100%)
        // because the need to left space (sometimes) for the SectionTitle on top
        overflow: auto;
        position: absolute;
        top: 38px;
        // Using padding for left positioning to allow negative margin on the list
        left: 0;
        padding-left: $container-padding-left;
        right: $fullIndexWidth;
        bottom: 0;
        @media $mediaMinSm {
          top: 44px;
        }  

        #clientsListView {
            // List must start on the edge, per design
            margin-left: (0 - $container-padding-left);
            
            .SimpleList-item {
                background-color: white;
                
                a {
                  &:hover,
                  &:focus {
                    color: $brand-secondary;
                  }
                }
            }
            
            .SimpleList-divider {
                text-transform: uppercase;
            }
        }
    }
    
    &.is-searching {
        #clientsAddNewButton {
            display: none;
        }
        
        .SimpleList-divider {
            display: none;
        }
    }
}
