[data-activity=dashbard] {
    #dashboardNextBooking {
        // Minimum height just to reduce the flickering effect
        // between the loading phase and filling in data:
        min-height: 196px;
        // Overflow needed so internal margins don't collapse because of min-height
        overflow: hidden;
    }
}
