/**
    Licenses Certifications Form page styles
**/

[data-activity=licensesCertificationsForm] {
    #licensesCertificationsForm-preview {
        text-align: center;
        > div,
        canvas,
        > img {
            max-width: 442px;
            width: 100%;
            margin: auto;
        }                
    }
}
