/**
    Profile activity styles.
    
    TODO Refactor more of that, from Juvo code
**/
[data-activity=profile]

    body, textarea 
      background-color #FFF
      font-family 'Open Sans', sans-serif
      font-size 13.3px
      font-weight 400
      color #3d3d3d


    // Variables
    // --------------------------------------------------
    $loco-primary =		#00989A
    $loco-secondary =	#ff6765
    $loco-info =		#777777
    $loco-infolight =	#888888
    $loco-warning =		#f0ad4e
    $loco-common =		#FFFFFF




    // --------------------------------------

    //== borders

    $border-grey =			#dfdfdf
    $border-default =		1px solid

    // --------------------------------------

    //== padding
    $padding-none =	0px
    $margin-none = 0em
    $margin10 = 0.7143em
    $margin5 = 0.3571em


    //== Colors
    .loco-primary
        color $loco-primary
    .loco-common
        color $loco-common
    .loco-info
        color $loco-info
    .loco-secondary
       color $loco-secondary
    .loco-warning
       color $loco-warning
    .loco-infolight
       color $loco-infolight

    //== display
    $display-block = block
    $display-inline-block = inline-block

    //== positions
    $position-absolute = absolute
    $position-relative = relative
    $position-fixed = fixed


    //== floats
    $pull-right= right
    $pull-left= left
    
    img
        height auto
        width 100%
        
    app-address-map
        display block
        
        > div
            height 200px
            width 100%
        
    .profile
        margin-top 2.8571em

    //panels
    .panel
        padding $margin10
        border $border-default $border-grey

    .panel-content section
        background-color $loco-common
        padding 0.1px $margin10 
        margin 0 0em $margin10 0
        position $position-relative
        border-bottom $border-default #e8eaeb
    .panel-content article
        border-top $border-default $loco-secondary
        padding $margin10 
        margin $margin5 -10px

    //== common class

    .page-wrapper
      background-color #ecf0f1
      padding-bottom 2.8571em

    .form-wrapper
      background-color $loco-common
      font-size 1.1429rem
      border-bottom $border-default #e8eaeb


    .media-middle	
      vertical-align middle !important

    .profilename 
      display $display-inline-block
      height 1.4286em
      overflow hidden  
      vertical-align sub
      width 64px

    .display-inline-block
        display $display-inline-block

    .display-block
        display $display-block

    .pointer	
        cursor pointer

    .pad5l 
        padding-left $margin5

    .pad5t 
        padding-top $margin5

    .pad5r 
        padding-right $margin5

    .pad10t 
        padding-top $margin10 !important

    .pad5b 
        padding-bottom $margin5

    .pad10b 
        padding-bottom $margin10

    .pad20b 
        padding-bottom 1.4286em !important

    .pad20t 
        padding-top 1.4286em !important	

    .bold 
        font-weight bold

    .margin-none
        margin $margin-none !important

    .margin5t 
        margin-top $margin5

    .margin10t 
        margin-top $margin10

    .margin0t
        margin-top $margin-none

    .margin5r 
        margin-right $margin5

    .margin0b 
        margin-bottom $margin-none !important

    .margin20b 
        margin-bottom 1.4286em !important

    .border-right-blue
      border-right 0.1429rem solid $loco-primary

    .border-right-red
      border-right 0.1429rem solid $loco-secondary

    .border-right-grey
      border-right 0.1429rem solid $loco-info

    .border-right-yellow
      border-right 0.1429rem solid $loco-warning

    .border-bottom
      border-bottom $border-default $loco-primary

    .border-top
      border-top $border-default $loco-primary

    .table-border-bottom
      border-bottom $border-default $loco-infolight

    .border-none
      border 0em !important

    .pos-relative
      position $position-relative
    .center-block
        float none

    .sm-icons
        font-size 2.0000rem
        
        .h4
            font-size: 1.1429rem !important;

        & :hover
            color $loco-infolight
            text-decoration none

    .profile-share-icons
        > a
            display inline-block
            
    .user-in-card
        
        margin-bottom 1.0714em
        
        h3
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
            
        h5
            // two lines only
            height 2.2857rem
            overflow hidden

    .editpen
      border $border-default $loco-primary
      border-radius: 50%;
      display $display-block
      height 1.5714rem
      padding 0 $margin5
      width 1.5714rem

    .about
      display none
      
    .user-review
        top: 0.5714rem;
        position: relative;
  
    .profile-book-btn
        @media $mediaMinSm
            margin-top 0.7143em
      
    ///
    // Customized.styl
    label
      display inline-block
      cursor pointer
      position relative
      margin-right 1.0714em
      font-size 0.9286rem
      &:before
        content ""
        display inline-block
        width 1.3571rem
        height 1.3571rem
        position absolute
        left 0
        bottom 0.0714rem
        background-color #FFF
        border 0.1429rem solid #4c4c4c


    .wrapper
      width 500px
      margin 50px auto

    input[type=radio],
    input[type=checkbox]
      display none

    .radio
      label
        &:before
          border-radius 0.5714rem

    .checkbox
      label
        margin-bottom 0em
        &:before
          border-radius 0.1429rem

    input[type=radio]:checked
      & + label
        &:before
          content "\2022"
          color #00989a
          font-size 2.1429rem
          text-align center
          line-height 1.2857rem
          border 0.1429rem solid #00989a

    input[type=checkbox]:checked
      & + label
        &:before
          content "\2713"
          font-size 1.5714rem
          color #00989a
          text-align center
          font-weight bold
          line-height 0.5714rem
          border 0.1429rem solid #00989a
          
    .profile-otherJobTitles
        > a
            color: $brand-primary;
            font-size 1.0000rem !important
            display inline-block
            padding 0.1429em 0.3571em
            &:after
                content: ', '
            &:last-child:after
                content: ''

    ///
    // media-queries.styl
    @media (min-width: 1920px) and (max-width: 2560px)
        .pad5r
            padding-right: 1.0714em;

        .pad5l
            padding-left: 1.0714em;

      @media (min-width: 2560px) and (max-width: 2880px)
        .pad5r
            padding-right: 1.0714em;

        .pad5l
            padding-left: 1.0714em;

      @media (min-width: 1024px) and (max-width: 1920px)
        .searchbar
            min-width: 400px;

        .pad5r
            padding-right: 1.0714em;

        .pad5l
            padding-left: 1.0714em;

     @media (min-width: 768px) and (max-width: 1023px)
        .nav > li > a
            padding 1.0714em 0.5000em

        .searchbar
            min-width 190px
            input
                width 85%

        .sm-icons
            font-size 1.5714rem

     @media (max-width: 767px)
        .form-wrapper
            display none

        .panel-content
            width 100%
            float none

        .sm-icons
            display none

        .profile
            text-align center

        .profile h2
            font-size 1.1429rem
            font-weight 600
            margin-top: 1.7857em;
            margin-bottom: 0.3571em;

        .profile h4
            font-size 1.0000rem !important
            font-weight 400

        .profile .star
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

        .profile .loco-info
            display none

        .about,
        .about .sm-icons
            margin-top: 0.7143em;
            display: block;

