/**
    Services listing styles
**/
[data-activity=serviceProfessionalService]
    .Prompt
        font-size: $font-size-base * 1.4
        padding-left: $container-padding-left

        @media $mediaMinSm
            font-size: $font-size-base * 1.8 /* 25.2 with 1.0000rem base */
            padding-left: 0

    .ServiceListGroup
        .ServiceListGroup-title
            font-size: $font-size-base * 1.2
            padding-left: $container-padding-left

            @media $mediaMinSm
                font-size: $font-size-base * 1.5 /* 21 with 1.0000rem base*/
                padding-left: 0
