/**
    About activity styles.
**/
[data-activity=servicesOverview] {
    // Make the container a positioning context so suggestions are placed correctly
    // at every size
    form.container-fluid {
        position: relative;
    }
    // And needs to compensate the padding added at the container
    .SearchResultsPreview {
        margin: 0 15px;
    }
}
