/**
    About activity styles.
**/
[data-activity=servicesOverview] {
    // Need to compensate the padding added at the container-fluid on the positioning context element
    // for the autocomplete popups
    .SearchResultsPreview {
        margin: 0 30px;
    }
}
