[data-activity=signup] {
.fa {
    font-size: 29px !important;
    padding-left: 15px;
    margin-top: -9px;
}
.icon-right {
    padding-left: 0px;
    padding-right: 15px;
    margin-top: -35px;
}
.form-control {
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    color: $gray;
    border: 1px solid $gray-light;
    }
}
