/**
    SplashIndex
**/
[data-activity=splashIndex] {
    a:not(.btn) {
        color: White;
        text-decoration: underline;
    }
    
    .splashIndex-top {
        background: $brand-primary;
    }
    
    .LeadContent {
        
        h1,
        p,
        .btn {
            color: White;
        }
    }
    
    .btn {
        font-size: 16px;
        border-radius: 2px;
        border-bottom-color: $brand-danger;
    }
}