/**
    SplashIndex
**/
[data-activity=splashIndex] {
    a:not(.btn) {
        color: White;
        text-decoration: underline;
    }
    
    .LeadContent {
        h1 {
            color: White;
        }
    }
}