/**
    Terms activity styles.
**/
[data-activity=terms]
    
    background White
    
    // Ensure contents don't create horizontal scroll
    .container
        overflow: hidden;
        // Multiline for large words, like links. Seems only needed for Webkit;
        // with and without it, Firefox do it similar and slightly better by default
        word-wrap: break-word;
        // Legal text better justified
        text-align: justify;
        

    .PageMenu
        margin 0em auto 1.7857em !important
    section {
        ul {
            list-style-type: none;
            li {
                margin-bottom: 1em;
                ul {
                    list-style-type: disc;
                    li {
                        margin-bottom: .5em;
                    }
                }
            }
        }
    }