/**
    Terms activity styles.
**/
[data-activity=terms]
    
    background White
    
    // Ensure contents don't create horizontal scroll
    .container
        overflow: hidden;
        // Multiline for large words, like links. Seems only needed for Webkit;
        // with and without it, Firefox do it similar and slightly better by default
        word-wrap: break-word;
        // Legal text better justified
        text-align: justify;
        
    /// TODO Needs refactor, into it's own, shared, file, from here and the original profile.styl
    // navmenu.styl (.rmm) -> .profile-menu
    .profile-menu
        display block
        position relative
        width 100%
        padding 0px
        margin 0px auto 25px !important
        text-align center
        line-height 19px !important
        background-color $brand-primary
        a
            color #FFF
            text-decoration none
        ul
            display block
            width 100% !important
            margin 0 auto !important
            padding: 0
            list-style none
            
            li
                display inline
                margin 0px !important

                a
                  color #FFF
                  display inline-block
                  padding 17px 15px
                  margin 0px -3px 0px -3px
                  font-size 15px

                  &:hover
                    border-bottom 4px solid
                    padding-bottom 13px !important
              
                &.active
                    a
                        border-bottom 4px solid
                        padding-bottom 13px !important
