/**
    welcome
**/
[data-activity=welcome] {
    .LeadContent {
        margin: 0em auto 2.1429em auto;
        background: white;
        padding: 2.2857em;
        color: $gray;
        h2 {
            margin-top: 0em;
            margin-bottom: 1.0714em;
        }
        @media $mediaMinSm {
          max-width: 450px;
          margin: 2.1429em auto;
          border: 0.0714rem solid #ccc;
        } 
    }
    .btn {
        padding: 1.5714em 0.7143em;
        font-size: 1.1429rem;
        font-weight: normal;
    }
    a:not(.btn) {
        color: White;
        text-decoration: none;
    }
    
    .splashIndex-top {
        background: $brand-primary;
    }
    

}