/**
    welcome
**/
[data-activity=welcome] {
    .LeadContent {
        margin: 0px auto 30px auto;
        background: white;
        padding: 32px;
        color: $gray;
        h2 {
            margin-top: 0px;
            margin-bottom: 15px;
        }
        @media $mediaMinSm {
          max-width: 450px;
          margin: 30px auto;
          border: 1px solid #ccc;
        } 
    }
    .btn {
        padding: 22px 10px;
        font-size: 16px;
        font-weight: normal;
    }
    a:not(.btn) {
        color: White;
        text-decoration: underline;
    }
    
    .splashIndex-top {
        background: $brand-primary;
    }
    

}