@{
    LcHelpers.SecurePage();
    
    var okMsg = "LJDI: Confirmation email sent. Please look at your Inbox and check your Spam folder too, be aware that can take some minutes on some cases.";

    if (IsPost) {
        using(var db = Database.Open("sqlloco")) {
            var conf = db.QuerySingle(@"
                SELECT  M.ConfirmationToken,
                        U.IsProvider
                FROM    webpages_Membership As M
                         INNER JOIN
                        users As U
                          ON M.UserID = U.UserID
                WHERE
                        M.UserID = @0
            ", WebSecurity.CurrentUserId);
            if (conf != null) {
                var reg = new LcAuth.RegisteredUser {
                    UserID = WebSecurity.CurrentUserId,
                    Email = WebSecurity.CurrentUserName,
                    ConfirmationToken = conf.ConfirmationToken,
                    IsProvider = conf.IsProvider
                };
                LcAuth.SendRegisterUserEmail(reg);
                
                if (Request.IsAjaxRequest()){
                    LcHelpers.ReturnJsonResult(0, 
                        okMsg);
                }
            } else {
                ModelState.AddFormError("LJDI: There was not possible to send you your confirmation email. Please contact support@loconomics.com");
            }
        }
    }
    
    var needVerification = false;
    
    using (var db = Database.Open("sqlloco")) {
        needVerification = N.D(db.QueryValue(@"SELECT ConfirmationToken FROM webpages_Membership WHERE UserId=@0", WebSecurity.CurrentUserId)) != null;
    }
}
@if (needVerification)
{
    <form action="@(LcUrl.LangPath)Account/$ResendConfirmationEmail/" method="post" class="ajax ajax-box">
        @Html.ValidationSummary("")
        @if (IsPost && ModelState.IsValid)
        {
            <div>@okMsg</div>
        }
        <button type="submit" class="action">LJDI: Verify my e-mail</button>
    </form>
}