@{
    // Set the layout page and page title
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    Page.Title = "Forgot Your Password?";
    PageData["ShowWelcomePopup"] = false;
}

<div id="container" class="clearfix">
    @RenderPage("$ForgotPassword.cshtml")
</div>