@{
    // Set the layout page and page title
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
    Page.Title = "Log In to Loconomics";
    PageData["ShowWelcomePopup"] = false;
}
<div id="container" class="clearfix">
    @RenderPage("$Login.cshtml")
</div>