@using WebMatrix.WebData;
@{
    // Log out of the current user context
    WebSecurity.Logout();

    if (UrlData.Count == 0 || UrlData[0] != "Deleted") {
        // Redirect back to the homepage or return URL
        var returnUrl = Request.QueryString["ReturnUrl"];
        if (returnUrl.IsEmpty()) {
            Response.Redirect(LcUrl.LangPath);
        } else {
            Context.RedirectLocal(returnUrl);
        }
    }
    
    Layout = LcUrl.RenderLangPath + "_SiteLayout.cshtml";
}
<div id="container">
    <h1>Your account has been succesfully deleted.</h1>
</div>
