/* ============== Booking pages ==================
   ====== IagoSRL for Loconomics S.L. ============
 */
.booking #main h1{
    margin-top: 0;
}
.booking p.info{
    font-weight: bold;
    margin: 0;
    font-size: .9em;
}
.booking form {
    margin: 20px 0 0;
    font-size: .9em;
}
.booking fieldset legend{
    font-weight: bold;
    font-size: 1.1em;
}
.booking fieldset {
    display: inline-block;
    vertical-align: top;
}
.booking ul,
.booking ol{
    padding: 0;
    margin: 0;
}
.booking li{
    padding: 0;
    margin: 0;
}
.booking label input{
    margin: 0 5px;
}
.booking .button{
    text-transform: lowercase;
    font-size: 1.0em;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.booking .button.next{
    background: #99C027;
    color: White;
    font-size: 1.2em;
    line-height: 150%;
}
.booking .button.next:hover{
    box-shadow: 0 0 5px 2px #99C027;
    -moz-box-shadow: 0 0 5px 2px #99C027;
    -o-box-shadow: 0 0 5px 2px #99C027;
    -webkit-box-shadow: 0 0 5px 2px #99C027;
}
.booking li.calculation{
    overflow: hidden;
}
.booking table.calculation{
    border-collapse: collapse;
    float: right;
}
.booking table.calculation th,
.booking table.calculation td{
    font-weight: normal;
    text-align: right;
    height: auto;
    margin: 0;
    padding: 0 0 0 20px;
}

/** Form: Services **/
#booking-services{
    position: relative;
}
#booking-services fieldset.select-services{
    width: 358px;
}
#booking-services .attribute-category{
    width: 176px;
}
#booking-services .attribute-category legend,
#booking-services .special-instructions legend{
    font-size: 1em;
}
#booking-services .special-instructions{
    width: 295px;
}
/* Fix a bug in IE */
html.ie #booking-services .special-instructions legend{
    display: inline-block;
}
#booking-services .special-instructions textarea{
    width: 265px;
    height: 8em;
}
#booking-services .pricing-wizard{
    width: 670px;
}
#booking-services .pricing-wizard li{
    margin: 2px 0;
    position: relative;
}
#booking-services .pricing-wizard li label{
    display: inline-block;
    width: 205px;
}
#booking-services .pricing-wizard .pricing-vars select{
    position: absolute;
    right: 0;
    width: 100px;
}
#booking-services .pricing-wizard table.pricing-options{
    width: 100%;
}
#booking-services div.calculate-price-button{
    margin: 7px 0;
}

/** Form: Schedule **/
#booking-schedule{
    position: relative;
}

/* Schedule.location */
#booking-schedule .validation-summary-errors {
    margin-bottom: 20px;
}
#booking-schedule select.select-location {
    display: block;
    margin: 15px auto;
    text-align: center;
}
#booking-schedule select.select-location option,
#booking-schedule select.select-location optgroup {
    text-align: left;
}
#booking-schedule .availability,
#booking-schedule .location{
    margin-bottom: 20px;
    margin-top: 15px;
    width: 400px;
}
#booking-schedule .location li {
    margin: 2px 0;
}
#booking-schedule .location .street-address-line-1 input,
#booking-schedule .location .street-address-line-2 input{
    width: 210px;
}
#booking-schedule .location .state,
#booking-schedule .location .zip {
    display: inline-block;
}
#booking-schedule .location .city input{
    width: 307px;
}
#booking-schedule .location .state select{
    width: 160px;
}
#booking-schedule .location .zip input {
    width: 60px;
}
#booking-schedule .location .save-to-my-locations{
    margin-top: 6px;
}
#booking-schedule .location .save-to-my-locations label{
    padding: 0;
    margin: 0;
}
#booking-schedule .location .save-to-my-locations label.save{
    padding-left: 5px;
}
#booking-schedule .location .save-to-my-locations input[type="text"]{
    width: 174px;
}
#booking-schedule .select-schedule{
    border-left: 1px solid #dadada;
    margin-left: 7px;
    padding-left: 7px;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
}
#booking-schedule .select-schedule fieldset{
    display: block;
    margin-bottom: 30px;
}
#booking-schedule .select-schedule fieldset.select-date-time input{
    width: 80px;
}
#booking-schedule .select-schedule fieldset.select-date-time label{
    display: block;
    position: relative;
}
#booking-schedule .select-schedule fieldset.select-date-time input,
#booking-schedule .select-schedule fieldset.select-date-time select {
    position: absolute;
    right: 0;
    margin-right: 0;
}
#booking-schedule img.ui-datepicker-trigger{
    bottom: 2px;
    position: absolute;
    right: 29px;
    left: auto;
}

/** Form: Payment **/
#booking-payment .box{
    font-size: .9em;
}
#booking-payment fieldset.actions{
    margin-bottom: 0;
}
#booking-payment table.calculation th,
#booking-payment table.calculation td{
    font-weight: bold !important;
}
#booking-payment h6 {
    color: #3B3B3B;
    font-size: 1em;
    margin: 5px 0;
}
#booking-payment .billing-info,
#booking-payment .services-summary{
    width: 377px;
    float: left;
}
#booking-payment .your-provider,
#booking-payment .appt-time-price{
    float: right;
    margin-left: 5px;
    width: 270px;
}
#booking-payment .your-provider .avatar{
    width: 70px;
    height: 70px;
    float: left;
    vertical-align: middle;
    margin: 3px 4px 0 4px;
}
#booking-payment .appt-time-price .schedule{
    margin-bottom: 5px;
}
#booking-payment .appt-time-price .schedule h6{
    margin-bottom: 0;
}
#booking-payment .appt-time-price .schedule ol{
    list-style-position:  inside;
}
#booking-payment .star-ratings li{
    line-height: normal;
}
#booking-payment .star-ratings .rate{
    margin-right: 4px;
}
#booking-payment .star-ratings .note{
    font-size: 1em;
}
#booking-payment .provider-features-lists{
    padding: 0 5px;
}
#booking-payment .provider-features-lists div{
    display: inline-block;
    width: 130px;
    vertical-align: top;
}
#booking-payment .provider-features-lists div.licenses{
    float: right;
}
#booking-payment .provider-features-lists h5{
    margin: 0;
}
#booking-payment .services-summary ul li{
    margin: 10px 0;
}
#booking-payment .billing-info li{
    margin: 2px 0;
}
#booking-payment .billing-info .name-on-card input{
    width: 219px;
}
#booking-payment .billing-info .street-address-line-1 input,
#booking-payment .billing-info .street-address-line-2 input{
    width: 200px;
}
#booking-payment .billing-info .city input{
    width: 287px;
}
.ie #booking-payment .billing-info .city input{
    width: 288px;
}
#booking-payment .billing-info .state select{
    width: 145px;
}
.ie #booking-payment .billing-info .state select{
    width: 147px;
}
#booking-payment .billing-info .zip input{
    width: 60px;
}
#booking-payment .billing-info .state,
#booking-payment .billing-info .zip{
    display: inline-block;
}
#booking-payment .billing-info .save-to-my-payments label{
    display: inline-block;
    padding: 0;
}
#booking-payment .billing-info .save-to-my-payments .save-as input{
    width: 167px;
}
#booking-payment .billing-info .card-number input{
    width: 90px;
}
#booking-payment .billing-info .card-number,
#booking-payment .billing-info .card-exp{
    display: inline-block;
}
#booking-payment .billing-info .card-exp label{
    padding: 0 0 0 7px;
}