/* ============== Dashboard pages ================
   ====== IagoSRL for Loconomics S.L. ============
 */

/* Extra padding to avoid collision with .help-point */
.dashboard .folders > .tab-body {
    padding-top: 35px;
}
.dashboard .folders > .tab-body > .tabs {
    margin-top: 0;
}
/* Extra right magin to avoid collision with .help-point */
.dashboard .folders > .tab-body > .tabs,
.dashboard .folders > .tab-body > p:first-child{
    margin-right: 30px;
}

.dashboard #highlights,
.dashboard #dashboard-help,
.dashboard #main{
    margin: 0 0 0 200px;
    width: 760px;
}
.dashboard #main {
    margin-top: 12px;
    /* next padding-bottom can be' not needed', but
       remember us that there is an extra space because
       the relatives tab-page inside #main and help us
       when we set space between main and container without
       overlap the content */
    padding-bottom: 20px;
}
.dashboard #container {
    padding-bottom: 60px;
}
.dashboard #highlights{
    min-height: 26px;
}
.dashboard #highlights h1.greeting{
    font-size: 1.4em;
    color: #4cb7b8;
    float: left;
    margin: 0;
}
.dashboard .profile-progress {
    float: right;
}
.dashboard .profile-progress{
    font-size: 1.1em;
    color: #4cb7b8;
}
.dashboard .profile-progress .percent-done{
    color: #ae637b;
}
.dashboard .profile-progress .progress-bar{
    display: inline-block;
}
.dashboard div.progress-bar .total,
.dashboard div.progress-bar .total .percent-done{
    height: 24px;
}
.dashboard .progress-bar .total,
.dashboard .progress-bar .total .percent-done{
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
}
.dashboard #avatar{
    width: 186px;
    height: 186px;
    overflow: hidden;
    
    position: absolute;
    top: 155px;
    left: 0;
}
.dashboard #changephoto{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 25px 25px 25px 25px;
    color: black;
    display: block;
    font-size: 0.8em;
    left: 60px;
    padding: 0 15px;
    position: absolute;
    text-decoration: none;
    top: 305px;
}
.dashboard #changephoto:hover{
    background-color: White;
}
#dashboard-help .skip {
    display: none;
}
#dashboard-help p{
    margin: 2px 0;
    font-size: .9em;
}
#dashboard-alerts {
    text-align: center;
    height: 140px;
    overflow: hidden;
}
#dashboard-alerts ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    text-align: left;
    width: 637px;
    overflow: hidden;
    white-space: nowrap;
}
#dashboard-alerts li{
    display: inline-block;
    width: 286px;
    height: 120px;
    border: 5px solid #daf0f1;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 5px 10px;
}
#dashboard-alerts h5{
    font-size: .9em;
    color: #ae637b;
    margin: 0;
}
#dashboard-alerts p{
    font-size: .8em;
    line-height: 1.5em;
    padding: 0 0 0 75px;
    background: url('../img/Dashboard-alert.png') no-repeat left center;
    display: block;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
#dashboard-alerts li a.more,
#dashboard-alerts li a.more:link,
#dashboard-alerts li a.more:visited{
    color: #00989a;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    display: block;
}
#dashboard-alerts li a.more:hover{
    color: #b5e1e2;
}
#dashboard-alerts > .more {
    text-indent: -9999px;
    color: White;
    display: inline-block;
    height: 140px;
    width: 46px;
    vertical-align: top;
    text-decoration: none;
    background: no-repeat center center;
}
#dashboard-alerts > .more.previous {
    background-image: url('../img/dashboard-previous-alerts-off.png');
}
#dashboard-alerts > .more.next {
    background-image: url('../img/dashboard-next-alerts-off.png');
}
#dashboard-alerts > .more.previous:hover {
    background-image: url('../img/dashboard-previous-alerts-on.png');
}
#dashboard-alerts > .more.next:hover {
    background-image: url('../img/dashboard-next-alerts-on.png');
}
/* Dashboard Alerts no javascript (usable) version */
.no-js #dashboard-alerts {
    overflow: auto;
}
.no-js #dashboard-alerts ul{
    white-space: normal;
    overflow: visible;
}
.no-js #dashboard-alerts > .more {
    display: none;
}

.dashboard #nav {
    left: 0;
    position: absolute;
    top: 341px;
    width: 186px;
    overflow: hidden;
}
.dashboard #profile-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #e8e8e8;
}
.dashboard #profile-menu > li {
    border: 1px solid #c9c9c9;    
}
.dashboard #profile-menu li a{
    display: block;
    padding: 8px 15px;
    font-size: .95em;
}
.dashboard #profile-menu li a,
.dashboard #profile-menu li a:link,
.dashboard #profile-menu li a:visited{
    color: #00989a;
    text-decoration: none;
}
.dashboard #profile-menu > li.current{
    background-color: #b5e1e2;
}
.dashboard #profile-menu > li.current > a{
    font-weight: bold;
}
.dashboard #profile-menu li a:hover{
    background-color: #ccfeff;
}

.dashboard #profile-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.dashboard #profile-menu ul li a{
    border: none;
    padding: 0 15px 0 30px;
    margin: 0;
    height: auto;
}
.dashboard #profile-menu ul a.current{
    font-weight: bold;
}

.dashboard .tab-body > p{
    margin: 0 0 15px 0;
}

/*** Dashboard forms ***/
.dashboard form fieldset{
    margin: 0 0 10px 0;
    padding: 0;
}
.dashboard form legend{
    font-weight: bold;
}
.dashboard form ul{
    padding: 0;
    margin: 0;
}
.dashboard form li{
    padding: 0 10px;
    margin: 6px 0;
}
.dashboard form li label{
    display: inline-block;
    padding: 0;
    width: 120px;
}
.dashboard form li input[type="text"],
.dashboard form li input[type="password"],
.dashboard form li select,
.dashboard form li textarea{
    width: 120px;
}
.dashboard form li select{
    /*margin: 0 1.4em;*/
    width: 150px;
}
.dashboard form li input[type="radio"],
.dashboard form li input[type="checkbox"]{
    margin: 0 6px;
}
.dashboard form li > input[type="radio"]:first-child,
.dashboard form li > input[type="checkbox"]:first-child{
    margin: 0 6px 0 0;
}
.dashboard form a,
.dashboard form a:link,
.dashboard form a:visited{
    color: #3baeb0;
}

/** Form: personal **/
#personal li input[type="text"]{
    width: 160px;
}
#personal li textarea{
    width: 300px;
}
#personal li select{
    width: 187px;
}
form#personal li label{
    min-width: 120px;
}
#personal-fs-contactinformation,
#personal-fs-homeaddress{
    display: inline-block;
    vertical-align: top;
    width: 345px;
}
#personal-fs-publicbio label{
    display: none;
}
#personal-publicbio{
    width: 648px;
    height: 8em;
    margin: 0 10px;
}

/** Form: Positions - Services **/
fieldset.positionservices-attributes{
    display: inline-block;
    width: 210px;
    border-right: solid 1px #dadada;
    margin: 0 10px 10px 0 !important;
    padding: 0 10px 0 0 !important;
    vertical-align: top;
}
form.positionservices label{
    display: block;
}
.dashboard form.positionservices li label{
    width: auto;
}
form.positionservices input{
    margin-right: .4em;
}
.positionservices-sidebar{
    display: inline-block;
    width: 230px;
    vertical-align: top;
}
.positionservices-sidebar fieldset{
    margin: 0 0 15px !important;
}
.positionservices-languagesspoken ul li label{
    display: inline-block !important;
    width: 90px;
    min-width: 90px;
    white-space: nowrap;
}
.positionservices-languagesspoken ul li select{
    width: 110px !important;
}
.positionservices-clientstypes label{
    display: inline-block !important;
    width: 90px;
}

/** Form: Positions - Availability **/
form.positionavailability {
    position: relative;
    font-size: .9em;
}
form.positionavailability input{
    font-size: 1.1em;
}
.dashboard form.positionavailability li{
    padding: 0;
}
.dashboard form.positionavailability li input[type="radio"],
.dashboard form.positionavailability li input[type="checkbox"]{
    margin: 0 3px;
}
.dashboard form.positionavailability li label{
    width: auto;
}
.positionavailability fieldset{
    display: inline-block;
    vertical-align: top;
}
.positionavailability-days {
    width: 200px;
}
.positionavailability-days span.day{
    display: inline-block;
    width: 100px;
    height: 23px;
}
.positionavailability-days label{
    width: auto !important;
    padding: 0 !important;
}
.positionavailability-days label input{
    margin: 0 3px;
}
.positionavailability-hours {
    width: 220px;
}
.positionavailability-hours select{
    width: 80px !important;
}
.positionavailability-hours span.day{
    display: none;
}
.positionavailability-program {
    width: 424px !important;
}
.dashboard .positionavailability-program li label{
    margin: 0 10px;
}
.positionavailability-program-url input{
    width: 220px !important;
}
.positionavailability-booking {
    border-left: 1px solid #DADADA;
    height: 320px;
    padding-left: 13px !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 280px;
}
.positionavailability-booking label{
    display: block;
    margin-bottom: 16px !important;
}
.positionavailability-booking select{
    position: absolute;
    right: 0;
}

/** Form Positions - Photos **/
.positionphotos fieldset{
    display: inline-block;
    vertical-align: top;
}
.dashboard form.positionphotos fieldset li{
    margin: 6px 0;
    padding: 0;
}
.positionphotos-edit {
    width: 390px;
}
.positionphotos-gallery {
    width: 160px;
}
.positionphotos-tools{
    width: 116px;
}
.positionphotos-gallery,
.positionphotos-edit{
    border-right: 4px solid #DADADA;
    margin-right: 8px !important;
    padding-right: 4px !important;
}
.positionphotos-edit,
.positionphotos-gallery,
.positionsphotos.tools{
    height: 370px;
    overflow: hidden;
}
.positionphotos-edit-photo {
    width: 380px;
    height: 240px;
    overflow: hidden;
}
.positionphotos-edit-photo img{
    min-width: 380px;
    min-height: 240px;
}
.positionphotos-gallery ol{
    list-style: none;
    padding: 0;
    margin: 0;
    /* height: 100% works fine in Firefox, but not in Chrome (webkit) and IE, setting to static 349px */
    height: 349px;
    overflow: auto;
}
.positionphotos-gallery li {
    width: 134px;
    overflow: hidden;
}
.positionphotos-gallery li a{
    display: block;
    width: 128px;
    height: 80px;
    margin: 3px auto;
    overflow: hidden;
    text-align: center;
}
.positionphotos-gallery li a img{
    max-width: 128px;
    min-height: 80px;
}
.positionphotos-gallery li.selected a{
    outline: 3px solid #00989a;
}
.positionphotos-gallery li.selected a.edit{
    outline: none;
}
.positionphotos-gallery li a.edit{
    display: block;
    text-align: right;
    text-transform: lowercase;
    width: auto;
    height: auto;
}
.positionphotos-edit-caption label,
.positionphotos-edit-primary label{
    padding: 5px 0;
    width: auto !important;
    margin-right: 15px;
}
.positionphotos-edit-caption input{
    width: 270px !important;
}
.positionphotos-edit-primary h6{
    font-size: 1em;
    color: #666666;
    margin: 0 15px 0 0;
    font-weight: normal;
    display: inline-block;
}
.positionphotos-edit-primary input {
    margin: 0 3px;
    
}
.positionphotos-edit-primary label{
    padding: 0;
}

/** Form Positions - Locations **/
.positionlocations{
    font-size: .9em;
}
.positionlocations fieldset{
    vertical-align: top;
    margin: 0 0 10px !important;
}
.positionlocations-itravel,
.positionlocations-itravelfrom,
.positionlocations-itravelusing{
    width: 344px;
}
/*.positionlocations-servicelocations{
    border-left: 1px solid #DADADA;
    margin-left: 5px !important;
    margin-top: 0 !important;
    padding-left: 10px !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 350px;
}*/
fieldset.positionlocations-itravel fieldset.positionlocations-itravelfrom {
    margin-top: 10px !important;
}
.positionlocations-itravel .addlocation{
    margin-left: 40px;
}
.positionlocations-itravelfrom .address,
.positionlocations-itravelfrom label{
    margin: 0 25px 5px;
    font-weight: bold;
    padding: 0 !important;
}
.positionlocations-servicelocations ul{
    margin: 0 25px 5px !important;
}
.positionlocations-servicelocations ul li{
    margin: 16px 0;
}
.positionlocations-servicelocations a.addlocation{
    display: block;
    margin: 10px 25px;
}
.positionlocations-itravelusing label{
    display: block;
    width: 150px;
    margin-left: 15px !important;
}
.positionlocations-itravelusing input{
    margin-right: 10px;
}
/* semi-generic address class */
.address{
    font-weight: bold;
    position: relative;
    line-height: 1.3em;
}
.address .address-name,
.address .address-location{
    display: block;
}
.address .address-city:after{
    content: ', ';
}
.address .tools{
    position: absolute;
    top: 0;
    right: 0;
    font-weight: normal;
}
.address:hover .tools a {
    color: #00989A;
}
/**** Form: Positions Licenses ****/
.positionlicenses .license-info li label{
    font-weight: bold;
    width: 150px;
}
/** Form: Positions Reviews **/
.positionreviews .references li label {
    width: auto;
    padding: 10px;
}
.positionreviews .references li textarea{
    width: 500px;
    height: 14em;
}
.positionreviews .references li textarea[name="clientsemails"]{
    height: 7em;
}
/**** Form: Positions Pricing ****/
.dashboard form.positionpricing li label {
    width: auto;
}

/**** Form: Account Verifications ****/
#account-verification-basicinfo .legal{
    color: #6c6c6c;
    margin-top: 10px;
}
#account-verification-basicinfo .legal label{
    width: 370px !important;
    font-size: .9em;
    vertical-align: middle;
}
#account-verification-basicinfo .col-2-1{
    width: 420px !important;
}
#account-verification-basicinfo .col-2-2{
    width: 250px !important;
}

/**** Form: Account Taxes ****/
#account-taxes fieldset span.info{
    margin-left: 10px;
    font-size: .9em;
}
#account-taxes .tax-entity-type{
    margin: 15px 0;
}
#account-taxes .tax-entity-type span{
    display: inline-block;
    vertical-align: middle;
}
#account-taxes .tax-entity-type ul{
    display: inline-block;
    width: 585px;
    vertical-align: middle;
}
#account-taxes .tax-entity-type ul li,
#account-taxes .tax-entity-type ul li label,
#account-taxes .tax-exempt-payee label{
    display: inline;
    width: auto !important;
    white-space: nowrap;
}
#account-taxes .tax-clasification label{
    width: auto !important;
}
#account-taxes select[name="tax-classification"]{
    width: auto;
}
#account-taxes #account-taxes-fs-part1 span.info{
    display: block;
}
#account-taxes-fs-part2 div.info p{
    margin: 0;
}
#account-taxes-fs-part2 .signature{
    margin-top: 10px;
}
#account-taxes-fs-part2 .signature label{
    padding: 0;
    font-weight: bold;
    margin-right: 5px;
}

/** ======================== 
  * Generic column classes
  * for Dahsboard main 
  * container (width: 716px)
  * ======================*/
.dashboard #main .col{
    float: left;
    margin-bottom: 10px;
}
.dashboard #main .col-2{
    width: 340px;
}
.dashboard #main .col-2-1{
    border-right: 1px solid #DADADA;
    margin-right: 0;
    padding-right: 10px;
}
.dashboard #main .col-2-2{
    border-left: 1px solid #DADADA;
    margin-left: -1px;
    padding-left: 10px;
}
/* forms inside columns specific */
.dashboard #main .col fieldset{
    margin: 0 0 20px 0;
}
.dashboard #main .col li input[type="text"]{
    width: 150px;
}
.dashboard #main .col li select{
    width: 175px;
}

/** Dashboard date picker **/
.dashboard img.ui-datepicker-trigger{
}

/** Generic help-point class with specific
  * position for dashboard pages
  */
.dashboard .help-point{
    display: inline-block;
    left: 715px;
    position: relative;
    top: 70px;
    z-index: 1000;
}


/*==================
 * Bookings
 */
.bookings-tab .faqs {
    border: none;
    padding-top: 0;
    padding-right: 0;
}
/* Bookings List Groups */
.booking-list-groups > li > h3 {
    font-size: 1.1em;
    color: #6c6c6c;
}
.booking-list-groups > li > h3 > .bookings-number {
    color: #8B2143;
}
/* Bookings List */
.bookings-list > li {
    border: 1px solid #6c6c6c;
    background: white;
    padding: 10px;
    color: #6c6c6c;
    margin: 10px 0;
}
.bookings-list > li > .mini-user-info,
.bookings-list > li > .mini-booking-summary,
.bookings-list > li > .actions {
    display: inline-block !important;
    vertical-align: top;
}
.bookings-list > li > .mini-user-info {
    width: 150px;
}
.bookings-list > li > .mini-booking-summary {
    width: 390px;
    margin: 0 14px;
}
.bookings-list > li > .actions {
    text-align: center !important;
    width: 110px;
}
.bookings-list > li > .actions > .total-price {
    margin: 10px 0 0;
}
.bookings-list .actions .item-action.responded {
    background: #f0b600 !important;
}
.bookings-list .actions .item-action.responded:hover {
    box-shadow: 0 0 5px 2px #f0b600;
    -moz-box-shadow: 0 0 5px 2px #f0b600;
    -o-box-shadow: 0 0 5px 2px #f0b600;
    -webkit-box-shadow: 0 0 5px 2px #f0b600;
}

/* Class mini-user-info */
.mini-user-info {
    clear: both;
}
.mini-user-info > h5 {
    font-size: 1em;
    color: #6c6c6c;
    display: inline;
}
.mini-user-info > img.avatar {
    float: left;
    margin: 0 10px 0 0;
}
.mini-user-info > a.view-profile,
.mini-user-info > a.view-profile:link,
.mini-user-info > a.view-profile:visited {
    color: #00989a;
    display: block;
}
/* Class medium-user-info */
.medium-user-info {
    position: relative;
    font-size: .9em;
}
.medium-user-info a.view-profile {
    bottom: 15px;
    display: block;
    position: absolute;
    right: 15px;
    text-transform: lowercase;
    width: 100px;
}
.medium-user-info .user-text {
    display: inline-block;
    height: 50px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
}
.medium-user-info .user-contact-data {
    display: inline-block;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
}
.medium-user-info h5.user-public-name {
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    display: inline;
}
.medium-user-info .customer-rating {
    width: 360px;
}
.medium-user-info .customer-rating .note {
    font-size: .8em;
    color: #6c6c6c;
    font-style: italic;
}
.medium-user-info .google-map {
    position: absolute;
    right: 15px;
    top: 15px;
}

/* Class mini-booking-summary */
.mini-booking-summary > li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mini-booking-summary h5 {
    color: #8B2143;
    display: inline;
    font-size: 1em;
    line-height: normal;
    margin: 0;
}

/* Class booking-request
 * The auxiliar class main-side means that
 * the element share parent with an 'aside' element
 * or similar (a secondary article, a widget, etc.)
 * that use a lower important/secondary/lower place in
 * the vertical, reducing the normal element width to
 * fit both in the parent
 */
.booking-request.main-side {
    float: left;
    width: 500px;
}
.booking-request {
    position: relative;
}
.booking-request h3,
.booking-request h4 {
    color: #8B2143;
}
.booking-request h3 {
    font-size: 1.4em;
    margin: 0;
}
.booking-request h4 {
    font-size: 1.2em;
    margin: 15px 0 0;
}
.booking-request h5 {
    font-size: 1.1em;
    margin: 8px 0 0;
    color: #6c6c6c;
}
.booking-request p {
    margin: 0;
}
.booking-request table.pricing-summary {
    border: none;
}
.booking-request table.pricing-summary td.concept {
    padding-right: 5px;
}
.booking-request table.pricing-summary td.price {
    padding-left: 3px;
    text-align: right;
    vertical-align: bottom;
}
.booking-request table.pricing-summary tr.total {
    font-weight: bold;
}
.requested-booking-services .services li {
    margin-left: 20px;
    width: 205px;
    display: inline-block;
}
.requested-booking-times .button {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    color: White;
    font-size: .9em;
    line-height: 160%;
    margin: 3px 0;
}
.requested-booking-times strong {
    font-weight: normal;
    color: #8b2143;
}
.button-confirm-datetime {
    background: #99C027 !important;
}
.button-decline-booking {
    background: #e95d0f !important;
}
.button-confirm-datetime:hover {
    box-shadow: 0 0 5px 2px #99C027;
    -moz-box-shadow: 0 0 5px 2px #99C027;
    -o-box-shadow: 0 0 5px 2px #99C027;
    -webkit-box-shadow: 0 0 5px 2px #99C027;
}
.button-decline-booking:hover {
    box-shadow: 0 0 5px 2px #e95d0f;
    -moz-box-shadow: 0 0 5px 2px #e95d0f;
    -o-box-shadow: 0 0 5px 2px #e95d0f;
    -webkit-box-shadow: 0 0 5px 2px #e95d0f;
}
.booking-request .reminders ol li {
    list-style: decimal inside;
}

/* Booking (booking request confirmed) */
.booking .booking-time-location {
    position: relative;
}
.booking .booking-time-location .google-map {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

/* Class message-section for box sections inside a 'like message'
 * content, like bookings request, bookings..
 */
.message-section {
    border: 1px solid #6c6c6c;
    border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background: white;
    padding: 15px;
}