/**********************
 ** Help Center styles
 */
.howitworks #main {
    float: none;
    width: auto;
}
/* Header */
.howitworks h1 {
    font-size: 2em;
    text-transform: lowercase;
}
.howitworks h1 > em {
    font-style: normal;
    color: #00989b;
}
.howitworks .subh1 {
    font-size: 1em;
    line-height: normal;
    color: #747474;
    font-weight: normal;
}
/*= Special tabbbed interface 
 * created for howitworks: .slider-tabs
 */
/* tab header */
.tabbed.slider-tabs > .tabs-header {
    margin: 5px 0 0;
    font-size: .9em;
}
/* tab index */
.tabbed.slider-tabs > .tabs {
    overflow: hidden;
    margin: 0 0 15px 0;
}
.tabbed.slider-tabs > .tabs > li {
    float: left;
    height: 82px;
    position: relative;
    width: 98px;
}
.tabbed.slider-tabs > .tabs > li > a {
    color: #747474;
    display: block;
    font-size: 0.8em;
    height: 100%;
    padding-top: 60px;
    text-align: center;
    text-decoration: none;
}
.tabbed.slider-tabs > .tabs > li.current > a {
    color: #00989a;
    background: url("../img/theme/howitworks/slider-tabs-selector.png") no-repeat scroll 41px 82px transparent;
}
/* tabs */
.tabbed.slider-tabs > .tab-body {
    display: none;
}
.tabbed.slider-tabs > .tab-body,
.tabbed.slider-tabs > .tab-body-list > .tab-body {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 2px solid #c9c9c9;
}
.tabbed.slider-tabs > .tab-body.current {
    display: block;
}
.tabbed.slider-tabs > .tab-body-list {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.tabbed.slider-tabs > .tab-body-list > .tab-body {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin-right: 50px;
}

/** Specific howitworks tab-content styles **/
.howitworks .tabs {
    background: url('../img/theme/howitworks/howitworks-tabs.png') no-repeat;
    height: 105px;
}
.howitworks .tab-body > h2 {
    display: none;
}
.howitworks .tab-body p {
    text-align: justify;
}
.howitworks .tab-body > ol > li {
    border-top: 1px solid #c9c9c9;
    padding: 20px 25px;
    background: 745px center no-repeat;
    padding-right: 320px;
}
.howitworks .tab-body > ol > li:first-child {
    border-top: none;
}
.howitworks .tab-body > ol > li:nth-child(even) {
    background: 25px center no-repeat;
    padding-left: 320px;
    padding-right: 25px;
}
.howitworks .tab-body > ol > li > h3 {
    margin: 0 0 15px;
}
/* Specific content images */
#howitworks-customers li.find-provider {
    background-image: url('../img/theme/howitworks/howitworks-customer-find-provider.png');
    background-size: contain;
    position: relative;
}
#howitworks-customers li.book-provider {
    background-image: url('../img/theme/howitworks/howitworks-customer-book-provider.png');
    background-size: contain;
    position: relative;
}
#howitworks-customers li.review-provider {
    background-image: url('../img/theme/howitworks/howitworks-customer-review-provider.png');
    background-size: contain;
    position: relative;
}
#howitworks-providers li.create-profile {
    background-image: url('../img/theme/howitworks/howitworks-provider-create-profile.png');
    background-size: contain;
    position: relative;
}
#howitworks-providers li.perform-services {
    background-image: url('../img/theme/howitworks/howitworks-provider-perform-services.png');
    background-size: contain;
    position: relative;
}
#howitworks-providers li.get-paid {
    background-image: url('../img/theme/howitworks/howitworks-provider-get-paid.png');
    background-size: contain;
    position: relative;
}

#howitworks-faqs {
    padding: 20px 25px;
}

/* Button */
.howitworks .actions {
    text-align: center !important;
    padding: 10px 0 25px;
}