.provider-package {
    background: none repeat scroll 0 0 white;
    border: 3px solid #61bdbe;
    border-radius: 15px 15px 15px 15px;
    padding: 15px;
    margin: 0 0 10px 0;
}
.profile .pricing h3 {
    margin: 10px 0;
}
.provider-package h4 {
    margin: 0;
}
.provider-package h5 {
    color: #6C6C6C;
    font-size: 1.1em;
    margin: 8px 0 0;
}
.profile .provider-package a.button.book-action {
    font-size: 0.6em;
}
.view-panel .provider-package-services li.empty {
    font-style: italic;
    list-style: none outside none !important;
    margin: 0 0 0 10px;
    width: auto !important;
}
.view-panel .provider-package-services {
    overflow: hidden;
}
.view-panel .provider-package-services li {
    width: 200px !important;
    text-overflow: ellipsis;
    float: left;
}
.view-panel .provider-package {
    position: relative;
}
.view-panel .provider-package .provider-package-service-summary {
    color: #00989A;
    position: relative;
    font-size: 1.5em;
}
.profile .view-panel .provider-package .provider-package-service-summary {
    position: static;
}
.view-panel .provider-package .provider-package-service-summary .provider-package-price {
    position: absolute;
    top: 0;
    right: 0;
}
.profile .view-panel .provider-package .provider-package-service-summary .provider-package-price {
    right: 10px;
    top: 6px;
}

/* Pricing Wizard Views
 */
.row-selection {
    min-width: 16px;
}
.pricing-wizard .calculate-item-fee,
.calculate-item-subtotal,
.pricing-vars .calculate-item-total,
.pricing-vars .calculate-item-price,
.pricing-vars .calculate-item-total,
.packages-list .calculate-item-quantity,
.packages-list .calculate-item-price,
.pricing-vars .calculate-item-duration {
    display: none;
}

.pricing-services label {
    padding: 0 20px 0 0;
}
.pricing-services label input {
    min-width: 16px;
    margin: auto 16px auto 8px !important;
}

.pricing-vars td.name {
    width: 50% !important;
}
.pricing-vars td.var-values {
    text-align: right;
    width: 50%;
}
.pricing-vars td.var-values select,
.pricing-vars td.var-values input {
    width: 60%;
}

.pricing-wizard .group-summary {
    margin: 26px 0 0 40px;
}
.pricing-wizard .group-summary strong {
    font-weight: bold;
    color: #eb6e42;
}

/* Calculation summary */
.booking li.calculation{
    overflow: hidden;
}
.booking table.calculation{
    border-collapse: collapse;
    float: right;
}
.booking table.calculation th,
.booking table.calculation td{
    font-weight: normal;
    text-align: right;
    height: auto;
    margin: 0;
}
.booking table.calculation th {
    text-align: left;
}
.booking table.calculation tr.total > * {
    padding-top: 16px;
}
.booking table.calculation tr.separator td.separator {
    border-bottom: 1px solid #d8d7d7;
    height: 0;
    padding: 4px !important;
}
.booking table.calculation .fees {
    font-size: .9em;
}

#booking-payment table.calculation td.separator {
    border-bottom: none;
}
#booking-payment table.calculation td.price {
    font-weight: bold !important;
}
#booking-payment table.calculation td.total-price {
    color: #eb6e42;
}
#booking-payment .order-summary .calculation {
    width: 100%;
    float: none;
}