/* ============== Profile pages ==================
   ====== IagoSRL for Loconomics S.L. ============
 */
@import url('Pricing.css');

.profile h3 { font-size: 1.4em; color: #461864; font-weight: normal; }

#profileHeader .wrap { margin-left: 145px; }
#profileHeader .buttons { position: absolute; top: 0; right: 0; text-align: right; }
#profileHeader .buttons a { margin-right: 5px; }
h2.job-titles { font-size: 14px; font-style: italic; font-weight: normal; color: #461864; margin: 0; }

.profile #main div.rate { float: right; width: 180px; padding: 14px 0 14px 14px; border-left: 1px solid #ccc; text-align: center; }
.profile #main div.rate p.rate { padding: 1em 0; margin: 0 0 16px 0; 
	font-size: 38px; font-weight: bold; border: 5px solid #461864; color: #461864; 	
}
.profile #main div.rate table { width: 50%; }

.profile #main div.work { margin-right: 209px; }

.profile #main div.feature { float: right; width: 400px; padding: 14px; border: 5px solid #DBD5E0; background: #fff; line-height: normal; }
.profile #main div.feature img { float: left; width: 45px; height: auto; }
.profile #main div.feature blockquote { margin: 0 0 14px 54px; }

/**********************************/
/****** COMMON ********************/
/**********************************/

/**********************************/
/*** Structure: position, sizes ***/

.profile #main {
    float: none;
    width: auto;
}
#profileHeader {
    padding: 40px 40px 5px;
    position: relative;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
}
#profileHeader p.profile-desc,
#profileHeader h1.profile-name{
    width: 600px;
    margin: auto 20px;
}
#profileHeader p.profile-desc{
    margin-top: 20px;
    min-height: 155px;
}
#profileHeader .report-action.report-unauthorized-use {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
form.report-unauthorized-use {
    overflow: auto;
    text-align: left;
}
form.report-unauthorized-use textarea {
    width: 460px;
}
#verifications {
    position: absolute;
    top: 40px;
    right: 80px;
    border-left: 3px solid #dadada;
    padding: 0 0 0 10px;
    margin: 0;
    list-style: none;
    width: 180px;
}
#verifications li{
    padding: 0 0 0 30px;
    margin: 3px 0;
    min-height: 25px;
}
/* This fixed size for social-networking is a try to fix an uggly flickering effect
    of the google+ widget */
.social-networking.network-widgets{
    height: 26px;
}
.social-networking.network-widgets,
.social-connections ul{
    list-style: none;
    margin: 5px 0;
    padding: 0;
}
.social-networking.network-widgets li{
    margin: 0 80px 0 0;
}
.social-connections ul{
    display: inline-block;
    vertical-align: middle;
}
.social-connections li{
    display: inline;
    float: left;
}
.social-connections li a{
    margin: 0 2px;
}
.social-connections .friends{
    display: inline-block;
    font-size: 0.6em;
    height: 20px;
    margin: 5px 0;
    line-height: 1.2em;
    overflow: hidden;
    vertical-align: middle;
    width: 130px;
}
.position-tab {
    position: relative;
}
.position-tab .tab-body {
    width: 695px;
}
.position-summary {
    width: 200px;
    padding: 0 0 0 10px;
    border-left: 1px solid #dadada;
    margin: 16px 0 0 5px;
    float: right;
}
.profile .position-tab .tab-body > p{
    margin: 10px 0;
}

/*****************************************/
/** Colors, images, text properties, ... */

.profile #container { font-size: .8em; }

#profileHeader{
    background: url('../img/profile-background.png') repeat-x top left;
}
#profileHeader h1.profile-name {
    color: #461864;
    margin: 0;
    font-size: 1.4em;
    font-family: Hand Of Sean, Arial, sans-serif;
}
#profileHeader p{
    color: #999;
}
#profileHeader .profile-pic {
    float: left;
    margin: 0 20px 0 0;
    width: 186px;
    height: 186px;
    outline: 1px solid #461864;
}
#verifications {
    font-weight: bold;
}
#verifications li{
    background: no-repeat center left;
}
#verifications li.license{
    background-image: url('../img/icon-licenses.png');
}
#verifications li.verification{
    background-image: url('../img/icon-verifications.png');
}
#verifications li.share{
    background-image: url('../img/icon-share-medium.png');
}
.profile h3 {
    font-size: 1.4em;
    margin: 0;
    color: #461864;
    font-weight: bold;
}
.profile h4 {
    font-size: 1.3em;
    color: #461864;
    font-weight: bold;
}
.profile h5 {
    color: #3b3b3b;
    font-size: 1em;
    margin: 5px 0;
    display: inline-block;
}
.profile a.view-more{
    font-style: italic;
    text-decoration: underline;
    color: #66487d;
    
    position: absolute;
    bottom: 0;
    right: 0;
}
.profile a.view-more:after{
    content: '>>';
}
.profile .have-view-more{
    position: relative;
}
.profile a.button.book{
    background-color: #99c027;
    color: White;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    font-size: .9em;
}
.profile a.button.book:hover{
    box-shadow: 0 0 5px 2px #99C027;
}
.profile .actions.book{
    margin: 0 0 20px;
}
.position-summary .hour-price {
    border: 6px solid #461864;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 10px;
    margin: 5px 0;
    display: block;
    font-size: 2.5em;
    line-height: normal;
    color: #461864;
    text-align: center;
}
.position-summary .hour-price .price {
    font-weight: bold;
}
.position-summary .price-since {
    font-size: .6em;
    display: block;
    margin-top: -10px;
}
.position-summary a.calculate-price,
.position-summary a.calculate-price:link,
.position-summary a.calculate-price:visited{
    color: #461864;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
    display: block;
}

/**********************************/
/****** SPECIFIC PAGES/SECTIONS ***/
/**********************************/

/****** featured-review **********/
.featured-review {
    width: 300px;
    display: inline-block;
    padding: 5px 10px 25px;
    vertical-align: top;
    border: 6px solid #DED7E3;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 0.9em;
}
.featured-review .review-micro-summary > h5 {
    clear: left;
    color: #461864;
    font-size: 0.9em;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.featured-review > img.avatar {
    display: block;
    float: left;
    height: 50px;
    margin-right: 15px;
    width: 50px;
}
.featured-review > .public-review {
    height: 55px;
    color: #A1A1A1;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.featured-review a.view-more{
    right: 10px;
    bottom: 5px;
}

/**********************************/
/****** Overview ******************/
.profile .overview > .user-rating-summary-widget {
    margin: 0 120px 14px 0;
}
.profile .customer-overview h3 {
    margin-top: 20px;
}
.profile .user-rating-summary-widget > ul > li{
    width: 215px;
    height: 22px;
    overflow: hidden;
}
.profile .user-rating-summary-widget > ul > li > label {
    margin-left: 20px;
}
.profile .overview .service-attribute-category div{
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
}
.profile .overview .service-attribute-categories div{
    width: 220px;
}
.profile .overview .service-attribute-category ul {
    margin: 0;
    padding: 0 0 24px 0;
}
ul.attributes-list li {
    list-style-position: inside;
    list-style-image: url('../img/bullet.png');
}

/**********************************/
/****** Reviews ******************/
.reviews-list ul{
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
.reviews-list > ul > li{
    margin: 0 0 15px;
    min-height: 85px;
    overflow: hidden;
    position: relative;
    border: 6px solid #ded7e3;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
    font-size: .9em;
}
.reviews-list > ul > li .mini-user-info {
    width: 65px;
    float: left;
}
.reviews-list > ul > li h5.user-public-name {
    float: left;
    font-weight: normal;
    clear: left;
    font-style: italic;
    color: #461864;
    font-size: .9em;
    line-height: normal;
    margin: 5px 0;
}
.reviews-list > ul > li .mini-user-info > .view-profile {
    display: none;
}
.reviews-list > ul > li .public-review,
.reviews-list > ul > li .helpful-review{
    margin-right: 10px;
}
.reviews-list > ul > li .helpful-review{
    display: inline-block;
}
.reviews-list > ul > li .helpful-review,
.reviews-list > ul > li .helpful-review a,
.reviews-list > ul > li .helpful-review a:link,
.reviews-list > ul > li .helpful-review a:visited{
    color: #836b96;
    font-style: italic;
}
.reviews-list > ul > li .user-rating-summary-widget{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 210px;
    height: 95px;
}
.reviews-list > .no-reviews {
    margin: 40px 0;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

/*.review img{
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}*/
.reviews-list > ul > li .public-review {
    margin: 5px 0;
    color: #a1a1a1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
    display: block;
    vertical-align: top;
}
.reviews-list > ul > li .review-content {
    margin-right: 210px; /* user-rating-summary in the margin */
}


/**********************************/
/****** Gallery *******************/
/*** MyWork & Maps ****************/
.gallery-highlighted,
.gallery-content{
    display: inline-block;
    vertical-align: top;
}
.gallery-highlighted {
    margin-left: 5px;
    text-align: center;
    width: 442px;
}
.gallery-highlighted h5{
    display: block;
    width: 436px;
    text-align: left;
}
.gallery-highlighted img{
    max-width: 442px;
    /*max-height: 283px;*/
}
.gallery-content{
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0 0 0 15px;
    width: 195px;
    height: 350px;
    overflow: auto;
    border-left: 2px solid #dadada;
}
.gallery-content li {
    width: 170px;
    margin: 0 0 10px;
}
.gallery-content li a{
    display: block;
    width: 164px;
    height: 111px;
    margin: 3px auto;
    overflow: hidden;
    text-align: center;
}
.gallery-content li a img{
    max-width: 164px;
    min-height: 111px;
}
.gallery-content li.selected a{
    outline: 3px solid #461864 ;
}

/**********************************/
/****** Availability **************/
.profile .availability-calendar .calendar{
    /* availaibility-calendar is sized full-relative from 1px by default.
        To change de global size (like a zoom) we apply a different 
        font-size ONLY in the container .calendar.
        NOTE: legend is not relative sized. */
    font-size: 1.8px;
}
.profile .availability-calendar .calendar-info{
    text-align: left;
}
/* Only a bad-effect with full-relative: vertical size of hours need retouch their size :(*/
/*.profile .availability-calendar .calendar ol.hours li {
    height: 12em;
}*/
/* Text size are excesive with base 1.8, resize to: */
/*.profile .availability-calendar .calendar h5{
    font-size: 11pt;
}*/
