/***
    .sign-up-wizard
 ***/

.sign-up-wizard #main{
    width: 960px !important;
}
.sign-up-wizard button{
    text-transform: lowercase;
    font-size: 1.0em;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.sign-up-wizard button.next{
    background: #99C027 !important;
    color: White;
    font-size: 1.2em;
    line-height: 150%;
}
.sign-up-wizard button.next:hover{
    box-shadow: 0 0 5px 2px #99C027;
    -moz-box-shadow: 0 0 5px 2px #99C027;
    -o-box-shadow: 0 0 5px 2px #99C027;
    -webkit-box-shadow: 0 0 5px 2px #99C027;
}

.sign-up-wizard p.info {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
}
.sign-up-wizard form {
    font-size: 0.9em;
    margin: 20px 0 0;
}
.sign-up-wizard fieldset legend {
    font-size: 1.1em;
    font-weight: bold;
}
.sign-up-wizard ul{
    padding:0;
    margin:0;
}
.sign-up-wizard form ul li{
    margin: 2px 0;
    padding: 0;
}

.sign-up-wizard #create-a-login .login-data{
    width: 400px;
    display: inline-block;
    vertical-align: top;
}
.sign-up-wizard #create-a-login .login-data li{
    position: relative;
}

.sign-up-wizard #create-a-login .login-data input{
    position: absolute;
    right: 10px;
    width: 230px;
}
.sign-up-wizard #create-a-login .login-data select{
    margin: 0 20px;
    width: 210px;
}
.sign-up-wizard #create-a-login .login-data .facebook-connect{
    text-align: center;
}
.sign-up-wizard #create-a-login .login-data .facebook-connect .or{
    display: block;
    margin: 30px;
}

.sign-up-wizard #create-a-login .legal-agreement{
    width: 460px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px solid #dadada;
}
.sign-up-wizard #create-a-login .legal-agreement input{
    margin: 0 10px 0 0;
}
.sign-up-wizard #create-a-login .legal-agreement .stronger textarea{
    display: block;
    height: 5em;
    width: 380px;
}