/***
    .sign-up-wizard
 ***/

.sign-up-wizard #main{
    width: 960px !important;
}
.sign-up-wizard button{
    text-transform: lowercase;
    font-size: 1.0em;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.sign-up-wizard button.next{
    background: #99C027 !important;
    color: White;
    font-size: 1.2em;
    line-height: 150%;
}
.sign-up-wizard button.next:hover{
    box-shadow: 0 0 5px 2px #99C027;
    -moz-box-shadow: 0 0 5px 2px #99C027;
    -o-box-shadow: 0 0 5px 2px #99C027;
    -webkit-box-shadow: 0 0 5px 2px #99C027;
}

.sign-up-wizard p.info {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
}
.sign-up-wizard form {
    font-size: 0.9em;
    margin: 20px 0 0;
}
.sign-up-wizard fieldset legend {
    font-size: 1.1em;
    font-weight: bold;
}
.sign-up-wizard ul{
    padding:0;
    margin:0;
}
.sign-up-wizard form ul li{
    margin: 2px 0;
    padding: 0;
}

.sign-up-wizard #create-a-login .login-data{
    width: 400px;
    display: inline-block;
    vertical-align: top;
}
.sign-up-wizard #create-a-login .login-data li{
    position: relative;
}

.sign-up-wizard #create-a-login .login-data input{
    position: absolute;
    right: 10px;
    width: 230px;
}
.sign-up-wizard #create-a-login .login-data select{
    margin: 0 20px;
    width: 210px;
}
.sign-up-wizard #create-a-login .login-data li > span{
    display: block;
    padding: 0 10px 0 20px;
}
.sign-up-wizard #create-a-login .login-data li > span.field-validation-valid{
    color: Red;
}
.sign-up-wizard #create-a-login .login-data .facebook-connect{
    text-align: center;
}
.sign-up-wizard #create-a-login .login-data .choice-or{
    margin: 30px;
}

.sign-up-wizard #create-a-login .legal-agreement{
    width: 460px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    padding-left: 20px;
    border-left: 1px solid #dadada;
}
.sign-up-wizard #create-a-login .legal-agreement input{
    margin: 0 10px 0 0;
}
.sign-up-wizard #create-a-login .legal-agreement .stronger textarea{
    display: block;
    height: 5em;
    width: 380px;
}

/** Form: Provider sign up - Your work **/
.sign-up-wizard fieldset.select-attributes fieldset {
    display: inline-block;
}
.sign-up-wizard div.service-attribute-categories{
    display: inline-block;
    width: 610px;
    min-height: 350px;
    border-right: solid 1px #dadada;
    margin: 20px 10px 10px 0 !important;
    padding: 0 10px 0 0 !important;
}
.sign-up-wizard div.service-attribute-categories fieldset{
    display: inline-block;
    width: 280px;
    vertical-align: top;
    margin-bottom: 20px;
}
.sign-up-wizard form.your-work label{
    display: block;
}
.sign-up-wizard form.your-work input{
    margin-right: .4em;
}
.sign-up-wizard .your-work-sidebar{
    display: inline-block;
    width: 260px;
    vertical-align: top;
    margin-top: 20px;
}
.sign-up-wizard .your-work-sidebar fieldset{
    margin: 0 0 15px !important;
}
.sign-up-wizard .your-work .languages-spoken ul li label{
    display: inline-block !important;
    width: 90px;
    min-width: 90px;
    white-space: nowrap;
}
.sign-up-wizard .your-work .languages-spoken ul li select{
    width: 110px !important;
}
.sign-up-wizard .your-work .clients-types label{
    display: inline-block !important;
    width: 90px;
}

/** Page: next-steps **/
.next-steps-info{
    padding: 25px 30px;
    margin: 0;
}
.next-steps-info .next-steps-list{
    list-style: decimal outside;
    color: #b5e1e2;
    font-size: 1.6em;
    padding: 0 30px;
    margin: 0;
}
.next-steps-info .next-steps-list > li{
    margin: 0 0 15px;
}
.next-steps-info .next-steps-list p{
    margin: 5px 0 0;
}
.next-steps-info .next-steps-list .step-info{
    color: #6c6c6c;
    font-size: .5em;
}
.next-steps-info .next-steps-list .step-info ul{
    list-style: disc inside;
    margin: 0 5px;
}
.next-steps-info .last-info{
    font-size: .8em;
    margin: 20px 0;
}
.next-steps-info .last-info p{
    margin: 0;
}