/* ============== Search page ==================
   ====== IagoSRL for Loconomics S.L. ============
 */
 
/*
  Search categories:
  Modifying common styles shared with Home page in styles.css
 */
.search .search-categories{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #999;
}
.search .search-categories > ul {
    height: 230px;
}

ul.search-results li { position: relative; list-style-type: none; padding: 0 0 20px 0; margin: 0 0 20px 0; border-bottom: 1px dashed #ccc; }
ul.search-results li .col { float: left; padding-right: 20px; }
ul.search-results li h3 { margin: .2em 0 0 0; line-height: 25px; }
ul.search-results li h3 a { text-decoration: none; }
ul.search-results li .id img { width: 100px; height: auto; }
ul.search-results li .id img[src=""] { margin: 0; width: auto; }
ul.search-results li .name { width: 300px; }
ul.search-results li blockquote { line-height: 135%; text-align: left; margin: 1em 0; font-size: 12px; color: #461864; font-style: italic; }
/*ul.search-results li p.rate { margin-top: .1em; font-size: 38px; font-weight: bold; border: none; color: #461864; }*/
ul.search-results li .buttons { clear:both; padding: .6em 0 .3em 0; }
ul.search-results li .buttons a { margin-left: 1em; }
ul.search-results li .buttons a:first-child { margin: 0; }
/*ul.search-results table { margin: 12px 0; }
ul.search-results table td { padding-right: 16px; }*/

.tab-body ul.search-results li div.clearfix { line-height:70px; }
.tab-body ul.search-results li h2 { float:left; margin:0 10px 0 0; font-size:38px; color:#461864; }
.tab-body ul.search-results li div.clearfix a { display: inline-block; margin-top: .6em; }

.search h1 { font-size: 2em; margin: .1em 0 .4em 0; }
.search .cat-icon { float: left; margin-right: 1em; }
.search ul.tabs { margin-top: 40px; }


/* Page Structure */
.search #main {
    display: inline-block;
    vertical-align: top;
    width: 735px;
    margin: 0 0 0 25px;
}
.search #secondary {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 0;
}
/* #main Structure */
.search #main .categories {
    height: auto;
    width: auto;
}

/* Colors, fonts, etc. */
.search #main {
    color: #6c6c6c;
    font-size: 1em;
    float: right;
}

/* specific (results) search form */
.searched .search-service {
    width: 330px;
}
.searched .search-options ul li {
    padding: 0;
}
.searched #homeSearch label {
    line-height: 1em;
    font-size: 1em;
    margin-bottom: 10px;
}
.searched #homeSearch {
    margin-bottom: 20px;
}


/********************************************/
/*** generic buttons-list class *************/
.buttons-list ol{
    display: inline;
}
.buttons-list li{
    display: inline-block;
}
.buttons-list .button{
    color: #00989A;
    background-color: #b5e1e1;
    padding: 0 12px;
}
.buttons-list .button.selected{
    color: White;
    background-color: #00989A;
}
.buttons-list .button:hover{
    border-shadow: 0 0 2px 2px #00989A;
}

/***********************/
/*** pager *************/
.pager{
    margin: 0 10px;
}
.pager .pager-pageslist{
    display: block;
    float: right;
}
.pager .pager-pageslist ol{
    display: inline;
}
.pager .pager-pageslist li{
    display: inline-block;
    text-transform: lowercase;
}
.pager .pager-pageslist li a{
    display: block;
    padding: 0 3px;
}
.pager .pager-pageslist li.current a{
    text-decoration: none;
    color: #999;
}

/***********************/
/* categorized results */
.search-results-categories li{
    position: relative;
    margin: 1em 0;
}
.search-results-categories h3{
    display: inline-block;
    margin: 0;
}
.search-results-categories a.view-more {
    display: block;
    float: right;
    text-transform: lowercase;
}

/***********************/
/*** refine results ****/
#refine-results form input,
#refine-results form select{
    width: 140px !important;
}
#refine-results .actions{
    margin: 15px 0 0 0;
}
#refine-results .actions .button{
    font-size: .9em;
}
#refine-results img.ui-datepicker-trigger{
}

/************************/
/*** category positions */
#category-positions.buttons-list li{
    font-size: 1.2em;
}
#category-positions.buttons-list .button{
     margin: 2px;
}

/*************************/
/**** results items ******/
.search-results-items > li{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #849a9a;
    margin: 5px 0;
    padding: 4px 10px;
    background-color: white;
    overflow: hidden;
}
.search-results-items > li h6,
.search-results-items > li h6 a,
.search-results-items > li h6 a:link{
    color: #52276e;
    margin: 0;
    text-decoration: none;
}
.search-results-items > li h6 a:hover{
    color: #99C027;
}
.search-results-items > li img.avatar{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: top;
}
.search-results-items > li .overview,
.search-results-items > li .user-rating-summary-widget,
.search-results-items > li .verifications-summary{
    vertical-align: top;
    height: 60px;
}
.search-results-items > li .overview, 
.search-results-items > li .user-rating-summary-widget,
.search-results-items > li .verifications-summary {
    font-size: 1em;
}
.search-results-items > li .overview{
    display: inline-block;
    line-height: normal;
    height: auto;
    width: 540px;
}
.search-results-items > li .overview .view-more{
    display: inline;
    float: none;
}
.search-results-items > li .user-rating-summary-widget ul {
    color: #6c6c6c;
}
.search-results-items > li .user-rating-summary-widget ul li{
    line-height: normal;
    font-size: .9em;
}
.search-results-items > li .user-rating-summary-widget .rate{
    margin: 0 4px 0 0;
    background: url("../img/star-e-on.png") repeat-x scroll left center transparent;
    width: 70px;
}
.search-results-items > li .verifications-summary,
.search-results-items > li .user-rating-summary-widget{
    margin: 0 0 0 10px;
    min-height: 0 !important;
}
.search-results-items > li .verifications-summary > li{
    background: no-repeat center left;
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 0.9em;
    line-height: 1.7em;
}
.search-results-items > li .verifications-summary {
    display: inline-block;
    text-transform: lowercase;
    margin-top: 20px;
    width: 110px;
}
.search-results-items > li .verifications-summary > li.license{
    background-image: url('../img/icon-licenses-mini.png');
}
.search-results-items > li .verifications-summary > li.verification{
    background-image: url('../img/icon-verifications-mini.png');
}
.search-results-items > li .verifications-summary > li.total-reviews,
.search-results-items > li .verifications-summary > li.share{
    background-image: url('../img/icon-share-mini.png');
}

.search-results-items > li .social-connections{
    width: 240px;
}
.search-results-items > li .social-connections,
.search-results-items > li .hightlighted-review,
.search-results-items > li .hightlighted-review p{
    display: inline-block;
}
.search-results-items > li .social-connections li{
    margin: 0;
}
.search-results-items > li .hightlighted-review p{
    font-size: .7em;
    line-height: 1.2;
    margin: 0;
    width: 225px;
    vertical-align: middle;
}
.search-results-items > li .hightlighted-review p .view-more{
    display: inline;
    float: none;
}
.search-results-items > li .reviewer-photo {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.search-results-items > li .button.book {
    background-color: #461864;
    float: right;
}
.search-results-items > li .button.book:hover {
    background-color: #99C027;
}

/**********************************************/
/**** provider info widget in search item *****/
.search .search-results-items .user-micro-summary > h5 {
    font-size: 1.5em;
    color: #52276e;
}
.search .search-results-items .medium-user-info .user-text {
    width: 295px;
}
.search .search-results-items .medium-user-info a.view-profile {
    display: none;
}
.search .search-results-items .member-since {
    float: right;
}
.search .search-results-items .user-rating-summary-widget.user-rating-detailed.provider {
    height: auto;
    min-height: inherit;
}


/************
 * sidebar **/
.refine-search-results {
    border: 1px solid #CCC9C9;
    text-align: center;
    padding: 10px;
    background: #f5f5f5;
    
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    box-shadow: 0 0 4px 2px white inset;
    -moz-box-shadow: 0 0 4px 2px white inset;
    -o-box-shadow: 0 0 4px 2px white inset;
    -webkit-box-shadow: 0 0 4px 2px white inset;
}
.refine-search-results h2 {
    border: 1px solid #CCC9C9;
    
    padding-top: 15px;
    height: 169px;
    width: 176px;
    color: #747474;
    font-size: 1.2em;
    margin: 0 !important;
    
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    
    background: url('../img/theme/search-icon.png') no-repeat center 50px white;
    background-size: 96px 104px;
}

/************
 * sidebar
 * cagories */
#secondary .search-categories {
    border: 1px solid #CCC9C9;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    
    margin-top: 10px;
}
#secondary .search-categories .cat-list-title {
    color: #5a5b5b;
    padding: 10px 0 10px 20px;
    margin: 0 0 10px;
    border-bottom: 1px solid #dfdfdf;
    
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    
    background: #f5f5f5;
    box-shadow: 0 0 4px 2px white inset;
    -moz-box-shadow: 0 0 4px 2px white inset;
    -o-box-shadow: 0 0 4px 2px white inset;
    -webkit-box-shadow: 0 0 4px 2px white inset;
}
#secondary .refine-search-groups {
    border: 1px solid #CCC9C9;
    border-top: none;
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}
#secondary .refine-search-group {
    border-bottom: 1px solid #CCC9C9;
}
#secondary .refine-search-group:last-child {
    border-bottom: none;
}
#secondary .refine-search-group h3 {
    font-size: 1em;
    color: #747474;
    margin: 0;
    padding: 10px 10px 10px 20px;
    font-weight: normal;
}

#secondary .search-categories ul {
    height: auto;
    text-align: left;
}
#secondary .search-categories ul li {
    background: none;
    float: none;
    display: block;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0 0 5px 20px;
}
#secondary .search-categories ul li a {
    height: 24px;
    width: auto;
    display: block;
    float: none;
    position: static;
    width: 24px;
    text-indent: 35px;
    overflow: visible;
    padding: 0;
    margin: 0;
    font-size: .9em;
    font-weight: bold;
    line-height: 24px;
    text-transform: lowercase;
    
    background: url('../img/theme/search-categories-24px.png') no-repeat left top;
}
#secondary .search-categories ul li:hover .details {
    display: none;
}
#secondary .search-categories li.cat-home a,
#secondary .search-categories ul:hover li.cat-home a  {           background-position: -104px  0}
#secondary .search-categories li.cat-child a,
#secondary .search-categories ul:hover li.cat-child a{            background-position: -52px 0}
#secondary .search-categories li.cat-pets a,
#secondary .search-categories ul:hover li.cat-pets a{             background-position: -156px 0}
#secondary .search-categories li.cat-people a,
#secondary .search-categories ul:hover li.cat-people a{           background-position: -130px 0}
#secondary .search-categories li.cat-transport a,
#secondary .search-categories ul:hover li.cat-transport a{        background-position: -182px 0}
#secondary .search-categories li.cat-business a,
#secondary .search-categories ul:hover li.cat-business a{         background-position: 0 0}
#secondary .search-categories li.cat-elderly a,
#secondary .search-categories ul:hover li.cat-elderly a{          background-position: -78px 0}
#secondary .search-categories li.cat-celebrations a,
#secondary .search-categories ul:hover li.cat-celebrations a{     background-position: -26px 0}
/* Selected image */
#secondary .search-categories li.selected.cat-home a,
#secondary .search-categories ul:hover li.cat-home:hover a{             background-position: -104px -26px}
#secondary .search-categories li.selected.cat-child a,
#secondary .search-categories ul:hover li.cat-child:hover a{            background-position: -52px -26px}
#secondary .search-categories li.selected.cat-pets a,
#secondary .search-categories ul:hover li.cat-pets:hover a{             background-position: -156px -26px}
#secondary .search-categories li.selected.cat-people a,
#secondary .search-categories ul:hover li.cat-people:hover a{           background-position: -130px -26px}
#secondary .search-categories li.selected.cat-transport a,
#secondary .search-categories ul:hover li.cat-transport:hover a{        background-position: -182px -26px}
#secondary .search-categories li.selected.cat-business a,
#secondary .search-categories ul:hover li.cat-business:hover a{         background-position: 0 -26px}
#secondary .search-categories li.selected.cat-elderly a,
#secondary .search-categories ul:hover li.cat-elderly:hover a{          background-position: -78px -26px}
#secondary .search-categories li.selected.cat-celebrations a,
#secondary .search-categories ul:hover li.cat-celebrations:hover a{     background-position: -26px -26px}
