@import url('Profile.css');
@import url('Search.css');
@import url('Provider-sign-up.css');
@import url('Dashboard.css');
@import url('Booking.css');

@font-face {
    font-family: 'Hand Of Sean';
    src: url('fonts/handsean.otf');
    src: url('fonts/handsean.eot');
    src: url('fonts/handsean.eot?#iefix') format('embedded-opentype'),
         url('fonts/handsean.woff') format('woff'),
         url('fonts/handsean.ttf') format('truetype'),
         url('fonts/handsean.svgz#HandOfSeanRegular') format('svg'),
         url('fonts/handsean.svg#HandOfSeanRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('fonts/altehaasgroteskregular.eot');
    src: url('fonts/altehaasgroteskregular.eot?#iefix') format('embedded-opentype'),
         url('fonts/altehaasgroteskregular.woff') format('woff'),
         url('fonts/altehaasgroteskregular.ttf') format('truetype'),
         url('fonts/altehaasgroteskregular.svgz#AlteHaasGroteskRegular') format('svg'),
         url('fonts/altehaasgroteskregular.svg#AlteHaasGroteskRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('fonts/altehaasgroteskbold.eot');
    src: url('fonts/altehaasgroteskbold.eot?#iefix') format('embedded-opentype'),
         url('fonts/altehaasgroteskbold.woff') format('woff'),
         url('fonts/altehaasgroteskbold.ttf') format('truetype'),
         url('fonts/altehaasgroteskbold.svgz#AlteHaasGroteskBold') format('svg'),
         url('fonts/altehaasgroteskbold.svg#AlteHaasGroteskBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00989a; }
a:visited { color: #b2e1e1; }
a:hover { color: #8B2143; }
a:focus { color: #99C027; }

a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 75%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; }
/* IE (5-9) an attempt of bugfix with legend element, work with side-effects, disabled */
/*html.ie legend { display: inline; display: inline-block; width: 100%; }*/

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; *overflow: visible; }

table button, table input { *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; width: 500px; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Jordyn Bonds for Loconomics, Inc.
   ========================================================================== */

/* Color Guide
Teal	#00989A
Lt Teal #b5e1e2
Green	#99C027
Red 	#8B2143
Purple 	#461864
Blue 	#006A8D
Orange 	#E95D0F
Yellow 	#F0B600
*/

body { color: #666; font-family: "Alte Haas Grotesk", Helvetica, Arial, sans-serif; font-size: .9em; line-height: 150%; text-align: center; }

a { color: #00989a; }
a:visited { color: #999999; }
a:hover { color: #99C027; }
a:focus { color: #99C027; }

h1, h2, h3, h4, h5, h6 { margin: 1em 0; font-weight: 600; color: #00989A; }
h1 { color: #b5e1e2; font-size: 3em; line-height: 100%; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

.greeting { color: #461864; font-weight: bold; font-size: 1.8em; margin: .5em 0 1.5em 0;  }
.subh1 {
    color: #B5E1E2;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 100%;
    margin: 0 0 20px;
}
h1.withsub {
    margin-bottom: 5px;
}

ul, ol { padding: 0 0 0 20px; }

dd { margin: 0; }

form fieldset, table.form td { padding: .5em .5em .5em 0; }

/** IagoSRL: psd like form styles **/
form.psd input,
form.psd select,
form.psd textarea{
    font-size: 0.9em;
    color: black;
}
form.psd input[type="text"],
form.psd input[type="password"],
form.psd textarea { 
    background-color: White;
    border: 1px solid #62bdbe;
    border-bottom-width: 2px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    display: inline-block;
    line-height: 185%;
    padding: 0 1.4em;
    width: 200px;
}
form.psd input[type="text"]:focus,
form.psd input[type="password"]:focus,
form.psd textarea:focus { 
    background: #b5e1e2;
    outline: none;
    border-color: #b5e1e2;
}
form.psd select:focus,
form.psd input[type="checkbox"]:focus,
form.psd input[type="radio"]:focus {
    outline: #b5e1e2 solid 2px;
}
/**Z psd like **/

form input[type="text"],
form input[type="password"],
form textarea {
    border: none;
    background: #b5e1e2;
    color: #00989a;
    font-size: .9em;
    
    /* line-height is bad in form elements to set the full height (only webkit do it), height is cross-browser */
    /*line-height: 185%;*/
    height: 1.6em;
    
    display: inline-block;
    padding: 0 1.4em;
    width: 200px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
}
form textarea{
    line-height: 1.5em;
    height: inherit;
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form textarea:focus{
    background: #99C027;
    color: #fff;
    border: none;
    outline: none;
}
form input[type="text"].error, form input[type="password"].error { 
    background: #8B2143;
    color: #fff;
}

form.stepped input[type="submit"] {
	background : url("../img/button-next.gif") no-repeat 0 0;
	width : 133px;
	height :48px;
	border : none;
	color : transparent;
	font-size: 0;
}
form.stepped input[type="submit"]:hover { background-position: 0 -48px; }

form select:focus,
form input[type="checkbox"]:focus,
form input[type="radio"]:focus {
    outline: #99c027 solid 2px;
}

form input.time { width: 40px; }
form input.date-pick { width: 90px; }

form.stepped fieldset.number-values input { width: 20px; padding: 0 6px; }

form ul{
    list-style: none;
}
form ul li{
    padding: 10px 0;
}
form label{
    padding: 0 10px;
}

.replace { display: inline-block; height: 0; overflow: hidden; background-repeat: no-repeat; background-position: 0 0; }
a.icon { width: 27px; padding-top: 27px; }
a.icon:hover { background-position: 0 -27px; }
a.facebook { background-image: url('../img/icon-facebook.png'); }
a.twitter { background-image: url('../img/icon-twitter.png'); }
a.cart { padding-top: 25px; border-left: 2px solid #00989a; padding-left: 10px; background-image: url('../img/icon-cart.png'); background-position: 10px 0; }
a.cart:hover { background-position: 10px -25px; }

input.button, button, a.button { 
	display: inline-block; padding: 0 1.8em; 
	background: #00989a; color: #fff; border: none;
	font-size: .8em; line-height: 180%; text-decoration: none;
}
input.button:hover, button:hover, a.button:hover,
input.button:focus, button:focus, a.button:focus { background-color: #99C027; border: none; outline: none; }

input.button.next, button.next { display: inline-block; padding: 0 1em; border: none; background: #b5e1e2; color: #00989a; font-size: 1.6em; line-height: 185%; }
input.button.next:hover, button.next:hover,
input.button:focus, button.next:focus { background: #00989a; color: #fff; }

input.button{ padding-top: 2px; padding-bottom: 2px;}

/*input[type="button"], button {
    background: #b5e1e2;
    border: 1px solid #00989A;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -o-border-radius: 22px;
    padding: 2px 23px;
    color: #00989A;
    font-size: 0.8em;
}
input[type="button"]:hover, button:hover {
    background-color: #00989A;
    color: White;
}*/

a.message { background: #E95D0F; color: #fff; }
a.message:hover, a.message:focus { background: #F0B600; }

a.profile, a.profile.current:focus,
button.search-again:hover, a.view:hover { background: #A190AF; color: #fff; } 

li.current > a.profile, a.profile:hover, a.profile:focus,
button.search-again, a.view { background: #461864; color: #fff; }

#modals { display: none; }
.inset { float: right; margin: 1em 0 1em 1em; }

form.stepped { position: relative; min-height: 500px; margin-bottom: 25px; padding-bottom: 25px; border-bottom: 1px solid #ccc; color: #999; }
form.stepped h1 { margin-bottom: .4em; }
form.stepped legend { font-weight: bold; }
form.stepped fieldset { margin-bottom: 1em; }
form.stepped fieldset.buttons { display: block; margin-top: 20px; text-align: right; }
form.stepped fieldset.add { text-align: left; }
form.stepped table.form tr td:first-child { width: 40%; }
form.stepped fieldset.checklist { float: left; width: 40%; padding: 5px 5% 5px 0; }
form.stepped .checklist fieldset { margin: 0; padding: 0; }
form.stepped .checklist label, form.stepped .radiolist label { font-size: .9em; }
form.stepped #theCalendar { float: right; width: 300px; margin-left: 1em; }
form.stepped #theCalendar dl dt { position: relative; }
form.stepped #theCalendar dl dt a { position: absolute; right: 0; }
form.stepped table td { padding: 5px 0; }
form.stepped table td h4 { margin-bottom: 0; }

form.book { border-bottom: none; }
form.book ul { margin: 0; }
form.book table.form { width: 450px; }
form.book table.form td { width: 30%; padding: .3em 3% .3em 0; }
form.book fieldset.checkboxes table.form tr td { width: 43%; }
form.book fieldset.checkboxes table.form tr td:first-child { width: 4%; }
form.book fieldset.checkboxes table.form tr td:first-child input { width: auto; }

ul.collection { margin: 0; padding: 0; }
ul.collection.empty { border: 1px dashed #ccc; }
ul.collection li { list-style-type: none; margin: 0 .5em .5em 0; padding: .1em 1em; display: inline-block; background: #efefef; }
ul.collection li:before { content: "• "; }
ul.collection li:hover { color: #efefef; background: #8B2143; cursor: pointer; }
ul.collection li:hover:before { content: "✖ "; }

div.progress-bar { float: right; vertical-align: middle; margin-left: 1em; } 
div.progress-bar span { display: inline-block; vertical-align: middle; }
div.progress-bar .total { width: 150px; height: 35px; background: #eee; }
div.progress-bar .total .percent-done { width: 0; height: 35px; background: #b5e1e2; }

ul.profile-list li { position: relative; list-style-type: none; padding: 0 0 20px 0; margin: 0 0 20px 0; border-bottom: 1px dashed #ccc; }
ul.profile-list li h3 { margin: 0; line-height: 25px; }
ul.profile-list li h3 .job-status { display: inline-block; margin-left: 1em; font-size: 12px; font-weight: normal; }
ul.profile-list li .job-actions { position: absolute; bottom: 20px; right: 10px; }
ul.profile-list table { margin: 12px 0; }
ul.profile-list table td { padding-right: 16px; }
ul.profile-list .profile-stats { float: right; }
ul.profile-list .progress-bar { font-size: 12px; padding-right: 16px; }
ul.profile-list .progress-bar .total { width: 130px; height: 25px; }
ul.profile-list .progress-bar .percent-done { height: 25px; }

.profile-progress .progress-bar { float: none; }

ul.reviews { padding: 0; margin: 0; font-size: .8em; }
ul.reviews > li { position: relative; list-style-type: none; padding: 10px 0; margin: 0 0 10px 0; border-bottom: 1px dashed #ccc; }
ul.reviews > li div.author { float: left; }
/*ul.reviews li div.author img { display: block; width: 75px; height: auto; }*/
ul.reviews > li div.wrap { margin-left: 100px; }
ul.reviews > li div.wrap p { margin-top: 0; }

.folders > ul.tabs  {
    position: relative; 
    z-index: 2; 
    padding: 0; 
    margin: 0 0 0 10px;
    height: 22px;
    overflow: hidden;
}
.folders > ul.tabs li { float: left; list-style-type: none; }
.folders > .tab-body { 
	display:none; position: relative; z-index: 1; 
	top: -2px; 
	padding: 20px; 
    /*min-height: 400px;*/
    min-height: 150px;
	border: 2px solid #461864;
	background: #F5F5F5;
}
.folders > .tab-body.current { display: block; }

/* Normal ('not editable') folders tabs */
.folders > ul.tabs li {
    background: url('../img/tab-right.png') no-repeat top right; 
    padding-right: 22px;
    padding-top: 0;
    background-position: 0 right;
}
.folders > ul.tabs li a {
	display: block;
    width: auto;
    height: auto;
	background-image: none !important;
	line-height: 15px;
    font-size: 12px;
    text-decoration: none;
    color: #461864;
    font-weight: bold;
	padding-top: 3px;
    padding-left: 10px;
    text-align: center;

    border-color: #461864;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    border-radius: 10px 0 0 0;
    background-color: #e9e0f0;
}
.folders > ul.tabs li a{
    background-color: #e9e0f0;
}
.folders > ul.tabs li.current,
.folders > ul.tabs li.current:hover {
    background-position: right -22px !important;
}
.folders > ul.tabs li.current a,
.folders > ul.tabs li.current:hover a {
    background-color: #f5f5f5;
    padding-top: 3px;
    border-bottom-color: #f5f5f5;
}
.folders > ul.tabs li:hover {
    background-position: right -44px !important;
}
.folders > ul.tabs li:hover a{
    background-color: #f5f0f8;
}
/* Removable style for generic .tabbed */
.tabbed > ul.tabs > li.removable {
    background-position: right -66px !important;
    cursor: pointer;
}
.tabbed > ul.tabs > li.removable.current,
.tabbed > ul.tabs > li.removable.current:hover {
    background-position: right -88px !important;
}
.tabbed > ul.tabs > li.removable:hover {
    background-position: right -110px !important;
}
.tabbed > ul.tabs > li.removable > a {
    padding-right: 5px;
}

.buttons ul.tabs { 
    /*height: 40px;*/
    padding: 0;
}
.buttons ul.tabs li { display: inline-block; list-style-type: none; }

.buttons .tab-body { display:none; padding: 0; 
    min-height: 400px;
    /*min-height: 100px;*/
}
.buttons .tab-body.current { display: block; }

.mini-form { margin-bottom: 24px; }
.mini-form label { display: block; }
.mini-form textarea { margin: 12px 0; width: 400px; height: 170px; padding: 8px; display: block; font-size: 12px; }
.mini-form img { display: block; margin: 12px 0; }
.mini-form button { margin: 0; }

#profile div { padding-bottom: 2em; border-bottom: 1px dashed #ccc; }
#profile h3 { color: #461864; }
#profile button { margin-top: 12px; }

#aboutMe { float: right; }

table.ratings { table-layout: fixed; }
table.ratings tr { margin-bottom: 12px; }
table.ratings td { padding: 0; background: url('../img/star-off.gif') repeat-x center left; vertical-align: middle; line-height: 16px; }
table.ratings td img { float: left; }
table.ratings th { padding: 0 0 0 1em; color: #461864; font-weight: normal; }



/* Page Structure */

#container, footer, header .wrap { width: 960px; margin: 0 auto; text-align: left; }
#container { position: relative; padding: 155px 0 100px 0; }

#main { float: left; width: 670px; }
#secondary { margin-left: 712px; }

.sign-up #main { float: none; width: auto; }

header { position: absolute; top: 30px; right: 0; width: 100%; text-align: center; font-size: .9em; }
header .wrap { position: relative; width: 960px; margin: 0 auto; text-align: right; }
header a, header a:link, header a:visited { color: #00989a; text-decoration: none; font-weight: bold; }
header a.button { color: #fff; }
header .new-user a { margin: 0 .5em; }
header .new-user a:hover { color: #99C027; }
header #logo.replace { position: absolute; top: 0; left: 0; width: 269px; padding-top: 103px; background-image: url('../img/loconomics-logo.png'); }
.es header #logo.replace { background-image: url('../img/loconomics-logo-espanol.png'); }
header ul, header ul li { list-style-type: none; margin: 0; padding: 0; vertical-align: middle; }
header ul li { display: inline-block; margin: 0 0 0 1em; color: #00989a; }
header dl { position: relative; font-size: .9em; }
header dl img { position: relative; top: -2px; padding-right: 5px; }
header dl dt { position: relative; z-index: 2; display: block; background: #def2f2; padding: 0 15px; width: 120px; text-align: left; }
header dl.lang-country dt,
header dl.lang-country dd{
    width: 80px;
}
header dl dd { 
   display: block; padding: 10px 15px 0 15px; display: none; text-align: left; background: #def2f2; 
   position: absolute; top: 15px; z-index: 1; width: 120px;
   -moz-border-bottom-right-radius: 12px; /* FF1-3.6 */
   -webkit-border-bottom-right-radius: 12px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
   border-bottom-right-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
   -moz-border-bottom-left-radius: 12px; /* FF1-3.6 */
   -webkit-border-bottom-left-radius: 12px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
   border-bottom-left-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */ 
   -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
header dl.user-nav dt, header dl.user-nav dd {
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
header dl:hover dd { display: block; }
header dl dd a { display: block; }
header dl dd a:hover { text-decoration: underline; }

footer { margin: 25px auto; font-size: 1.3em; color: #a1a1a1; text-align: center; }
footer a{
    color: #A1A1A1;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;    
}
footer a:hover { text-decoration: underline; color: #a1a1a1; }

/* Super-Specific */

#createLogin2 fieldset, #createLogin2 label { display: block; margin-bottom: 1em; }

#selectedTitles { width: 450px; min-height: 5em; }

/*.home #main { float: none; width: auto; text-align: center; }*/
.home #main {
    float: none;
    text-align: center;
    width: auto;
    margin: auto;
    font-size: 1.2em;
}
.home #main h1 { margin-bottom: 20px; padding-right: 15px; margin-top: 100px; }
.home form fieldset { margin: .5em 0; color: #00989A; }
.home form fieldset #serviceDate { width: 90px; }
.home form fieldset label.serviceDate { padding-left: 0; }
.home button { font-weight: bold; }
.home input {
    height: 1.9em;
}

.home #secondary { position: relative; margin: 0 25px 0 600px; text-align: left; }
.home #secondary h2 { z-index: 2; position: absolute; top: -28px; right: 25px; margin: 0; padding: 2px 15px; /*width: 114px;*/ font-size: 14px; font-weight: normal; /*color: #461864; background: url('../img/feat-provider-tab.gif') no-repeat top left;*/ border: 3px solid #46aeba; background: #FFF; border-bottom: none; }

/* Unused spotligh class, TODO: review */
/*
.home #secondary .spotlight { z-index: 1; position: relative; padding: 20px; border: 3px solid #46aeba; background: #FFF; }
.home #secondary .spotlight .rating { top: 25px; right: 20px; width: 68px; height: 16px; line-height: 0; font-size: 0; background: url('../img/star-off.png') repeat-x top left; }
.home #secondary .spotlight .id { float: left; }
.home #secondary .spotlight .id img { width: 113px; }
.home #secondary .spotlight .lang { margin-left: 124px; min-height: 113px; }
.home #secondary .spotlight .lang h3 { margin: 4px 0; font: 22px normal "Casual","Bradley Hand ITC Bold","Comic Sans","Comic Sans MS",cursive; }
.home #secondary .spotlight .lang h3 a { text-decoration: none; color: #461864; }
.home #secondary .spotlight .lang p { margin: 0; color: #00989A; }
.home #secondary .spotlight .lang th { font-size: 12px; font-weight: normal; color: #00989A; }
.home #secondary .spotlight .review { font-size: 12px; }
.home #secondary .spotlight .review blockquote { color: #8B2143; font-style: italic; line-height: 150%; }
.home #secondary .spotlight .review img { float: left; width: 30px; }
.home #secondary .spotlight .review a { font-style: normal; }
.home #secondary .spotlight .buttons { text-align: right; }
.home #secondary .spotlight p.creds { margin: 8px 0; font-size: 12px; vertical-align: bottom; }
.home #secondary .spotlight a.fanciful { font-size: 10px; }
*/

.home #secondary .video { margin-top: 40px; padding-top: 0; background: url('../img/feature-border.gif') no-repeat top right; }
.home #secondary .video h3 { margin: 0 0 12px 0; padding-right: 12px; background: #fff; font-size: 16px; display: inline-block; color: #99C027; }
.home #secondary .video img { width: 352px; }

/*.home footer {
    font-size: 1.4em;
}*/
.home #container {
    padding-bottom: 0;
}
.home img.ui-datepicker-trigger {
    /* Moving image inside the textbox -ever in his left- */
    left: -30px;
    position: relative;
    /* vertical centering the image: 'middle' don't work well cross-browser, we use 'bottom' and an bottom offset */
    vertical-align: bottom;
    bottom: 4px;
    /* we substract the image width to empty the horizontal reserved space */
    margin-right: -24px;
}
.home .serviceDate {
    color: #5ebebf;
}
.home .categories { height: 184px; text-align: center; margin-bottom: 40px; }
.home .categories ul { overflow: hidden; display: inline-block; }
.home .categories h3 { text-align: center; }

.categories { margin: 0 auto; height: 250px; }
.categories ul { margin: 0; padding: 0; }
.categories > ul { margin: 100px 0 0 0; }
.categories ul li { list-style-type: none; margin: 0; padding: 0; width: 84px; line-height: normal; }
.categories ul:first-child > li { float: left; margin-right: 3px; }
.categories ul:first-child > li:first-child { width: 140px; text-align: right; }
.categories ul:first-child > li:first-child h3 { margin: 14px 14px 14px 0; font-size: 24px; }
.categories ul div.menu { display: none; margin: 0 10px; font-size: 12px; width: 64px; text-align: left; }
.categories ul ul li { padding: .6em 0 0 0; }
.categories ul ul a { text-decoration: none; }
.categories ul div.menu strong { display: block; margin-top: .6em; color: #00989A; text-align: center; }
.categories ul:first-child > li:hover div.menu { display: block; } 

.faq dt { font-weight: bold; }
.faq dd { margin: 1em 0; }

/** Modals **/

#howItWorks { margin: 60px 0 0 0; padding: 0; width: 400px; text-align: left; }
#howItWorks li { margin: 0 0 30px 0; padding: 0 0 30px 0; height: 66px; list-style-type: none; border-bottom: 2px dashed #b5e1e2; }
#howItWorks li img.num { float: left; }
#howItWorks li img.icon { float: right; }
#howItWorks li h3 { margin: 0 95px 0 65px; font-size: 26px; font-weight: normal; line-height: 125%; }
#howItWorks li.performed h3 { margin-top: .8em; }
#howItWorks li h3 a { text-decoration: none; color: #00989A; }

/**
 * Auto Complete 5.1
 * April 13, 2010
 * Corey Hart @ http://www.codenothing.com
 */ 

ul.auto-complete-list{list-style-type:none;margin:0;padding:0;position:absolute;z-index:100;max-height:250px;overflow:auto;width:75%;}
ul.auto-complete-list li{list-style-type:none;margin:0 1em;padding:1px 5px;background-color:white;border:1px solid #ccc;border-top:none;cursor:pointer;background:#fff;color:#00989a;font-size:.9em;line-height:185%;text-align:left;}
ul.auto-complete-list li.auto-complete-list-rollover{background-color:#efefef;}
ul.auto-complete-list .auto-complete-striped{background-color:#D7EEF9;}


/*	Date Picker
	I compressed these - JB
*/

table.jCalendar{border:1px solid #999;background:#fff;border-collapse:separate;border-spacing:2px;}
table.jCalendar th{background:#B5E1E2;color:#fff;font-weight:bold;padding:3px 5px;}
table.jCalendar td{background:#eee;color:#000;padding:3px 5px;text-align:center;}
table.jCalendar td.other-month{background:#ddd;color:#aaa;}
table.jCalendar td.today{background:#666;color:#fff;}
table.jCalendar td.selected{background:#f66;color:#fff;}
table.jCalendar td.selected.dp-hover{background:#f33;color:#fff;}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td{background:#fff;color:#000;}
table.jCalendar tr.selectedWeek td{background:#f66;color:#fff;}
table.jCalendar td.disabled,table.jCalendar td.disabled.dp-hover{background:#efefef;color:#888;}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover{background:#bbb;color:#888;}

/* For the date-picker popup */

img.ui-datepicker-trigger
{
    display:inline-block;width:24px;height:20px;text-indent:-1000px;overflow:hidden;background:url('../img/icon-calendar.gif') no-repeat center center;
}
img.ui-datepicker-trigger{
    bottom: 0;
    left: -30px;
    margin-right: -24px;
    position: relative;
    vertical-align: bottom;
}
#ui-datepicker-div
{
    font-size: .9em;
}

div.dp-popup{position:relative;background:#efefef;font-size:10px;font-family:arial,sans-serif;padding:2px;width:171px;line-height:1.2em;}
div#dp-popup{position:absolute;z-index:199;}
div.dp-popup h2{font-size:12px;text-align:center;margin:2px 0;padding:0;}
a#dp-close{font-size:11px;padding:4px 0;text-align:center;display:block;}
a#dp-close:hover{text-decoration:underline;}
div.dp-popup a{color:#000;text-decoration:none;padding:3px 2px 0;}
div.dp-popup div.dp-nav-prev{position:absolute;top:2px;left:4px;width:100px;}
div.dp-popup div.dp-nav-prev a{float:left;}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a,div.dp-popup div.dp-nav-next a{cursor:pointer;}
div.dp-popup div.dp-nav-prev a.disabled,div.dp-popup div.dp-nav-next a.disabled{cursor:default;}
div.dp-popup div.dp-nav-next{position:absolute;top:2px;right:4px;width:100px;}
div.dp-popup div.dp-nav-next a{float:right;}
div.dp-popup a.disabled{cursor:default;color:#aaa;}
div.dp-popup td{cursor:pointer;}
div.dp-popup td.disabled{cursor:default;}

/* My own personal "non-semantic helper classes" */

.tabby {
	-moz-border-radius-topleft: 12px; /* FF1-3.6 */
	-webkit-border-top-left-radius: 12px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    border-top-left-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	-moz-border-radius-topright: 12px; /* FF1-3.6 */
	-webkit-border-top-right-radius: 12px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    border-top-right-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;	
}

.fancy {
	-moz-border-radius: 12px; /* FF1-3.6 */
	-webkit-border-radius: 12px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;	
}

.fanciful { 
	-moz-border-radius: 22px; /* FF1-3.6 */
	-webkit-border-radius: 22px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    border-radius: 22px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;	
}

.stronger {
    font-weight: bold;
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* ============ Some general classes =============
   ====== IagoSRL for Loconomics S.L. ============
 */
/* .actions: container for buttons -actions, tasks, calculations, etc- */
.actions {
    text-align: right !important;
    display: block !important;
    clear: both;
}
form fieldset.actions{
    margin: 10px 0 !important;
}
/* .main-action, inside .actions container: bigger, more important button */
.actions .main-action{
    text-transform: lowercase;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: #99C027 !important;
    color: White;
    font-size: 1.1em;
    line-height: 150%;
}
.actions .main-action:hover{
    box-shadow: 0 0 5px 2px #99C027;
    -moz-box-shadow: 0 0 5px 2px #99C027;
    -o-box-shadow: 0 0 5px 2px #99C027;
    -webkit-box-shadow: 0 0 5px 2px #99C027;
}
/* .item-action button, is the main-button equivalent for an item inside a list of items. */
.actions .item-action {
    text-transform: lowercase;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: #8b2143 !important;
    color: White;
    font-size: 1em;
    padding: 0 1em;
}
.actions .item-action:hover{
    box-shadow: 0 0 5px 2px #8b2143;
    -moz-box-shadow: 0 0 5px 2px #8b2143;
    -o-box-shadow: 0 0 5px 2px #8b2143;
    -webkit-box-shadow: 0 0 5px 2px #8b2143;
}

/****************************************/
/**** Box fieldset styles ***************/
fieldset.box{
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #ACBABA;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;
    padding: 5px;
    margin-top: 30px;
}
fieldset.box legend{
    margin-top: -30px;
    padding: 0 10px;
    float: left;
}
.have-boxes .folders > .tab-body {
    background: white;
}
.have-boxes > .tabbed.folders > .tabs > li{
    background-image: url('../img/tab-editable-right-white.png') !important;
}
.have-boxes.editable .folders > ul.tabs li.current a,
.have-boxes.editable .folders > ul.tabs li.current:hover a{
    background-color: white;
    border-bottom-color: white;
}

/** Generic: container .provider-features-lists (used at profile/summary, booking/payment..) **/
.provider-features-lists ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
    list-style-image: url('../img/bullet.png');
}
.provider-features-lists li{
    margin: 0;
}
.provider-features-lists h5{
    color: #3B3B3B;
    display: inline-block;
    font-size: 1em;
    margin: 5px 0;
}

/** Widget class (used in FAQ's, refine search,... **/
.widget{
    font-size: .9em;
    width: 185px;
    padding: 15px;
    float: right;
    margin: 0 0 20px 0;
    
    background-color: #f5f5f5;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 1px solid #849a9a;
}
.widget h2,
.widget h3 {
    color: #999999
}
.widget h2{
    font-size: 1.3em;
    margin: 10px 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #999;
}
.widget h3{
    font-size: 1.2em;
    margin: 10px 0 5px;
}
.widget h3:after{
    content: ':';
}
.widget ol{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
.widget section a.more{
    display: block;
    text-align: right;
}

/** help-point>a class for link button to open the help-center **/
.help-point a,
.help-point a:link,
.help-point a:visited{
    background: none repeat scroll 0 0 #8B2143;
    border-radius: 10px 10px 10px 10px;
    color: White;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    padding: 2px 10px;
    text-decoration: none;
}
.help-point a:hover{
    color: White;
    box-shadow: 0 0 5px 2px #8B2143;
}

/** 
  * Generic confirm class for
  * fieldsets that require
  * a confirmation to enable
  * the rest of fields.
  */
fieldset.has-confirm > legend{
    display: block;
    float: left;
}
fieldset.has-confirm > .confirm{
    display: inline-block;
    left: 10px;
    position: relative;
    white-space: nowrap;
}
fieldset.has-confirm > .confirm > label{
    padding: 0 !important;
}
fieldset.has-confirm > .confirm > label > input{
    margin: 0 3px;
}
fieldset.has-confirm.confirmed-no > *{
    display: none;
}
fieldset.has-confirm.confirmed-no > .confirm,
fieldset.has-confirm.confirmed-no > legend{
    display: inherit;
}

/* ============== Editable content ===============
   ====== IagoSRL for Loconomics S.L. ============
 */
/*** Pages with editable content -like personal dashboard, booking,...-
    have differents colors.
    Replaced colors: (read-only -> editable)
    #A190AF -> #b5e1e2
    #461864 -> #00989a
    #DBD5E0 -> #daf0f1
 ***/
   
/** tabs **/
.editable .folders > .tab-body {
    border-color: #00989a;
    background: white;
}
.editable .folders > ul.tabs li {
    background: url('../img/tab-editable-right-white.png') no-repeat top right; 
    padding-right: 22px;
    padding-top: 0;
    background-position: 0 right;
}
.editable .folders > ul.tabs li a {
	display: block;
/*    width: 118px;*/
    width: auto;
    height: auto; 
	background-image: none !important;
	line-height: 15px;
    font-size: 12px;
    text-decoration: none;
    color: #00989a;
    font-weight: bold;
	padding-top: 3px;
    padding-left: 10px;
    text-align: center;
    
    border-color: #00989A;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    border-radius: 10px 0 0 0;
    background-color: #def2f2;
}
.editable .folders > ul.tabs li a{
    background-color: #def2f2;
}
/*.editable .folders > ul.tabs li.current,
.editable .folders > ul.tabs li.current:hover {
    background-position: right -22px !important;
}*/
.editable .folders > ul.tabs li.current a,
.editable .folders > ul.tabs li.current:hover a {
    background-color: white;
    padding-top: 3px;
    border-bottom-color: white;
}
/*.editable .folders > ul.tabs li:hover {
    background-position: right -44px !important;
}*/
.editable .folders > ul.tabs li:hover a{
    background-color: #eff8f9;
}

/* Different colors for dashboard and profile tabs */
.dashboard.editable .folders > .tab-body,
.profile.editable .folders > .tab-body {
    background: #F5F5F5;
}
.dashboard.editable .folders > ul.tabs li,
.profile.editable .folders > ul.tabs li {
    background-image: url('../img/theme/tab-editable-right-gray.png');
}
.dashboard.editable .folders > ul.tabs li.current a,
.dashboard.editable .folders > ul.tabs li.current:hover a,
.profile.editable .folders > ul.tabs li.current a,
.profile.editable .folders > ul.tabs li.current:hover a{
    background-color: #f5f5f5;
    border-bottom-color: #f5f5f5;
}

/** buttons **/
.editable a.profile,
.editable button.search-again:focus,
.editable button.search-again:hover,
.editable a.view:hover {
    background-color: #b5e1e2;
    color: #00989A;
}
.editable li.current > a.profile,
.editable a.profile:hover,
.editable a.profile:focus,
.editable button.search-again,
.editable a.view {
    background: #00989a;
    color: White;
}

/** decoration **/
.editable .profile #main div.rate p.rate {
    border-color: #00989a;
    color: #00989a;
}
.editable .profile #main div.feature {
    border-color: #daf0f1;
}

/** texts **/
.editable .profile #main div.work ul.services {
    color: #00989a;
}
.editable .profile #main div.work ul.services ul {
    list-style-image: url("../img/bullet-editable.png");
}
.editable h1.profile-name {
    color: #00989a;
}

/** Some classes for tables of data in view (normal) and edit (with class grid) mode **/
.editable table.view{
    border-collapse: collapse;
    width: 100%;
    font-size: .9em;
}
.editable table.view caption{
    font-size: 1.2em;
}
.editable table.view td{
    padding: 2px 4px;
    border: 1px solid #00989a;
}
.editable table.view th{
    padding: 3px 6px;
    text-align: center;
    border: 1px solid #00989a;
}
.editable table.view td.actions,
.editable table.view th.actions{
    text-align: center !important;
    white-space: nowrap;
    width: 1%;
    display: table-cell !important;
}
.editable table.grid{
}
/* tables general */
table .number{
    text-align: right;
}

/* ======= Shared compoments styles ==============
   ====== IagoSRL for Loconomics S.L. ============
 */

/** Shared Component: availability-calendar **/
.availability-calendar ol,
.availability-calendar ul{
    padding: 0;
    margin: 0;
}
.availability-calendar div.calendar,
.availability-calendar .calendar-legend {
    display: inline-block;
    vertical-align: top;
}
.availability-calendar .calendar ol h5{
    font-size: 11em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: Black;
}
.availability-calendar div.calendar{
    font-size: 1px;
    clear: both;
    height: 234em;
    overflow: hidden;
    position: relative;
    width: 290em;
}
.availability-calendar .calendar ol{
    list-style: none;
    float: left;
    position: absolute;
}
.availability-calendar .calendar ol.days,
.availability-calendar .calendar ol.datetimes{
    display: block;
    width: 256em;
    overflow: hidden;
}
.availability-calendar .calendar ol.hours{
    left: 0;
    top: 20em;
}
.availability-calendar .calendar ol.days{
    top: 0;
    left: 34em;
}
.availability-calendar .calendar ol.datetimes{
    top: 20em;
    left: 34em;
    height: 208em;
}
.availability-calendar .calendar ol.days li,
.availability-calendar .calendar ol.datetimes li{
    border: 1px solid #a99fb8;
    display: inline-block;
    float: left;
    margin: 2em 2em 0;
    width: 30em;
}
.availability-calendar .calendar ol.days li{
    text-align: center;
    background: #a99fb8;
    height: 13em;
}
.availability-calendar .calendar ol.days li h5{
    color: White;
    vertical-align: middle;
}
.availability-calendar .calendar ol.datetimes li{
    height: 4em;
    border-width: 1px;
}
.availability-calendar .calendar ol.datetimes li:hover{
    box-shadow: 0 0 2em 2em #00989A;
    -moz-box-shadow: 0 0 2em 2em #00989A;
    -o-box-shadow: 0 0 2em 2em #00989A;
    -webkit-box-shadow: 0 0 2em 2em #00989A;
}
.availability-calendar .calendar ol.datetimes li.half{
    margin-top: 0;
    border-width: 0 1px 1px 1px;
}
.availability-calendar .calendar ol.hours{
    display: inline-block;
}
.availability-calendar .calendar ol.hours li{
    margin: 0 5em 0 0;
    text-align: right;
    width: 30em;
    height: 13em;
}
.availability-calendar .calendar li.free{
    background-color: #ddeab8;
}
.availability-calendar .calendar li.busy{
    background-color: #d8abbd;
}
.availability-calendar .calendar li.tentative{
    background-color: #fae8ad;
}
.availability-calendar .calendar li.unavailable{
    background-color: white;
}

.availability-calendar ul.calendar-legend{
    list-style: none;
    color: #461864;
    text-transform: lowercase;
}
.availability-calendar .calendar-legend li{
    margin: 6px 0;
}
.availability-calendar .calendar-legend li .color{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #461864;
    display: inline-block;
    margin: 0 4px 0 0;
    text-indent: -9999px;
    vertical-align: middle;
}
.availability-calendar .calendar-legend li.free .color{
    background-color: #ddeab8;
}
.availability-calendar .calendar-legend li.busy .color{
    background-color: #d8abbd;
}
.availability-calendar .calendar-legend li.tentative .color{
    background-color: #fae8ad;
}
.availability-calendar .calendar-legend li.unavailable .color{
    background-color: white;
}

/*************************************
 * Clases: choice, 
 * choice-option,
 * choice-or
 * For pages with alternative sections
 */
.choice{}
.choice-option{
    clear: both;
}
.choice-or{
    margin: 16px 0;
    text-align: center;
    color: #6c6c6c;
    font-size: 1.5em;
    font-weight: bold;
}

/***********************/
/** General rules for
  * content inside the
  * blockUI popup
  */
.blockUI h1{
    font-size: 2em;
    color: #6c6c6c;
    margin: 10px;
    text-align: center;
}
.blockUI .subh1{
    color: #6c6c6c;
    font-size: 1.4em;
    text-align: center;
}
.blockUI form label{
    color: #6c6c6c;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0;
}


/****************************
 * Validation, errors styles
 */
.error,
.validation-error,
.validation-summary-errors,
.field-validation-error{
    color: Red;
}
html.no-boxshadow .input-validation-error{
    border-color: Red;
}
html.boxshadow .input-validation-error{
    box-shadow: 0 0 3px 1px red;
    -moz-box-shadow: 0 0 3px 1px red;
    -o-box-shadow: 0 0 3px 1px red;
    -webkit-box-shadow: 0 0 3px 1px red;
}
.field-validation-error{
    display: block;
}
/* Hide validation summary when all is fine */
form div.validation-summary-valid{
    display: none;
}

/***********************
 * Account Popups:
 * LoginBox
 * RegisterBox
 */
.account-popup{
    text-align: left;
    margin: auto;
}
.account-popup fieldset,
.account-popup fieldset ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.account-popup fieldset ul li{
    margin: 10px;
    padding: 0;
}
.account-popup .username input,
.account-popup .password input{
    float: right;
}
.account-popup .remember-me{
    float: left;
}
.account-popup .remember-me label{
    font-size: 1em;
    vertical-align: middle;
}
.account-popup .remember-me input{
    vertical-align: middle;
}
.account-popup .actions{
    float: right;
    clear: none;
}
.account-popup .main-action{
    font-size: 1em;
}
.account-popup legend{
    display: none;
}
.account-popup .account-tools{
    font-size: 1.3em;
    font-weight: bold;
    clear: both;
    overflow: hidden;
    margin: 30px 0 0;
}
.account-popup a.forgot-password{
    float: left;
}
.account-popup a.register{
    float: right;
}
.account-popup .social{
    text-align: center;
    color: #6c6c6c;
    font-weight: bold;
}
.account-popup .footnote{
    font-size: .9em;
    margin: 0;
}

#loginBox{
    width: 410px;
}
#registerBox{
    width: 450px;
}
#forgotPasswordBox{
    width: 400px;
}
#forgotPasswordBox .field-validation-error{
    float: left;
}
html.boxshadow #loginBox .field-validation-error{
    display: none;
}


/*****************
 * Avatar classes
 */
.mini-avatar{
    display: inline-block;
    height: 50px;
    margin: 0 5px 0 0;
    vertical-align: top;
    width: 50px;
}

/*******************************
 * have-sidebar class
 * for pages with things like 
 * FAQ's sidebar,
 * dashboard menu sidebar.
 */
/* class assigned to #container most times,
    or in a parent of #main */
.have-sidebar #main {
    width: 730px;
    display: inline-block;
}

/*
 * user-rating-summary-widget
 */
.user-rating-summary-widget {
    display: inline-block;
    height: 70px;
    overflow: hidden;
}
.user-rating-summary-widget > ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    color: #461864;
    clear: both;
}
.user-rating-summary-widget > ul > li{
    margin: 0 !important;
    padding: 0 !important;
    height: 18px;
    line-height: normal;
}
.user-rating-summary-widget.static .rate{
    background: url('../img/star-on.gif') repeat-x center left;
    /* 17*quantity: 17*5=85 */
    width: 85px;
    margin: 0 20px 0 0;
    display: inline-block;
    height: 16px;
}
.user-rating-summary-widget .note{
    color: #836b96;
    font-size: .9em;
    font-style: italic;
}

/*
 * TabbedUX
 */
.tabbed 
{
    position: relative;
}
.tabbed.has-tabs-slider > .tabs
{
    margin-right: 60px;
}
.tabbed > .tabs-slider
{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    height: 22px;
}
.tabbed > .tabs-slider > a {
    background: url('../img/theme/tabs-sliders.png') repeat-y right bottom;
    border: none;
    width: 30px;
    height: 22px;
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    right: 0;
}
.tabbed > .tabs-slider > a.tabs-slider-left {
    background-position: left bottom;
    right: 30px;
}
.tabbed > .tabs-slider > a:hover {
    background-position: right top;
}
.tabbed > .tabs-slider > a.tabs-slider-left:hover {
    background-position: left top;
}
.tabbed > .tabs-slider-limit {
    background-image: url('../img/theme/tab-slider-limit.png');
    background-repeat: repeat-y;
    background-position: right top;
    position: absolute;
    right: 60px;
    top: 0;
    z-index: 100;
    width: 20px;
    height: 22px;
    cursor: e-resize;
}
.tabbed > .tabs-slider-limit-left {
    left: 10px;
    background-position: left top;
}
.tabbed > ul.tabs {
    white-space: nowrap !important;
}
.tabbed > ul.tabs > li 
{
    white-space: nowrap !important;
    float: none !important;
    display: inline-block;
}
.tabbed > ul.tabs > li > a
{
    
}