 <script id="Event_tmpl" type="text/x-jQuery-tmpl">
   <h3>${LocaleString}</h3>
   <div class="LCSCalDayHourList">
    <table cellpadding=0 cellspacing=0  >
      <tbody >
        <tr>
        <td>
        {{each(k, DayPart) DayParts}} 
          {{if k%12 == 0}}
            </td><td>
               
                    {{if k%2 == 1}}
                        <div class="LCSCalHourSegment LCSCalTimeSegment"
                             {{if DayPart.eventId !=""}}
                                title="${Lang_SynchedEvent}"
                             {{else}}
                                title="${Lang_Unscheduled}"
                             {{/if}}
                             data-daypart='{ "index": "${DayPart.index}", "duration": "${DayPart.duration}", "eventId":"${DayPart.eventId}", "hour": ${DayPart.hour}, "min": ${DayPart.min} }'
                             >${DayPart.hour}:${DayPart.min}</div> 
                    {{else}}
                        <div class="LCSCalHourSegmentAlternate LCSCalTimeSegment"
                            {{if DayPart.eventId !=""}}
                                title="${Lang_SynchedEvent}"
                            {{else}}
                                title="${Lang_Unscheduled}"
                            {{/if}}           
                            data-daypart='{"index":"${DayPart.index}","duration":"${DayPart.duration}","eventId":"${DayPart.eventId}","hour":"${DayPart.hour}","min":"${DayPart.min}"}'
                            >${DayPart.hour}:${DayPart.min}</div> 
                    {{/if}}
                
           {{else}} 
                    {{if k%2 == 1}}
                        <div class="LCSCalHourSegment LCSCalTimeSegment"
                        {{if DayPart.eventId !=""}}
                            title="${Lang_SynchedEvent}"
                        {{else}}
                            title="${Lang_Unscheduled}"
                        {{/if}}
                        data-daypart='{"index":"${DayPart.index}","duration":"${DayPart.duration}","eventId":"${DayPart.eventId}","hour":"${DayPart.hour}","min":"${DayPart.min}"}'
                        >${DayPart.hour}:${DayPart.min}</div> 
                    {{else}}
                        <div class="LCSCalHourSegmentAlternate LCSCalTimeSegment"
                        {{if DayPart.eventId !=""}}
                            title="${Lang_SynchedEvent}"
                        {{else}}
                            title="${Lang_Unscheduled}"
                        {{/if}}
                        data-daypart='{"index":"${DayPart.index}","duration":"${DayPart.duration}","eventId":"${DayPart.eventId}","hour":"${DayPart.hour}","min":"${DayPart.min}"}'
                        >${DayPart.hour}:${DayPart.min}</div> 
                    {{/if}}
               
           {{/if}}
        {{/each}}
           
        </td>
        </tr>
      </tbody>
      </table>
       <div id="LCSCAL_HourSegmentReset" class="LCSCAL_Button">${Lang_Reset}</div>&nbsp;&nbsp;
       <div id="LCSCAL_HourSegmentUpdate" class="LCSCAL_Button">${Lang_Update}</div>
  </div>
</script>

<script id="SimpleWeek_tmpl" type="text/x-jQuery-tmpl">
    <div id="LCSCalendarControl_CALENDAR">
        <h3>${LCSCalendarControl_NumberOfWeeks}${Lang_WeeklyCalendarVeiw}</h3>

        <ul class="LCSCalendar">
            {{each(i,week) Weeks}}
            <li class="LCSCalendar">
               <table  class="LCSCalendar" >
                     <tbody>        
                        <tr>                            
                            <td  class="LCSCalendar" >
                                 <nobr>
                                 {{each(j,day) Days}}
                                    {{if Events != null}}                                        
                                        <div class="LCSCalendar_EventDay LCSCalendar_day"                                                                                 
                                             title="${Lang_AddEventTo} ${Value}"
                                             id="${i}__${j}__Day"
                                             data-dateSL='${day.SL_Date}'
data-day='{"LocaleString":"${day.LongValue}", "Events":[
{{each(k,event) Events}}
{"start":"${event.StartTime}","end":"${event.EndTime}","id":"${event.CalendarEventId}"},
{{/each}}
]}'>                                             
                                          ${Index}
                                        </div>
                                        <div class="LCSCalendar_Events"
                                            id="${i}__${j}__Event">
                                            <p>${day.LongValue}</p>                                                                                                      
                                            <div class="LCSCalendarEventsList">
                                            <ul >
                                         {{each(i,event) Events}}      
                                            {{if i > 1}}    
                                                 <li class="LCSCalendarEventsList EventBlock"
data-day='{"LocaleString":"${day.LongValue}", "Events":[
{{each(k,event) Events}}
{"start":"${event.StartTime}","end":"${event.EndTime}","id":"${event.CalendarEventId}"},
{{/each}}
]}'>
                                                     ${Lang_More} ...</li>          
                                            {{else}}                                                
                                                 <li class="EventBlock">
                                                    <span class="eventtime">${Lang_Start}:</span>&nbsp;${event.StartTimeLocale}
                                                    <br>
                                                    <span class="eventtime">${Lang_End}:</span>&nbsp;${event.EndTimeLocale}
                                                </li>
                                            {{/if}}
                                         {{/each}}
                                            </ul>
                                            </div>
                                            
                                            <div class="hr_LCSCalendar_EventDay" align="center"></div>
                                            <div class="LCSCalendarScheduled"></div>${Lang_ScheduledAndPendingEvents}
                                            <br/>
                                            <div class="LCSCalendarUnscheduled"></div>${Lang_Unscheduled}
                                            <br/>
                                        </div>                                
                                    {{else}}
                                        <div class="LCSCalendar_day" 
                                             title="${Lang_AddEventTo} ${Value}"
                                              id="${i}__${j}__Day"
                                              data-dateSL='${day.SL_Date}'
                                              data-day='{"LocaleString":"${day.LongValue}", "Events":"null"}'
                                             >       
                                          ${Index}
                                        </div>
                                        <div class="LCSCalendar_Events"
                                             id="${i}__${j}__Event">
                                         <p>${day.LongValue}</p>
                                           
                                            <div class="LCSCalendarEventsList">
                                            <ul>
                                                 <li class="LCSCalendarEventsList EventBlock"
                                                     data-day='{"LocaleString":"${day.LongValue}", "Events":"null"}'
                                                 >${Lang_Add}</li> 
                                            </ul>
                                            </div>
                                            <div class="hr_LCSCalendar_EventDay" align="center"></div>
                                            <div class="LCSCalendarScheduled"></div>${Lang_ScheduledAndPendingEvents}
                                            <br/>
                                            <div class="LCSCalendarUnscheduled"></div>${Lang_Unscheduled}
                                            <br/>
                                        </div>  
                                    {{/if}}
                                 {{/each}}                                
                                 </nobr>
                            </td>                            
                        </tr>
                    </tbody>
                </table> 
            </li>
            {{/each}}
            <li class="LCSCalendar">
                <div id="LCSCalendarSync" class="LCSCAL_Button">${Lang_SynchExternal}</div>
            </li>
        </ul> 
</div>

</script>
       
<script type="text/javascript" id="SimpleWeek_tmpl_functions">
    // $("div.LCSCalendar_day").hover - MouseOn function
    //Note: this settings are dependant on the values in "default_LCSCalendar.css"
    function LCSCAL_ShowSelectedDayEvent(e) {
        //$(e).css({ "background-color": "#00989A", "color": "White", "cursor": "pointer", "width": "35px", "height": "30px" })

        $(e).removeClass('LCSCalendar_day');
        $(e).addClass('LCSCalendar_day_Hilite');  
              

        $("div.LCSCalendar_Events").css({ "display": "none" }); //hide all the day events
        var LinkId = $(e).attr("id").replace("_Day", "_Event"); //find the id of the one you want to show
        $("#" + LinkId).css({ "display": "block" }); //show today's events
    }

    // $("div.LCSCalendar_day").hover - MouseOff function
    //Note: this settings are dependant on the values in "default_LCSCalendar.css"
    function LCSCAL_UnselectDayMouseOff(e) {
        //$(e).css({ "background-color": "white", "color": "#00989A", "cursor": "auto", "width": "35px", "height": "30px" })

        $(e).removeClass('LCSCalendar_day_Hilite'); 
        $(e).addClass('LCSCalendar_day');                      
    }

   
    //$("div.LCSCalendar_EventDay").hover -- MouseOn function
    //Note: this settings are dependant on the values in "default_LCSCalendar.css"
    function LCSCAL_EventDayMouseOn(e) {
        //$(e).css({ "background-color": "#00989A", "color": "#461864", "cursor": "pointer", "width": "35px", "height": "30px" });
        
        $(e).removeClass("LCSCalendar_EventDay");
        $(e).addClass("LCSCalendar_EventDay_Hilite");  
    }

    //$("div.LCSCalendar_EventDay").hover -- MouseOff function
    //Note: this settings are dependant on the values in "default_LCSCalendar.css"
    function LCSCAL_EventDayMouseOff(e) {
        //$(e).css({ "background-color": "#461864", "color": "White", "cursor": "auto", "width": "35px", "height": "30px" });
        
        $(e).removeClass("LCSCalendar_EventDay_Hilite");
        $(e).addClass("LCSCalendar_EventDay");
    }

</script>

<script type="text/javascript" id="Event_tmpl_functions">
    var LCSCalendarControl_DayPartSizeMinutes = 30;



    //$("div.LCSCalHourSegment").hover -- MouseOn function
    //Note: this settings are dependant on the values in "default_LCSCalendar.css"
    function LCSCAL_DaySegmentMouseOn(e) {
        $(e).addClass("LCSCAL_HourSegment_hover");
    }

    //$("div.LCSCalHourSegment").hover -- MouseOff function
    //Note: this settings are dependant on the values in "default_LCSCalendar.css"
    function LCSCAL_DaySegmentMouseOff(e) {
        $(e).removeClass("LCSCAL_HourSegment_hover");
    }

    //$('.LCSCalTimeSegment').mousedown(function () -- Time segment select function
    function LCSCAL_DaySegmentSelect(e, segments) {
        var DayPart = $(e).data("daypart");
        
        //addDistinct returns false if Segments already contains the item.
        try {
            if (segments.addDistinct(DayPart.index)) {
                //Set background
                var oldClass;
                if ($(e).hasClass('LCSCalHourSegment'))
                    oldClass = "LCSCalHourSegment";
                else if ($(e).hasClass('LCSCalHourSegmentAlternate'))
                    oldClass = "LCSCalHourSegmentAlternate";

                $(e).data("oldClass", oldClass);
                $(e).removeClass(oldClass);
                $(e).addClass("LCSCAL_SetBusy");

                $(e).attr('title', Lang_Unprocessed + " : " + Lang_SynchedEvent); //set the attribute value
               // $(e).css({ background: "#333333"});

                //interested in the following for update to server
                //  DayPart.index -- lets us know which time segment 0 - 48 [ 30 minute segments]
                //  DayPart.eventId -- if this value is not blank it was present onload

                //need to decide if each individual click will fire an Ajax call here, or if we want an update button
                //which will save all changes at once
            }
        } catch (e) {
            //alert(e.toString());
        }
        return segments;
    }

    //$('.LCSCalTimeSegment').dblclick(function () -- Time Segment de-select function
    function LCSCAL_DaySegmentRemove(e, segments) {
        var DayPart = $(e).data("daypart");
        var position = segments.find(DayPart.index);

        //find returns -1 if Segments is not in the Array.
        if (position > -1) {
            //alert("must be in the Array");
            segments.splice(position,1); //removes Daypart from the array

            //Retrieve the OldClass
            var oldClass = $(e).data("oldClass");
            if (oldClass != null) {
                $(e).removeClass("LCSCAL_SetBusy");
                $(e).css({ background: "" });
                $(e).addClass(oldClass);
                $(e).removeData("oldClass"); //prevent issues with it being added multiple times

                $(e).attr("title", Lang_Unprocessed + " : " + Lang_Unscheduled);
            }
            
            //interested in the following for update to server
            //  DayPart.index -- lets us know which time segment 0 - 48 [ 30 minute segments]
            //  DayPart.eventId -- if this value is not blank this event already exists in the DB and will need to be removed
            //                     via servive call


            //need to decide if each individual click will fire an Ajax call here, or if we want an update button
            //which will save all changes at once
        }
        return segments;
    }
</script>
