/**
Listing
**/

.Listing {
    > * ul {
        padding-left: 2em;
        list-style: none;
    }
    .Listing-editorHeader {
        display: table
        .Listing-title {
            @media $mediaMinSm {
                display: table-cell;
                width: 50%;
            }
        }
        .Listing-switch {
            @media $mediaMinSm {
                display: table-cell;
                width: 50%;
            }
        }
    }
    .Listing-alerts {
        background: $gray-background;
        text-align: left;
        padding: 1rem;
    }
    .Listing-heading {
        display: table;
        background: white;
        padding 3em;
        border-bottom: .02em solid $brand-primary;
        margin-bottom: 1.5em;
        .Listing-professionalPic {
            vertical-align: middle;
            text-align: center;
            @media $mediaMinSm {
                display: table-cell;
                width: 50%;
            }
            .Avatar--lg,
            img {
                height: 12em;
                width: 12em;
            }
        }
        .Listing-bookingInfo {
            vertical-align: middle;
            text-align: center;
            @media $mediaMinSm {
                display: table-cell;
                width: 50%;
            }
            button {
                width: 50%;
            }
        }
    }
    .Listing-publicBio {
        white-space: pre-line;
        margin-left: 2em;
    }
    .Listing-overview {
        white-space: pre-line;
        margin-left: 2em;
    }
    .Listing-overviewAttributes {
        padding-left: 0em;
        ul {
            padding-left: 1em;
        }
    }
    section {
        margin-bottom: 2em;
    }
    .Listing-hours {
        display: table;
        padding: 0em;
        @media $mediaMinMd {
            padding-left: 2em;
        }
        > li {
            display: table-row;
        }
        .Listing-hoursDay {
            display: table-cell;
        }
        .Listing-hoursDayBlocks {
            display: table-cell;
            .Listing-hoursDayBlock {
                display: block;
                text-align: right;
                margin-left: 3em;
            }
            .Listing-hoursDayClosed {
            display: block;
            text-align: center;
            margin-left: 3em;
            }
        }
    }
}