@*  $CalendarAvailaiblityEvents
    Dashboard Page, Calendar section
    List, create, edit and remove CalendarEvents of type 'availability events' (ID:3) that allow
    to the provider be more specific with its available and not available service dates, additionally
    to its general work hours.
 *@
@{
    LcHelpers.ProviderPage();
    
    var u = LcData.UserInfo.GetUserRow();
    
    var datacontext = "availabilityevents";
}
<p class="setting-instructions">
Here you can add appointments or bookings you've made outside of Loconomics to ensure we do not book you during the times that you're already busy. If you use a calendar program, it's best you sync your calendar so you don't have to enter them twice.   
</p>
<div class="crudl" data-crudl-context="@datacontext" data-crudl-item-id-parameter="EventID">
    <div class="edit-event crudl-editor" data-source-url="@(LcUrl.LangUrl)$R5Dashboard/$CalendarEditEventForm/">
        @*@RenderPage("$CalendarEditEventForm.cshtml", new { EventID = 0 })*@
    </div>
    <div class="events-list crudl-viewer">
        <div class="lc-ressources">
            <div id="lcres-confirm-delete-crudl-item-message:@datacontext">Do you want to delete this event?</div>
            <div id="lcres-delete-crudl-item-loading-message:@datacontext">Deleting event</div>
        </div>
        <div class="add-item add-event actions crudl-create">
            <a href="#add-event" class="add-item-action add-event-action">Add Appointment</a>
        </div>
        <h3>Your availability appointments:</h3>
        <div class="list view-panel crudl-list" data-source-url="@(LcUrl.LangUrl)$R5Dashboard/$CalendarAvailabilityEventsList/">
            @RenderPage("$CalendarAvailabilityEventsList.cshtml")
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function ($) {
        LC.initCrudl();
    });
</script>