@using WebMatrix.Data;
@{
    LcHelpers.ProviderPage();
    // Current provider data record:
    var p = LcData.UserInfo.GetUserRow();
    // Current position data record:
    var pos = LcData.UserInfo.GetUserCurrentPos();
    
    // Validating required page state data
    if (p == null || pos == null){
        var inputdataerrormessage = "Please correct any errors and click save";
        if (IsPost){
            LcHelpers.ReturnJsonError(-1, inputdataerrormessage);
        }else{
            throw new Exception(inputdataerrormessage);
        }
    }
}

<p class="setting-instructions">
Keeping your prices available and realistic is a good idea. If you need help determining what’s right, <a href="https://loconomics.zendesk.com/anonymous_requests/new" target="_blank">let us know</a>.
</p>
<div class="dashboard-provider-pricing">
    @RenderPage("$PositionCancellationPolicyForm.cshtml", new { PositionID = pos.PositionID })
    @RenderPage(LcUrl.RenderLangPath + "PricingWizard/$ProviderPricingTypes.cshtml", new { PricingWizardClasses = "positionpricing", PositionID = pos.PositionID })
</div>
