@{
    Layout = "~/es_US/_SiteLayout.cshtml";
    Page.Title = "How Loconomics Works";
}

<div id="container" class="faq clearfix">
	<div id="main">
		<h2 class="cushycms">How It Works</h2>
		<ol id="howItWorks">
			<li class="find clearfix">
				<img class="num" src="img/icon-01.png" alt=="1" />
				<img class="icon" src="img/icon-cart-new.png" alt="" />
				<h3 class="cushycms"><a href="/">Find, book, &amp; pay for a service.</a></h3>
			</li>
			<li class="performed clearfix">
				<img class="num" src="img/icon-02.png" alt=="1" />
				<img class="icon" src="img/icon-home-new.png" alt="" />
				<h3 class="cushycms"><a href="/">Service performed.</a></h3>
			</li>
			<li class="share clearfix">
				<img class="num" src="img/icon-03.png" alt=="1" />
				<img class="icon" src="img/icon-share.png" alt="" />
				<h3 class="cushycms"><a href="/">Write a review &amp; tell your friends.</a></h3>
			</li>
		</ol>
	</div><!-- #main -->
</div><!-- #container -->