/**
  Set of styles used only on the Desktop Website but showed up
  as part of the Style Guide.

  Is intended to be used loaded after the styleguide.styl, but that is 
  not included here just to be an incremental styles file.
  
  May get obsolete as part of the full review of the Style Guide,
  but for now is documented and reflect some stable things used on the website.
  
  
  More about the Style Guide on #757.
  
  The result is used directly by the styleguide site to show the custom
  styles built on top of Bootstrap only for Desktop Site.
**/

/* Require 'bootstrap' in order to work, but not embedded
@require 'bootstrap' */

@import "utils/typographyDefinitions"

/* TOREVIEW: In doubt about it use, discarded previously from common styleguide: */
@import "utils/HelpPoint"
@import "sgcomponents/carousel"
