/**
    Styles for lead-generation components
**/

.LeadGeneration {
    h2,
    h3 {
        text-align: center;
    }  
    i {
        border: 2px solid darkgray;
        font-size: 3rem;
        border-radius: 50%;
    } 
}