<!-- Component Template appointment-card -->
<script type="text/html" id="appointment-card-template">
    <div class="Card AppointmentCard" data-bind="css: { 'in-edit': editMode, 'is-locked': isLocked }">
        <div class="Card-title ItemTile">
            <i class="Tile-marker Tile-marker--fullIcon fa ion ion-ios-clock-outline" aria-hidden="true"></i>
            <div class="Tile-content">
                <p class="text-muted" data-bind="visible: !item().summary(), text: item().stateHeader()"></p>
                <em data-bind="visible: item().stateHeader()">
                    <span data-bind="text: item().stateHeader()"></span>
                </em>
                <p data-bind="visible: item().summary(), text: item().summary(), css: { 'text-muted': !item().stateHeader() }"></p>
            </div>
            <div class="Tile-icon icon-loading icon-loading-spinner">
                <span class="icon fa ion ion-load-c"></span>
            </div>
        </div>
        <ul class="TilesList TilesList--opendEnd" data-bind="visible: newAppointmentVisible()">
            <li>
                <a class="LinkTile" href="#appointment/-4"
                   data-bind="attr: { href: '#!appointment/' + currentDate().toISOString() + '/-4' }">
                    <div class="Tile-content"><p>Add new booking</p></div>
                    <div class="Tile-icon" aria-hidden="true"><span class="fa ion ion-ios-plus-outline text-primary"></span></div>
                </a>
            </li>
            <li>
                <a class="LinkTile" href="#appointment/-3"
                    data-bind="attr: { href: '#!appointment/' + currentDate().toISOString() + '/-3' }">
                    <div class="Tile-content"><p>Add new calendar block</p></div>
                    <div class="Tile-icon" aria-hidden="true"><span class="fa ion ion-ios-plus-outline text-primary"></span></div>
                </a>
            </li>
            <li data-bind="visible: editScheduleVisible">
                <a class="LinkTile" href="#!/weeklySchedule">
                    <div class="Tile-content"><p>Adjust availability</p></div>
                    <div class="Tile-icon" aria-hidden="true"><span class="fa ion ion-ios-settings"></span></div>
                </a>
            </li>
        </ul>
        
        <ul class="TilesList TilesList--opendEnd" data-bind="visible: isEvent()">
            <li>
                <button type="button" class="InfoTile" data-bind="click: editMode() && pickDateTime">
                    <div class="Tile-icon" aria-hidden="true">
                        <i class="fa ion ion-ios-clock-outline"></i>
                    </div>
                    <div class="Tile-content">
                        <div data-bind="visible: item().startTime(), text: item().startTime(), format: { type: 'datetime', format: 'MMM Do' }"></div>
                        <div data-bind="visible: item().startTime(), text: item().displayedStartTime()"></div>
                        <p data-bind="visible: editMode() && !item().startTime()" class="text-mute">Select start date/time</p>
                    </div>
                </button>
            </li>
            <li>
                <button type="button" class="InfoTile" data-bind="click: editMode() && pickEndDateTime">
                    <div class="Tile-icon" aria-hidden="true">
                        <span class="fa ion ion-ios-clock-outline"></span>
                    </div>
                    <div class="Tile-content">
                        <div data-bind="visible: item().endTime(), text: item().endTime(), format: { type: 'datetime', format: 'MMM Do' }"></div>
                        <div data-bind="visible: item().endTime(), text: item().displayedEndTime()"></div>
                        <p data-bind="visible: editMode() && !item().endTime()" class="text-mute">Select end date/time</p>
                    </div>
                </button>
            </li>
            <!--<li>
                <span class="AppointmentCard-icon"></span>
                <span class="AppointmentCard-data checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: item().isAllDay, disable: !editMode() || isLocked()" />
                        All day
                    </label>
                </span>
            </li>-->
            <li>
                <button type="button" class="InfoTile" data-bind="click: editMode() && editTextField.bind(this, 'summary')">
                    <div class="Tile-icon" aria-hidden="true">
                        <span class="fa fa-file-text-o"></span>
                    </div>
                    <div class="Tile-content">
                        <p data-bind="visible: item().summary(), text: item().summary"></p>
                        <p data-bind="visible: !item().summary()" class="text-mute">What? (vacation, dentist, etc.)</p>
                    </div>
                </button>
            </li>
            <li data-bind="event: { click: editMode() && pickLocation }">
                <button type="button" class="InfoTile" data-bind="click: editMode() && editTextField.bind(this, 'summary')">
                    <div class="Tile-icon" aria-hidden="true">
                        <span class="fa ion ion-ios-location-outline"></span>
                    </div>
                    <div class="Tile-content">
                        <p data-bind="visible: item().addressSummary(), text: item().addressSummary"></p>
                        <p data-bind="visible: editMode() && !item().addressSummary()" class="text-mute">Select/Add location</p>
                    </div>
                </button>
            </li>
            <li data-bind="event: { click: editMode() && editTextField.bind(this, 'description') }">
                <button type="button" class="InfoTile" data-bind="click: editMode() && editTextField.bind(this, 'summary')">
                    <div class="Tile-icon" aria-hidden="true">
                        <span class="fa fa-file-text-o"></span>
                    </div>
                    <div class="Tile-content">
                        <p data-bind="visible: item().description, text: item().description"></p>
                        <p data-bind="visible: !item().description()" class="text-mute">Description/Notes</p>
                    </div>
                </button>
            </li>
        </ul>
        
        <ul class="list-unstyled" data-bind="visible: isBooking()">
            <li data-bind="event: { click: editMode() && pickDateTime }">
                <span class="AppointmentCard-icon fa ion ion-ios-clock-outline"></span>
                <span class="AppointmentCard-data">
                    <span data-bind="visible: item().startTime()">
                        <span data-bind="text: item().startTime(), format: { type: 'datetime', format: 'MMM Do' }"></span>
                        <span data-bind="text: item().displayedTimeRange()"></span>
                    </span>
                    <span data-bind="visible: editMode() && !item().startTime()" class="AppointmentCard-placeholderLabel">Select date/time</span>
                </span>
            </li>
            <li data-bind="event: { click: editMode() && isNew() && pickClient }">
                <span class="AppointmentCard-icon fa ion ion-android-contact"></span>
                <span class="AppointmentCard-data">
                    <span data-bind="text: item().customer() && item().customer().fullName()"></span>
                    <span data-bind="visible: editMode() && !item().customer()" class="AppointmentCard-placeholderLabel">Select/Add client</span>
                </span>
                <span class="AppointmentCard-editIcon"><span class="fa ion" data-bind="css: { 'ion-ios-plus-empty': !item().customer()}"></span></span>
            </li>
            <li data-bind="event: { click: editMode() && pickService }">
                <span class="AppointmentCard-icon fa ion ion-ios-pricetags-outline"></span>
                <span class="AppointmentCard-data">
                    <span data-bind="text: item().servicesSummary()"></span>
                    <span data-bind="visible: editMode() && !item().servicesSummary()" class="AppointmentCard-placeholderLabel">Select/Add service(s)</span>
                </span>
            </li>
            <li data-bind="event: { click: editMode() && changePrice }">
                <span class="AppointmentCard-icon fa ion ion-social-usd"></span>
                <span class="AppointmentCard-data" data-bind="text: item().price, format: { type: 'number', format: '$0,0.00' }"></span>
                <!--<span class="AppointmentCard-editIcon"><span class="fa ion" data-bind="css: { 'ion-edit': item().price(), 'ion-ios-plus-empty': !item().price()}"></span></span>
                -->
            </li>
            <li data-bind="event: { click: editMode() && pickLocation }">
                <span class="AppointmentCard-icon fa ion ion-ios-location-outline"></span>
                <span class="AppointmentCard-data">
                    <span data-bind="text: item().addressSummary"></span>
                    <span data-bind="visible: editMode() && !item().addressSummary()" class="AppointmentCard-placeholderLabel">Select/Add location</span>
                </span>
            </li>

            <li data-bind="event: { click: editMode() && editTextField.bind(this, 'preNotesToClient') }">
                <span class="AppointmentCard-icon fa ion ion-edit"></span>
                <span class="AppointmentCard-data">
                    <span data-bind="text: item().preNotesToClient"></span>
                    <span data-bind="visible: !item().preNotesToClient()" class="AppointmentCard-placeholderLabel">Notes to client</span>
                </span>
            </li>
            <li data-bind="event: { click: editMode() && editTextField.bind(this, 'preNotesToSelf') }">
                <span class="AppointmentCard-icon fa ion ion-edit"></span>
                <span class="AppointmentCard-data">
                    <span data-bind="text: item().preNotesToSelf"></span>
                    <span data-bind="visible: !item().preNotesToSelf()" class="AppointmentCard-placeholderLabel">Notes to self</span>
                </span>
            </li>

            <li data-bind="event: { click: editMode() && editTextField.bind(this, 'postNotesToClient') }, visible: !isNew() && item().itStarted()">
                <span class="AppointmentCard-icon fa fa-file-text-o"></span>
                <span class="AppointmentCard-data">
                    <span data-bind="text: item().postNotesToClient"></span>
                    <span data-bind="visible: !item().postNotesToClient()" class="AppointmentCard-placeholderLabel">Notes to client (afterwards)</span>
                </span>
            </li>
            <li data-bind="event: { click: editMode() && editTextField.bind(this, 'postNotesToSelf') }, visible: !isNew() && item().itStarted()">
                <span class="AppointmentCard-icon fa fa-file-text-o"></span>
                <span class="AppointmentCard-data">
                    <span data-bind="text: item().postNotesToSelf"></span>
                    <span data-bind="visible: !item().postNotesToSelf()" class="AppointmentCard-placeholderLabel">Booking summary (seen only by you)</span>
                </span>
            </li>
        </ul>
        
        <div class="AppointmentCard-actions" data-bind="visible: currentID() > 0 && !editMode()">
            <div class="col-xs-6"><button type="button" class="btn btn-warning btn-block" data-bind="event: { click: edit }, disable: item().readOnly">Edit</button></div>
            <div class="col-xs-6"><button type="button" class="btn btn-default btn-block">Contact client</button></div>
        </div>
        <div class="AppointmentCard-actions" data-bind="visible: editMode()">
            <div class="col-xs-6" data-bind="visible: currentID() > 0"><button type="button" class="btn btn-danger btn-block" data-bind="event: { click: cancel }, disable: isLocked">cancel</button></div>
            <div class="col-xs-6" data-bind="css: { 'col-xs-6' : currentID() > 0 }"><button type="button" class="btn btn-primary btn-block" data-bind="event: { click: save }, text: submitText, disable: isLocked">Save</button></div>
        </div>
    </div>
</script>