<!-- Component Template feedback-entry -->
<script type="text/html" id="feedback-entry-template">
    <h2 class="SectionTitle">Talk to us</h2>
    <div class="ListView ListView--twolines ListView--textualmarker">
        <div class="ListView-item">
          <div class="ListView-item-marker">
            <p><span class="glyphicon glyphicon-lamp"></span></p>
          </div>
          <a href="/feedbackForm" data-bind="attr: { href: url }" class="btn btn-link btn-block ListView-item-content">
            <p>Send us your ideas to improve this section</p>
          </a>
          <a href="/feedbackForm" data-bind="attr: { href: url }" class="btn btn-link ListView-item-action"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</script>
