<script type="text/html" id="freelancer-info-template">
    <div class="FreelancerInfo FreelancerInfo--md" data-bind="css: modClasses, if: profile() && jobTitle()">
        <div class="Avatar Avatar--primary Avatar--sm"><img data-bind="attr: { src: photoUrl }"></div>
        <h3 class="FreelancerInfo-name" data-bind="text: profile().fullName">Joshua Danielson</h3>
        <div class="FreelancerInfo-jobTitle" data-bind="text: jobTitle().jobTitleName">Massage Therapist</div>
        <div class="FreelancerInfo-businessName" data-bind="text: profile().businessName">Tact Massage Therapy</div>
        <div class="FreelancerInfo-meta">
            <app-stars-rating params="rating: 4.5, total: 1283" class="text-secondary"></app-stars-rating>
            <span class="VerificationsRating"><i class="fa ion ion-ribbon-b" aria-hidden="true" aria-description="4 Verifications"></i> (14)</span>
            <span class="BackgroundCheckRating"><i class="fa ion ion-ios-checkmark" aria-hidden="true" aria-description="Background Check: OK"></i></span>
            <span class="FreelancerInfo-favorite"><i class="fa ion ion-ios-heart ion-ios-heart-outlineDISABLED" aria-hidden="true"></i></span>
        </div>
    </div>
</script>
