<!-- Knockout Template job-title-tile -->
<script type="text/html" id="job-title-tile-template">
    <div class="ListView-item">
        <div class="ListView-item-marker">
            <p></p>
        </div>
        <a href="#"
           data-bind="attr: { href: $parent.baseUrl() + '/' + jobTitleID() }, event: { tap: $parent.selectJobTitle }"
           class="btn btn-link btn-block ListView-item-content">
            <p data-bind="text: jobTitle() && jobTitle().singularName() || 'Unknow'"></p>
        </a>
        <a href="#"
           data-bind="attr: { href: $parent.baseUrl() + '/' + jobTitleID() }"
           class="btn btn-link ListView-item-action"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</script>
