<!-- Knockout Template job-title-tile -->
<script type="text/html" id="job-title-tile-template">
    <div class="ListView-item">
        <div class="ListView-item-marker">
            <p></p>
        </div>
        <button
           data-bind="event: { click: $parent.selectJobTitle }"
           class="btn btn-link btn-block ListView-item-content">
            <p data-bind="text: jobTitle() && jobTitle().singularName() || 'Unknow'"></p>
        </button>
        <button
           data-bind="event: { click: $parent.selectJobTitle }"
           class="btn btn-link ListView-item-action"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
</script>
