<!-- Component Template navbar-action -->
<script type="text/html" id="navbar-action-template">
    <a class="SmartNavBar-btn" href="#" data-bind="visible: action && !action.isMenu(), attr: { href: action && action.getHref(), 'data-target': action && action.getModalTarget(), 'data-toggle': action && action.isModal() ? 'modal' : '', 'data-shell': action && action.getShellCommand() }, event: { tap: action && action.runHandler }">
        <span data-bind="attr: { 'class': action && action.icon() }" class="glyphicon"></span>
        <span><h1 data-bind="visible: action && action.isTitle(), text: action && action.text()"></h1><span data-bind="visible: action && !action.isTitle(), text: action && action.text()"></span></span>
    </a>
    <button type="button" class="SmartNavBar-btn navbar-toggle collapsed" data-bind="visible: action && action.isMenu(), attr: { 'data-target': action && action.getMenuLink(), 'aria-controls': action && action.getMenuID() }" data-toggle="collapse" data-target="#menuOut" aria-expanded="false" aria-controls="menuOut">
        <span data-bind="visible: action && action.icon() === 'menu'">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </span>
        <span data-bind="visible: (action && action.icon()) !== 'menu'">
            <span data-bind="attr: { 'class': action && action.icon() }"></span>
            <span><h1 data-bind="visible: action && action.isTitle(), text: action && action.text()"></h1><span data-bind="visible: action && !action.isTitle(), text: action && action.text()"></span></span>
        </span>
    </button>
</script>
