<div class="search-categories">
	@RenderPage("_CategoriesList.cshtml", false, "home")
    <h1><strong>Home</strong> services ready to be booked nearby</h1>
    <p class="help">Need some help around the house? Painters, housekeepers, handymen and more await you and your home.  Select a provider from the results below or refine your search to find your perfect provider</p>
    <div class="subcategories buttons-list">
        Services in "<span class="selected-category">home</span>":
        <ol>
            <li><a class="button fanciful selected" href="#">help</a></li>
            <li><a class="button fanciful" href="#">garden</a></li>
            <li><a class="button fanciful" href="#">maintenance</a></li>
            <li><a class="button fanciful selected" href="#">repair</a></li>
            <li><a class="button fanciful" href="#">design</a></li>
            <li><a class="button fanciful" href="#">remodeling</a></li>
        </ol>
    </div>
</div>
