<?xml version="1.0"?>

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <rewrite>
      <rules>
        <clear />

        <!-- Maintenance mode -->
        <rule name="maintenance-mode" enabled="false" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?beta\.loconomics\.com$" negate="true" />
            <add input="{HTTP_HOST}" pattern="^(www\.)?live\.loconomics\.com$" negate="true" />
            <add input="{HTTP_HOST}" pattern="^(www\.)?staging\.loconomics\.com$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>

        <!-- General HTTP to HTTPS redirect only for live site -->
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^(www\.)?loconomics\.com$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>

        <!-- Live site -->
        <rule name="live-default-site" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^www\.loconomics\.com$" />
          </conditions>
          <action type="Redirect" url="https://loconomics.com/{R:0}"
            redirectType="Permanent" />
        </rule>
        <rule name="live-rewrite" enabled="true" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?loconomics\.com$" ignoreCase="true" />
            <add input="{PATH_INFO}" pattern="^/live/($|/)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/live/{R:0}" />
        </rule>


        <!-- Accessing live version through subdomain for under maintenance testing -->
        <rule name="live-subdomain" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^www\.live\.loconomics\.com$" />
          </conditions>
          <action type="Redirect" url="https://live.loconomics.com/{R:0}"
            redirectType="Permanent" />
        </rule>
        <rule name="live-subdomain-rewrite" enabled="true" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?live\.loconomics\.com$" ignoreCase="true" />
            <add input="{PATH_INFO}" pattern="^/live/($|/)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/live/{R:0}" />
        </rule>


        <!-- beta -->
        <rule name="Beta-subdomain" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^www\.beta\.loconomics\.com$" />
          </conditions>
          <action type="Redirect" url="https://beta.loconomics.com/{R:0}" />
        </rule>
        <rule name="Beta-subdomain-rewrite" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?beta\.loconomics\.com$" ignoreCase="true" />
            <add input="{PATH_INFO}" pattern="^/beta/($|/)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/beta/{R:0}" />
        </rule>
        <!-- Beta rediret from HTTP to HTTPS: beta has a few exceptions as Email templates 
        (they are called internally on webserver, not a security problem, and fails because certificate not for 'beta.') -->
        <rule name="Beta redirect from HTTP to HTTPS" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^(www\.)?beta\.loconomics\.com$" ignoreCase="true" />
            <!-- Not on email templates -->
            <add input="{PATH_INFO}" pattern="/email" ignoreCase="true" negate="True" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>



        <!-- staging -->
        <rule name="Staging-subdomain" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^www\.staging\.loconomics\.com$" />
          </conditions>
          <action type="Redirect" url="https://staging.loconomics.com/{R:0}" />
        </rule>
        <rule name="Staging-subdomain-rewrite" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?staging\.loconomics\.com$" ignoreCase="true" />
            <add input="{PATH_INFO}" pattern="^/staging/($|/)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/staging/{R:0}" />
        </rule>
        
        

        <!-- Apply to all the site (cannot be enabled per app-channel) -->
        <rule name="Filename-based cache busting">
          <match url="^(.+)\.\d+(\.(js|css|png|jpg|gif)$)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}{R:2}" />
        </rule>

      </rules>
    </rewrite>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

  </system.webServer>

</configuration>
