<?xml version="1.0"?>
<configuration>

  <appSettings>

    <!-- To distinguish between: dev (master), beta, production -->
    <add key="Channel" value="beta" />

    <add key="LogSuccessSendMail" value="false"/>
    
    <add key="enableSimpleMembership" value="true"/>

    <!-- Braintree configurations -->
    <add key="Braintree.InSandbox" value="false"/>
    <add key="Braintree.Sandbox.MerchantId" value="fn9phnknypvkgcfx"/>
    <add key="Braintree.Sandbox.PublicKey" value="yhqvg4cz74jwxtw5"/>
    <add key="Braintree.Sandbox.PrivateKey" value="q7vdftc9npxgkxpy"/>
    <add key="Braintree.Production.MerchantId" value="k74g8bpwwfmmfrcr"/>
    <add key="Braintree.Production.PublicKey" value="bdzrhws4qnq4bdcy"/>
    <add key="Braintree.Production.PrivateKey" value="vks5753b2pfr8mnz"/>

  </appSettings>

  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Data Source=tcp:sql.discountasp.net;Initial Catalog=SQL_numid_account;User ID=SQL_numid_user;Password=pw_here" providerName="System.Data.SqlClient"/>

    <!-- Online Beta DB settings -->
    <add connectionString="Uid=DB_31755_loconomics_user;Server=s09.winhost.com;Database=DB_31755_loconomics;Pwd=Loconomic$2011" name="sqlloco" providerName="System.Data.SqlClient"/>

    <!-- for CalendarDll -->
    <add name="loconomicsEntities" connectionString="metadata=res://*/Data.loconomics.csdl|res://*/Data.loconomics.ssdl|res://*/Data.loconomics.msl;provider=System.Data.SqlClient;provider connection string=&quot;Uid=DB_31755_loconomics_user;Server=s09.winhost.com;Database=DB_31755_loconomics;Pwd=Loconomic$2011;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.3.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="QuickStartRoleManagerSqlProvider" cookieName=".ASPXROLES" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="QuickStartRoleManagerSqlProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="sqlloco" applicationName="SecurityQuickStart"/>
      </providers>
    </roleManager>

    <trace enabled="true" localOnly="false"/>
    <compilation debug="true"/>
    <trust level="Medium" originUrl="" />

    <!-- We use this timeout (60 minutes) as the non-persistent session timeout (its not standard) -->
    <sessionState mode="InProc"
                  timeout="60"
                  cookieName="lcSessionID"
                  cookieless="UseCookies"/>
    <authentication mode="Forms">
      <!-- We use this timeout for persistent user sessions ('remember me' checkbox).
        Is the minimum inactivity time needed to force user to login again, with persistent option.
        1 month = 43200 minutes.
        Asp.net share this for non-persistent sessions ('remember me' not checked), but we have a 
        code on global.asax/session_start to force non-persistent cookies die and force user to login again.
        This last means, sessionState/timeout is the non-persistent session timeout! (its not standard) -->
      <forms name="lcAuth"
        timeout="43200" />
    </authentication>

  </system.web>
  <system.webServer>
    
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".cshtml"/>
          <add fileExtension=".cshtml" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>

    <!--<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />-->
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" />

    <staticContent>
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".rss" />
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />

      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>